body {
    font-size: 1em;
    margin: 0;
    padding: 0;
}

/* main container */

div#psycnet_fulltext_article_content {
    margin: 0;
    padding-top: 2em;
    padding-right: 20px;
    padding-bottom: 2em;
    padding-left: 30px;
    text-align: left;
    font-family: Verdana, "Lucida Grande", "Bitstream Vera Sans", Helvetica, sans-serif;
    line-height: 14pt;
    font-size: 9pt;
}

                
/* big containers */

div#psycnet_fulltext_article_content div.subContentItem {
    margin: 3em 0 3em 0;
}

div#psycnet_fulltext_article_content ul.externalSubContentItemList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div#psycnet_fulltext_article_content ul.externalSubContentItemList li {
    list-style-type: none;
    margin: 0 .5em 0 .5em;
    padding: 0;
}

div#psycnet_fulltext_article_content div.externalSubContentItemListContainer {
    margin: 1em 0 1em 0;
    border-color: #AAAAAA;
    border-style: solid;
    border-width: 2px;
    color: #000000;
    padding: .5em;
}


div#psycnet_fulltext_article_content div.subsect3 {
    margin-left: 3em;
    margin-top: 1.5em;
}

div#psycnet_fulltext_article_content div.subsect4 {
    margin-top: 1.5em;
}


/* psycnet popup windows */

div#psycnet_fulltext_article_content div.ftPopupContainer {
    position:relative;
    z-index : 999; 
}

div#psycnet_fulltext_article_content div.ftPopup {	
    position:absolute;
    z-index : 999;	
    top:0px;
    left:150px;
    border-top: 1px solid #CCC;
    border-right: 2px solid #999;
    border-bottom: 2px solid #999;
    border-left: 1px solid #CCC;
    width: 200px;
    margin:0;
    padding:5px 10px 10px 10px;
    background-color:#FFFFCC;
}
 

div#psycnet_fulltext_article_content div.ftPopup img.close {
    position:absolute;	
    display:block;
    top:0px;
    right:0px;
    border:0;
    clear:both;
}

div#psycnet_fulltext_article_content div.ftPopup .ftPopupDescription {
    margin:2em 0 0 0;
    padding:0;	
    font-size: .9em;
    line-height: 1.3em;
}

/* top of page */

div#psycnet_fulltext_article_content div.articleTitleGroup {
    text-align: left;
    margin: 0 2em 2em 0;
    width: 90%;
}

div#psycnet_fulltext_article_content div.subContentItemArticleTitleGroup {
    text-align: left;
    margin: 2em 2em 2em 0;
    width: 90%;
}

div#psycnet_fulltext_article_content div.psqTopGroup {
    text-align: left;
    margin: 0 2em 2em 0;
    width: 90%;
}

div#psycnet_fulltext_article_content div.psqTopGroup h1 {
    text-align: left;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 32px;
    color: #226DB9;
    background-color: inherit;
    padding: 0;
}

div#psycnet_fulltext_article_content div.psqTopGroup div.withCoverImage {
   margin: 0 0 0 130px;
}

div#psycnet_fulltext_article_content div.psqTopGroup div.psqCoverContainer {
    float: left;
    margin: 0;    
    padding: 0;
    overflow: hidden;
    width: 110px;
}

div#psycnet_fulltext_article_content div.psqTopGroup div.psqCoverContainer img {
    display: block;
    margin: 3 0 3 0;
    padding: 0 0 .5em 0;
}

div#psycnet_fulltext_article_content div.psqTopGroup p.reviewOfLabel {
    text-align: left;
    text-indent: 0;
    margin: 1em 0 1em 0;
    line-height: 1.7em;
    font-size: .9em;
    color: #000000;
    background-color: inherit;
}

div#psycnet_fulltext_article_content div.articleTitleGroup img.paCover {
    float: left;
    padding: 0;
    margin: 0 0 1em 0;
}

div#psycnet_fulltext_article_content div.articleTitleGroup p.paReviewedBy {
    line-height: 1.7em;
    font-size: .9em;
    margin-left: 165px;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

div#psycnet_fulltext_article_content div.subContentItemArticleTitleGroup p.paReviewedBy {
    line-height: 1.7em;
    font-size: .9em;
    margin-left: 0;
    margin-top: 2em;
}

div#psycnet_fulltext_article_content div.articleTitleGroup h1 {
    text-align: left;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 32px;
    color: #226DB9;
    background-color: inherit;
    margin: 0 0 0 165px;
    padding: 0;
}

div#psycnet_fulltext_article_content div.subContentItemArticleTitleGroup h1 {
    text-align: left;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 32px;
    color: #226DB9;
    background-color: inherit;
    margin: 0;
    padding: 0;
}

div#psycnet_fulltext_article_content div.appendix h1 {
    text-align: left;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 32px;
    color: #226DB9;
    background-color: inherit;
    margin: 2em 0 1.5em 0;
    padding: 0;
    
}

div#psycnet_fulltext_article_content p.psqReviewers img {
    vertical-align: middle;
}


div#psycnet_fulltext_article_content div.articleTitleGroup p.authorGroup {
    margin-top: 1em;
    margin-bottom: 0em;
    margin-left: 165px;
    padding: 0;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
div#psycnet_fulltext_article_content div.articleTitleGroup div.authorGroup {
    margin-top: 1em;
    margin-bottom: 0em;
    margin-left: 165px;
    padding: 0;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

div#psycnet_fulltext_article_content div.subContentItemArticleTitleGroup p.authorGroup {
    margin-top: 1em;
    margin-bottom: 0;
    margin-left: 0;
    padding: 0;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


div#psycnet_fulltext_article_content div.articleAuthorAffsContainer {
    clear: both;
    padding: 0 0 0 0;
    margin: 0;
	
}

div#psycnet_fulltext_article_content div.articleAuthorAffsHeading, div#psycnet_fulltext_article_content div.articleCitationHeading {
    font-size: .75em;
}

div#psycnet_fulltext_article_content div.articleAuthorAffsHeading img, div#psycnet_fulltext_article_content div.articleCitationHeading img {
    cursor: pointer;
}

div#psycnet_fulltext_article_content div.articleAuthorAffsHeading span, div#psycnet_fulltext_article_content div.articleCitationHeading span {
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #052CAB;
    background-color: inherit;
}

div#psycnet_fulltext_article_content div.articleAuthorAffsContainer img, div#psycnet_fulltext_article_content div.articleCitationContainer img {
    vertical-align: middle;
    padding: 0;
    margin: 0;
    border: 0;
}

div#psycnet_fulltext_article_content div.articleAuthorAffsContainer table.articleAuthorAffs {
    width: 55%;
    margin: 10px 0 10px 23px;
    padding: 0;   
    border-width: 2px;
    border-style: solid;
    border-color: #DDDDDD;
    border-spacing: 0;
    border-collapse: collapse;
}

div#psycnet_fulltext_article_content div.articleAuthorAffsContainer table.articleAuthorAffs td {
    vertical-align: top;
    font-size: .8em;
    line-height: 1.5em;
    padding: .3em;
    margin: 0;
    border-width: 0 0 2px 0;
    border-color: #DDDDDD;
    border-style: solid;
    color: #052CAB;
    background-color: inherit;
}

div#psycnet_fulltext_article_content div.articleAuthorAffsContainer table.articleAuthorAffs td.affAuthorName {
   padding-right: 2em;
   width:25%;
}

div#psycnet_fulltext_article_content div.articleAuthorAffsContainer table.articleAuthorAffs tr {
    padding: 0;
    margin: 0;
    border-width: 0 0 2px 0;
    border-color: #DDDDDD;
    border-style: solid;
}

div#psycnet_fulltext_article_content div.articleAuthorAffsContainer table.articleAuthorAffs tr.striped {
    background-color: #FFFFFF;
}

div#psycnet_fulltext_article_content div.articleCopyrightLine {
   /* margin: .5em 1em .5em 0; */ 
    vertical-align: top;
	float: right;
    clear: both;
}

div#psycnet_fulltext_article_content div.articleCopyrightLine p {
    margin: 0;
    padding: 0;
    font-size: .8em;
}

div#psycnet_fulltext_article_content div.articleCitationContainer {
    clear: both;
    padding: 0 0 0 0;
    margin: 0 0 .5em 0;
}

div#psycnet_fulltext_article_content div.articleDOI {
    clear: both;
    margin: .5em 0 0 0;
    padding: 0;
}

div#psycnet_fulltext_article_content div.psqTopGroup div.articleDOI {
    clear: none;
    margin: 1em 0 0 0;
    padding: 0;
}


div#psycnet_fulltext_article_content div.articleDOI img {
    vertical-align: middle;
    cursor: help;
}

div#psycnet_fulltext_article_content div.articleDOI p {
    font-size: .8em;
    line-height: .8em;
    margin: 0;
    padding: 0;
}

div#psycnet_fulltext_article_content div.articleCitationContainer p.articleCitationText {
    margin: 10px 0 15px 23px;
    padding: 0;   
    font-size: .9em;
    line-height: 1.6em;
}

div#psycnet_fulltext_article_content div.keywords {
    margin: 1em 0 1em 0;
    border-color: #AAAAAA;
    border-style: solid;
    border-width: 2px;
    color: #000000;
    padding: .5em;
}


div#psycnet_fulltext_article_content div.keywords p.keywordsLabel {
    letter-spacing: 1px;
    color: #4278AF;
    background-color: inherit;
    font-weight: bold;
    text-transform: uppercase;
}

/* section headings */

div#psycnet_fulltext_article_content div.topArticleNoHeadingDivider {
    text-align: left;
    margin: 2.5em 0 1em 0;
    padding: 0;
    border-width: 4px 0 0 0; 
    border-color: #C2D5D1; 
    border-style: solid;
}


div#psycnet_fulltext_article_content div.topLevelHeadingContainer {
    text-align: left;
    margin: 2em 0 1.5em 0;
    padding: 0;
    border-width: 0;
    border-style: none;
}

div#psycnet_fulltext_article_content div.topLevelHeadingContainer h2 {
    text-align: left;
    font-size: 18px;
    line-height: 23px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    background-color: inherit;
    padding: 0 1em .3em 0;
    min-width: 400px;
    margin: 0;
    float: left;
}

div#psycnet_fulltext_article_content div.topLevelHeadingContainer h2.doubleHeightTopLevelHeading {
    width: 80%;
}

div#psycnet_fulltext_article_content div.topLevelHeadingContainer h2.tripleHeightTopLevelHeading {
    width: 80%;
}

div#psycnet_fulltext_article_content div.topLevelHeadingContainer h2.emptyTopLevelHeading {
    text-align: left;
    font-size: 17px;
    line-height: 21px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    background-color: inherit;
    padding: 0 0 0 0;
    width: 400px;
    background-image: none;
    background-repeat: repeat-x;
    margin: 0;
    float: left;
}

div#psycnet_fulltext_article_content div.topLevelHeadingContainer div.topLevelHeadingJumpArrows {
    margin: 0 10px 0 0;
    text-align: right;
    font-size: 1.1em;
    line-height: 1.2em;
    height: 15px;
    padding: 0;
}

div#psycnet_fulltext_article_content div.topLevelHeadingContainer div.topLevelHeadingJumpArrows img {
    cursor: pointer;
}

div#psycnet_fulltext_article_content div.topLevelHeadingContainer div.topLevelHeadingRule {
    clear: both; 
    width: 100%; 
    border-width: 4px 0 0 0; 
    border-color: #C2D5D1; 
    border-style: solid;
    height: 1px;
    margin: 0;
    padding: 0 0 0 0;
    font-size: 1px;
    line-height: 1px;
}

div#psycnet_fulltext_article_content div.topLevelHeadingContainer div.subContentItemDividerTopLevelHeadingRule {
    clear: both; 
    width: 100%; 
    border-width: 6px 0 0 0; 
    border-color: #4178B0; 
    border-style: solid;
    height: 1px;
    margin: 0;
    padding: 0;
    font-size: 1px;
    line-height: 1px;
}

div#psycnet_fulltext_article_content h3, div#psycnet_fulltext_article_content .displayAs_subsect1 {
    text-align: left;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 28px;
    margin: 1.5em 0 1em 0;
    padding: 0;
    color: #44988F;
    background-color: inherit;
        
}

div#psycnet_fulltext_article_content h4, div#psycnet_fulltext_article_content .displayAs_subsect2 {
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 24px;
    margin: 1.5em 0 1em 0;
    padding: 0;
    color: #036082;
    background-color: inherit;
}

div#psycnet_fulltext_article_content h5, div#psycnet_fulltext_article_content .displayAs_subsect3 {
    text-align: left;
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1.5em 0 1em 0;
    padding: 0;
    color: #429648;
    background-color: inherit;
}

div#psycnet_fulltext_article_content h6, div#psycnet_fulltext_article_content .displayAs_subsect4 {
    text-align: left;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #786030;
    background-color: inherit;
    margin: 0 .5em 0 0;
    display: inline;
}

/* related items and reviewed works */

div#psycnet_fulltext_article_content div.reviewedWorks {
    text-align: left;
    font-size: .9em;
    line-height: 1.8em;
    margin-left: 165px;
    margin-top: 1em;
    margin-bottom: 1em;
}

div#psycnet_fulltext_article_content div.subContentItemArticleTitleGroup div.reviewedWorks {
    margin-left: 0;
}

div#psycnet_fulltext_article_content div.relatedItemGroup {
    text-align: left;
    margin: 2em 0 2em 0;
    border-color: #AAAAAA;
    border-style: solid;
    border-width: 2px;
    color: #000000;
    padding: 1em;
    font-size: .9em;
}

div#psycnet_fulltext_article_content div.articleTitleGroup div.paTopErrataRelatedItemGroup {
    text-align: left;
    margin-top: 1.5em;
    margin-bottom: 1em;
    margin-left: 165px;
    background-color: #FFFFFF;
    color: #44988F;
    font-weight: bold;
    padding: 0;
    font-size: .9em;
}

div#psycnet_fulltext_article_content div.subContentItemArticleTitleGroup div.paTopErrataRelatedItemGroup {
    text-align: left;
    margin-top: 1.5em;
    margin-bottom: 1em;
    margin-left: 0;
    background-color: #FFFFFF;
    color: #44988F;
    font-weight: bold;
    padding: 0;
    font-size: .9em;
}

div#psycnet_fulltext_article_content div.relatedItemSelf {
    background-color: #FFFFFF;
    color: inherit;
}

div#psycnet_fulltext_article_content span.inlineRelatedItem {
    background-color: #FFFFFF;
    color: #E36304;
    font-weight: bold;
}

div#psycnet_fulltext_article_content div.relatedReviewedItem {
    margin-bottom: 2em;
}

div#psycnet_fulltext_article_content div.reviewedItem {
    margin: 1em 0 1em 0;
    float: none;
    text-align: left;
}

div#psycnet_fulltext_article_content p.psqWork {
    margin: 1em 0 .5em 0;
    padding: 0;
    font-size: .9em;
    line-height: 1.8em;
    color: #000000;
    background-color: inherit;
}

div#psycnet_fulltext_article_content p.psqSubWork {
    margin: .5em 0 .5em 2em;
    padding: 0;
    font-size: .9em;
    line-height: 1.8em;
    color: #000000;
    background-color: inherit;
}

div#psycnet_fulltext_article_content .psqWorkTitle {
    font-size: 1.3em;
    font-weight: bold;
}    

div#psycnet_fulltext_article_content p.psqReviewedByLabel {
    margin: 2.5em 0 1em 0;
    font-size: .8em;
    line-height: .8em;
    color: #832B03;
    background-color: inherit;
}

/* abstracts */

div#psycnet_fulltext_article_content div.abstractsContainer {
    margin: 0 0 1em 0;
    padding: 0;
}

div#psycnet_fulltext_article_content div.abstractsContainer p.absLinksContainer {
    padding: 0;
    margin: 0;
}

div#psycnet_fulltext_article_content div.abstractsContainer div.abstractEnglish, div#psycnet_fulltext_article_content div.abstractsContainer div.abstractFrench, div#psycnet_fulltext_article_content div.abstractsContainer div.abstractGerman {
    margin: 1em 0 1em 0;
}


div#psycnet_fulltext_article_content div.abstractsContainer a.foreignLangAbsLink {
    font-weight: bold;
    color: #4377B0;
    background-color: inherit;
}


/* major document structures */

div#psycnet_fulltext_article_content div.articleBody {
    margin-top: 2em;
}

div#psycnet_fulltext_article_content div.appendix {
    margin: 2em 0 2em 0;
}

div#psycnet_fulltext_article_content div.refList {
    margin-top: 3em;
}

div#psycnet_fulltext_article_content pre {
    white-space: pre-wrap;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 1em;
    font-family: Consolas, "Andale Mono", "Lucida Console", Monaco, "Courier New", Courier, monospace;
}
    
div#psycnet_fulltext_article_content blockquote {
    margin: 2em 4em 2em 4em;
    padding: 0;
    border: 0;
    font-size: .9em;
}

div#psycnet_fulltext_article_content img.blockGraphic {
    display: block;
    margin: 1em 0 1em 0;
}

div#psycnet_fulltext_article_content .standalone-graphic-outer {
    margin: 1.5em 0 1.5em 0;
}

div#psycnet_fulltext_article_content .graphic-caption-title {
    font-weight: bold;
    line-height: 1em;
    padding-top: 3px;
}

div#psycnet_fulltext_article_content div.hypothesis {
    margin: 2em 4em 2em 4em;
    padding: 0;
    border: 0;
}

div#psycnet_fulltext_article_content div.dialog {
    margin: 2em 0 2em 3em;
}

div#psycnet_fulltext_article_content blockquote > div.dialog {
    margin: 2em 0 2em 0;
}

div#psycnet_fulltext_article_content div.dialogSpeech {
    margin: 0 0 0 0;
}

div#psycnet_fulltext_article_content div.poem {
    margin: 2em 0em 2em 3em;
}

div#psycnet_fulltext_article_content div.poemStanza {
    margin-bottom: 1.5em;
}

div#psycnet_fulltext_article_content table {
    margin: 2em 0 2em 0;
}

div#psycnet_fulltext_article_content blockquote blockquote {
    font-size: 1em;
}

div#psycnet_fulltext_article_content div.definitionList {
    margin: 2em 4em 2em 4em;
    padding: 0;
    border: 0;
}

div#psycnet_fulltext_article_content div.definitionItem {
    margin: 1em 0 0 0;
}

div#psycnet_fulltext_article_content div.definitionItem p {
    margin: 0 0 0 2em; 
}

div#psycnet_fulltext_article_content ul.referenceList {
    margin: 2em 0 0 0em;
    text-indent: 0;
    list-style-type: none;
    padding: 0 0 0 0;
}

div#psycnet_fulltext_article_content ul.referenceList li {
    margin: 0 0 0 0;
    text-indent: 0;
    padding: 0;
}

div#psycnet_fulltext_article_content div.articleTitleGroup div.articleBanner{
text-align: center;
font-size: 1.3em;
font-family: Arial, Helvetica, sans-serif;
font-weight: normal;
line-height: 1.5em;
color: #1B5794;
margin-bottom: 15px;
}

div#psycnet_fulltext_article_content div.refList ul.referenceList img {
    border-style: none;
    border-width: 0 0 0 0;
    border-color: transparent;
}

div#psycnet_fulltext_article_content div.refList ul.referenceList ul.refListItemLinks {
    list-style-type: none;
    text-align: left;
    margin: 0 0 0 3em;
}

div#psycnet_fulltext_article_content div.refList ul.referenceList ul.refListItemLinks li {
    display: inline;
    list-style-type: none;
    padding: 0 .5em 0 0;
}

div#psycnet_fulltext_article_content div.epigraph, div#psycnet_fulltext_article_content div.epigram {
    margin: 2em 5em 2em 5em;
    padding: 0;
    border: 0;
    font-size: .9em;
}

div#psycnet_fulltext_article_content p.epigraphAttribution, div#psycnet_fulltext_article_content p.epigramAttribution {
    text-align: right;
}

div#psycnet_fulltext_article_content div.equation {
    margin: 2em 0 2em 2em;    
}

div#psycnet_fulltext_article_content div.displayText {
    margin: 2em 0 2em 0;    
}

div#psycnet_fulltext_article_content img {
    border: 0;
    padding: 0;
    margin: 0;
}

div#psycnet_fulltext_article_content img.openaccess {
    float: right;
	border: 0;
    padding: 0;
    margin-top: 0;
	vertical-align: middle;
	clear: both;
}

/* paragraphs */

/*div#psycnet_fulltext_article_content p {
    margin: 0 0 0 0;
    text-indent: 0;
    text-align: left;
}*/

div#psycnet_fulltext_article_content p {
    margin: 0 0 0 0;
    text-indent: 0;
    text-align: left;
	margin-top:1.5em;
}

div#psycnet_fulltext_article_content p.indent {
    text-align: left;
    text-indent: 0;
    margin-top: 1.5em;
	}
	
div#psycnet_fulltext_article_content div.indent {
    text-align: left;
    text-indent: 0;
    margin-top: 1.5em;
}

div#psycnet_fulltext_article_content .annotation-p {
    margin: 0 0 0 1.7em;
}

div#psycnet_fulltext_article_content p.inlinePara {
    text-align: left;
    text-indent: 0;
    margin: 0;
    display: inline;
}

div#psycnet_fulltext_article_content p.hangingIndent {
   text-align: left;
   text-indent: -2.5em;
   margin: 0 0 0 2.5em;
}

/* inline and text styling */

div#psycnet_fulltext_article_content a {
    text-decoration: underline;
    border: 0;
    background-color: inherit;
    color: #052CAB;
}

div#psycnet_fulltext_article_content a:visited {
    color: #893FFF;
    background-color: inherit;
    text-decoration: underline;
    border: 0;
}

div#psycnet_fulltext_article_content a.internalCitRef:visited {
    color: #0000FF;
    background-color: inherit;
    text-decoration: underline;
    border: 0;
}

div#psycnet_fulltext_article_content strong {    
    font-weight: bold;
}

div#psycnet_fulltext_article_content span.infText {
    vertical-align: sub;
    font-size: .8em;
}

div#psycnet_fulltext_article_content span.supText {
    vertical-align: super;
    font-size: .8em;
}

div#psycnet_fulltext_article_content em {    
    font-style: italic;
}

div#psycnet_fulltext_article_content .sansserif {
    font-family: Verdana, "Lucida Grande", "Bitstream Vera Sans", Helvetica, sans-serif;
}

div#psycnet_fulltext_article_content .monowidth {
    font-family: "Andale Mono", "Lucida Console", Monaco, Courier, "Courier New", monospace;
}

div#psycnet_fulltext_article_content .roman {
    font-style: normal;
}

div#psycnet_fulltext_article_content .smallcapitals {
    text-transform: uppercase;
    letter-spacing: .1em; 
    font-size: .85em;
}

div#psycnet_fulltext_article_content .underline {
    text-decoration: underline;
}

div#psycnet_fulltext_article_content .overline {
    text-decoration: overline;
}

div#psycnet_fulltext_article_content .strikethru {
    text-decoration: line-through;
}

div#psycnet_fulltext_article_content .fakeNavUnderline {
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #052CAB;
    padding: 0 0 2px 0;
}

div#psycnet_fulltext_article_content a.tableReference, div#psycnet_fulltext_article_content a.figureReference, div#psycnet_fulltext_article_content a.tableReference:visited, div#psycnet_fulltext_article_content a.figureReference:visited  {
    font-weight: normal;
    text-decoration: none;
    color: #000000;
    background-color: inherit;
}

div#psycnet_fulltext_article_content h1 a.tableReference {
    line-height: 150%;
}

/* end of article items */

div#psycnet_fulltext_article_content div.footnote {
    margin: 1.5em 0 1.5em 0;
}

div#psycnet_fulltext_article_content a.hideInlineFootnoteButton {
    margin: 0 .5em 0 .5em;
    display: none;
    font-weight: normal;
    cursor: pointer;
    color: #0000FF;
    background-color: inherit;
    text-decoration: underline;
}

div#psycnet_fulltext_article_content span.footnoteNumber {
    float: left;
    margin-right: 1em;
    font-weight: bold;
}

div#psycnet_fulltext_article_content div.topLevelHeadingContainer a.footnoteReference_noBehavior, 
div#psycnet_fulltext_article_content div.topLevelHeadingContainer a.firstFootnoteReference_noBehavior,
div#psycnet_fulltext_article_content div.topLevelHeadingContainer a.footnoteReference_noBehavior:visited, 
div#psycnet_fulltext_article_content div.topLevelHeadingContainer a.firstFootnoteReference_noBehavior:visited {
    vertical-align: middle;
    font-size: .8em;
    line-height: .8em;
    font-weight: bold;
    text-decoration: none;
    background-color: inherit;
    color: #FFFFFF;
    border-style: none;
    cursor: pointer;
    padding-left: .3em;
}

div#psycnet_fulltext_article_content a.footnoteReference, div#psycnet_fulltext_article_content a.footnoteReference:visited, div#psycnet_fulltext_article_content a.footnoteReference_noBehavior, div#psycnet_fulltext_article_content a.footnoteReference_noBehavior:visited {
    font-weight: bold;
    text-decoration: none;
    background-color: inherit;
    color: #44988F;
    border-color: #E3190A;
    border-width: 0 0 2px 0;
    border-style: dotted;
    cursor: pointer;
    margin-left: .1em;
    vertical-align: super;
    font-size: 1em;
}

div#psycnet_fulltext_article_content a.firstFootnoteReference, div#psycnet_fulltext_article_content a.firstFootnoteReference:visited, div#psycnet_fulltext_article_content .firstFootnoteReference_noBehavior, div#psycnet_fulltext_article_content a.firstFootnoteReference_noBehavior:visited {     
    vertical-align: super;
    font-size: .8em;
    font-weight: bold;
    text-decoration: none;
    background-color: inherit;
    color: #44988F;
    border-color: #E3190A;
    border-width: 0 0 2px 0;
    border-style: dotted;
    cursor: pointer;
    margin-left: .1em;
}

div#psycnet_fulltext_article_content div.suppMat {    
    margin: 2em 0 2em 0;
    border-color: #AAAAAA;
    border-style: solid;
    border-width: 2px;
    color: #000000;
    padding: .5em;    
}

div#psycnet_fulltext_article_content div.corrAcknBios {
    margin: 2em 0 2em 0;
    border-color: #AAAAAA;
    border-style: solid;
    border-width: 2px;
    color: #000000;
    padding: .5em;
}

div#psycnet_fulltext_article_content div.publicationHistory {
    margin: 2em 0 2em 0;
    border-color: #AAAAAA;
    border-style: solid;
    border-width: 2px;
    color: #000000;
    padding: .5em;
}

div#psycnet_fulltext_article_content div.multipleCorr {
    margin: 2em 0 1em 3em;
}

/* inline hide and reveal items - footnotes, tables, figures */

div#psycnet_fulltext_article_content span.hideButton {
    text-align: left;
    border-width: 0 0 1px 0;
    border-color: #E3190A;
    border-style: dotted;
    padding: 0 0 3px 0;
    font-size: .8em;
    color: #44988F;
    text-decoration: none;
    background-color: inherit;
    cursor: pointer;
    font-weight: bold;
}

div#psycnet_fulltext_article_content span.inlineTableGroup, div#psycnet_fulltext_article_content span.inlineFigureGroup {
    text-align: left;
    margin: 2em 0 2em 0;
    background-color: #FFFFFF;
    color: #000000;
    display: none;
    padding: 0;
}

div#psycnet_fulltext_article_content div.articleTitleGroup span.inlineFootnote {
    font-size: .8em;
    line-height: 1.5em;
    font-weight: normal;
    display: none;
}

div#psycnet_fulltext_article_content div.subContentItemArticleTitleGroup span.inlineFootnote {
    font-size: .8em;
    line-height: 1.5em;
    font-weight: normal;
    display: none;
}

.inlineFootnote{
	display:none;
}

div#psycnet_fulltext_article_content h1 span.inlineFootnote {
    font-size: .85em;
    line-height: 1.6em;
    font-weight: normal;
    display: none;
}

div#psycnet_fulltext_article_content h2 span.inlineFootnote {
    font-size: .85em;
    line-height: 1.6em;
    font-weight: normal;
    display: none;
}

div#psycnet_fulltext_article_content h3 span.inlineFootnote {
    font-size: .9em;
    line-height: 1.5em;
    font-weight: normal;
    display: none;
}

div#psycnet_fulltext_article_content span.inlineFootnote {
    text-align: left;
    color: #000000;
    background-color: inherit;
    display: none;
    margin: 2em 0 2em 2em;
    padding: 0;
}

/* table and figure containers */

div#psycnet_fulltext_article_content div.tableFigureThumbnail {
    padding: 0 0 0 10px;
    border-style: none;
    border-width: 0;
    margin: 2em 0 2em 0;
}

div#psycnet_fulltext_article_content div.inlineFigureGroup div.tableFigureThumbnail {
    margin-bottom: 1em;
}

div#psycnet_fulltext_article_content div.inlineTableGroup div.tableFigureThumbnail {
    margin-bottom: 1em;
}

div#psycnet_fulltext_article_content div.tableFigureThumbnail div.tableFigureThumbnailLabel {
    color: #000000;
    background-color: #88CF4D;
    padding: .1em 0 .1em .5em;
    margin: 0 0 0 -10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .9em;
    line-height: 1.1em;
    font-weight: bold;
}

div#psycnet_fulltext_article_content div.tableFigureThumbnail div.tableFigureFullSizeThisPage {
    overflow: auto;
}

div#psycnet_fulltext_article_content div.tableFigureThumbnail div.tableFigureThumbnailImgContainer {
    padding: 0;
    margin: 10px 10px 5px 0;
    overflow: hidden;
    width: 200px;
    border-style: solid;
    border-width: 1px;
    border-color: #999999;
    float: left;
}

div#psycnet_fulltext_article_content div.tableFigureThumbnail div.tableFigureThumbnailImgContainer img {
    margin: 0;
    padding: 0;
    cursor: pointer;
}

div#psycnet_fulltext_article_content div.tableFigureThumbnail div.tableFigureThumbnailCaption {
    margin: 10px 10px 10px 220px;
    font-size: .8em;
    line-height: 1.7em;
}

div#psycnet_fulltext_article_content div.tableFigureThumbnail div.tableFigureFullSizeLinks {
    clear: both;
    margin: 0 10px 10px 0;
    padding: 0;
    background-color: #404040;
    color: inherit;
    border-style: none;
}

div#psycnet_fulltext_article_content div.tableFigureThumbnail div.tableFigureFullSizeLinks table {
    padding: 0;
    border-width: 0;
    border-spacing: 0;
    margin: 0;
    background-color: #404040;
    color: #FFFFFF;
    border-collapse: collapse;
}

div#psycnet_fulltext_article_content div.tableFigureThumbnail div.tableFigureFullSizeLinks table td {
    font-weight: bold;
    color: #FFFFFF;
    background-color: #404040;
    font-size: .9em;
    line-height: 1.3em;
    letter-spacing: 1px;
    padding: 4px 10px 5px 10px;
    border-spacing: 0;
    margin: 0;
    border: 0;
}

div#psycnet_fulltext_article_content div.tableFigureThumbnail div.tableFigureFullSizeLinks table tr {
    padding: 0;
    border: 0;
    margin: 0;
}

div#psycnet_fulltext_article_content div.tableFigureThumbnail div.tableFigureFullSizeLinks table td.fullSizeLabel {
    background-color: #2E4AB8;
    color: #FFFFFF;
}

div#psycnet_fulltext_article_content div.tableFigureThumbnail div.tableFigureFullSizeLinks table td.inThisPage {
    padding-left: 20px;
}

div#psycnet_fulltext_article_content div.tableFigureThumbnail div.tableFigureFullSizeLinks a,
div#psycnet_fulltext_article_content div.tableFigureThumbnail div.tableFigureFullSizeLinks a:visited {
    color: #FFFFFF;
    background-color: inherit;
    text-decoration: underline;
}

div#psycnet_fulltext_article_content div.tableSearchText {
    display: none;
}

div#psycnet_fulltext_article_content cite {
    font-style: oblique;
}

div#psycnet_fulltext_article_content cite.citationSource {
    font-style: italic;
    font-weight: normal;
}

/* lists */

div#psycnet_fulltext_article_content ol {
    margin: 2em 0em 2em 4em;
    padding: 0 0 0 0;
}

div#psycnet_fulltext_article_content ol li {
    margin: 0 0 1.5em 0;
	
}

div#psycnet_fulltext_article_content ol.list_unlabelled li[label] { 
  text-indent: -2em; 

}

div#psycnet_fulltext_article_content ol.list_unlabelled li[label]:before { 
   content: attr(label);
        padding-right: .5em;
        text-align: right;
        vertical-align: top;
        display: inline-block;
        width: 1em;
        height: 0.5em;
        padding-top: 0;
        margin-bottom: .5em; 
}

div#psycnet_fulltext_article_content ol.list_unlabelled li[no-label] {
    margin-left: -2em;
}

div#psycnet_fulltext_article_content ol.list_arabic {
    list-style-type: decimal;
}

div#psycnet_fulltext_article_content ol.list_upper_alpha {
    list-style-type: upper-alpha;
}

div#psycnet_fulltext_article_content ol.list_upper_roman {
    list-style-type: upper-roman;
}

div#psycnet_fulltext_article_content ol.list_bullet {
    list-style-type: disc;
}

div#psycnet_fulltext_article_content ol.list_dash {
    list-style-type: none;
}

div#psycnet_fulltext_article_content ol.list_unlabelled {
    list-style-type: none;
}


div#psycnet_fulltext_article_content ul.list-nolabel {
    list-style-type: none;
}

div#psycnet_fulltext_article_content ol.list_lower_alpha {
    list-style-type: lower-alpha;
}

div#psycnet_fulltext_article_content ol.list_lower_roman {
    list-style-type: lower-roman;
}

div#psycnet_fulltext_article_content div.listHead {
    font-size: 1.2em;
    font-weight: bold;
    margin: 2em 0 1em 0;
}


div#psycnet_fulltext_article_content td, div#psycnet_fulltext_article_content th {
    padding: .5em;
}

/* misc */

div#psycnet_fulltext_article_content .onBehalfOf {
    margin-top: 2em;
    margin-bottom: 1em;
}

div#psycnet_fulltext_article_content div.pointCounterPointHeader {
    color: #E36304;
    background-color: inherit;
    font-size: 1.2em;
    margin: 0 0 1em 0;
    padding: 0;
}

div#psycnet_fulltext_article_content div.appendixNote {
    font-size: .9em;
}

div#psycnet_fulltext_article_content img.spacerGif {
    border: 0;
    margin: 0;
    padding: 0;
}

/* Prototip */

.prototip {
	font: 12px Arial, Helvetica, sans-serif;
	color: #000;
	line-height: 20px;
}

.prototip .default {
	width: 250px;
	color: #808080;
}
.prototip .default .toolbar {
	background: #f1f1f1;
	font-weight: bold;
}
.prototip .default .title { padding: 5px; }
.prototip .default .content {
	padding: 5px;
	background: #fff;
    color: #000000;
    background-color: #FFFFFF;
    text-align: left;
    padding: 5px;
}

.prototip .protogrey .toolbar .close {
	width: 14px;
	height: 14px;
}

.prototipLoader {
	position: absolute;
	top: -1000px;
	left: -1000px;
	height: 14px;
	width: 14px;
	border: 1px solid #dddddd;
	overflow: hidden;
}

.prototip{position:absolute;overflow:hidden;}.prototip .tooltip,.prototip .toolbar,.prototip .toolbar .title{position:relative;}.prototip .content{clear:both;}.prototip .toolbar .close{position:relative;text-decoration:none;float:right;width:19px;height:15px;display:block;line-height:0;font-size:0;border:0;cursor:pointer;}.prototip .tooltip{clear:both;float:left;}.prototip .borderLeftWrapper,.prototip .borderRightWrapper{position:absolute;top:0;left:0;width:300px;height:20px;}.prototip .borderFrame{height:100%;width:100%;float:left;margin:0;padding:0;position:relative;}.prototip .borderTop,.prototip .borderBottom{overflow:hidden;}.prototip .borderRow{list-style-type:none;float:left;width:100%;position:relative;clear:both;margin:0;padding:0;}.prototip_CornerWrapper{position:absolute;top:0;left:0;width:100%;height:100%;margin:0;padding:0;clear:both;}.prototip_Corner{float:left;position:relative;}.prototip canvas{position:relative;float:left;}.prototip_CornerTr,.prototip_CornerBr{float:right;}.prototip_BetweenCorners{position:absolute;top:0;left:0;width:100%;overflow:hidden;clear:both;}.prototip .borderMiddle{position:relative;float:left;}.prototip .borderCenter{position:relative;float:left;height:100%;}.prototip_StemWrapper{position:relative;width:100%;height:auto;clear:both;}.prototip_StemBox{float:left;position:relative;}.prototip_Stem{width:100%;position:absolute;overflow:hidden;}.iframeShim{position:absolute;border:0;margin:0;padding:0;background:none;overflow:hidden;}.prototip .clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}.prototip .clearfix{display:inline-block;}/* IE Mac Hide \*/ .prototip .clearfix{display:block;}/* IE Mac Hide End */



/* print-only styles */

div#psycnet_fulltext_article_content p.citText {
   text-align: left;
   text-indent: -3em;
   margin: 0 0 0 3em;
}

div#printerFriendlyHeader {
    /*float: left; */ 
	margin: 0 0 3em 0;
	/*clear: both; */
}

