<div>
  <!--<label class="visible-lg" for="sortOption{{parentId}}">Sort by </label>-->
  <label class="" for="sortOption{{parentId}}" translate>{{'Sort By' | tr_alias:'SEARCH_RESULTS'}}</label>

  <span>
    <select  *ngIf="!isCitedRef && !isMyList" class="form-control" [ngModel]="model" (change)="onLimitChange($event.target.value)" id="sortOption{{parentId}}">
      <option *ngFor="let i of terms" [value]="i.value" translate>{{i?.name | tr_alias:'SEARCH_RESULTS'}}</option>
    </select>
    <select  *ngIf="isCitedRef" class="form-control" [ngModel]="model" (change)="onLimitChange($event.target.value)" id="sortOption{{parentId}}">
      <option *ngFor="let i of citedSortTerms" [value]="i.value" translate>{{i?.name | tr_alias:'SEARCH_RESULTS'}}</option>
    </select>
    <select  *ngIf="isMyList" class="form-control" [ngModel]="model" (change)="onLimitChange($event.target.value)" id="sortOption{{parentId}}">
      <option *ngFor="let i of mylistSortTerms" [value]="i.value" translate>{{i?.name | tr_alias:'SEARCH_RESULTS'}}</option>
    </select>

  </span>
</div>
