@import '../../core/pn';

div {
  @media screen  {
    @media (min-width: 768px) {
      display: flex;
    }
  }
  label {
    font-weight: 100;
    line-height: 2.33em;
    font-size: 0.89em;
    color: @dk-gray;
    margin-right: 1em;
  }
  span {
    &:before {
      position: absolute;
      content: "▾";
      color: @dk-gray;
      background: none;
      pointer-events: none;
      margin-left: 114px;
      margin-top: 5px;
    }
    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: solid 1px @dk-gray;
      background-color: @lightest;
      border-radius: 0;
      height: 31px;
      width: 130px;
      padding: 5px;
      cursor: pointer;
    }
  }
  margin: 8px 8px 0 0;
  display: flex;
}
