@import '../../../../core/pn';

.card {
  @media (max-width: 767px) {
    .mob-pagination{
      margin: 8px 8px 0 0;
      width: 100%;
    }
  }
  @media (max-width: 991px) {
    padding-left: 55px;
  }
  strong {
    .subSection;
    @media (min-width: 991px) {
      margin-left: 0;
    }
    margin-left: 34px;
  }
  numberedPagination {
    margin-top: 8px;
  }
  display: flex;
  height: 49px;
  .facetBody;
}

.m-l-10 {
  margin-left: 10px;
}

.p-t-10 {
  padding-top: 10px;
}

svg {
  fill: @dk-blue;
}

.p-t-16 {
  padding-top: 16px;
}

.pointer {
  cursor: pointer;
}
select-all {
  @media (min-width: 768px) {
    margin-left: 11px;
  }
}
.toolbarButtons {
  @media (min-width: 891px) {
    padding-left: 56px;
  }
}
.bottomResultsNav {
  @media (min-width: 891px) {
    margin-top: 1em;
  }
}
