<div class="card" *ngIf="showAllToolBarOptions">
    <select-all *ngIf="!isCitedRef" [parentId]="id" [isSelectAll]="isSelectAll" [disabledFormControls]="disabledFormControls" (toggleAllSelection)="toggleAllSelection($event)"></select-all>
    <!-- handle cited by-->
    <select-all *ngIf="isCitedRef && showAllToolBarOptions"  [parentId]="id" [isSelectAll]="isSelectAll" [disabledFormControls]="disabledFormControls" (toggleAllSelection)="toggleAllSelection($event)"></select-all>

    <div class="col-sm-6 col-md-7 col-lg-7 hidden-xs toolbarButtons" *ngIf="!isCitedRef">
      <search-results-tools-bar *ngIf="!isCitedRef" [parentId]="id" [isMyList]="isMyList" [showAllOptions]="showAllToolBarOptions" [showDeleteFromMylist]="showDeleteFromMylist" [allSelectedRecordUIDList]="allSelectedRecordUIDList" [allRecordsOnPageUIDList]="allRecordsOnPageUIDList" (refreshResult)="getFreshResults($event)"></search-results-tools-bar>
    </div>

    <!-- handle cited by-->
    <div class="col-md-12 toolbarButtons" *ngIf="isCitedRef && showAllToolBarOptions">
      <search-results-tools-bar *ngIf="isCitedRef && showAllToolBarOptions" [parentId]="id" [isMyList]="isMyList" [showAllOptions]="showAllToolBarOptions" [showDeleteFromMylist]="showDeleteFromMylist" [allSelectedRecordUIDList]="allSelectedRecordUIDList" [allRecordsOnPageUIDList]="allRecordsOnPageUIDList" (refreshResult)="getFreshResults($event)"></search-results-tools-bar>
    </div>

    <div class=" col-xs-12 col-sm-7 col-md-7 col-lg-7 show-for-mobile" *ngIf="!isRecommendedSearch && !hideSortByOption">
      <search-results-tools-bar  [parentId]="id" [isMyList]="isMyList" [showAllOptions]="showAllToolBarOptions" [showDeleteFromMylist]="showDeleteFromMylist" [allSelectedRecordUIDList]="allSelectedRecordUIDList" [allRecordsOnPageUIDList]="allRecordsOnPageUIDList" (refreshResult)="getFreshResults($event)"></search-results-tools-bar>
    </div>

    <div class="col-sm-6 col-md-5 col-lg-5 hidden-xs" *ngIf="!isRecommendedSearch && !hideSortByOption">
      <paginationlimit [parentId]="id" class="pull-right" (changePagination)="getNewPaginationLimit($event)" [(selectedLimit)]="selectedLimit"></paginationlimit>
      <sort-by [parentId]="id" class="pull-right" (changeSortBy)="getNewSortTerm($event)" [currentSortOption]="currentSortBy" [isCitedRef]="isCitedRef" [isMyList]="isMyList"></sort-by>
    </div>

    <div class="col-sm-9 col-md-9 col-lg-9 hidden-xs" *ngIf="!isRecommendedSearch && hideSortByOption">
      <paginationlimit [parentId]="id" class="pull-right" (changePagination)="getNewPaginationLimit($event)" [(selectedLimit)]="selectedLimit"></paginationlimit>
    </div>
</div>
<div *ngIf="!showAllToolBarOptions" class="card">
  <div class="col-xs-offset-6 col-sm-offset-6 col-md-offset-7 col-lg-offset-6 col-xs-6 col-sm-4 col-md-3 col-lg-4" *ngIf="!isRecommendedSearch && !hideSortByOption">
    <sort-by [parentId]="id" class="pull-right" (changeSortBy)="getNewSortTerm($event)" [currentSortOption]="currentSortBy" [isCitedRef]="isCitedRef" [isMyList]="isMyList"></sort-by>
  </div>
  <div class="col-sm-2 col-md-2 col-lg-2 hidden-xs" *ngIf="!isRecommendedSearch">
    <paginationlimit [parentId]="id" class="pull-right" (changePagination)="getNewPaginationLimit($event)" [(selectedLimit)]="selectedLimit"></paginationlimit>
  </div>
</div>

<div class="show-for-mobile" *ngIf="!isCitedRef">
  <div class="card p-l-0">
    <div class="col-xs-12">
      <sort-by [parentId]="id" (changeSortBy)="getNewSortTerm($event)" [currentSortOption]="currentSortBy" [isCitedRef]="isCitedRef" [isMyList]="isMyList"></sort-by>
    </div>
  </div>
</div>
