/* You can add global styles to this file, and also import other style files */
div.fullTextPrintKeywords {
  margin: 1em 0 1em 0;
  border-color: #AAAAAA;
  border-style: solid;
  border-width: 2px;
  color: #000000;
  padding: .5em;
}
