<div>
  <ul style="padding-left: 0px;">
    <li [class.disabled]="currentPage <= 1">
      <button class="paginationArrow" (click)="setPrevPage($event)" [disabled]="isPreviousDisabled()">◀ </button>
    </li>
    <li><a class="active">{{currentPage}}</a></li>
    <li><span class="textSep" translate>{{ 'of' | tr_alias:'RECORD_DISPLAY' }}</span> {{totalPages}}</li>
    <li [class.disabled]="currentPage >= totalPages">
      <button class="paginationArrow" (click)="setNextPage($event)" [disabled]="isNextDisabled()"> ▶</button>
    </li>
  </ul>
</div>
