<div *ngIf="pager.pages && totalItems > selectedLimit">
  <ul *ngIf="pager.pages.length">
    <li *ngIf="pager.currentPage > 1">
      <a (click)="setPage(1, $event)">|◀</a>
    </li>
    <li *ngIf="pager.currentPage > 1">
      <a (click)="setPage(pager.currentPage - 1, $event)">◀</a>
    </li>
    <li *ngFor="let page of pager.pages" [class.active]="pager.currentPage === page">
      <a id="page-{{page}}" (click)="setPage(page, $event)">{{page}}</a>
    </li>
    <li *ngIf="pager.currentPage < pager.totalPages">
      <a (click)="setPage(pager.currentPage + 1, $event)">▶</a>
    </li>
    <li *ngIf="pager.currentPage < pager.totalPages">
      <a (click)="setPage(pager.totalPages, $event)">▶|</a>
    </li>
  </ul>
</div>
