<div *ngIf="pager.pages && totalItems > selectedLimit">
    <ul *ngIf="pager.pages.length">
        <li [class.disabled]="pager.currentPage === 1" >
            <a (click)="setPage(pager.currentPage - 1, $event)" *ngIf="!isPreviousDisabled()">◀ <span id="previous" translate>{{'Previous' | tr_alias:'COMMON_LABEL'}}</span> </a>
        </li>
        <li class="disabled" *ngIf="!isNextDisabled() && !isPreviousDisabled()">|</li>
        <li [class.disabled]="pager.currentPage === pager.totalPages" >
            <a (click)="setPage(pager.currentPage + 1, $event)" *ngIf="!isNextDisabled()"> <span translate>{{'Next' | tr_alias:'COMMON_LABEL'}}</span> ▶</a>
        </li>
    </ul>
</div>
