@import '../../core/pn';
div {
  @media screen  {
    @media (min-width: 768px) {
      display: flex;
      //margin: -8px 0 0 0;
      margin: 5px;
      padding: 0;
      flex-direction: row-reverse;
    }
  }
  ul {
    li {
      &.active {
        a {
          color: @lightest;
          background-color: @lt-blue;
        }
      }
      &.disabled {
        cursor: not-allowed;
        button, a{
          color: gray;
          cursor: not-allowed;
        }
      }
      a {
        &:hover {
          text-decoration: none;
        }
        width: 16px;
        padding: 2px;
        color: @md-blue;
        background: none;
        margin: 0;
        height: auto;
        line-height: 0;
        border-radius: 0;
        cursor: pointer;
      }
      padding: 0px 1px;
      margin: 0;
      display: inline-block;
      color: @md-blue;
    }
    &:first-child {
      margin-bottom: 0px !important;
      float: right;
      margin-right: 13px;
    }
  }
}

.paginationArrow{
  border: 0;
  background: @lightest;
  color:#008cd2;
}

a.active{
  background-color:#00bcd4 !important;
  color:#ffffff !important;
}

.textSep{
  color: #777777;
  cursor: not-allowed;
  padding:0 5px 0 2px;
}
