<div *ngIf="pager.pages && totalItems > selectedLimit">
    <ul *ngIf="pager.pages.length">
        <li *ngIf="pager.currentPage >1">
            <a (click)="setPage(pager.currentPage - 1, $event)"><span class="term">{{prependText | truncate:after:20}}</span> ◀ <span translate>COMMON_LABEL.PREVIOUS</span></a>
        </li>
        <li *ngIf="pager.currentPage >1 && pager.currentPage < pager.totalPages" class="disabled">|</li>
        <li *ngIf="pager.currentPage < pager.totalPages">
            <a (click)="setPage(pager.currentPage + 1, $event)"> <span translate>COMMON_LABEL.NEXT</span> ▶ <span class="term">{{appendText | truncate:after:20}}</span></a>
        </li>
    </ul>
</div>
