@import '../../core/pn';

.myListcontainer {
  h1 {
    font-size: 1.44em;
    text-transform: capitalize;
    color: @dk-blue;
  }
  position: relative;
  width: 95%;
  margin: 0 auto;

  .results {
    padding-top: 15px;
    .facets {
      button {
        @media (min-width: 991px) {
          display: none;
        }
        background-color: @lightest;
        position: relative;
        margin: 0.55em;
        width: 100%;
        font-size: 0.89em;
        color: @md-blue;
        border: solid 1px @md-gray;
        border-radius: 2px;
        left: 0;
      }
      @media (min-width: 991px) {
        display: block;
      }
      &.toggled {
        @media (min-width: 991px) {
          display: none;
        }
        transform: translate3d(0px, 58px, 0px);
        -webkit-transform: translate3d(0px, 58px, 0px);
        opacity: 1;
        background-color: #ffffff;
        z-index: 999;
        overflow-y: scroll;
        overflow-x: hidden;
        position: fixed;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        height: 100%;
        margin-top: -58px;
        width: 100%;
        display: flex;
        flex-direction: column;
      }
      @media (max-width: 991px) {
        height: calc(42%);
        transform: translate3d(-767px, 58px, 0px);
        -webkit-transform: translate3d(-767px, 58px, 0px);
        opacity: 0;
        z-index: 1;
        position: absolute;
        display: none;
      }
      display: none;
      width: 16.66666667%;
      padding-right: 15px;
      padding-left: -15px !important;
    }
    .list {
      flex: 1 1 auto;
      width: 81.33333333%;
    }
    display: flex;
  }

  button.listIcon {
    .optionsToggleSearch;
     margin-top: 3px;
    @media (max-width: 991px) {
      margin-left: 10px;
      margin-top: 6px !important;
     }
     &.toggled {
       margin-left: 7px;
       margin-top: 10px !important;
     }
  }

  .p-0 {
    padding: 0px !important;
  }
  .p-t-0 {
    padding-top: 0px !important;
  }
  .p-b-5 {
    padding-bottom: 5px !important;
  }
  .p-t-5 {
    padding-top: 5px !important;
  }
  .p-10 {
    padding: 10px !important;
  }
  .p-t-10 {
    padding-top: 10px !important;
  }
  .p-t-15 {
    padding-top: 15px !important;
  }
  .p-r-30 {
    padding-right: 30px !important;
  }
  .p-l-30 {
    padding-left: 30px !important;
  }

  .m-b-0 {
    margin-bottom: 0px !important;
  }
  .m-l-0 {
    margin-left: 0px !important;
  }
  .m-t-5 {
    margin-top: 5px !important;
  }
  .m-t-10 {
    margin-top: 10px !important;
  }
  .m-r-10 {
    margin-right: 10px !important;
  }
}
