<div class="container myListcontainer p-0">

  <h1 class="searchHeading m-t-10" translate>{{ 'My List' | tr_alias: 'HEADER'}}</h1>
  <div *ngIf="!loading && !results?.results?.result.doc" class="text-center">
    <b><span id="emptyMsg" translate>{{'There are no saved records in your list' | tr_alias:'MY_LIST'}}</span>.</b>
  </div>
  <div>
    <mylist-search-tabs *ngIf="!loading && tabNumbers && resultsSearch && resultsSearch?.query && resultsSearch?.query?.tab && results?.results?.result?.numFound && results?.results?.result?.numFound !== '0'" [searchId]="searchId" [defaultTab]='resultsSearch?.query?.tab' [tabNumbers]="tabNumbers" (searchTabText)="triggerSearchTab($event)"></mylist-search-tabs>
    <div *ngIf="loading" class="text-center">
      <br/>
      <loading-indicator loaderText="Searching"></loading-indicator>
    </div>
    <div class="results" *ngIf="!loading && results?.results?.result.doc">
      <button class="listIcon" *ngIf="Tags && Tags.length" (click)="toggleFilterView()" [class.toggled]="!filterVisible">
        <span class="sr-only">Hide/Show Side Bar</span>
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
          <path fill="#ffffff" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z"/>
        </svg>
      </button>
      <div *ngIf="Tags && Tags.length" [class.toggled]="!filterVisible" class="facets">
        <button (click)="toggleFilterView()">
          <span translate>{{'Done' | tr_alias:'SEARCH_RESULTS'}}</span>
        </button>
        <filter-box [tagFilter]="tagFilter" boxTitle="Filter By Tag" [Tags]="Tags" (TagFiter)="filterListByTag($event)"></filter-box>
      </div>
      <div class="list">
        <search-results-nav [id]="'mylistnav1'" [isMyList]="true" [filterVisible]="filterVisible" [showDeleteFromMylist]="true" [showAllToolBarOptions]="true" [recommendedSearch]="isRecommendedSearch" [isSelectAll]="isSelectAll" (onChangeSelectAllEvent)="setSelectAll($event)" (applySortBy)="applyNewSortByOption($event)" [currentSortBy]="results?.search?.query?.displayOptions?.sort" (changeRecordsPerPage)="changeRecordsPerPage($event)" [selectedLimit]="selectedLimit" [allRecordsOnPageUIDList]="allRecordsOnPageUIDList" [allSelectedRecordUIDList]="allSelectedRecordUIDList" (refreshResults)="getMyList()"></search-results-nav>
        <search-results-list [UIDlist]="UIDlist" (TagFiter)="filterListByTag($event)" [displayShowAllAbsBtn]="true" [isMyList]="true" [searchId]="searchId" [recommendedSearch]="isRecommendedSearch" [articleList]="results?.results?.result" [selectedLimit]="selectedLimit" [selectedPage]="currentPage" (onChangeResultSelectEvent)="identifySelectAll($event)" (changePagination)="getNewPagination($event)" (refreshResults)="getMyList()"></search-results-list>
        <search-results-nav [id]="'mylistnav2'" [isMyList]="true" [filterVisible]="filterVisible" [showDeleteFromMylist]="true" [showAllToolBarOptions]="true" [recommendedSearch]="isRecommendedSearch" [isSelectAll]="isSelectAll" (onChangeSelectAllEvent)="setSelectAll($event)" (applySortBy)="applyNewSortByOption($event)" [currentSortBy]="results?.search?.query?.displayOptions?.sort" (changeRecordsPerPage)="changeRecordsPerPage($event)" [selectedLimit]="selectedLimit" [allRecordsOnPageUIDList]="allRecordsOnPageUIDList" [allSelectedRecordUIDList]="allSelectedRecordUIDList" (refreshResults)="getMyList()"></search-results-nav>
      </div>
    </div>
  </div>
</div>
