@import '../../../core/pn';

.allRecords {
  padding-left: 20px;
  padding-top: 20px;
  .p-l-25 {
    padding-left: 25px;
  }
  .m-0 {
    margin: 0;
  }
  .m-t-0 {
    margin-top: 0;
  }
  .m-l-5 {
    margin-left: 5px;
  }
  .m-b-15 {
    margin-bottom: 15px;
  }
  .m-l-15 {
    margin-left: 15px;
  }
  .m-l-47 {
    margin-left:47px;
  }
  .m-l-checkboxAT {
    margin-left: 60px;
  }
}
