<div *ngIf="record && record.HasAccess" class="row allRecords">
  <div class="col-xs-2 col-md-1">
    <div class="checkbox checkbox-inline m-l-checkboxAT">
      <span>
        <input aria-label="recordIsSelected" type="checkbox" [(ngModel)]="record.isSelected" (ngModelChange)="toggleSelection(record)"/>
      </span>
    </div>
  </div>
  <div class="col-xs-9 col-md-11 p-t-5">
    <test-records-accordion [record]="record"></test-records-accordion>
  </div>
</div>
