<div class="container">
  <h1>Sorry, we can no longer locate this search:</h1>
  <ul>
    <li>We probably closed this session for your privacy because we thought you left.</li>
    <li>Or, could this be an old bookmark?</li>
  </ul>
  <p>Please return to the <a [routerLink]="['']">main search page</a>.</p>
</div>
