<div class="container basicSearch">
  <form (keydown)="keyDownFunction($event)" (ngSubmit)="executeSearch()" #basicSearchForm="ngForm">

    <div class="card searchCtrls dbOptionsSearch m-b-0">
      <div class="card-body card-padding p-0">
        <div class="row">
          <div class="col-md-12 p-t-0">
            <database-selector [defaultSelectedDatabases]="productCodes" (selectedDatabase)="newSelectedDatabases($event);"></database-selector>
          </div>
        </div>
      </div>
    </div>

  <div class="card-form">
    <div class="row p-b-10">
      <div class="col-md-12">
        <h1 class="searchHeading pull-left" translate>HEADER.BASIC_SEARCH</h1>
        <div class="pull-right">
          <br class="show-for-mobile">
          <ul class="top-menu">
            <li>
              <basic-trending #trendingDropdown (close)="onTrendingListClose($event)"></basic-trending>
            </li>
            <li>
              <!--<a (click)="searchTipsDialog.openModal()" id="searchTips" translate>BASIC_SEARCH.SEARCH_TIPS</a>-->
              <a (click)="helpComingSoon.openModal()" id="searchTips" translate>BASIC_SEARCH.SEARCH_TIPS</a>
            </li>
          </ul>
          <br class="show-for-mobile">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" style="height: 55px;">
        <div class="form-group">
          <label class="sr-only" for="searchForInput">Search for:</label>
          <input [(ngModel)]="formData.text"
                 [typeahead]="typeaheadSuggestions"
                 [typeaheadOptionsLimit]="10"
                 [typeaheadWaitMs]="300"
                 [typeaheadMinLength]="4"
                 class="input-lg form-control fg-input" id="searchForInput"  type="text" name="term" autocomplete="off" />
          <button type="submit" class="btn btn-primary btn-sm searchBtnEmb" id="searchForBtn"  data-ui-sref="results" >
            <span class="sr-only">Search</span>
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
              <path
                d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z"/>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 p-t_21">
        <div class="form-group checkboxes">
          <label *ngIf="limitDisplay.peerReviewed" class="checkbox checkbox-inline optionLeft">
            <input type="checkbox" [(ngModel)]="formData.filter.peerReviewed" name="peerReviewed">
            <span translate>BASIC_SEARCH.PEER_REVIEWED</span>
          </label>
          <label *ngIf="limitDisplay.ftOnly" class="checkbox checkbox-inline optionLeft">
            <input type="checkbox" [(ngModel)]="formData.filter.ftOnly" name="ftOnly">
            <span translate>BASIC_SEARCH.APA_FULL_TEXT</span>
          </label>
          <label *ngIf="limitDisplay.testAvailable" class="checkbox checkbox-inline optionLeft">
            <input type="checkbox" [(ngModel)]="formData.filter.testAvailable" name="testAvailable">
            <span translate>CHECKBOX.TEST_AVAILABLE</span>
          </label>
          <label *ngIf="limitDisplay.latestUpdate" class="checkbox checkbox-inline optionLeft">
            <input type="checkbox" [(ngModel)]="formData.filter.latestUpdate" name="latestUpdate">
            <span translate>BASIC_SEARCH.LATEST_UPDATE</span>
          </label>
        </div>
      </div>
    </div>
  </div>

  <search-tips #searchTipsDialog  ></search-tips>
  <coming-soon-modal #helpComingSoon [title]="'APA PsycNET Help'" [source]="'help'"></coming-soon-modal>

  </form>
  <div style="height:300px;"></div>
</div>
