@import '../../../core/pn';
.basicSearch {
  margin-top:1em;
  width: auto;
  ul.top-menu {
    li {
      &:last-child {
        border-right: none;
      }
      a {
        &:hover {
          text-decoration: none;
        }
        cursor:pointer;
        color: @md-blue;
        //font-weight: 100;
        font-size: 1em;
        line-height: 13px;
        text-align: center;
        padding: 8px;
      }
      border-right: solid 1px #f7f7f7;
      display: inline;
    }
  }
  h1.searchHeading {
    font-size: 1.44em;
    color: @dk-blue;
    margin: 0px !important;
  }
  input.input-lg {
    font-size: 17px;
    line-height: 1.3333333;
    border-radius: 0px;
    height: 45px;
    font-weight: 100;
    border: solid 1px @dk-gray;
    padding: 0.21em;
    color: @dk-gray;
  }
  .card-form {
    width: 99%;
    float: right;
  }
}
.dbOptionsSearch{
  margin-bottom:1em;
}

.top-menu {
  margin-bottom: 0;
}
.searchBtnEmb {
  svg {
    path {
      fill: @lightest;
    }
  }
  margin-top: 10px;
  z-index: 2;
  float: right;
  top: -52px;
  right: 3px;
  cursor: pointer;
  border: 0px;
  position: relative;
  background-color: @lt-blue;
  height: 39px;
  width: 55px;
}
.checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}
.form-group {
  &.checkboxes {
    @media (min-width: 786px) {
      flex-direction: row;
    }
    label {
      line-height: 24px;
      font-size: 1.14em;
      color: @dk-gray;
      font-weight: 100;
    }
    display: flex;
    flex-direction: column;
  }
}
.p-b-10 {
  padding-bottom: 10px !important;
}
.p-t_21 {
  @media (max-width: 767px) {
    margin-top: -21px;
  }
}
