<div *ngIf="tabRecords && tabRecords.length" class="tabscontainer col-md-12 p-0">
  <div class="row">
    <ul class="nav nav-tabs">
      <li class="test-tab" *ngIf="tabsData && tabsData.testDevelopment && tabsData.testDevelopment.length" [ngClass]="{active: selectedTab=='Test Development'}">
        <a (click)="selectTab('Test Development')"><span translate>{{ 'Test Development' | tr_alias:'RECORD_DISPLAY' }}</span> (<span class="tests-count">{{tabsData?.testDevelopment.length}}</span>)</a>
      </li>
      <li class="test-tab" *ngIf="tabsData && tabsData.testReview && tabsData.testReview.length" [ngClass]="{active: selectedTab=='Test Review'}">
        <a (click)="selectTab('Test Review')"><span translate>{{ 'Test Review' | tr_alias:'RECORD_DISPLAY' }}</span> (<span class="tests-count">{{tabsData?.testReview.length}}</span>)</a>
      </li>
      <li class="test-tab" *ngIf="tabsData && tabsData.testUse && tabsData.testUse.length" [ngClass]="{active: selectedTab=='Test Use'}">
        <a (click)="selectTab('Test Use')"><span translate>{{ 'Test Use' | tr_alias:'RECORD_DISPLAY' }}</span> (<span class="tests-count">{{tabsData?.testUse.length}}</span>)</a>
      </li>
      <li class="test-tab all" *ngIf="showAllRecords()" [ngClass]="{active: selectedTab=='All'}">
        <a (click)="selectTab('All')"><span translate>{{ 'All' | tr_alias:'COMMON_LABEL' }}</span> (<span class="tests-count">{{tabRecords?.length}}</span>)</a>
      </li>
    </ul>
  </div>

  <div *ngIf="selectedTab" class="row">
    <div class="card" *ngIf="selectedTab!='All'">
      <div class="actionBar col-md-12">
        <record-action-bar [record]="selectedRecord" showComponents="['mail', 'print']" [isAllowed]="isAllowed"></record-action-bar>
      </div>
    </div>
    <div class="card" *ngIf="selectedTab=='All'">
      <div class="col-xs-3 col-md-2 toolbar">
        <select-all [isSelectAll] ="isSelectAll" (toggleAllSelection)="toggleAllSelection($event)"></select-all>
      </div>
      <div class="col-xs-10 col-md-10 p-l-0">
        <div class="actionBar">
          <record-action-bar [recordList]="selectedRecordList" showComponents="['mail', 'print']" [isAllowed]="isAllowed"></record-action-bar>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div *ngFor="let record of currentTabRecords">
      <test-records-accordion *ngIf="selectedTab!='All'" [record]="record" ></test-records-accordion>
      <all-records *ngIf="selectedTab=='All' && showAllRecords()" [record]="record" (recordSelect)="setAllSelection($event)"></all-records>
    </div>
  </div>
</div>

