@import '../../../core/pn';

@media(min-width: 992px) {
  .toolbar {
    margin-left: -26px;
  }
}

.tabscontainer {
  .card {
    display: flex;
    height: 49px;
    //.actionBar {
    //  margin-left: 15px;
    //}
    .facetBody;
  }
  .nav-tabs {
    display: flex;
    border-bottom: solid 5px @dk-blue !important;
    li {
      a {
        cursor: pointer;
        text-decoration: none;
        color: @dk-blue;
        font-weight: 100;
        font-size: 1.09em;
        margin-right: 2px;
        line-height: 1.42857143;
        border: 1px solid transparent !important;
        border-radius: 2px 2px 0 0;
      }
    }
    li:not(:first-child):after {
      position: absolute;
      content: "";
      width: 1px;
      height: 12px;
      background-color: #008cd2;
      color: #f7f7f7;
      left: -4px;
      top: 16px;
    }
  }

  .offset-left {
    margin-left: -100px;
  }
}
