<div bsModal #emailRecordModal="bs-modal" (onHidden)="onHidden()" class="modal face" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="closeModal()">
          <span>&times;</span>
        </button>
        <h2 class="modal-title" translate>{{ 'Email' | tr_alias:'RECORD_DISPLAY' }}</h2>
      </div>
      <div class="modal-body">
        <div *ngIf="showForm">
          <form #emailForm="ngForm" class="form-horizontal" novalidate="" autocomplete="off">
            <!-- To -->
            <div class="form-group">
              <label class="col-xs-3 control-label" for="to{{parentId}}" translate>{{ 'To' | tr_alias:'RECORD_DISPLAY' }}</label>
              <div class="col-xs-9">
                <input type="email" class="form-control" name="to" id="to{{parentId}}" [(ngModel)]="email.to" required="true" placeholder="somebody@somewhere.com" [pattern]="emailPattern">
              </div>
            </div>

            <!-- From -->
            <div class="form-group">
              <span class="col-xs-3 control-label fromLabel" translate>{{ 'From' | tr_alias:'RECORD_DISPLAY' }}</span>
              <div class="col-xs-9">
                <span class="fromText">{{email.from}}</span>
              </div>
            </div>


            <!-- Subject -->
            <div class="form-group">
              <label class="col-xs-3 control-label" for="subject{{parentId}}" translate>{{ 'Subject' | tr_alias:'RECORD_DISPLAY' }}</label>
              <div class="col-xs-9">
                <input name="subject" id="subject{{parentId}}" type="text" [(ngModel)]="email.subject" class="form-control" required="true">
              </div>
            </div>

            <!-- Message -->
            <div class="form-group">
              <label class="col-xs-3 control-label" for="message{{parentId}}" translate>{{ 'Message' | tr_alias:'RECORD_DISPLAY' }}</label>
              <p class="col-xs-9">
                <textarea name="message" id="message{{parentId}}" class="form-control" rows="5" [(ngModel)]="email.message"></textarea>
              </p>
            </div>


            <!-- Display -->
            <div class="form-group" *ngIf="!fullTextRecord">
              <label class="col-xs-3 control-label" for="email-display{{parentId}}" translate>{{ 'Display' | tr_alias:'RECORD_DISPLAY' }}</label>
              <p class="multiSelect col-xs-8">
                <select class="form-control" id="email-display{{parentId}}" [(ngModel)]="email.display" name="display" required>
                  <option *ngFor="let display of displayList" [value]="display.value" translate>{{ display.name | tr_alias:'RECORD_DISPLAY' }}</option>
                </select>
              </p>
            </div>

            <fieldset>
              <legend></legend>

              <!-- Include Search History -->
              <div class="form-group" *ngIf="!fullTextRecord && !isMyList">
                <div class="col-xs-offset-2 col-xs-5">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="searchHistory" [(ngModel)]="email.includeSearch"> <span translate>{{ 'Include Search History' | tr_alias:'RECORD_DISPLAY' }}</span>
                    </label>
                  </div>
                </div>
              </div>

              <!-- selected Type -->
              <div class="form-group" *ngIf="fullTextRecord !=true">
                <div class="col-xs-offset-2 col-xs-10">
                  <label class="radio radio-inline"  *ngIf="recordsPerPage">
                    <input type="radio" value="Selected Records - All Pages" name="selectedType" [(ngModel)]="email.selectedType" /> <span translate>{{ 'Selected Records All Pages' | tr_alias:'RECORD_DISPLAY' }}</span> ({{selectedRecordUIDList.length}})
                  </label>

                  <label class="radio radio-inline">
                    <input type="radio" value="Selected Records" name="selectedType" [(ngModel)]="email.selectedType" /> <span translate>{{ 'Selected Records on Page' | tr_alias:'RECORD_DISPLAY' }}</span> (<span class="selected-records-count">{{currentPageSelectedRecordUIDList.length}}</span>)
                  </label>

                  <label class="radio radio-inline" *ngIf="recordsPerPage">
                    <input type="radio" value="All Records on Page" name="selectedType" [(ngModel)]="email.selectedType" /> <span translate>{{ 'All Records on Page' | tr_alias:'RECORD_DISPLAY' }}</span> ({{recordsPerPage}})
                  </label>
                </div>
              </div>
            </fieldset>

            <div class="form-group" *ngIf="isFormInValid">
              <p class="col-xs-offset-2 error-msg" *ngIf="_getUIDList().length === 0"><span translate>{{ 'No Records Selected' | tr_alias:'COMMON_LABEL' }}</span></p>
              <p class="col-xs-offset-2 error-msg" *ngIf="_getUIDList().length > 250"><span translate>{{ 'You can email a maximum of 250 records at a time. Please select 250 records or fewer.' | tr_alias:'COMMON_LABEL' }}</span></p>
            </div>

            <div class="form-group" *ngIf="fullTextRecord !=true">
              <div class="col-sm-offset-10 col-sm-2">
                <button type="submit" class="btn btn-success" (click)="sendEmail()" [disabled]="!emailForm.form.valid || submitted"><span translate>{{ 'Send' | tr_alias:'RECORD_DISPLAY' }}</span></button>
              </div>
            </div>
            <div class="form-group" *ngIf="fullTextRecord ==true">
              <div class="col-sm-offset-10 col-sm-2">
                <button type="submit" class="btn btn-success" (click)="sendFullTextEmail()" [disabled]="!emailForm.form.valid || submitted"><span translate>{{ 'Send' | tr_alias:'RECORD_DISPLAY' }}</span></button>
              </div>
            </div>

          </form>
        </div>

        <div class="row" *ngIf="!showForm || submitted">
          <p><span translate>{{'Your results have been emailed to' | tr_alias:'RECORD_DISPLAY'}}</span> {{email.to}}.</p>
          <div class="col-sm-offset-10 col-sm-2">
            <button type="button" class="btn btn-success" (click)="closeModal()"><span translate>{{ 'Close' | tr_alias:'COMMON_LABEL' }}</span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
