@import '../../core/pn';

.fromLabel {
  font-weight: 600
}

.fromText {
  vertical-align: -6px;
  color: #555;
}

.error-msg{
  color: @warning;
}

.multiSelect {
  &:after {
    @media screen and (max-width: 768px) {
      right: -3%;
    }
    position: absolute;
    content: "▾";
    color: @dk-gray;
    font-size: 150%;
    background: none;
    pointer-events: none;
    right: -6%;
    top: 2px;
    float: right;
    }
  select {
    width: 115%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}
.radio-inline+.radio-inline {
  padding-left: 11px !important;
}
