<div class="col-md-offset-1 col-sm-offset-1 col-md-3 col-sm-3 col-xs-12 p-l-4em">
  <a class="showall" (click)="toggleAllAbstracts()">
     <span>
        <span *ngIf="!isAllAbsOpen">
            <svg style="width:18px;height:18px;" viewBox="0 0 24 24">
                <path d="M10,17L15,12L10,7V17Z"/>
            </svg>
            <span translate>{{'Show All Abstracts' | tr_alias:'SEARCH_RESULTS'}}</span>
        </span>
        <span *ngIf="isAllAbsOpen">
            <svg style="width:18px;height:18px;" viewBox="0 0 24 24">
                <path d="M7,10L12,15L17,10H7Z"></path>
            </svg>
          <span translate>{{'Hide All Abstracts' | tr_alias:'SEARCH_RESULTS'}}</span>
        </span>
     </span>
  </a>
</div>
