@import '../../core/pn';

.showall {
  svg {
    path {
      fill: @lt-blue;
    }
  }
  span {
    span {
      display: flex;
      color: @lt-blue;
      font-size: 0.95em;
    }
  }
  margin-top: 5px;
  cursor: pointer;
  text-decoration: none;
  padding: 0.05em;
}
