<div bsModal #ipAddressChangedModal="bs-modal" class="modal face" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">Important</div>
      </div>
      <div class="modal-body">
        <p>Our security system has detected you are trying to access APA PsycNET using a different IP. Your session has been cancelled.</p>
        <p>To reconnect, please re-authenticate from a valid IP or login using your APA PsycNET username and password.</p>
      </div>
    </div>
  </div>
</div>
