<div class="card hidden-xs">
  <div>
    <h2 translate>COMMON_LABEL.COMBINE_SEARCHES</h2>
    <p class="darkGray text-center">{{'COMMON_LABEL.YOU_HAVE' | translate:lang}} {{selectedSearches.length}} {{'COMMON_LABEL.SELECTED_SEARCHES' | translate:lang}}</p>
    <div class="selection" *ngIf="selectedSearches.length">
      <ul>
        <li *ngFor="let item of selectedSearches; let count = index">
          <p>
            <i class="redColor pointer glyphicon glyphicon-remove " (click)="removeSelectedSearchItem(count)"></i>
            <friendly-query [text]="item.friendlyQuery"></friendly-query>
            <!--<span *ngFor="let query of item?.query.criteria; let i = index">
              {{query.field}}: <strong>{{query.value}}</strong> <span *ngIf ="i < item.query.criteria">{{query.operator}}</span>
						</span>-->
          </p>
        </li>
      </ul>
    </div>
  </div>
  <hr class="dk">
  <div class="text-center">
    <span class="label">{{'COMMON_LABEL.RUN_SEARCH_USING' | translate:lang}} </span>
    <select [(ngModel)]="operator" aria-label="Search Operator" class="searchOperator">
      <option *ngFor="let i of lookupOperators" [value]="i">{{i | tr_alias:"LIST" | translate:lang}}</option>
    </select>
  </div>

  <div class="text-center">
    <button class="btn btn-primary runSearch" (click)="performSearch()" [disabled]="selectedSearches.length == 0">
      <span translate>COMMON_LABEL.RUN_SEARCH</span>
    </button>
  </div>
  <div *ngIf="selectedSearches.length">
    <a (click)="clearAll()" style="text-align: center" class="bg-light" translate>BUTTONS.CLEAR_ALL</a>
  </div>
  <br/>
</div>
<div class="card visible-xs">
  <div class="text-center">
    <span class="label">{{'COMMON_LABEL.RUN_SEARCH_USING' | translate:lang}} </span>
    <select [(ngModel)]="operator" aria-label="Search Operator">
      <option *ngFor="let i of lookupOperators" [value]="i">{{i}}</option>
    </select>
    <button class="btn btn-primary btn-xs" (click)="performSearch()" [disabled]="selectedSearches.length == 0" translate>BUTTONS.GO</button>
  </div>
  <br/>
</div>
