@import '../../../../core/pn';

h2 {
  .facetHeading;
  text-transform: none;
}

.card {
  @media(max-width: 768px){
    padding-top :15px;
    min-height: 50px;
    .btn-primary{
      margin-top : auto !important;
    }
  }
  a {
    &:hover {
      text-decoration: none;
    }
    &.active {
      svg {
        display: block;
        float: right;
        margin-top: -3px;
        margin-right: -13px;
      }
      .facetLeftActive;
    }
    svg {
      display: none;
    }
    .facetLeft;
  }
  .label {
    font-weight: normal;
    color: @dk-gray;
    padding-left: 34px;
    font-size: 100%;
  }
  .checkbox input {
    z-index: 1;
    cursor: pointer;
    margin-top: 1px;
  }
  .facetBody;
  div {
    &:last-child {
      padding-bottom: 1px;
    }
  }

  .darkGray {
    color: @dk-gray;
    margin-top: 1em;
  }
  .smallcase {
    text-transform: lowercase;
  }

  .dk {
    border-color: @dk-gray;
    width: 89%;
    border-width: 1px 0px 0px;
    border-style: dotted none none;
    margin-top: 13px;
    margin-bottom: 13px;
  }

  .redColor {
    color: @warning;
    font-size: 12px;
  }
  .selection ul {
    list-style-type: none;
  }
  .pointer {
    cursor: pointer;
  }
  .btn-primary {
    margin-top: 1em;
    border: 0;
    background-color: @lt-blue;
    border-radius: 0;
    text-transform: uppercase;
  }
  .bg-light {
    background-color: @lt-gray;
  }
}
