<svg *ngIf="!customLogoImage"
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:cc="http://creativecommons.org/ns#"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:svg="http://www.w3.org/2000/svg"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 14332.667 1035.72"
    height="1035.72"
    width="14332.667"
    xml:space="preserve"
    id="svg2"
    version="1.1"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
       <!--<metadata id="metadata8">
     <rdf:RDF>
            <cc:Work rdf:about="">
                <dc:format>image/svg+xml</dc:format>
                <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
            </cc:Work>
        </rdf:RDF>
    </metadata>-->
    <defs id="defs2" />
    <g transform="matrix(1.3333333,0,0,-1.3333333,0,1035.72)" id="g10">
        <g transform="scale(0.732788)" id="g19">
            <path
         id="path13"
         style="fill:#254fa0;fill-opacity:1;fill-rule:nonzero;stroke:none"
         d="m 93.1289,229.891 c 22.4731,-32.633 48.4761,-62.645 77.5121,-89.45 h 717.89 c 29.039,26.805 55.043,56.817 77.512,89.45 H 93.1289" />
            <path
         id="path15"
         style="fill:#254fa0;fill-opacity:1;fill-rule:nonzero;stroke:none"
         d="M 33.3008,344.855 C 44.9727,313.539 59.4531,283.578 76.5625,255.383 H 982.609 c 17.11,28.195 31.591,58.156 43.271,89.472 H 33.3008" />
            <path
         id="path17"
         style="fill:#254fa0;fill-opacity:1;fill-rule:nonzero;stroke:none"
         d="M 93.1289,830.156 H 966.043 c -22.469,32.629 -48.473,62.641 -77.481,89.446 H 170.633 C 141.605,892.797 115.602,862.785 93.1289,830.156" />
            <path
         id="path21"
         style="fill:#254fa0;fill-opacity:1;fill-rule:nonzero;stroke:none"
         d="M 858.727,945.074 C 768.34,1016.96 654.016,1060.04 529.586,1060.04 405.16,1060.04 290.832,1016.96 200.449,945.074 H 858.727" />
            <path
         id="path23"
         style="fill:#254fa0;fill-opacity:1;fill-rule:nonzero;stroke:none"
         d="M 0,530.031 C 0,514.918 0.789062,500.047 2.03516,485.297 H 1057.17 c 1.24,14.75 2.01,29.621 2.01,44.734 0,15.098 -0.77,29.996 -2.01,44.742 H 2.03516 C 0.789062,560.027 0,545.129 0,530.031" />
            <path
         id="path25"
         style="fill:#254fa0;fill-opacity:1;fill-rule:nonzero;stroke:none"
         d="M 200.426,115 C 290.832,43.0859 405.16,0 529.586,0 654.035,0 768.34,43.0859 858.746,115 h -658.32" />
            <path
         id="path27"
         style="fill:#254fa0;fill-opacity:1;fill-rule:nonzero;stroke:none"
         d="M 76.5625,804.691 C 59.4531,776.469 44.9492,746.512 33.293,715.188 H 1025.9 c -11.7,31.324 -26.181,61.281 -43.291,89.503 H 76.5625" />
            <path
         id="path29"
         style="fill:#254fa0;fill-opacity:1;fill-rule:nonzero;stroke:none"
         d="M 4.77734,459.824 C 8.82812,429.102 15.4414,399.148 24.5234,370.328 H 1034.67 c 9.09,28.82 15.68,58.774 19.72,89.496 H 4.77734" />
            <path
         id="path31"
         style="fill:#254fa0;fill-opacity:1;fill-rule:nonzero;stroke:none"
         d="M 24.5234,689.715 C 15.4102,660.867 8.82812,630.973 4.77734,600.219 H 1054.43 c -4.08,30.754 -10.67,60.648 -19.76,89.496 H 24.5234" />
            <path
         id="path33"
         style="fill:#d2d2d1;fill-opacity:1;fill-rule:nonzero;stroke:none"
         d="m 419.309,485.871 c 0,0 -32.68,3.949 -77.434,159.309 h -0.008 c -0.902,2.554 -1.769,5.035 -2.676,7.652 -37.914,109.766 -106.281,231.25 -254.5426,151.742 0,0 32.6996,-3.918 77.4536,-159.394 v 0 c 0.898,-2.5 1.765,-4.95 2.656,-7.563 C 202.707,527.879 271.066,406.363 419.309,485.871 M 448.461,115.254 H 606.199 V 805.512 H 448.461 Z M 974.523,805.512 H 780 L 635.652,484.934 h 194.493 l 144.378,320.578" />
            <path
         id="path35"
         style="fill:#201d1c;fill-opacity:1;fill-rule:nonzero;stroke:none"
         d="m 1756.81,371.633 68.15,-149.899 h 80.12 l -285.44,623.2 -285.48,-623.2 h 80.07 l 68.25,149.899 z m -30.95,68.101 H 1513.4 l 106.24,241.825 z m 479.8,-226.875 125.48,285.313 h 1.12 l 48.83,-276.438 h 53.84 l -85.44,436.211 -143.83,-329.652 -143.74,329.652 -85.4,-436.211 h 53.85 l 48.81,276.438 h 1.12 z m 331.4,8.875 h 224.79 v 47.746 h -172.67 v 158.168 h 167.68 v 47.758 h -167.68 v 117.082 h 172.67 v 47.742 h -224.79 z m 472.84,182.043 c 60.54,7.246 100.46,57.196 100.46,117.102 0,39.965 -19.94,79.359 -54.96,99.914 -33.3,18.848 -73.21,19.437 -110.43,19.437 h -63.25 V 221.734 h 52.16 v 177.071 h 21.63 l 123.2,-177.071 h 63.31 z m -76.02,189.817 h 13.91 c 51.58,0 113.75,-9.469 113.75,-74.926 0,-66.59 -57.72,-76.574 -111.03,-76.574 h -16.63 z m 351.22,46.636 h -52.15 V 221.734 h 52.15 z m 442.42,-19.437 c -31.59,19.437 -68.79,28.305 -105.43,28.305 -123.21,0 -222.52,-96.606 -222.52,-220.36 0,-120.972 98.74,-215.879 218.09,-215.879 36.62,0 77.71,10.524 109.86,29.45 v 61.597 c -31.05,-27.742 -70.45,-43.293 -111.55,-43.293 -93.26,0 -164.27,78.25 -164.27,169.801 0,92.688 71.62,170.969 165.38,170.969 39.42,0 80.5,-14.445 110.44,-41.071 z m 365.14,-294.18 47.77,-104.879 h 55.98 L 3996.65,657.945 3796.8,221.734 h 56.11 l 47.7,104.879 z M 4071,374.359 h -148.72 l 74.37,169.317 z m 210.91,-152.625 h 52.22 v 311.911 l 314.13,-329.11 V 640.23 h -52.21 V 331.074 l -314.14,329.172 z m 848.69,250.524 h 42.83 c 113.35,0 209.27,48.394 209.27,174.48 0,109.352 -57.09,172.844 -241.02,172.844 h -85.57 V 221.734 h 74.49 z m 0,280.73 h 19.84 c 73.69,0 162.54,-11.117 162.54,-104.679 0,-95.106 -82.5,-109.403 -158.55,-109.403 h -23.83 z m 556.09,-167.156 c -22.73,40.5 -61.03,63.266 -107.64,63.266 -63.28,0 -123.23,-40.528 -123.23,-108.235 0,-58.289 43.33,-85.468 91.02,-106.015 l 28.89,-12.223 c 36.06,-14.926 72.15,-34.367 72.15,-79.355 0,-43.809 -32.18,-81.551 -77.2,-81.551 -44.88,0 -81.55,33.281 -80.96,79.328 L 5437,329.969 c 8.83,-67.114 61.57,-117.11 129.28,-117.11 74.93,0 133.77,54.407 133.77,130.411 0,69.945 -44.39,102.695 -103.78,125.964 l -29.99,11.719 c -26.08,9.973 -58.28,27.199 -58.28,59.91 0,36.637 36.62,59.375 69.98,59.375 31.54,0 51.6,-13.3 67.12,-39.394 z M 5905.96,403.777 V 221.734 h 52.13 V 403.777 L 6094.7,640.23 h -59.94 L 5932.03,461.473 5829.33,640.23 h -59.91 z m 588.93,217.016 c -31.64,19.437 -68.83,28.305 -105.48,28.305 -123.15,0 -222.52,-96.606 -222.52,-220.36 0,-120.972 98.74,-215.879 218.09,-215.879 36.63,0 77.75,10.524 109.91,29.45 v 61.597 c -31.04,-27.742 -70.51,-43.293 -111.56,-43.293 -93.24,0 -164.3,78.25 -164.3,169.801 0,92.688 71.66,170.969 165.41,170.969 39.42,0 80.49,-14.445 110.45,-41.071 z M 6660.34,471.516 V 640.23 h -52.22 V 221.734 h 52.22 v 200.891 h 199.23 V 221.734 h 52.1 V 640.23 h -52.1 V 471.516 Z m 572.15,177.582 c -119.87,0 -219.19,-98.254 -219.19,-218.121 0,-124.348 98.23,-218.118 219.19,-218.118 121.04,0 219.27,93.77 219.27,218.118 0,119.867 -99.36,218.121 -219.27,218.121 m 0,-387.379 c -90.49,0 -167.06,73.82 -167.06,169.258 0,92.125 68.83,169.261 167.06,169.261 98.24,0 167.08,-77.136 167.08,-169.261 0,-95.438 -76.62,-169.258 -167.08,-169.258 m 377.42,378.511 h -52.13 V 221.734 h 179.2 v 47.746 h -127.07 z m 406.82,8.868 c -119.92,0 -219.28,-98.254 -219.28,-218.121 0,-124.348 98.23,-218.118 219.28,-218.118 120.95,0 219.22,93.77 219.22,218.118 0,119.867 -99.33,218.121 -219.22,218.121 m 0,-387.379 c -90.45,0 -167.09,73.82 -167.09,169.258 0,92.125 68.83,169.261 167.09,169.261 98.23,0 167.08,-77.136 167.08,-169.261 0,-95.438 -76.62,-169.258 -167.08,-169.258 m 556.43,170.937 V 384.93 h 108.22 c -2.24,-68.301 -72.11,-124.317 -137.07,-124.317 -90.51,0 -162.62,83.278 -162.62,170.907 0,93.82 73.21,169.863 167.09,169.863 50.99,0 101.51,-27.211 131.49,-68.281 l 36.61,34.988 c -41.04,51.625 -105.44,81.008 -170.4,81.008 -120.43,0 -216.98,-98.77 -216.98,-219.227 0,-116.023 94.34,-217.012 211.46,-217.012 117.13,0 198.12,88.231 198.12,203.141 v 16.656 z m 315.63,207.574 h -52.14 V 221.734 h 52.14 z m 438.49,-19.437 c -31.67,19.437 -68.84,28.305 -105.42,28.305 -123.27,0 -222.65,-96.606 -222.65,-220.36 0,-120.972 98.81,-215.879 218.19,-215.879 36.62,0 77.68,10.524 109.88,29.45 v 61.597 c -31.11,-27.742 -70.48,-43.293 -111.6,-43.293 -93.22,0 -164.3,78.25 -164.3,169.801 0,92.688 71.6,170.969 165.41,170.969 39.44,0 80.48,-14.445 110.49,-41.071 z m 369.07,-294.18 47.71,-104.879 h 56.03 L 9600.31,657.945 9400.5,221.734 h 56.04 l 47.73,104.879 z m -21.65,47.746 h -148.78 l 74.39,169.317 z m 268.04,265.871 h -52.13 V 221.734 h 179.19 v 47.746 h -127.06 z m 854.16,-268.597 68.2,-149.899 h 80.1 l -285.4,623.2 -285.5,-623.2 h 80.1 l 68.2,149.899 z m -30.9,68.101 h -212.5 l 106.3,241.825 z m 495,146.098 c -22.7,40.5 -61,63.266 -107.6,63.266 -63.3,0 -123.3,-40.528 -123.3,-108.235 0,-58.289 43.3,-85.468 91.1,-106.015 l 28.9,-12.223 c 36,-14.926 72.1,-34.367 72.1,-79.355 0,-43.809 -32.1,-81.551 -77.2,-81.551 -44.9,0 -81.6,33.281 -81,79.328 l -52.7,-11.078 c 8.9,-67.114 61.6,-117.11 129.3,-117.11 74.9,0 133.7,54.407 133.7,130.411 0,69.945 -44.3,102.695 -103.7,125.964 l -30,11.719 c -26.1,9.973 -58.3,27.199 -58.3,59.91 0,36.637 36.6,59.375 70,59.375 31.6,0 51.6,-13.3 67.1,-39.394 z m 353.6,0 c -22.7,40.5 -61.1,63.266 -107.7,63.266 -63.2,0 -123.2,-40.528 -123.2,-108.235 0,-58.289 43.3,-85.468 91,-106.015 l 28.9,-12.223 c 36,-14.926 72.2,-34.367 72.2,-79.355 0,-43.809 -32.2,-81.551 -77.2,-81.551 -45,0 -81.6,33.281 -81,79.328 l -52.7,-11.078 c 8.9,-67.114 61.6,-117.11 129.2,-117.11 75,0 133.8,54.407 133.8,130.411 0,69.945 -44.4,102.695 -103.8,125.964 l -30,11.719 c -26,9.973 -58.3,27.199 -58.3,59.91 0,36.637 36.7,59.375 70,59.375 31.7,0 51.6,-13.3 67.1,-39.394 z m 315.8,63.266 c -119.9,0 -219.3,-98.254 -219.3,-218.121 0,-124.348 98.3,-218.118 219.3,-218.118 121,0 219.2,93.77 219.2,218.118 0,119.867 -99.4,218.121 -219.2,218.121 m 0,-387.379 c -90.5,0 -167,73.82 -167,169.258 0,92.125 68.7,169.261 167,169.261 98.2,0 167.1,-77.136 167.1,-169.261 0,-95.438 -76.7,-169.258 -167.1,-169.258 m 633.9,359.074 c -31.6,19.437 -68.9,28.305 -105.5,28.305 -123.2,0 -222.5,-96.606 -222.5,-220.36 0,-120.972 98.8,-215.879 218.1,-215.879 36.6,0 77.7,10.524 109.9,29.45 v 61.597 c -31.1,-27.742 -70.5,-43.293 -111.6,-43.293 -93.2,0 -164.3,78.25 -164.3,169.801 0,92.688 71.6,170.969 165.4,170.969 39.4,0 80.5,-14.445 110.5,-41.071 z m 156.2,19.437 h -52.1 V 221.734 h 52.1 z m 381.3,-313.617 47.7,-104.879 h 56.1 l -199.9,436.211 -199.8,-436.211 h 56 l 47.8,104.879 z m -21.7,47.746 h -148.7 l 74.3,169.317 z m 332.5,218.129 h 99.4 v 47.742 h -250.9 v -47.742 h 99.4 V 221.734 h 52.1 z m 246.5,47.742 h -52.2 V 221.734 h 52.2 z m 319.7,8.868 c -119.9,0 -219.3,-98.254 -219.3,-218.121 0,-124.348 98.1,-218.118 219.3,-218.118 120.9,0 219,93.77 219,218.118 0,119.867 -99.2,218.121 -219,218.121 m 0,-387.379 c -90.6,0 -167.2,73.82 -167.2,169.258 0,92.125 68.8,169.261 167.2,169.261 98.1,0 166.9,-77.136 166.9,-169.261 0,-95.438 -76.6,-169.258 -166.9,-169.258 m 324.1,-39.985 h 52.1 v 311.911 l 314.3,-329.11 V 640.23 h -52.2 V 331.074 l -314.2,329.172 V 221.734" />
        </g>
    </g>
</svg>

<a *ngIf="customLogoImage && customLogoImageLink" href="{{customLogoImageLink}}" target="_blank"><img src="{{customLogoImage}}" /></a>
