svg {
  @media screen {
    @media (min-width: 992px) {
      display: inline-block;
      margin-left: 13px;
      width: 177px;
      height: 41px;
      margin-top: 27px;
      float: left;
    }
    @media (min-width: 1200px) {
      margin-left: 21px;
      width: 278px;
      height: 41px;
    }
  }
  display: none;
}

img {
  height: 39px;
  @media screen {
    @media (min-width: 992px) {
      display: inline-block;
      margin-left: 13px;
      margin-top: 27px;
      float: left;
    }
    @media (min-width: 1200px) {
      margin-left: 21px;
    }
  }
  display: none;
}
