.cleanedUp {
  background: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
}
.optionsToggle {
  @media screen {
    @media (min-width: 768px) {
      margin-left: 0px;
      margin-top: 5px;
    }
    @media (min-width: 992px) {
      &.toggled {
        svg {
          path {
            fill: @dk-gray;
          }
        }
        background: none;
        color: @dk-gray;
        margin-top: 10px;
        left: 0;
        margin-left: 2%;
      }
      left: 50%;
      margin-left: -499px;
      margin-top: 0;
    }
    @media (min-width: 1035px) {
      &.toggled {
        svg {
          path {
            fill: @dk-gray;
          }
        }
        background: none;
        color: @dk-gray;
        margin-top: 10px;
        left: 50%;
        margin-left: -501px;
      }
      left: 0;
      margin-left: 1.25%;
      margin-top: 0;
    }
    @media (min-width: 1140px) {
      &.toggled {
        svg {
          path {
            fill: @dk-gray;
          }
        }
        background: none;
        color: @dk-gray;
        margin-top: 10px;
      }
      left: 50%;
      margin-left: -556px !important;
    }
  }
  position: absolute;
  margin-left: 0;
  margin-top: 5px;
  left: 21px;
  box-shadow: none;
  background-color: @lt-blue;
  font-size: 1.24em;
  height: 34px;
  width: 34px;
  padding: 0px 0.21em;
  border: 0;
  text-transform: uppercase;
  border-radius: 2px;
  //z-index: 99;
  cursor: pointer;
}

.optionsToggleSearch {
  @media screen {
    @media (min-width: 992px) {
      &.toggled {
        svg {
          path {
            fill: @dk-gray;
          }
        }
        background: none;
        color: @dk-gray;
      }
    }
    @media (min-width: 1035px) {
      &.toggled {
        svg {
          path {
            fill: @dk-gray;
          }
        }
        background: none;
        color: @dk-gray;
      }
    }
  }
  position: absolute;
  box-shadow: none;
  background-color: @lt-blue;
  font-size: 1.24em;
  height: 34px;
  width: 34px;
  padding: 0px 0.21em;
  border: 0;
  text-transform: uppercase;
  border-radius: 2px;
  cursor: pointer;
  margin-top: 5px;
}

.btn-primary-white-bg{
  color: #008cd2;
  background-color: #fff;
  border-color: #fff;
}

.btn-primary-white-font{
  background-color: #008cd2;
  color: #ffffff;
}
.flexButton {
  display: flex;
  justify-content: center;
  align-content: center;
/*  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center; */
}


.clear-form {
  text-transform: lowercase !important;
}
