.headings {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
}
.facetHeading {
  background-color: @lt-blue;
  padding: 10px 0 10px 8px;
  margin: 0;
  top: 0;
  text-align: left;
  font-size: 01em;
  text-transform: capitalize;
  color: @lightest;
  font-weight: 100;
}
.searchWithinJournalHeader {
  @media (max-width: 991px) {
    padding: 10px 0 10px 8px;
  }
  @media (min-width: 992px) {
    padding: 10px 0 10px 35px;
  }

  background-color: @lt-blue;
  margin: 0;
  top: 0;
  text-align: left;
  font-size: 01em;
  text-transform: capitalize;
  color: @lightest;
  //font-style: oblique;
  font-weight: 100;
}
.modalHeading {
  font-size: 1.44em;
  color: @dk-blue;
}
.subSection {
  @media screen {
    @media (min-width: 991px) {
      margin: 0;
    }
    @media (max-width: 768px) {
      width: 89%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  span {
    margin-left: 0.34em;
    font-size: 0.89em;
    font-weight: 100;
  }
  position: absolute;
  padding: 15px;
  font-size: 1em;
  line-height: 1.42857143;
  color: @dk-gray;
}
.tertiaryHeading {
  font-weight: 400;
  font-size: 1.44em;
  color: @dk-gray;
}
.tertiarySubHeading {
  font-weight: 400;
  font-size: 1.44em;
  color: #5e5e5e;
  //font-style: italic;
  padding: 8px 8px;
  margin: 20px 0 0 0;
}
.subSection {
  @media screen {
    @media (min-width: 991px) {
      margin: 0;
    }
    @media (max-width: 768px) {
      width: 89%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  span {
    margin-left: 0.34em;
    font-size: 0.89em;
    font-weight: 100;
  }
  position: absolute;
  padding: 15px;
  font-size: 1em;
  line-height: 1.42857143;
  color: @dk-gray;
}
.subheaderElements {
  strong {
    .subSection;
  }
  jumpto {
    @media (min-width: 768px) {
      margin: 8px 0 0 0;
    }
    display: flex;
    flex-flow: row-reverse;
    flex: 1 1 auto;
    margin: 0 0 13px 33.33333334%;
    padding-right: 2.33em;
    height: 30px;
  }
}
.accordionHeadingStyle {
  a {
    strong {
      span {
        font-size: 0.89em;
        font-weight: 100;
        color: @dk-gray;
      }
      line-height: 28px;
      text-transform: capitalize;
    }
    &:hover {
      text-decoration: none;
      cursor: pointer;
      color: @dk-blue;
    }
    display: flex;
  }
  display: flex;
  font-weight: 600;
  font-size: 1em;
  line-height: 1.5em;
  margin-left: 0.89em;
}
