.navlinkContainer {
  //border-right: solid 1px @lt-blue;
  padding: 0 21px;
  height: 52px;
}
.navlinkLg {
  &:hover {
    text-decoration: underline;
  }
  color: @lightest;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  height: 35px;
  min-width: 50px;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  float: left;

  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 21px;

  //font-size: 0.89em;
  cursor: pointer;
}
.navlinkSm {
  color: @lightest;
  font-weight: 100;
  //font-size: 0.79em;
  text-align: center;
  height: 21px;
  line-height: 3px;
  padding-right: 13px;
  padding-left: 13px;
}
.facetLeft {
  position: relative;
  display: block;
  background: none;
  background-color: @lightest;
  border: none;
  color: @md-blue;
  font-weight: 100;
  text-align: left;
  padding: 5px 13px;
  line-height: 1.44em;
  cursor: pointer;
}
.facetLeftActive {
  svg {
    path {
      fill: @dk-gray;
    }
  }
  background-color: @lt-gray;
  color: @dk-gray;
  cursor: pointer;
  padding-left: 0.99em;
  border-radius: 0;
}
.facetBody {
  padding: 0;
  background-color: @lt-gray;
}
.resultLink {
  &:hover {
    text-decoration: none;
  }
  font-size: 1.34em;
  font-weight: 400;
  color: @dk-blue;
}
.resultLinkNo {
  color: @dk-gray;
  font-size: 1.34em;
  font-weight: 100;
}
.resultDataFormat {
  a {
    font-size: inherit;
  }
  color: @dk-gray;
  font-size: 1em;
}
.paginationStyles {
  > li {
    &:first-child {
      a {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
    &.active {
      a {
        &:hover {
          color: @lightest;
          background-color: @dk-blue;
          cursor: pointer;
        }
      }
    }
    a {
      &:hover {
        background: none;
        color: @dk-blue;
        cursor: pointer;
      }
      border: 0;
      padding: 0.34em 0.55em;
    }
  }
  float: right;
  margin: 3px 0 0 0;
}
.backLink {
  svg {
    path {
      fill: @dk-blue;
    }
  }
  &:hover {
    text-decoration: none;
    color: @dk-blue;
  }
  display: flex;
  cursor: pointer;
  padding: 15px;
}
