.resultsCard {
  a {
    &:hover {
      text-decoration: none;
    }
    font-weight: 400;
    font-size: 1.44em;
    line-height: 1em;
    color: @dk-blue;
  }
  display: flex;
  padding: 1em 0 0 0;
  border-bottom: dotted 1px @md-gray;
}
.emptyStateStyle {
  padding: 0 15px;
  font-size: 0.89em;
  color: @dk-gray;
}
.resultsWithImage {
  span {
    strong {
      font-weight: 600;
    }
    font-weight: 100;
    word-break: break-all;
  }
  &:first-child {
    @media screen {
      @media (min-width: 768px) {
        width: 13%;
      }
    }
    width: 34%;
  }
  &:nth-child(2) {
    @media screen {
      @media (min-width: 768px) {
        padding-left: 0;
        width: 87%;
      }
    }
    width: 66%;
    padding-left: 1em;
    line-height: 1.04em;
  }
}
.show-for-mobile {
  @media screen {
    @media (min-width: 768px) {
      display: none;
    }
  }
  display: block;
}
.hide-for-mobile {
  @media screen {
    @media (min-width: 768px) {
      display: block;
    }
  }
  display: none;
}

//handle pagination alignment for mobile devices
.pagination-mob-container{
  margin: 0;
  padding-top: 10px;
  paginationpages, numberedPagination, pagerpagination, termbasedpagination {
    position: relative;
    right: 0;
  }
}

//handle searchA-Z mobile view alignment
browseaz.mobile-view-search-az{
  .facetBody;
  width: 100%;
  margin : 0;
}

.containerStyle {
  &.noborder {
    border: none !important;
  }
  border: solid 1px @lt-gray;
}


.p-0 {
  padding: 0 !important;
}
.p-5 {
  padding: 5px !important;
}
.p-t-5 {
  padding-top: 5px;
}
.p-t-5m {
  @media screen {
    @media (max-width: 768px) {
      padding-top: 5px !important;
    }
  }
}
.p-l-5 {
  padding-left: 5px !important;
}
.p-l-10 {
  padding-left: 10px !important;
}
.p-l-15 {
  padding-left: 15px !important;
}
.p-l-30 {
  padding-left: 30px !important;
}
.p-l-31 {
  padding-left: 31px !important;
}
.p-10 {
  padding: 10px !important;
}
.p-r-10 {
   padding-right: 10px !important;
 }
.m-l-15 {
  margin-left: 15px !important;
}
.p-r-0 {
  padding-right: 0 !important;
}
.p-l-0 {
  padding-left: 0 !important;
}
.p-l-4em {
  padding-left: 4em !important;
}
.p-t-1em {
  padding-top: 1em !important;
}
.m-b-10 {
  margin-bottom: 10px !important;
}
.m-l-5 {
  margin-left: 5px !important;
}
.m-5M {
  @media screen {
    @media (max-width: 768px) {
      margin: 5px !important;
    }
  }
}
.p-0M {
  @media screen {
    @media (max-width: 768px) {
      padding: 0 !important;
    }
  }
}
.m-r-0 {
  margin-right: 0 !important;
}
.p-r-8dk {
  @media screen {
    @media (min-width: 991px) {
      padding-right: 8px !important;
    }
  }
}
.overflow-x-scroll {
  overflow-x: scroll;
}



.results {
  .facets {
    @media (max-width: 991px) {
      .journalFiltersToggled {
        display: flex;
        flex-direction: column;
        margin-top: 55px
      }
      button {
        position: absolute;
      }
    }
  }
}

.hide-for-desktop {
  @media (min-width: 991px) {
    display: none;
  }
}

.hide-for-mobile-inline {
  @media screen {
    @media (min-width: 768px) {
      display: inline-block;
    }
  }
  display: none;
}

.mobileHeightLookup browseaz {
  @media (max-width: 767px) {
    margin-top: 13px;
  }
}
.btn:active {
  box-shadow: none;
}
