@lightest: #ffffff;
@lt-blue: #00BBEA;
@md-blue: #008CD2;
@dk-blue: #0077BF;
@dk-gray: #5E5E5E;
@md-gray: #ececec;
@lt-gray: #e5e5e5;
@darkest: #333333;
@warning: #f44336;
@success: #4CAF50;
@primaryAlt: #FF8000;
@dk-green: #316e2d;
