<div *ngIf="record && record.HasAccess">
  <div *ngIf="loading" class="text-center">
    <loading-indicator loaderText="Loading"></loading-indicator>
  </div>
  <p *ngIf="!loading && record.CitedReferences && record.CitedReferences.numFound =='0'" class="emptyState" translate>RECORD_DISPLAY.NO_REFERENCE_AVAILABLE</p>
  <div *ngIf="!loading && record.CitedReferences">
    <p class="ml15" *ngIf="record.CitedReferences.doc && record.CitedReferences.doc.length > 0"><span translate>{{ 'Number of Citations' | tr_alias:'RECORD_DISPLAY' }}</span>: <span id="countFound">{{record?.CitedReferences?.numFound}}</span>, <span translate>{{ 'Number of Citations Displayed' | tr_alias:'RECORD_DISPLAY' }}</span>: <span id="countDisplayed">{{record?.CitedReferences?.numFound}}</span></p>
    <article *ngFor="let ref of record?.CitedReferences?.doc; let refIndex=index">
      <div class="row">
        <div class="col-xs-1">
          <span>{{ refIndex + 1 }}.</span>
        </div>
        <div class="col-xs-11">
          <span *ngIf="ref.TextRef && ref.TextRef.length>0">{{ref?.TextRef}}</span>
          <span *ngIf="ref.DOI && ref.DOI.length>0">
            <a *ngIf="forPrint !== 'true'" href="{{ref?.DOI | removeHTMLTag | linkDOIInternal:doiLinkPage}}" target="_blank">{{ref?.DOI | linkDOI}}</a>
            <span *ngIf="forPrint === 'true'" [innerHTML]="ref?.DOI | removeHTMLTag | linkDOI"></span>
          </span>
          <br>
          <div *ngIf="forPrint !== 'true'">
            <a *ngIf="ref?.RecordPILink?.length >0" [routerLink]="['/record/', ref?.RecordPILink]">
              <button>PsycINFO</button>
            </a>
            <a [routerLink]="['/search/citedBy/', ref.RecordPILink]" *ngIf="ref.CitedByCount && ref?.RecordPILink?.length >0" >
              <button><span translate>{{ 'Cited by' | tr_alias:'RECORD_DISPLAY' }}</span> ({{ref?.CitedByCount}})</button>
            </a>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>
