@import '../../../core/pn';

.fullRecordDisplay {
  font-size: 13px;
  ul {
    list-style-type: none;
    padding-left: 0;
    li {
      display: block;
    }
  }
  dl {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
  }
  dt {
    float: left;
    width: 25%;
    word-break: inherit;
  }
  dd {
    float: left;
    width: 75%;
    word-break: inherit;
  }

  dt, dd {
    padding: 10px;
  }

  dt:nth-child(4n+1),
  dt:nth-child(4n+1) + dd {
    background-color: @lt-gray;
  }
  .p-r-0 {
    padding-right: 0px !important;
  }
  .p-r-30 {
    padding-right: 30px !important;
  }
  .p-r-20 {
    padding-right: 20px !important;
  }
  .zebra:nth-child(2n+1),
  .zebra:nth-child(2n+1) + .el {
    background-color: @lt-gray;
  }

  .p-b-15 {
    padding-bottom: 15px;
  }

  @media screen and (max-width: 767px) {
    dt.lg {
      height: auto;
    }
  }
  @media screen and (min-width: 768px) {
    dt.lg {
      height: 233px;
    }
  }
  @media screen and (max-width: 767px) {
    dt {
      height: auto;
      float: none;
      width: 100%;
    }
  }
  @media screen and (min-width: 768px) {
    dt {
      min-height: 89px;
    }

    dd {
      min-height: 89px;
    }
  }
  @media screen and (max-width: 767px) {
    li.lg {
      height: auto;
    }
  }
  @media screen and (min-width: 768px) {
    dd.lg {
      height: auto;
    }
  }
  @media screen and (max-width: 767px) {
    dd {
      height: auto;
      float: none;
      width: 100%;
    }
  }
  dt {
    //padding-left: 20px;
  }

  dd.toc-list ul {
    margin:0;
    padding:0;
    list-style:none;

    li{
      padding-bottom: 10px;
    }
  }
  a {
    cursor: pointer;
    text-decoration: none;
  }
}

.c-red {
  color: #f44336 !important;
}

.font-bold {
  font-weight: bold !important;
  font-size: 0.89em !important;
}

.paired-field {
  padding-left: 0;
}
