<div class="fullRecordDisplay" *ngIf="record">
  <dl class="fullrecord">
    <dt *ngIf="record.UID" id="uid" translate>{{ 'Unique Identifier' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.UID" [innerHTML]="record?.UID"></dd>

    <dt *ngIf="toShow('ReportedIn') && record.TestRecordType && record.TestRecordType.length" translate>{{ 'Reported in' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="toShow('ReportedIn') && record.TestRecordType && record.TestRecordType.length">
      <span [innerHTML]="record?.AuthorsList"></span>. <span [innerHTML]="record?.Title"></span> <span [innerHTML]="record?.SourcePI"></span>. <span *ngIf="record.DOI && record.DOI.length">doi: <a *ngIf="forPrint !== 'true'" href="{{record?.DOI | removeHTMLTag | linkDOIInternal}}" target="_blank">{{record?.DOI | linkDOI}}</a><span *ngIf="forPrint === 'true'" [innerHTML]="record?.DOI | removeHTMLTag | linkDOI"></span></span>
    </dd>

    <dt *ngIf="toShow('Title') && record.Title" translate>{{ 'Title' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="toShow('Title') && record.Title">
      <span [innerHTML]="record?.Title"></span> <span *ngIf="record?.TransDocumentTitle">/ <span [innerHTML]="record?.TransDocumentTitle"></span></span>
    </dd>

    <dt *ngIf="record.GivenBookSeriesTitle" translate>{{ 'Book Series Title' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.GivenBookSeriesTitle" [innerHTML]="record?.GivenBookSeriesTitle"></dd>

    <dt *ngIf="record.SpecialSectionTitle" translate>{{ 'Special Section' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.SpecialSectionTitle" [innerHTML]="record?.SpecialSectionTitle"></dd>

    <dt *ngIf="record.PublicationStatus" translate>{{ 'Publication Status' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.PublicationStatus" [innerHTML]="record?.PublicationStatus"></dd>

    <dt *ngIf="toShow('PublicationDate') && record.PublicationDate" translate>{{ 'Publication Date' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="toShow('PublicationDate') && record.PublicationDate" [innerHTML]="record?.PublicationDate"></dd>

    <dt *ngIf="record.PublicationHistory && record.PublicationHistory.length" translate>{{ 'Publication History' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.PublicationHistory && record.PublicationHistory.length">
      <ul>
        <li *ngFor="let pubHistory of record.PublicationHistory"><strong *ngIf="pubHistory.description && pubHistory.description.length">{{pubHistory.description}}:</strong> {{pubHistory.date}}</li>
      </ul>
    </dd>

    <dt *ngIf="record.TestLocation" translate>{{ 'Test Location' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.TestLocation" [innerHTML]="record?.TestLocation"></dd>

    <dt *ngIf="record.Construct" translate>{{ 'Construct' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.Construct"><span *ngFor="let construct of record.Construct; let isLast=last"><span [innerHTML]="construct"></span><span *ngIf="!isLast">; </span></span></dd>

    <dt *ngIf="record.Purpose" translate>{{ 'Purpose' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.Purpose" [innerHTML]="record?.Purpose"></dd>

    <dt *ngIf="record.AlternateTitle" translate>{{ 'Alternate Test Name(S)' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.AlternateTitle">
      <div *ngFor="let alternateTestName of record.AlternateTitle.split(';')">
        <span [innerHTML]="alternateTestName"></span>
      </div>
    </dd>

    <dt *ngIf="record.Acronyms" translate>{{ 'Acronym(S)' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.Acronyms" [innerHTML]="record?.Acronyms"></dd>

    <dt *ngIf="record.Language" translate>{{ 'Language' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.Language" [innerHTML]="record?.Language"></dd>

    <dt *ngIf="(record.AuthorName && record.AuthorName[0].length) || record?.InstitutionalAuthor" translate>{{ 'Author' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="(record.AuthorName && record.AuthorName[0].length) || record?.InstitutionalAuthor" class="authorField">
      <span *ngFor="let author of record.AuthorName; let isLast=last">
        <span *ngIf="forPrint !== 'true'">
          <a [routerLink]="['/search/results']" [queryParams]="{term: stripTags(author), latSearchType: 'a'}" [innerHTML]="author"></a><span *ngIf="!isLast || (isLast && record?.InstitutionalAuthor)">;</span>
        </span>
        <span *ngIf="forPrint === 'true'">
          <span [innerHTML]="author"></span><span *ngIf="!isLast || (isLast && record?.InstitutionalAuthor)">;</span>
        </span>
      </span>
      <span *ngIf="record?.InstitutionalAuthor" [innerHTML]="record.InstitutionalAuthor"></span>
    </dd>

    <dt *ngIf="record.AuthorID" translate>{{ 'Author Identifier' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.AuthorID">
      <span>{{getAuthorName(record?.AuthorID)[0]}}</span>
      <span *ngIf="getAuthorName(record?.AuthorID)[1]" style="padding-left: 25px;">
        <img style="padding-right: 5px;" height="20px" src="/assets/img/orcid.png" alt="Author Identifier"/>
        <a *ngIf="forPrint !== 'true'" href="{{getAuthorName(record?.AuthorID)[1]}}" target="_blank">{{getAuthorName(record?.AuthorID)[1]}}</a>
        <span *ngIf="forPrint === 'true'" [innerHTML]="getAuthorName(record?.AuthorID)[1]"></span>
      </span>
    </dd>

    <dt *ngIf="emails && emails.length" translate>{{ 'Email' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="emails && emails.length">
      <div *ngFor="let item of emails">
        <span class="paired-field col-sm-5" [innerHTML]="item.name"></span>
        <span class="paired-field col-sm-7" [innerHTML]="item.value"></span>
      </div>
    </dd>

    <dt *ngIf="record.Correspondence" translate>{{ 'Correspondence Address' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.Correspondence" [innerHTML]="record?.Correspondence"></dd>

    <dt *ngIf="affiliations && affiliations.length" translate>{{ 'Affiliation' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="affiliations && affiliations.length">
      <div *ngFor="let item of affiliations">
        <span class="paired-field col-sm-5" [innerHTML]="item.name"></span>
        <span class="paired-field col-sm-7" [innerHTML]="item.value"></span>
      </div>
    </dd>

    <dt *ngIf="record.Institutions" translate>{{ 'Institutional Author' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.Institutions" [innerHTML]="record?.Institutions"></dd>

    <dt *ngIf="record.SourcePIWithAuthorIDs || record.SourcePE" translate>{{ 'Source' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.SourcePIWithAuthorIDs || record.SourcePE">
      <span *ngIf="record.SourcePIWithAuthorIDs" [innerHTML]="record?.SourcePIWithAuthorIDs"></span>
      <span *ngIf="!record.SourcePIWithAuthorIDs && record.SourcePE" [innerHTML]="record?.SourcePE"></span>
    </dd>

    <dt *ngIf="record.SerialTitleTranslation" translate>{{ 'Source Title Translation' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.SerialTitleTranslation" [innerHTML]="record?.SerialTitleTranslation"></dd>

    <dt *ngIf="record.NLMSerialTitleAbbreviation" translate>{{ 'NLM Title Abbreviation' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.NLMSerialTitleAbbreviation" [innerHTML]="record?.NLMSerialTitleAbbreviation"></dd>

    <dt *ngIf="record.PageCount" translate>{{ 'Page Count' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.PageCount" [innerHTML]="record?.PageCount"></dd>

    <dt *ngIf="record.SpecialIssueTitle" translate>{{ 'Special Issue Title' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.SpecialIssueTitle" [innerHTML]="record?.SpecialIssueTitle"></dd>

    <dt *ngIf="record.SpecialSectionTitle" translate>{{ 'Special Section Title' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.SpecialSectionTitle" [innerHTML]="record?.SpecialSectionTitle"></dd>

    <dt *ngIf="record.ISSN">ISSN</dt>
    <dd *ngIf="record.ISSN" [innerHTML]="record?.ISSN"></dd>

    <dt *ngIf="record.ISBN">ISBN</dt>
    <dd *ngIf="record.ISBN" [innerHTML]="record?.ISBN"></dd>

    <dt *ngIf="record.PMID">PMID</dt>
    <dd *ngIf="record.PMID">
      <a *ngIf="forPrint !== 'true'" [innerHTML]="record?.PMID" [href]="getPMIDHref(record?.PMID)" target="fulltextEmailPopup" (click)="openPopup('fulltextEmailPopup', record?.PMID, false)"></a>
      <span *ngIf="forPrint === 'true'" [innerHTML]="record?.PMID"></span>
    </dd>

    <dt *ngIf="record.OtherSerialTitle" translate>{{ 'Other Serial Titles' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.OtherSerialTitle" [innerHTML]="record?.OtherSerialTitle"></dd>

    <dt *ngIf="record.Publisher" translate>{{ 'Publisher' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.Publisher" [innerHTML]="record?.Publisher"></dd>

    <dt *ngIf="otherPublishers && otherPublishers.length" translate>{{ 'Other Publishers' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="otherPublishers && otherPublishers.length">
      <div *ngFor="let publisher of otherPublishers"><span [innerHTML]="publisher"></span></div>
    </dd>

    <dt *ngIf="record.DissertationDetails && record.DissertationDetails.length" translate>{{ 'Dissertation Details' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.DissertationDetails && record.DissertationDetails.length">
      <ul *ngFor="let detail of record?.DissertationDetails">
        <li>
          <span *ngIf="detail.label" class="font-bold">{{detail.label}}: </span>
          <span *ngIf="detail.text" [innerHTML]="detail.text"></span>
          <span *ngIf="detail.href">
            <a *ngIf="forPrint !== 'true'" href="{{detail.href}}" target="_blank">{{detail.href}}</a>
            <span *ngIf="forPrint === 'true'" [innerHTML]="detail.href"></span>
          </span>
        </li>
      </ul>
    </dd>

    <dt *ngIf="record.FormatCovered" translate>{{ 'Format Covered' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.FormatCovered" [innerHTML]="record?.FormatCovered"></dd>

    <dt *ngIf="record.PublicationType" translate>{{ 'Publication Type' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.PublicationType"><span *ngFor="let type of record.PublicationType; let isLast=last"><span [innerHTML]="type"></span><span *ngIf="!isLast">; </span></span></dd>

    <dt *ngIf="record.AudienceType" translate>{{ 'Intended Audience' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.AudienceType" [innerHTML]="record?.AudienceType"></dd>

    <dt *ngIf="record.DocumentType" translate>{{ 'Document Type' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.DocumentType" [innerHTML]="record?.DocumentType"></dd>

    <dt *ngIf="record.BookType" translate>{{ 'Book Type' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.BookType" [innerHTML]="record?.BookType"></dd>

    <dt *ngIf="toShow('DOI') && record.DOI" translate>{{ 'Digital Object Identifier' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="toShow('DOI') && record.DOI">
      <a *ngIf="forPrint !== 'true'" href="{{record?.DOI | removeHTMLTag | linkDOIInternal}}" target="_blank" [innerHTML]="record?.DOI | linkDOI"></a>
      <span *ngIf="forPrint === 'true'" [innerHTML]="record?.DOI | removeHTMLTag | linkDOI"></span>
    </dd>

    <dt *ngIf="record.KeyConcepts" translate>{{ 'Keywords' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.KeyConcepts" [innerHTML]="record?.KeyConcepts"></dd>

    <dt *ngIf="record.FormattedIndexTerms" translate>{{ 'Index Terms' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.FormattedIndexTerms">
          <span class="index-term" *ngFor="let formattedIndexTerm of record.FormattedIndexTerms; let isLast=last">
            <span *ngIf="forPrint !== 'true'">
              <a [routerLink]="['/search/results']" [queryParams]="{term: stripTags(formattedIndexTerm.term), latSearchType: 'i'}"><i class="c-red" *ngIf="formattedIndexTerm.isMajor">* </i><span class="term-text" [innerHTML]="formattedIndexTerm.term"></span></a><span *ngIf="!isLast">;</span>
            </span>
            <span *ngIf="forPrint === 'true'">
              <span><i class="c-red" *ngIf="formattedIndexTerm.isMajor">* </i><span class="term-text" [innerHTML]="formattedIndexTerm.term"></span></span><span *ngIf="!isLast">;</span>
            </span>
          </span>
    </dd>

    <dt *ngIf="record.Classification && record.ProductCode !== 'PT'" translate>{{ 'PsycINFO Classification' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dt *ngIf="record.Classification && record.ProductCode === 'PT'" translate>{{ 'PsycTESTS Classification' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.Classification">
      <span class="classification-code" *ngFor="let classification of record.Classification; let isLast=last">
        <span *ngIf="forPrint !== 'true'">
          <a [routerLink]="['/search/results']" [queryParams]="{term: classification.code, latSearchType: 'c'}" [innerHTML]="classification.label"></a><span *ngIf="!isLast">;</span>
        </span>
        <span *ngIf="forPrint === 'true'">
          <span [innerHTML]="classification.label"></span><span *ngIf="!isLast">;</span>
        </span>
      </span>
    </dd>

    <dt *ngIf="record.Format" translate>{{ 'Format' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.Format" [innerHTML]="record?.Format"></dd>

    <dt *ngIf="record.NumberOfTestItems" translate>{{ 'Number of items' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.NumberOfTestItems" [innerHTML]="record?.NumberOfTestItems"></dd>

    <dt *ngIf="record.AdministrationMethods" translate>{{ 'Administration Method' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.AdministrationMethods" [innerHTML]="record?.AdministrationMethods"></dd>

    <dt *ngIf="record.Permissions" translate>{{ 'Permissions' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.Permissions" [innerHTML]="record?.Permissions"></dd>

    <dt *ngIf="record.Fee" translate>{{ 'Fee' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.Fee" [innerHTML]="record?.Fee"></dd>

    <dt *ngIf="record.Commercial" translate>{{ 'Commercial' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.Commercial" [innerHTML]="record?.Commercial"></dd>

    <dt *ngIf="record.Reliability" translate>{{ 'Reliability' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.Reliability" [innerHTML]="record?.Reliability"></dd>

    <dt *ngIf="record.Validity" translate>{{ 'Validity' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.Validity" [innerHTML]="record?.Validity"></dd>

    <dt *ngIf="record.FactorAnalysis" translate>{{ 'Factor Analysis' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.FactorAnalysis" [innerHTML]="record?.FactorAnalysis"></dd>

    <dt *ngIf="record.MeSH">MeSH</dt>
    <dd *ngIf="record.MeSH">
      <span *ngFor="let mesh of record.MeSH; let isLast=last">
        <span *ngIf="forPrint !== 'true'">
          <a [href]="getMeSHHref(mesh)" target="fulltextEmailPopup" (click)="openPopup('fulltextEmailPopup', mesh, false,'MeSH')" [innerHTML]="mesh"></a><span *ngIf="!isLast">; </span>
        </span>
        <span *ngIf="forPrint === 'true'">
          <span [innerHTML]="mesh"></span><span *ngIf="!isLast">; </span>
        </span>
      </span>
    </dd>

    <dt *ngIf="record.PopulationGroup" translate>{{ 'Population Group' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.PopulationGroup" [innerHTML]="record?.PopulationGroup"></dd>

    <dt *ngIf="record.AgeGroup" translate>{{ 'Age Group' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.AgeGroup" [innerHTML]="record?.AgeGroup"></dd>

    <dt *ngIf="record.CopyrightHolder" translate>{{ 'Copyright' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.CopyrightHolder">
      <ul>
        <li>
          <strong *ngIf="record.CopyrightStatement" translate>{{ 'Statement' | tr_alias:'RECORD_DISPLAY' }}<span>:</span></strong>
          <span *ngIf="record.CopyrightStatement" [innerHTML]="record?.CopyrightStatement"></span>
        </li>
        <li>
          <strong *ngIf="record.CopyrightHolder" translate>{{ 'Holder' | tr_alias:'RECORD_DISPLAY' }}<span>:</span></strong>
          <span *ngIf="record.CopyrightHolder" [innerHTML]="record?.CopyrightHolder"></span>
        </li>
        <li>
          <strong *ngIf="record.CopyrightYear" translate>{{ 'Year' | tr_alias:'RECORD_DISPLAY' }}<span>:</span></strong>
          <span *ngIf="record.CopyrightYear" [innerHTML]="record?.CopyrightYear"></span>
        </li>
      </ul>
    </dd>

    <dt *ngIf="record?.OtherPopulationDetails" translate>{{ 'Population Details' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record?.OtherPopulationDetails">
      <div *ngFor="let detail of record?.OtherPopulationDetails; let isLast=last">
        <span>
          <strong>{{detail[0]}}: </strong><span [innerHTML]="detail[1]"></span>
        </span><br *ngIf="!isLast">
      </div>
    </dd>

    <dt *ngIf="record.Setting" translate>{{ 'Setting' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.Setting" [innerHTML]="record?.Setting"></dd>

    <dt *ngIf="record.Location" translate>{{ 'Location' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.Location" [innerHTML]="record?.Location"></dd>

    <dt *ngIf="record.Methodology" translate>{{ 'Methodology' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.Methodology" [innerHTML]="record?.Methodology"></dd>

    <dt *ngIf="record.SupplementalMaterial" translate>{{ 'Supplemental Material' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.SupplementalMaterial" [innerHTML]="record?.SupplementalMaterial"></dd>

    <dt *ngIf="record.SupplementalDOI" translate>{{ 'Supplemental Material DOI' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.SupplementalDOI">
      <span *ngFor="let doi of record.SupplementalDOI; let last=last">
        <span *ngIf="forPrint !== 'true'">
          <a href="{{doi| removeHTMLTag | linkDOI}}" target="_blank" [innerHTML]="doi | linkDOI"></a><span *ngIf="!last">, </span>
        </span>
        <span *ngIf="forPrint === 'true'">
          <span [innerHTML]="doi | removeHTMLTag"></span><span *ngIf="!last">, </span>
        </span>
      </span>
    </dd>

    <dt *ngIf="record.Instrumentation && record.Instrumentation.length" translate>{{ 'Tests and Measures' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd class="p-r-0" *ngIf="record.Instrumentation && record.Instrumentation.length">
      <ul>
        <li class="zebra" *ngFor="let instrumentation of record.Instrumentation">
          <div class="el">
            <span class="p-r-20" [innerHTML]="instrumentation.text"></span>
            <span class="text-right">
              <span *ngIf="instrumentation.doi && instrumentation.doi.length">
                <a *ngIf="forPrint !== 'true'" href="{{instrumentation?.doi | removeHTMLTag | linkDOIInternal}}" target="_blank" (click)="logTestsAndMeasuresPageView()">{{instrumentation?.doi | linkDOI}}</a>
                <span *ngIf="forPrint === 'true'" [innerHTML]="instrumentation?.doi | removeHTMLTag | linkDOI"></span>
              </span>
            </span>
          </div>
        </li>
      </ul>
    </dd>

    <dt *ngIf="record.DataSetDescriptionList && record.DataSetDescriptionList.length" translate>{{ 'Data Set Description' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.DataSetDescriptionList && record.DataSetDescriptionList.length" [innerHTML]="record.DataSetDescriptionList"></dd>

    <dt *ngIf="record.DataSetAccessList && record.DataSetAccessList.length" translate>{{ 'Data Set Access' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.DataSetAccessList && record.DataSetAccessList.length">
      <a *ngIf="forPrint !== 'true'" target="_blank" href="{{record?.DataSetAccessList | removeHTMLTag | linkDOI}}">{{record?.DataSetAccessList| linkDOI}}</a>
      <span *ngIf="forPrint === 'true'" [innerHTML]="record?.DataSetAccessList | removeHTMLTag | linkDOI"></span>
    </dd>

    <!-- for PE records -->
    <dt *ngIf="record.GrantSponsorship" translate>{{ 'Grant Sponsorship' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.GrantSponsorship" [innerHTML]="record?.GrantSponsorship"></dd>

    <!-- for non PE records -->
    <dt *ngIf="record.SponsorList && record.SponsorList.length" translate>{{ 'Grant Sponsorship' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.SponsorList && record.SponsorList.length">
      <ul class="p-b-15" *ngFor="let sponsor of record.SponsorList">
        <li *ngFor="let _sp of sponsor" [innerHTML]="_sp | formatSponsor"></li>
      </ul>
    </dd>

    <dt *ngIf="record.ClinicalTrialNumber && record.ClinicalTrialNumber.length" translate>{{ 'Clinical Trial Number' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.ClinicalTrialNumber && record.ClinicalTrialNumber.length">
      <a *ngIf="forPrint !== 'true'" [href]="getClinicalTrialNumberHref(record.ClinicalTrialNumber)" target="clinicalTrialNumberPopup" (click)="openPopup('clinicalTrialNumberPopup', record?.ClinicalTrialNumber, true)" [innerHTML]="record.ClinicalTrialNumber"></a>
      <span *ngIf="forPrint === 'true'" [innerHTML]="record.ClinicalTrialNumber"></span>
    </dd>

    <dt *ngIf="record.Conference" translate>{{ 'Conference' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.Conference" [innerHTML]="record?.Conference"></dd>

    <dt id="toc" *ngIf="record.TOC && record.TOC.length" translate>{{ 'Table of Contents' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.TOC && record.TOC.length" [innerHTML]="record?.TOC" class="toc-list"></dd>

    <dt *ngIf="record.ReviewedItems && record.ReviewedItems.length" translate>{{ 'Reviewed Item' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.ReviewedItems && record.ReviewedItems.length">
      <ul>
        <li *ngFor="let item of record?.ReviewedItems">
          <div *ngFor="let reviewField of reviewedItemOrder"><span *ngIf="item.hasOwnProperty(reviewField)"><strong [innerHTML]="reviewField+':'"></strong> <span [innerHTML]="item[reviewField]"></span></span></div>
        </li>
      </ul>
    </dd>

    <!-- PE only -->
    <dt *ngIf="record.ContentOwner" translate>{{ 'Content Owner/Distributor' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.ContentOwner">
      <div *ngFor="let owner of contentOwnerList; let isLast=last">
        <span [innerHTML]="owner.name"></span>, <a *ngIf="forPrint !== 'true'" target="_blank" href="{{owner.url}}">{{owner.url}}</a><span *ngIf="forPrint === 'true'" [innerHTML]="owner.url"></span><span *ngIf="!isLast">; </span>
      </div>
    </dd>

    <dt *ngIf="releaseDate.length" translate>{{ 'Release Date' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="releaseDate.length" [innerHTML]="releaseDate"></dd>

    <dt *ngIf="record.PICorrectionDate || record.FTCorrectionDate" translate>{{ 'Correction Date' | tr_alias:'RECORD_DISPLAY' }}</dt>
    <dd *ngIf="record.PICorrectionDate || record.FTCorrectionDate">
      <span *ngIf="record.PICorrectionDate">{{record?.PICorrectionDate}} (PsycINFO)<span *ngIf="record?.FTCorrectionDate && record?.FTCorrectionDate.length">; </span></span>
      <span *ngIf="record.FTCorrectionDate">{{record?.FTCorrectionDate}} <span *ngIf="record.ProductLabel">({{record?.ProductLabel}})</span></span>
    </dd>

    <!--
        <dt *ngIf="record.OtherVersions">Other Versions</dt>
        <dd *ngIf="record.OtherVersions" [innerHTML]="record?.OtherVersions"></dd>

        <dt *ngIf="record.Acronyms">Acronym(S)</dt>
        <dd *ngIf="record.Acronyms" [innerHTML]="record?.Acronyms"></dd>

        <dt *ngIf="record.SetISBN">Set ISBN</dt>
        <dd *ngIf="record.SetISBN" [innerHTML]="record?.SetISBN"></dd>

        <dt *ngIf="record.Pagination && record.ProductCode == 'PE'">Pagination</dt>
        <dd *ngIf="record.Pagination && record.ProductCode == 'PE'" [innerHTML]="record?.Pagination"></dd>

        <dt *ngIf="record.FormatAvailable">Format Availability</dt>
        <dd *ngIf="record.FormatAvailable" [innerHTML]="record?.FormatAvailable"></dd>

        <dt *ngIf="record.AdministrationTime">Administration Time</dt>
        <dd *ngIf="record.AdministrationTime" [innerHTML]="record?.AdministrationTime"></dd>

        <dt *ngIf="record.OtherPopulationDetails">Population Details</dt>
        <dd *ngIf="record.OtherPopulationDetails" [innerHTML]="record?.OtherPopulationDetails"></dd>
    -->
  </dl>
</div>
