@import '../../../core/pn';

.export-type {
  width: 190px;
  text-align: left;
  &.btn {
    vertical-align: middle;
  }
  &.list li a {
    padding-left: 12px;
    cursor: pointer;
  }
}

#types-button .caret {
  margin-top: 8px;
}

.error-msg {
  color: @warning;
}

.radio-inline+.radio-inline {
  padding-left: 11px !important;
}
