<div bsModal #exportRISModal="bs-modal" class="modal face" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="closeModal()">
          <span>&times;</span>
        </button>
        <h2 class="modal-title" translate>{{ 'Export' | tr_alias:'RECORD_DISPLAY' }}</h2>
      </div>
      <div class="modal-body">
        <div>
          <div *ngIf="loading" class="text-center">
            <loading-indicator loaderText="Loading"></loading-indicator>
          </div>

          <div [hidden]="loading">
            <form #exportForm="ngForm" class="form-horizontal" novalidate="" autocomplete="off" (submit)="exportRISFile()">

              <!-- Export type -->
              <div class="form-group">
                <label class="col-xs-4 control-label" for="exportTo{{parentId}}" translate>{{ 'Export To' | tr_alias:'RECORD_DISPLAY' }}</label>
                <div class="btn-group export-type host" id="exportTo{{parentId}}" dropdown>
                  <button id="types-button" type="button" class="btn btn-default export-type btn" dropdownToggle>
                    <span class="pull-right caret"></span>
                    <span [innerHTML]="selectedExportOption"></span>
                    <img *ngIf="selectedExportOption === 'APA Style CENTRAL'" src="assets/img/social/apastyle.png" alt="APA Style CENTRAL" width="16" height="16" />
                  </button>
                  <ul class="export-type list" dropdownMenu role="menu" aria-labelledby="types-button">
                    <li *ngFor="let type of exportTypeList; let index=index" role="menuitem" (click)="setExportType(index)">
                      <a class="dropdown-item">
                        <span translate>{{type.name | tr_alias:'RECORD_DISPLAY' }}</span>
                        <img *ngIf="type.value === 'apaStyleCentral'" src="assets/img/social/apastyle.png" alt="APA Style CENTRAL" width="16" height="16" />
                      </a>
                    </li>
                  </ul>
                </div>
              </div>

              <fieldset>
                <legend></legend>

                <!-- selected Type -->
                <div class="form-group">
                  <div class="col-xs-offset-2 col-xs-10">
                    <label class="radio radio-inline"  *ngIf="recordsPerPage">
                      <input type="radio" value="Selected Records - All Pages" name="selectedType" [(ngModel)]="export.selectedType"/> <span translate>{{ 'Selected Records All Pages' | tr_alias:'RECORD_DISPLAY' }}</span> ({{selectedRecordUIDList.length}})
                    </label>

                    <label class="radio radio-inline">
                      <input type="radio" value="Selected Records" name="selectedType" [(ngModel)]="export.selectedType" />  <span class="selectedrecords" translate>{{ 'Selected Records on Page' | tr_alias:'RECORD_DISPLAY' }}</span> (<span class="selected-records-count">{{currentPageSelectedRecordUIDList.length}}</span>)
                    </label>

                    <label class="radio radio-inline" *ngIf="recordsPerPage">
                      <input type="radio" value="All Records on Page" name="selectedType" [(ngModel)]="export.selectedType"/> <span translate>{{ 'All Records on Page' | tr_alias:'RECORD_DISPLAY' }}</span> ({{recordsPerPage}})
                    </label>
                  </div>
                </div>
              </fieldset>

              <div class="form-group">
                <p class="col-xs-offset-1"><span translate>{{ 'Note' | tr_alias:'RECORD_DISPLAY' }}</span>:</p>
                <p class="col-xs-offset-2" translate>RECORD_DISPLAY.DOES_NOT_SUPPORT_EXPORTS</p>
                <p class="col-xs-offset-2" translate>RECORD_DISPLAY.APA_STYLE_MESSAGE</p>
              </div>


              <div class="form-group col-xs-12" *ngIf="showErrorMassage">
                <p *ngIf="!verifySelection()" class="col-xs-offset-1 error-msg" translate>COMMON_LABEL.NO_RECORDS_SELECTED</p>
                <p *ngIf="verifySelection() && _getUIDList().length === 0" class="col-xs-offset-1 error-msg" translate>RECORD_DISPLAY.UNABLE_TO_EXPORT</p>
                <p *ngIf="verifySelection() && _getUIDList().length > 250" class="col-xs-offset-1 error-msg" translate>{{'You can export a maximum of 250 records at a time. Please select 250 records or fewer.' | tr_alias:'COMMON_LABEL'}}</p>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-10 col-sm-2">
                  <button type="submit" class="btn btn-success" [disabled]="!exportForm.form.valid || submitted"><span translate>{{ 'Go' | tr_alias:'RECORD_DISPLAY' }}</span></button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
