<div *ngIf="!isMissing" class="container">
  <div class="search-results-bar" *ngIf="isFromSearch && record && !loading">
    <div class="row">
      <span class="pull-left" *ngIf="recordSearch.responseParameters.start || totalCount">
        <a class="paginationBackLink"  [routerLink]="['/search/results']" [queryParams]="pageParams">
          <svg style="width:24px;height:24px" viewBox="0 0 24 24">
            <path d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z"/>
          </svg>
          <span class="backLabel" translate>{{ 'Back to Results' | tr_alias:'RECORD_DISPLAY' }}</span>
        </a>
        <span class="disabled paginationSeparator"> | </span>
      </span>
      <span *ngIf="recordSearch.responseParameters.start || totalCount" class="pull-left paginationNos">
        <arrow-pagination (changePagination)="getNewPagination($event)" [totalPages]="totalCount" [currentPage]="currentPage"></arrow-pagination>
      </span>
    </div>
    <hr/>
  </div>
  <div class="card p-0">
    <div *ngIf="loading" class="text-center">
      <loading-indicator loaderText="Loading"></loading-indicator>
    </div>
    <div *ngIf="record && !loading" class="record-details row">
      <h1 class="m-t-0" *ngIf="!record?.isPT" >
        <span *ngIf="!record?.isPT" class="f-s-7-1" [innerHTML]="record?.Title"></span>
        <span *ngIf="record?.TransDocumentTitle && isTransTitle" class="f-s-7-1"> / <span [innerHTML]="record?.TransDocumentTitle"></span></span>
      </h1>


      <!-- PT parent doesn't show action bar items, only the children within the tabs -->
      <div *ngIf="!record?.isPT">
        <record-action-bar  [showComponents]="getRecordActionBarComponents()" [record]="record" isAllowed="true"></record-action-bar>
        <hr/>
      </div>

      <div *ngIf="record" class="row">
        <!-- PT should hide this-->
        <!--div class="col-md-9 p-0 show-for-mobile" *ngIf="record">
          <button-box [record]="record" [showComponents]="getButtonBoxComponents()"></button-box>
        </div-->
        <div class="col-md-9 p-0" *ngIf="!record.isPT">
          <citation *ngIf="record?.ProductCode !== 'PE'" [record]="record"></citation>
          <citation-pe *ngIf="record?.ProductCode === 'PE'" [record]="record" [showHeading]=true></citation-pe>
          <hr/>
          <abstract *ngIf="record.HasAbstract=='true' && record.Abstract" [record]="record"></abstract>
          <impact-statement *ngIf="record.HasImpactStatement=='true' && record.ImpactStatement" [record]="record"></impact-statement>
          <full-record-display-accordion *ngIf="record.MayAccessRecordDetails" [record]="record"></full-record-display-accordion>
          <cited-references-accordion *ngIf="record.HasAccess && record.HasCitations && record.HasCitations === 'true'" [record]="record"></cited-references-accordion>
        </div>
        <!-- PT should show this-->
        <div class="col-md-9 p-0" *ngIf="record.isPT">

          <h1 class="m-t-0">
            <span *ngIf="record?.isPT" class="f-s-7-1" [innerHTML]="record?.TestTitleForDisplay"></span>
          </h1>

          <pt-record-display [record]="record" [tabRecords]="tabRecords" [testPrimaryRecord]="testPrimaryRecord" ></pt-record-display>
        </div>
        <div class="col-md-3">
          <!-- PT should hide these components-->
          <div *ngIf="!record.isPT">
            <about *ngIf="record.ProductCode === 'PA'" [record]="record"></about>
            <links *ngIf="record.ProductCode !== 'PA'" [record]="record"></links>
          </div>
          <div>
            <!-- PT should show 'pdf', 'support-doc' -->
            <!-- Others should show 'pdf', 'full text', 'cited by'-->
            <button-box class="hide-for-mobile" [record]="record" [showComponents]="getButtonBoxComponents()"></button-box>
          </div>

          <span class="accessIcon" *ngIf="record?.HasOpenAccess && record?.HasOpenAccess==='true'">
            <svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" width="900" height="360" xml:space="preserve" viewBox="0 0 900 360" style="width: 65px; height: 25px;"><style>.s0 {
              fill: #f68212;
            }</style><defs><clipPath clipPathUnits="userSpaceOnUse"><path d="M0 288L720 288 720 0 0 0 0 288z"/></clipPath></defs><g transform="matrix(1.25,0,0,-1.25,0,360)"><g clip-path="url(#clipPath2418)"><path d="M720-3L0-3 0 291.3 720 291.3 720-3z" fill="#fff"/><path d="M262.9 200.9L262.9 192.1 288.8 192.1 288.8 200.9C288.8 222.3 306.2 239.7 327.7 239.7 349.1 239.7 366.5 222.3 366.5 200.9L366.5 136.9 392.4 136.9 392.4 200.9C392.4 236.6 363.4 265.7 327.7 265.7 291.9 265.7 262.9 236.6 262.9 200.9M349.2 99.6C349.2 87.8 339.6 78.2 327.8 78.2 315.9 78.2 306.4 87.8 306.4 99.6 306.4 111.4 315.9 121 327.8 121 339.6 121 349.2 111.4 349.2 99.6M277.1 99.8C277.1 127.6 299.7 150.2 327.5 150.2 355.3 150.2 377.9 127.6 377.9 99.8 377.9 72 355.3 49.4 327.5 49.4 299.7 49.4 277.1 72 277.1 99.8M251.1 99.8C251.1 57.7 285.4 23.4 327.5 23.4 369.6 23.4 403.9 57.7 403.9 99.8 403.9 141.9 369.6 176.2 327.5 176.2 285.4 176.2 251.1 141.9 251.1 99.8M51.7 106.9C59.7 106.9 64.2 114.3 64.2 124.5 64.2 133.9 59.8 141.9 51.7 141.9 43.6 141.9 39.1 134 39.1 124.3 39.1 114.5 43.8 106.9 51.7 106.9L51.7 106.9zM51.2 97.5C35.8 97.5 26.7 109.2 26.7 124 26.7 139.6 36.8 151.2 52.1 151.2 68 151.2 76.7 139.3 76.7 124.9 76.7 107.8 66.5 97.5 51.3 97.5L51.2 97.5zM98.9 126.1C99.9 125.8 101.1 125.8 102.8 125.8 109 125.8 112.9 128.9 112.9 134.2 112.9 139 109.7 141.8 103.7 141.8 101.3 141.8 99.7 141.7 98.9 141.4L98.9 126.1zM87.2 149.7C90.8 150.3 95.9 150.8 103.1 150.8 110.3 150.8 115.6 149.4 119.1 146.5 122.4 144 124.5 139.6 124.5 134.6 124.5 129.4 122.9 125.1 119.8 122.2 115.8 118.5 109.8 116.7 102.9 116.7 101.3 116.7 99.9 116.8 98.9 117L98.9 98.4 87.2 98.4 87.2 149.7zM165.7 120.4L146.6 120.4 146.6 108 167.9 108 167.9 98.4 134.8 98.4 134.8 150.4 166.9 150.4 166.9 140.7 146.6 140.7 146.6 129.9 165.7 129.9 165.7 120.4zM181.8 98.4L181.8 150.4 195.5 150.4 206.3 131.3C209.4 125.8 212.4 119.4 214.8 113.5L214.9 113.5C214.3 120.4 214 127.4 214 135.3L214 150.4 224.8 150.4 224.8 98.4 212.5 98.4 201.4 118.4C198.3 124.1 194.8 130.7 192.3 136.8L192 136.8C192.4 129.8 192.6 122.5 192.6 114L192.6 98.4 181.8 98.4zM450.4 120.5L447.2 131.5C446.3 134.6 445.4 138.6 444.6 141.6L444.4 141.6C443.7 138.5 442.8 134.6 442.1 131.5L438.9 120.5 450.4 120.5zM437.2 111.7L433.6 98.4 421.4 98.4 437.3 150.4 452.6 150.4 468.8 98.4 456.2 98.4 452.2 111.7 437.2 111.7zM513.2 99.8C511.1 98.8 506.2 97.5 499.9 97.5 481.9 97.5 472.7 108.8 472.7 123.7 472.7 141.4 485.3 151.2 501.1 151.2 507.2 151.2 511.8 150 513.9 148.9L511.4 139.6C509.1 140.6 505.8 141.6 501.5 141.6 492.3 141.6 485 135.9 485 124.3 485 113.9 491.2 107.3 501.6 107.3 505.2 107.3 509.1 108 511.5 109L513.2 99.8zM559.5 99.8C557.4 98.8 552.4 97.5 546.2 97.5 528.2 97.5 519 108.8 519 123.7 519 141.4 531.6 151.2 547.4 151.2 553.5 151.2 558.1 150 560.2 148.9L557.7 139.6C555.4 140.6 552.1 141.6 547.8 141.6 538.6 141.6 531.3 135.9 531.3 124.3 531.3 113.9 537.5 107.3 547.9 107.3 551.5 107.3 555.4 108 557.8 109L559.5 99.8zM604 120.4L584.9 120.4 584.9 108 606.2 108 606.2 98.4 573.1 98.4 573.1 150.4 605.2 150.4 605.2 140.7 584.9 140.7 584.9 129.9 604 129.9 604 120.4zM620.4 110.4C623.5 108.8 628.5 107.2 633.5 107.2 638.9 107.2 641.7 109.4 641.7 112.9 641.7 116 639.3 118 633 120.1 624.4 123.2 618.7 128 618.7 135.6 618.7 144.5 626.1 151.2 638.3 151.2 644.3 151.2 648.5 150.1 651.6 148.6L649 139.2C647 140.2 643.2 141.7 638.2 141.7 633.1 141.7 630.6 139.3 630.6 136.6 630.6 133.3 633.5 131.9 640.3 129.2 649.4 125.8 653.7 121.1 653.7 113.6 653.7 104.9 647.1 97.5 632.8 97.5 626.8 97.5 621 99.1 618 100.8L620.4 110.4zM664.8 110.4C667.9 108.8 672.9 107.2 677.9 107.2 683.3 107.2 686.1 109.4 686.1 112.9 686.1 116 683.7 118 677.4 120.1 668.8 123.2 663.1 128 663.1 135.6 663.1 144.5 670.5 151.2 682.7 151.2 688.7 151.2 692.9 150.1 696 148.6L693.4 139.2C691.4 140.2 687.6 141.7 682.6 141.7 677.5 141.7 675 139.3 675 136.6 675 133.3 677.9 131.9 684.7 129.2 693.8 125.8 698.1 121.1 698.1 113.6 698.1 104.9 691.5 97.5 677.2 97.5 671.2 97.5 665.4 99.1 662.4 100.8L664.8 110.4z" fill="#f68212"/></g></g></svg>
          </span>

          <!--SFXLink-->
          <div *ngIf="record.SFXLink && record.SFXLink.length && hasSFX" class="row links m-t-0" [class.shaded]="!sfxDisplayIcon && sfxDisplayText && sfxDisplayText.length">
            <a [href]="record?.SFXLink" target="SFXPopup" (click)="openLink('SFXPopup', record?.SFXLink)" id="sfxlink">
              <img *ngIf="sfxDisplayIcon && sfxDisplayIcon.length" src="{{sfxDisplayIcon}}" alt="sfxDisplayIcon"/>
              <span *ngIf="!sfxDisplayIcon && sfxDisplayText && sfxDisplayText.length">{{sfxDisplayText}}</span>
            </a>
          </div>
          <!--/SFXLink-->

          <!--ILLLink-->
          <div *ngIf="record.ILLLink && record.ILLLink.length && hasILL" class="row links m-b-10" [class.shaded]="!illDisplayIcon && illDisplayText && illDisplayText.length">
            <a [href]="record?.ILLLink" target="ILLPopup" (click)="openLink('ILLPopup', record?.ILLLink)" id="illlink">
              <img *ngIf="illDisplayIcon && illDisplayIcon.length" src="{{illDisplayIcon}}" alt="illDisplayIcon"/>
              <span *ngIf="!illDisplayIcon && illDisplayText && illDisplayText.length">{{illDisplayText}}</span>
            </a>
          </div>
          <!--/ILLLink-->

          <!-- PT should hide these components-->
          <div *ngIf="!record.isPT">
            <related-content [record]="record" *ngIf="record.HasAccess &&(record.ProductCode === 'PA' || record.ProductCode === 'PB' || record.ProductCode==='PI')"></related-content>
            <index-terms *ngIf="record.IndexTerms && record.IndexTerms.length" [record]="record"></index-terms>
          </div>
          <br><br>
        </div>
      </div>
    </div>
    <div *ngIf="!isNotInitialized && !record && !loading" class="not-found row">
      <h1 translate>RECORD_DISPLAY.RECORD_NOT_FOUND_TITLE</h1>
      <p translate>RECORD_DISPLAY.RECORD_NOT_FOUND_MESSAGE</p>

      <b translate>{{'Search' | tr_alias : 'HEADER'}}</b>
      <ul>
        <li><a [routerLink]="['/search', 'basic']" translate>{{'Basic Search' | tr_alias:'HEADER'}}</a></li>
        <li><a [routerLink]="['/search', 'advanced']" translate>{{'Advanced search' | tr_alias : 'HEADER'}}</a></li>
        <li><a [routerLink]="['/search', 'citedRefs']" translate>{{'Cited references' | tr_alias: 'HEADER'}}</a></li>
        <li><a [routerLink]="['/search', 'recent']" translate>{{'Recent searches' | tr_alias: 'HEADER'}}</a></li>
      </ul>

      <b translate>{{'Browse' | tr_alias : 'HEADER'}}</b>
      <ul>
        <li><a [routerLink]="['/PsycARTICLES']">PsycARTICLES</a></li>
        <li><a [routerLink]="['/PsycBOOKS']">PsycBOOKS</a></li>
        <li><a [routerLink]="['/PsycCRITIQUES']">PsycCRITIQUES</a></li>
        <li><a [routerLink]="['/PsycEXTRA']">PsycEXTRA</a></li>
      </ul>
    </div>
  </div>
</div>

<missing-search *ngIf="isMissing"></missing-search>
