@import '../core/pn';

@media screen and (min-width: 1200px) {
  .container {
    width: auto;
    max-width: 1800px;
  }
}

.container {
  .card {
    .not-found h1 {
      font-size: 1.5em;
    }
    box-shadow: none;
    position: relative;
    background: #fff;
    margin-bottom: 30px;
  }
  span {
    line-height: 25px;
  }
  .backLabel {
    vertical-align: 7px
  }
  .paginationSeparator {
    vertical-align: top;
    color: #777777;
  }
  hr {
    border-width: 1px 0px 0px;
    border-style: dotted none none;
    border-color: #ececec -moz-use-text-color -moz-use-text-color;
    margin-top: 13px;
    margin-bottom: 13px;
  }
  hr.dk {
    border-color: #5e5e5e;
    width: 89%;
  }
  h1 {
    color: #008cd2;
  }
  @media screen and (max-width: 767px) {
    h1 {
      font-size: 21px;
      line-height: 21px;
    }
  }

  .show-for-mobile {
    @media screen {
      @media (min-width: 768px) {
        display: none;
      }
    }
    display: block;
  }
  .hide-for-mobile {
    @media screen {
      @media (min-width: 768px) {
        display: block;
      }
    }
    display: none;
  }
  a > svg {
    path {
      fill: @dk-blue;
    }
  }
  .f-s-7-1 {
    font-size: 0.71em;
  }
  .m-t-0 {
    margin-top: 0 !important;
  }
  .accessIcon {
    margin:auto;
    display:table
  }

  @media(max-width: 991px) {
    .accessIcon {
      padding-left: 70px;
      margin: 0 !important;
    }
  }
}

.paginationBackLink {
  vertical-align: top;
  padding-right: 8px;
}

.paginationNos {
  line-height: 17px !important;
}
.p-0 {
  padding: 0 !important;
}

.links {
  text-align: center !important;
  margin-top: 10px !important;
  &.shaded {
    background-color: #f7f7f7;
    padding: 5px !important;
  }
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.m-t-0 {
  margin-top: 0px !important;
}
