<div class="searchtabscontainer">
  <div class="row tabsParentContainer">
    <div class="tabsContainer col-md-12">
      <div class="tabsRow">
        <ul class="nav nav-tabs">
          <li *ngIf="tabDisplay.length > 1 && tabNumbers['all']" [ngClass]="{active: selectedTab=='all'}">
            <a (click)="selectTab('all')"><span translate>{{'All' | tr_alias:'SEARCH_RESULTS'}}</span> ({{tabNumbers?.all | string2NumberNotation}})</a>
          </li>

          <li *ngFor="let tab of tabDisplay" [ngClass]="{active: selectedTab==tab.db}">
            <a (click)="selectTab(tab.db)">{{tab.label}} ({{tab.count | string2NumberNotation}})</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
