<div *ngIf="record" class="row apa-citation">
  <div class="col-md-12">
    <h3 *ngIf="!hideCitationHeader" translate>{{ 'APA Citation' | tr_alias:'RECORD_DISPLAY' }}</h3>
    <p *ngIf="record.SourceAPA" [innerHTML]="record?.SourceAPA"></p>
  </div>
</div>
