<div>
  <div class="row">
    <a *ngIf="showAbs && item?.HasAbstract==='true'" (click)="toggleAbstract()" class="action-link" id="abstract">
      <span>
        <span *ngIf="!item?.isAbsOpen">
        <svg style="width:18px;height:18px;" viewBox="0 0 24 24">
          <path d="M10,17L15,12L10,7V17Z"/>
        </svg>
          </span>
        <span *ngIf="item?.isAbsOpen">
          <svg style="width:18px;height:18px;" viewBox="0 0 24 24">
            <path d="M7,10L12,15L17,10H7Z"></path>
          </svg>
        </span>
        <span *ngIf="item.ProductCode && item.ProductCode!='PT'" translate>{{'Abstract' | tr_alias:'SEARCH_RESULTS'}}</span>
        <span *ngIf="item.ProductCode && item.ProductCode=='PT'" translate>{{'Summary' | tr_alias:'SEARCH_RESULTS'}}</span>
      </span>
    </a>

    <a *ngIf="item.HasImpactStatement=='true'" (click)="toggleImpactStatement()" class="action-link" id="impact">
      <span>
        <span *ngIf="!item?.isImpactOpen">
          <svg style="width:18px;height:18px;" viewBox="0 0 24 24">
            <path d="M10,17L15,12L10,7V17Z"/>
          </svg>
        </span>
        <span *ngIf="item?.isImpactOpen">
          <svg style="width:18px;height:18px;" viewBox="0 0 24 24">
            <path d="M7,10L12,15L17,10H7Z"></path>
          </svg>
        </span>
        <span translate>{{'Impact Statement' | tr_alias:'SEARCH_RESULTS'}}</span>
      </span>
    </a>

    <a *ngIf="showRefs" (click)="toggleReferences()" class="action-link" id="references">
      <span>
        <span *ngIf="!item?.isRefOpen">
          <svg style="width:18px;height:18px;" viewBox="0 0 24 24">
            <path d="M10,17L15,12L10,7V17Z"/>
          </svg>
        </span>
        <span *ngIf="item?.isRefOpen">
          <svg style="width:18px;height:18px;" viewBox="0 0 24 24">
            <path d="M7,10L12,15L17,10H7Z"></path>
          </svg>
        </span>
        <span class="references" translate>{{'References' | tr_alias:'SEARCH_RESULTS'}}</span>
      </span>
    </a>

    <a [routerLink]="['/PsycBOOKS/toc', item.PBID]" *ngIf="isBook(item)" class="action-link" id="toc_chapter" >
      <span>
        <svg style="width:18px;height:18px" viewBox="0 0 24 24">
          <path d="M14,9H19.5L14,3.5V9M7,2H15L21,8V20A2,2 0 0,1 19,22H7C5.89,22 5,21.1 5,20V4A2,2 0 0,1 7,2M11.93,12.44C12.34,13.34 12.86,14.08 13.46,14.59L13.87,14.91C13,15.07 11.8,15.35 10.53,15.84V15.84L10.42,15.88L10.92,14.84C11.37,13.97 11.7,13.18 11.93,12.44M18.41,16.25C18.59,16.07 18.68,15.84 18.69,15.59C18.72,15.39 18.67,15.2 18.57,15.04C18.28,14.57 17.53,14.35 16.29,14.35L15,14.42L14.13,13.84C13.5,13.32 12.93,12.41 12.53,11.28L12.57,11.14C12.9,9.81 13.21,8.2 12.55,7.54C12.39,7.38 12.17,7.3 11.94,7.3H11.7C11.33,7.3 11,7.69 10.91,8.07C10.54,9.4 10.76,10.13 11.13,11.34V11.35C10.88,12.23 10.56,13.25 10.05,14.28L9.09,16.08L8.2,16.57C7,17.32 6.43,18.16 6.32,18.69C6.28,18.88 6.3,19.05 6.37,19.23L6.4,19.28L6.88,19.59L7.32,19.7C8.13,19.7 9.05,18.75 10.29,16.63L10.47,16.56C11.5,16.23 12.78,16 14.5,15.81C15.53,16.32 16.74,16.55 17.5,16.55C17.94,16.55 18.24,16.44 18.41,16.25M18,15.54L18.09,15.65C18.08,15.75 18.05,15.76 18,15.78H17.96L17.77,15.8C17.31,15.8 16.6,15.61 15.87,15.29C15.96,15.19 16,15.19 16.1,15.19C17.5,15.19 17.9,15.44 18,15.54M8.83,17C8.18,18.19 7.59,18.85 7.14,19C7.19,18.62 7.64,17.96 8.35,17.31L8.83,17M11.85,10.09C11.62,9.19 11.61,8.46 11.78,8.04L11.85,7.92L12,7.97C12.17,8.21 12.19,8.53 12.09,9.07L12.06,9.23L11.9,10.05L11.85,10.09Z"/>
        </svg>
        {{ 'TOC_CHAPTER_PDF' | tr_alias : 'PSYCBOOK_HEADINGS' | translate:lang}}
      </span>
    </a>

    <a href="{{getPDLLink(item?.UID)}}" target="_blank" *ngIf="showPdf && item.HasAccess" class="primary action-link" id="pdf">
      <span>
        <svg style="width:0px;height:18px" viewBox="0 0 0 24">
          <path d=""/>
        </svg>
        PDF
      </span>
    </a>
    <a [routerLink]="['/buy/'+item?.UID]" *ngIf="showPdf && shouldPurchase(item) && !isInCart(item)" class="primary action-link" id="buy">
      <span>
        <svg style="width:0px;height:18px" viewBox="0 0 0 24">
          <path d=""/>
        </svg>
        <span translate>{{'Purchase PDF' | tr_alias:'COMMON_LABEL'}}</span>
      </span>
    </a>
    <a *ngIf="showPdf && shouldPurchase(item) && isInCart(item)" class="primary action-link in-cart" id="cart">
      <span>
        <svg style="width:0px;height:18px" viewBox="0 0 0 24">
          <path d=""/>
        </svg>
        <span translate>{{'In Your Cart' | tr_alias:'OPTIONS_TO_BUY'}}</span>
      </span>
    </a>

    <a [routerLink]="['/fulltext/'+item?.UID+'.html']" [queryParams]="getHTMLQueryParams()" *ngIf="showFullText && item?.HasAccess" class="action-link" id="fulltext">
      <span>
        <svg style="width:18px;height:18px" viewBox="0 0 24 24">
          <path d="M13,9H18.5L13,3.5V9M6,2H14L20,8V20A2,2 0 0,1 18,22H6C4.89,22 4,21.1 4,20V4C4,2.89 4.89,2 6,2M15,18V16H6V18H15M18,14V12H6V14H18Z"/>
        </svg>
        <span translate>{{'Full-Text HTML' | tr_alias:'SEARCH_RESULTS'}}</span>
      </span>
    </a>

    <a *ngIf="item?.DataSetAccessList" target="_blank" href="{{getDataSetLink(item?.DataSetAccessList) | removeHTMLTag | linkDOI}}" class="action-link" id="dataset">
      <span>
        <svg style="width:0px;height:18px" viewBox="0 0 0 24">
          <path d=""/>
        </svg>
        <span translate>{{'Data Set' | tr_alias:'SEARCH_RESULTS'}}</span>
      </span>
    </a>

    <a *ngIf="showCitedBy && isCitedBy" href="/search/citedBy/{{item?.UID}}" (click)="displayCitedByItemBar(item)" class="action-link" id="citedby">
      <span>
        <svg style="width:1px;height:18px" viewBox="0 0 24 24">
        </svg>
        <span translate>{{'Cited By' | tr_alias:'SEARCH_RESULTS'}}</span> <span *ngIf="item.CitedByCount">{{item?.CitedByCount}}</span><span *ngIf="!item.CitedByCount.length">0</span>
      </span>
    </a>
    <a *ngIf="showCitedBy && !isCitedBy" [routerLink]="['/search/citedBy/', item?.UID]" [queryParams]="{sr: 1}" (click)="displayCitedByItemBar(item)" class="action-link" id="citedby2">
      <span>
        <svg style="width:1px;height:18px" viewBox="0 0 24 24">
        </svg>
        <span translate>{{'Cited By' | tr_alias:'SEARCH_RESULTS'}}</span> <span *ngIf="item.CitedByCount">{{item?.CitedByCount}}</span><span *ngIf="!item.CitedByCount.length">0</span>
      </span>
    </a>

    <a *ngIf="showPermission && item.RightsLink && item.RightsLink.length" href="{{item?.RightsLink}}" target="_blank" class="action-link" id="permissions">
        <span>
          <svg style="width:1px;height:18px" viewBox="0 0 24 24">
          </svg>
          &copy; <span translate>{{'Permissions' | tr_alias:'SEARCH_RESULTS'}}</span>
        </span>
    </a>


    <a *ngIf="showTestVersions" (click)="toggleTestVersions(item.UID)" class="action-link"  id="testversions">
      <span>
        <span *ngIf="!item?.isTestOpen">
        <svg style="width:18px;height:18px;" viewBox="0 0 24 24">
          <path d="M10,17L15,12L10,7V17Z"/>
        </svg>
          </span>
        <span *ngIf="item?.isTestOpen">
          <svg style="width:18px;height:18px;" viewBox="0 0 24 24">
            <path d="M7,10L12,15L17,10H7Z"></path>
          </svg>
        </span>
        <span translate>{{'Test Versions' | tr_alias:'SEARCH_RESULTS'}}</span>
      </span>
    </a>

    <a *ngIf="showTest && item.UID" class="action-link"  href="{{getPDLLink(item?.UID)}}" target="_blank"  id="test">
        <span>
          <svg style="width:18px;height:18px;" viewBox="0 0 24 24">
            <path
              d="M14,9H19.5L14,3.5V9M7,2H15L21,8V20A2,2 0 0,1 19,22H7C5.89,22 5,21.1 5,20V4A2,2 0 0,1 7,2M11.93,12.44C12.34,13.34 12.86,14.08 13.46,14.59L13.87,14.91C13,15.07 11.8,15.35 10.53,15.84V15.84L10.42,15.88L10.92,14.84C11.37,13.97 11.7,13.18 11.93,12.44M18.41,16.25C18.59,16.07 18.68,15.84 18.69,15.59C18.72,15.39 18.67,15.2 18.57,15.04C18.28,14.57 17.53,14.35 16.29,14.35L15,14.42L14.13,13.84C13.5,13.32 12.93,12.41 12.53,11.28L12.57,11.14C12.9,9.81 13.21,8.2 12.55,7.54C12.39,7.38 12.17,7.3 11.94,7.3H11.7C11.33,7.3 11,7.69 10.91,8.07C10.54,9.4 10.76,10.13 11.13,11.34V11.35C10.88,12.23 10.56,13.25 10.05,14.28L9.09,16.08L8.2,16.57C7,17.32 6.43,18.16 6.32,18.69C6.28,18.88 6.3,19.05 6.37,19.23L6.4,19.28L6.88,19.59L7.32,19.7C8.13,19.7 9.05,18.75 10.29,16.63L10.47,16.56C11.5,16.23 12.78,16 14.5,15.81C15.53,16.32 16.74,16.55 17.5,16.55C17.94,16.55 18.24,16.44 18.41,16.25M18,15.54L18.09,15.65C18.08,15.75 18.05,15.76 18,15.78H17.96L17.77,15.8C17.31,15.8 16.6,15.61 15.87,15.29C15.96,15.19 16,15.19 16.1,15.19C17.5,15.19 17.9,15.44 18,15.54M8.83,17C8.18,18.19 7.59,18.85 7.14,19C7.19,18.62 7.64,17.96 8.35,17.31L8.83,17M11.85,10.09C11.62,9.19 11.61,8.46 11.78,8.04L11.85,7.92L12,7.97C12.17,8.21 12.19,8.53 12.09,9.07L12.06,9.23L11.9,10.05L11.85,10.09Z"/>
          </svg>
          <span translate>{{'Test' | tr_alias:'SEARCH_RESULTS'}}</span>
        </span>
    </a>

    <a *ngIf="showMedia  && item.UID" class=" action-link" id="media" href="{{getMediaLink(item?.UID)}}" target="_blank">
      <span>
        <svg style="width:18px;height:18px" viewBox="0 0 24 24">
          <path d="M10,16.5V7.5L16,12M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" />
        </svg>
        <span translate>{{'Test' | tr_alias : 'BROWSE_PT'}}</span>
      </span>
    </a>

    <add-to-my-list *ngIf="showAddToList" [UID]="item.UID" class="action-link"></add-to-my-list>

    <a *ngIf="showAddTagNote" (click)="toggleAddTagNote()" class="action-link"  id="tagnote">
      <span>
        <span *ngIf="!item?.isTagNoteOpen">
        <svg style="width:18px;height:18px;" viewBox="0 0 24 24">
          <path d="M10,17L15,12L10,7V17Z"/>
        </svg>
          </span>
        <span *ngIf="item?.isTagNoteOpen">
          <svg style="width:18px;height:18px;" viewBox="0 0 24 24">
            <path d="M7,10L12,15L17,10H7Z"></path>
          </svg>
        </span>
        <span *ngIf="item.TagNote &&  item.TagNote.length && item.TagNote[0].tags && item.TagNote[0].tags.length" translate>{{'Edit Tags/Notes' | tr_alias:'MY_LIST'}}</span>
        <span *ngIf="item.TagNote &&  item.TagNote.length && item.TagNote[0].tags && !item.TagNote[0].tags.length" translate>{{'Add Tags/Notes' | tr_alias:'MY_LIST'}}</span>
      </span>
    </a>

    <span class="info-label" *ngIf="showOpenAccess && item?.HasOpenAccess==='true'">
      <svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" width="900" height="360" xml:space="preserve" viewBox="0 0 900 360" style="width: 65px; height: 25px;"><style>.s0 {
        fill: #f68212;
      }</style><defs><clipPath clipPathUnits="userSpaceOnUse"><path d="M0 288L720 288 720 0 0 0 0 288z"/></clipPath></defs><g transform="matrix(1.25,0,0,-1.25,0,360)"><g clip-path="url(#clipPath2418)"><path d="M720-3L0-3 0 291.3 720 291.3 720-3z" fill="#fff"/><path d="M262.9 200.9L262.9 192.1 288.8 192.1 288.8 200.9C288.8 222.3 306.2 239.7 327.7 239.7 349.1 239.7 366.5 222.3 366.5 200.9L366.5 136.9 392.4 136.9 392.4 200.9C392.4 236.6 363.4 265.7 327.7 265.7 291.9 265.7 262.9 236.6 262.9 200.9M349.2 99.6C349.2 87.8 339.6 78.2 327.8 78.2 315.9 78.2 306.4 87.8 306.4 99.6 306.4 111.4 315.9 121 327.8 121 339.6 121 349.2 111.4 349.2 99.6M277.1 99.8C277.1 127.6 299.7 150.2 327.5 150.2 355.3 150.2 377.9 127.6 377.9 99.8 377.9 72 355.3 49.4 327.5 49.4 299.7 49.4 277.1 72 277.1 99.8M251.1 99.8C251.1 57.7 285.4 23.4 327.5 23.4 369.6 23.4 403.9 57.7 403.9 99.8 403.9 141.9 369.6 176.2 327.5 176.2 285.4 176.2 251.1 141.9 251.1 99.8M51.7 106.9C59.7 106.9 64.2 114.3 64.2 124.5 64.2 133.9 59.8 141.9 51.7 141.9 43.6 141.9 39.1 134 39.1 124.3 39.1 114.5 43.8 106.9 51.7 106.9L51.7 106.9zM51.2 97.5C35.8 97.5 26.7 109.2 26.7 124 26.7 139.6 36.8 151.2 52.1 151.2 68 151.2 76.7 139.3 76.7 124.9 76.7 107.8 66.5 97.5 51.3 97.5L51.2 97.5zM98.9 126.1C99.9 125.8 101.1 125.8 102.8 125.8 109 125.8 112.9 128.9 112.9 134.2 112.9 139 109.7 141.8 103.7 141.8 101.3 141.8 99.7 141.7 98.9 141.4L98.9 126.1zM87.2 149.7C90.8 150.3 95.9 150.8 103.1 150.8 110.3 150.8 115.6 149.4 119.1 146.5 122.4 144 124.5 139.6 124.5 134.6 124.5 129.4 122.9 125.1 119.8 122.2 115.8 118.5 109.8 116.7 102.9 116.7 101.3 116.7 99.9 116.8 98.9 117L98.9 98.4 87.2 98.4 87.2 149.7zM165.7 120.4L146.6 120.4 146.6 108 167.9 108 167.9 98.4 134.8 98.4 134.8 150.4 166.9 150.4 166.9 140.7 146.6 140.7 146.6 129.9 165.7 129.9 165.7 120.4zM181.8 98.4L181.8 150.4 195.5 150.4 206.3 131.3C209.4 125.8 212.4 119.4 214.8 113.5L214.9 113.5C214.3 120.4 214 127.4 214 135.3L214 150.4 224.8 150.4 224.8 98.4 212.5 98.4 201.4 118.4C198.3 124.1 194.8 130.7 192.3 136.8L192 136.8C192.4 129.8 192.6 122.5 192.6 114L192.6 98.4 181.8 98.4zM450.4 120.5L447.2 131.5C446.3 134.6 445.4 138.6 444.6 141.6L444.4 141.6C443.7 138.5 442.8 134.6 442.1 131.5L438.9 120.5 450.4 120.5zM437.2 111.7L433.6 98.4 421.4 98.4 437.3 150.4 452.6 150.4 468.8 98.4 456.2 98.4 452.2 111.7 437.2 111.7zM513.2 99.8C511.1 98.8 506.2 97.5 499.9 97.5 481.9 97.5 472.7 108.8 472.7 123.7 472.7 141.4 485.3 151.2 501.1 151.2 507.2 151.2 511.8 150 513.9 148.9L511.4 139.6C509.1 140.6 505.8 141.6 501.5 141.6 492.3 141.6 485 135.9 485 124.3 485 113.9 491.2 107.3 501.6 107.3 505.2 107.3 509.1 108 511.5 109L513.2 99.8zM559.5 99.8C557.4 98.8 552.4 97.5 546.2 97.5 528.2 97.5 519 108.8 519 123.7 519 141.4 531.6 151.2 547.4 151.2 553.5 151.2 558.1 150 560.2 148.9L557.7 139.6C555.4 140.6 552.1 141.6 547.8 141.6 538.6 141.6 531.3 135.9 531.3 124.3 531.3 113.9 537.5 107.3 547.9 107.3 551.5 107.3 555.4 108 557.8 109L559.5 99.8zM604 120.4L584.9 120.4 584.9 108 606.2 108 606.2 98.4 573.1 98.4 573.1 150.4 605.2 150.4 605.2 140.7 584.9 140.7 584.9 129.9 604 129.9 604 120.4zM620.4 110.4C623.5 108.8 628.5 107.2 633.5 107.2 638.9 107.2 641.7 109.4 641.7 112.9 641.7 116 639.3 118 633 120.1 624.4 123.2 618.7 128 618.7 135.6 618.7 144.5 626.1 151.2 638.3 151.2 644.3 151.2 648.5 150.1 651.6 148.6L649 139.2C647 140.2 643.2 141.7 638.2 141.7 633.1 141.7 630.6 139.3 630.6 136.6 630.6 133.3 633.5 131.9 640.3 129.2 649.4 125.8 653.7 121.1 653.7 113.6 653.7 104.9 647.1 97.5 632.8 97.5 626.8 97.5 621 99.1 618 100.8L620.4 110.4zM664.8 110.4C667.9 108.8 672.9 107.2 677.9 107.2 683.3 107.2 686.1 109.4 686.1 112.9 686.1 116 683.7 118 677.4 120.1 668.8 123.2 663.1 128 663.1 135.6 663.1 144.5 670.5 151.2 682.7 151.2 688.7 151.2 692.9 150.1 696 148.6L693.4 139.2C691.4 140.2 687.6 141.7 682.6 141.7 677.5 141.7 675 139.3 675 136.6 675 133.3 677.9 131.9 684.7 129.2 693.8 125.8 698.1 121.1 698.1 113.6 698.1 104.9 691.5 97.5 677.2 97.5 671.2 97.5 665.4 99.1 662.4 100.8L664.8 110.4z" fill="#f68212"/></g></g></svg>
    </span>

    <!--SFXLink-->
    <a *ngIf="showSFXLink && item.SFXLink && item.SFXLink.length && hasSFX" [href]="item?.SFXLink" target="SFXPopup" (click)="openLink('SFXPopup', item?.SFXLink)" class="action-link" [class.icon]="sfxDisplayIcon && sfxDisplayIcon.length" id="sfxlink">
      <img *ngIf="sfxDisplayIcon && sfxDisplayIcon.length" src="{{sfxDisplayIcon}}" alt="sfxDisplayIcon"/>
      <span *ngIf="!sfxDisplayIcon && sfxDisplayText && sfxDisplayText.length">{{sfxDisplayText}}</span>
    </a>
    <!--/SFXLink-->

    <!--ILLLink-->
    <a *ngIf="showILLLink && item.ILLLink && item.ILLLink.length && hasILL" [href]="item?.ILLLink" target="ILLPopup" (click)="openLink('ILLPopup', item?.ILLLink)" class="action-link" [class.icon]="illDisplayIcon && illDisplayIcon.length" id="illlink">
      <img *ngIf="illDisplayIcon && illDisplayIcon.length" src="{{illDisplayIcon}}" alt="illDisplayIcon"/>
      <span *ngIf="!illDisplayIcon && illDisplayText && illDisplayText.length">{{illDisplayText}}</span>
    </a>
    <!--/ILLLink-->
  </div>

  <div *ngIf="item.isTagNoteOpen" id="addtagnote">
    <addTagNote [parentId]="parentId" [item]="item"  (tagNotesAction)="actTagNotes($event)"></addTagNote>
  </div>

  <div *ngIf="showAbs && item.isAbsOpen" id="absopen">
    <div *ngIf="item.Abstract" class="resultData">
      <strong *ngIf="item.ProductCode && item.ProductCode!='PT'" translate>{{'Abstract' | tr_alias:'SEARCH_RESULTS'}}</strong>
      <strong *ngIf="item.ProductCode && item.ProductCode=='PT'" translate>{{'Summary' | tr_alias:'SEARCH_RESULTS'}}</strong>
      <br/>
      <div *ngIf="!item.abstractLoading && !item.Abstract" class="resultData">
        <span *ngIf="item.ProductCode && item.ProductCode!='PT'" translate>{{'No Abstract found' | tr_alias:'SEARCH_RESULTS'}}</span>
        <span *ngIf="item.ProductCode && item.ProductCode=='PT'" translate>{{'No Summary found' | tr_alias:'SEARCH_RESULTS'}}</span>.
      </div>
      <span [innerHTML]="item?.Abstract"></span>
    </div>
    <div *ngIf="item.abstractLoading && !item.Abstract" class="resultData">
      <loading-indicator loaderText="Loading"></loading-indicator>
    </div>
  </div>

  <div *ngIf="showTestVersions && item.isTestOpen" id="testopen">
    <div *ngIf="item.otherVersionsArray" class="resultData">
      <strong translate>{{'Test Versions' | tr_alias:'SEARCH_RESULTS'}}</strong>:
      <br/>
      <div *ngIf="!item.otherVersionsLoading && !item.otherVersionsArray || (item.otherVersionsArray &&  !item.otherVersionsArray.length)" class="resultData" translate>
        {{'No Test Versions found' | tr_alias:'SEARCH_RESULTS'}}
      </div>
      <article *ngFor="let version of item.otherVersionsArray; let index=index">
        <a class="test-version-link" [routerLink]="['/record/', version?.UID]">{{version?.Title}}</a>, {{version?.Type}}
      </article>
    </div>
    <div *ngIf="item.otherVersionsLoading && !item.otherVersionsArray" class="resultData">
      <loading-indicator loaderText="Loading"></loading-indicator>
    </div>
  </div>

  <div *ngIf="item.HasImpactStatement == 'true' && item.isImpactOpen" id="impactopen">
    <div class="resultData">
      <div *ngIf="item.ImpactStatement" class="resultData">
        <strong translate>{{'Impact Statement' | tr_alias:'SEARCH_RESULTS'}}</strong>
        <p [innerHTML]="item?.ImpactStatement"></p>
      </div>
      <div *ngIf="!item.impactLoading && !item.ImpactStatement" class="resultData" translate>
        {{'No Impact Statements found' | tr_alias:'SEARCH_RESULTS'}}
      </div>
      <div *ngIf="item.impactLoading" class="resultData">
        <loading-indicator loaderText="Loading"></loading-indicator>
      </div>
    </div>
  </div>


  <div *ngIf="showRefs && item.isRefOpen" id="refopen">
    <div class="resultData">

      <search-result-reference [record]="item"></search-result-reference>
    </div>
  </div>

</div>

