@import '../../../../core/pn';

div {
  padding-top: 0.55em;

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .action-link, .info-label {
    &.in-cart {
      cursor: default;
      background-color: @dk-green;
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    margin-left: 5px;
    margin-right: 5px;
    float: left;
    margin: 3px;
  }

  a {
    .cleanedUp;
    background-color: @lt-gray;
    color: @dk-blue;
    min-height: 27px;
    padding: 2px 10px;

    span {
      svg {
        vertical-align: middle;
        path {
          fill: @dk-blue;
        }
      }
    }

    &.test-version-link {
      background-color: @lightest;
      padding: 0;
    }

    &.primary {
      background-color: @dk-blue;
      color: @lightest
    }
    &:hover {
      text-decoration: none;
    }
    &.icon{
      background-color: transparent !important;
      padding: 0 !important;
    }
  }

  .resultData {
    .resultDataFormat;
    padding-top: 1em;
  }
}
