<div class="row">
  <a class="db-open-link" (click)="open = !open">
    <svg width="24" height="24" viewBox="0 0 24 24">
      <path *ngIf="!open" d="M10,17L15,12L10,7V17Z" fill="#5e5e5e"></path>
      <path *ngIf="open" d="M7,10L12,15L17,10H7Z" fill="#5e5e5e" />
    </svg>
    <span class="db-label" translate>COMMON_LABEL.SELECT_DATABASES</span>
  </a>
</div>

<div [collapse]="!open" class="row database-list">
  <fieldset>
    <legend class="sr-only">Select databases to search within</legend>
    <div class="col-md-12 dbOptions">
      <div class="row p-t-15">
        <div *ngFor="let db of accessibleDatabases; let i = index" class="col-md-3 col-sm-3 col-xs-12 p-l-0 p-b-15">
          <label *ngIf="db.code !== 'PH'" class="checkbox-inline" placement="bottom" triggers="hover" tooltip="{{ db.fulldesc | tr_alias:'INFO' | translate:lang }}" tooltipAnimation="false">
            <input type="checkbox" [disabled]="db.disabled" [(ngModel)]="db.selected" (ngModelChange)="onDatabaseChange($event)">
            <span>{{db.name}}</span>
          </label>
          <span *ngIf="db.code === 'PH'">
            <a class="PH-link" href="https://psyctherapy.apa.org/access/apa" target="_blank" placement="bottom" triggers="hover" tooltip="{{ db.fulldesc | tr_alias:'INFO' | translate:lang }}" tooltipAnimation="false">
              <i class="glyphicon glyphicon-play-circle"></i>
              <span>{{db.name}}</span>
            </a>
          </span>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 p-b-15 p-l-0" *ngIf="accessibleDatabases.length > 1">
          <label class="checkbox-inline" placement="bottom" triggers="hover" tooltip="{{ 'INFO.SELECT_ALL_MSG' | translate:lang }}" tooltipAnimation="false">
            <input type="checkbox" [disabled]="selectAllDisabled" [(ngModel)]="isSelectAll" (ngModelChange)="onSelectAllChange($event)">
            <span translate>CHECKBOX.SELECT_ALL</span>
          </label>
        </div>
      </div>
    </div>
  </fieldset>
</div>
