@import '../../core/pn';

.db-open-link {
  font-weight: 300;
  font-size: 1.14em;
  color: #5e5e5e;
  cursor: pointer;
  text-decoration: none;
  margin-top: 18px;
  margin-bottom: 9px;
  .db-label {
    font-size: 16px;
    padding-top: 3px;
    position: absolute;
  }
}

.PH-link {
  text-decoration: none;
  font-weight: normal;
}

.database-list {
  padding: 0;
  fieldset {
    border: solid 1px #ececec;
    padding: 0 15px 0 15px;
    margin: 0 20px 0 0;
  }
}

.m-r-20 {
  margin-right: 20px !important;
}

.p-b-15 {
  padding-bottom: 15px;
}

.p-l-20 {
  padding-left: 20px !important;
}

.p-l-0 {
  padding-left: 0px !important;
}

.p-t-30 {
  padding-top: 30px;
}
.p-t-15 {
  padding-top: 15px !important;
}

.dbOptions {
  @media screen and (min-width: 768px) {
    margin-left: 5%;
  }
}
