@import '../../../core/pn';

.card {
  box-shadow: none;
  position: relative;
  margin-top: 10px;


  h3 {
    font-weight: 300;
    font-size: 1.44em;
    color: #5e5e5e;
  }

  .pt-inner .pti-body {
    padding: 0;
  }

  .pt-inner .pti-body .ptib-item {
    padding: 0;
  }

  .ptib-item .list-group-item loading-indicator{
    color: #5e5e5e;
  }

  .ptib-item .list-group-item {
    border: none;
    background-color: #f7f7f7;
    color: #5e5e5e;
    font-weight: 100;
    text-align: left;
    padding: 5px 13px;
    font-size: 0.99em;
    line-height: 1.44em;
  }

  .ptib-item .list-group-item.more {
    text-align:right;
    display:block;
    color: @lt-blue;
  }

  .ptib-item .list-group-item.more a {
    cursor: pointer;
  }
}
