<div class="card pt-inner">
  <div class="pti-body">
    <div class="ptib-item">
      <div class="list-group">
        <div class="list-group-item"><h3><span translate>{{ 'Related Content' | tr_alias:'RECORD_DISPLAY' }}</span></h3></div>

        <div *ngIf="loading" class="list-group-item">
          <loading-indicator loaderText="Loading"></loading-indicator>
        </div>

        <div class="list-group-item" *ngFor="let article of recommended.articles">
          <a target="_blank" [routerLink]="['/record/', article.UID]">{{article.GivenDocumentTitle}} <span *ngIf="article?.TransDocumentTitle">/ {{article.TransDocumentTitle}}</span></a>
          <span>{{article.AuthorOrig}}</span>, <span>{{article.PublicationYear}}</span>
        </div>

        <div class="list-group-item more" *ngIf="recommended.articles && !hideMoreLink">
          <a (click)="getMoreRecords()"><span translate>{{ 'More' | tr_alias:'RECORD_DISPLAY' }}</span>...</a>
        </div>
      </div>
    </div>
  </div>
</div>
