<div class="resultData">
  <div class="card " style="border: solid 1px #ccc; padding: 5px;">
    <form class="form-horizontal" (submit)="submitTagNotesForm($event)">
      <div class="form-group">
        <div class="col-md-2 col-sm-3 col-xs-3 ">
          <label for="tags{{parentId}}" translate>{{'Tags' | tr_alias:'SEARCH_RESULTS'}}</label>
        </div>
        <div class="col-md-10 col-sm-9 col-xs-8">
          <!-- TODO: Tranlsate input placeholder -->
          <input class="input-sm form-control fg-input" name="tags" (ngModelChange)="checkTagsValidity($event)" [(ngModel)]="tagNotesFormData.tags" type="text" placeholder="{{'Separate tags with semicolons (;)' | tr_alias:'SEARCH_RESULTS' | translate:lang}}. {{'Each tag is limited to 20 characters' | tr_alias:'SEARCH_RESULTS' | translate:lang}}" id="tags{{parentId}}">
          <span class="text-red" *ngIf="hasTagError" translate>{{'Each tag is limited to 20 characters' | tr_alias:'SEARCH_RESULTS'}}</span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-2 col-sm-3 col-xs-3">
          <label for="notes{{parentId}}" translate>{{'Notes' | tr_alias:'SEARCH_RESULTS'}}</label>
        </div>
        <div class="col-md-10 col-sm-9 col-xs-8">
          <!-- TODO: Tranlsate input placeholder -->
          <input class="input-sm form-control fg-input" name="notes" [(ngModel)]="tagNotesFormData.notes" type="text" placeholder="{{'Notes are limited to 2000 characters' | tr_alias:'SEARCH_RESULTS' | translate:lang}}" id="notes{{parentId}}">
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-2 col-sm-3 col-xs-3">
        </div>
        <div class="col-md-10 col-sm-9 col-xs-8">
          <button type="submit" class="btn btn-primary btn-sm" translate>{{'Save' | tr_alias:'SEARCH_RESULTS'}}</button>
          <a (click)="close()" translate>{{'Cancel' | tr_alias:'SEARCH_RESULTS'}}</a>
          <!--
        <span class="c-gray m-l-5">|</span>
        <a >Full-Screen Edit</a>
          -->
        </div>
      </div>
    </form>
  </div>
</div>
