<div *ngIf="isLoading" class="text-center">
  <loading-indicator loaderText="Loading"></loading-indicator>
</div>

<div *ngIf="!isLoading">
    <div class="row">
        <div class="col-md-6 col-lg-7 navbar" *ngIf="phCount">
            <strong>{{phCount | string2NumberNotation}}</strong> <span *ngIf="phCount === 1" translate>{{'Result' | tr_alias:'SEARCH_RESULTS'}}</span><span *ngIf="phCount !== 1" translate>{{'Results' | tr_alias:'SEARCH_RESULTS'}}</span> <span *ngIf="friendlyQuery!=''"> <span translate>{{'for' | tr_alias:'SEARCH_RESULTS'}}</span> </span><friendly-query [text]="friendlyQuery"></friendly-query>
        </div>
        <div class="col-md-6 col-lg-5 pagination">
            <numberedPagination class="pagination" (changePagination)="getNewPagination($event)" [totalItems]="phCount" [selectedPage]="currentPage" [selectedLimit]="rows"></numberedPagination>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-offset-4 col-sm-offset-4 col-md-3 col-sm-3 col-xs-4">
            <a class="showall" (click)="toggleAllAbstracts()">
                <span>
                    <span class="m-l-40" *ngIf="!isAllAbsOpen">
                        <svg style="width:18px;height:18px;" viewBox="0 0 24 24">
                            <path d="M10,17L15,12L10,7V17Z"/>
                        </svg>
                        <span translate>{{'Show All Abstracts' | tr_alias:'SEARCH_RESULTS'}}</span>
                    </span>
                    <span  class="m-l-40" *ngIf="isAllAbsOpen">
                        <svg style="width:18px;height:18px;" viewBox="0 0 24 24">
                            <path d="M7,10L12,15L17,10H7Z"></path>
                        </svg>
                        <span translate>{{'Hide All Abstracts' | tr_alias:'SEARCH_RESULTS'}}</span>
                    </span>
                </span>
            </a>
        </div>
    </div>

    <div class="list row">
        <article *ngFor="let item of videoList; let index=index">
                <div class="numbering col-md-1">
                    <span class="resultNo">{{ (index + 1) + rows * (currentPage - 1) }}.</span>
                </div>
                <div class="col-md-2 meta-data">
                    <img src="/assets/img/PsycTHERAPY_Session.jpg" alt="Therapy Session"/>
                    <div class="type" translate>{{'Video Therapy Session' | tr_alias:'SEARCH_RESULTS'}}</div>
                </div>
                <div class="col-md-10">
                    <a class="title" *ngIf="item?.title" href="{{phHost}}/apa/view/{{item?.uid}}" (click)="logRecordView(item?.uid)"><span [innerHTML]="item.title"></span></a>
                    <div *ngIf="item?.therapistName"><span translate>{{'With' | tr_alias:'SEARCH_RESULTS'}}</span> <span [innerHTML]="item.therapistName"></span></div>
                    <div *ngIf="item?.therapeuticApproach"><span translate>{{'Therapeutic Approach' | tr_alias:'SEARCH_RESULTS'}}</span>: <span [innerHTML]="item.therapeuticApproach"></span></div>
                    <button *ngIf="item?.abstract" (click)="toggleAbstract(item)">
                        <span>
                            <span *ngIf="!item?.isAbsOpen">
                                <svg style="width:18px;height:18px;" viewBox="0 0 24 24">
                                    <path d="M10,17L15,12L10,7V17Z"/>
                                </svg>
                            </span>
                            <span *ngIf="item?.isAbsOpen">
                                <svg style="width:18px;height:18px;" viewBox="0 0 24 24">
                                    <path d="M7,10L12,15L17,10H7Z"></path>
                                </svg>
                            </span>
                            <span translate>{{'Abstract' | tr_alias:'SEARCH_RESULTS'}}</span>
                        </span>
                    </button>
                    <div *ngIf="item.isAbsOpen || (isAllAbsOpen && item.isAbsOpen)">
                        <div *ngIf="item.abstract" class="resultData">
                            <strong translate>{{'Abstract' | tr_alias:'SEARCH_RESULTS'}}</strong><br/>
                            <div *ngIf="!item.abstract" class="resultData"><span translate>{{'No Abstract found' | tr_alias:'SEARCH_RESULTS'}}</span>.</div>
                            <span [innerHTML]="item?.abstract"></span>
                        </div>
                    </div>
                </div>
        </article>
    </div>

    <div class="col-md-6 col-lg-5">
        <numberedPagination class="bottom-pagination" (changePagination)="getNewPagination($event)" [totalItems]="phCount" [selectedPage]="currentPage" [selectedLimit]="rows"></numberedPagination>
    </div>
</div>

