@import '../../../../core/pn';

.navbar {
    margin-top:12px;
    margin-left: 20px;
    margin-right: 10px;
    min-height: 0;
    margin-bottom: 0;
}

.pagination {
    margin-right: -150px !important;
    top:-15px;
}

.bottom-pagination {
    margin-right: -840px !important;
}

hr {
    border-width: 2px 0px 0px;
    border-style: solid none none;
    border-color: #008CD2;
    margin-top: 13px;
    margin-bottom: 20px;
}

.m-l-40 {
    margin-left: 40%;
}

.showall {
    svg {
        path {
            fill: @lt-blue;
        }
    }

    span {
        span {
            display: flex;
            color: @lt-blue;
            font-size: 0.95em;
            }
    }
    margin-top: 5px;
    cursor: pointer;
    text-decoration: none;
}

.list {
    padding-top: 10px;
}

a {
  cursor: pointer;
  text-decoration: none;
}

article {
    .resultNo {
        font-weight: 400;
        font-size: 1em;
        line-height: 1em;
        color: @dk-gray;
    }
    .resultData {
        .resultDataFormat;
    }

    .numbering {
        width: 50px;
        margin-left:10px;
        margin-right: 10px;
    }

    .title {
        font-weight: 400;
        font-size: 1.44em;
        line-height: 1.44em;
        color: #0077BF;
    }

    .meta-data {
        font-size: 0.9em;
        width: 135px;
        text-align: center;
    }

    button {
        span {
            svg {
                path {
                    fill: @dk-blue;
                }
            }
            display: flex;
        }
        .cleanedUp;
        background-color: @lt-gray;
        color: @dk-blue;
        min-height: 26px;
    }

    .resultsCard;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.modal-dialog{
  width: 500px;

  p {
    padding:1em;
  }
}
