<div *ngIf="record" class="citation">
  <span *ngFor="let author of record.AuthorName; let isLast=last">
    <span class="linked-author" *ngIf="forPrint !== 'true'"><a [routerLink]="['/search/results']" [queryParams]="{term: getAuthorName(author), latSearchType: 'a'}" [innerHTML]="author"></a></span>
  </span>
  <h3 *ngIf="!hideCitationHeader" id="citation" translate>{{ 'Citation' | tr_alias:'RECORD_DISPLAY' }}</h3>
  <div *ngIf="displayTitle && forPrint !== 'true'" class="title">{{record?.GivenDocumentTitle}}</div>
  <div class="citation-text">
    <div *ngIf="record?.SourceAPAWithoutDOI && forPrint !== 'true'">
      <span [innerHTML]="record?.SourceAPAWithoutDOI"></span>
      <a *ngIf="record.DOI" href="{{record?.DOI | removeHTMLTag | linkDOIInternal}}" target="_blank" [innerHTML]="record?.DOI | linkDOI"></a>
    </div>
    <div *ngIf="record?.SourceAPAWithoutDOI && forPrint === 'true'">
      <span [innerHTML]="record?.SourceAPAWithoutDOI"></span>
      <span *ngIf="record?.DOI" [innerHTML]="'doi:'+record?.DOI | linkify:'printing'"></span>
    </div>
  </div>
</div>
