@import '../../../core/pn';

.citation {
  padding-right: 30px !important;
  padding-left: 0px !important;
  a {
    color: #2196f3;
    text-decoration: underline;
    padding: 0 0.21em;
    word-break: break-all;
  }
  h3 {
    font-weight: 300;
    font-size: 1.44em;
    color: #5e5e5e;
  }
  .citation-text {
    color: @darkest;
    word-wrap: break-word;
  }
  hr {
    border-width: 1px 0px 0px;
    border-style: dotted none none;
    border-color: #ececec -moz-use-text-color -moz-use-text-color;
    margin-top: 13px;
    margin-bottom: 13px;
  }
  .linked-author {
    margin-right: 10px;
  }
}

