<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title">Invalid Combination</h3>
      </div>
      <div class="modal-body">
        <div>
          <p>Sorry, that search can't be combined. Cited Reference searches can only be combined with other Cited Reference searches.</p>
        </div>

      </div>
    </div>
  </div>
</div>
