
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
      <h1 class="searchHeading m-t-5" translate>BROWSE_BY_LABELS.RECENT_SEARCHES</h1>
      <p *ngIf="pageDesc">{{pageDesc}}</p>
      <div *ngIf="recentSearches && recentSearches.length > 0" class="row card select-all-container p-5">
        <div class="col-xs-12 text-center visible-xs p-t-10">
          {{selectedSearchItems.length}} {{ 'RECENT_SEARCH.SELECTED' | translate: lang }}
        </div>
        <div class="col-md-3 col-sm-3">
          <div class="checkbox">
            <label for="selectedAll">
              <span class="sr-only">Select All</span>
              <div class="row">
                <div class="pull-left w-45">{{'COMMON_LABEL.ALL' | translate:lang }} </div>
                <div class="pull-right"><input id="selectedAll" type="checkbox" [(ngModel)]="isSelectAll" (ngModelChange)="onSelectAllChange($event)"></div>
              </div>
            </label>
          </div>
        </div>
      </div>

      <div *ngIf="loading" class="text-center">
        <loading-indicator loaderText="Loading"></loading-indicator>
      </div>

      <div class="row result-container" *ngIf="!loading">
        <div *ngIf="recentSearches && recentSearches.length == 0" class="text-center emptyState" translate>COMMON_LABEL.NO_RECORDS_FOUND</div>
        <article *ngFor="let search of recentSearches; let index=index">
          <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-2 p-0">
              <div class="checkboxAlignRecent">
              <label for="selectCheckbox_{{index+1}}" class="p-l-0">
                  <span class="sr-only">Select</span>
                  <div class="row">
                    <div><input type="checkbox"  id="selectCheckbox_{{index+1}}" [(ngModel)]="search.isSelected" (ngModelChange)="toggleSelection(search)"></div>
                  </div>
                </label>
              </div>
            </div>
            <div class="col-md-7 col-sm-7 col-xs-9 p-0">
            <a (click)="runIndividualSearch(search)" class="pointer">
                <friendly-query [text]="search.friendlyQuery"></friendly-query>
              </a>
              <div *ngIf="search.query.databases.length" class="search-result-desc">
                <div *ngIf="search.type != 'citedRefs'">
                  <em class="search-db-list">{{ 'COMMON_LABEL.SEARCH_DATABASES' | translate:lang}} </em>
                  <span class="search-db-list" *ngFor="let db of search.query.databases; let i= index;">
                  {{dbMap[db]}}<span *ngIf ="i < search.query.databases.length-1">, </span>
                </span>
                </div>
              </div>
              <div class="ctrl-btn-grp hidden-xs btn-group m-b-20" role="group">
                <button type="button" class="btn btn-primary-white-bg edit" triggers="hover" tooltip="{{'BUTTONS.EDIT' | translate:lang}}" placement="bottom" (click)="editRecentSearch(search)"><span class="sr-only">Edit</span><i class="glyphicon glyphicon-pencil" aria-hidden="true"> </i></button>
                <button *ngIf="!search?.isSaved" type="button" class="btn btn-primary-white-bg save" triggers="hover" tooltip="{{'BUTTONS.SAVE' | translate:lang}}" placement="bottom" (click)="saveRecentSearch(search)" ><span class="sr-only">Save</span><svg style="width:21px;height:21px" viewBox="0 0 24 24"><path fill="#008CD2" d="M15,9H5V5H15M12,19A3,3 0 0,1 9,16A3,3 0 0,1 12,13A3,3 0 0,1 15,16A3,3 0 0,1 12,19M17,3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V7L17,3Z"></path></svg></button>
                <button type="button" class="btn btn-primary-white-bg delete" triggers="hover" tooltip="{{'BUTTONS.DELETE' | translate:lang}}" placement="bottom" (click)="deleteRecentSearch(search.id)"><span class="sr-only">Delete</span><i class="glyphicon glyphicon-remove" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-primary-white-bg permalink" triggers="hover" tooltip="{{'BUTTONS.GET_PERMALINK' | translate:lang}}" placement="bottom" (click)="togglePermalink(index)"><span class="sr-only">Get Permalink</span>
                  <svg style="width:21px;height:21px" viewBox="0 0 24 24">
                    <path d="M16,6H13V7.9H16C18.26,7.9 20.1,9.73 20.1,12A4.1,4.1 0 0,1 16,16.1H13V18H16A6,6 0 0,0 22,12C22,8.68 19.31,6 16,6M3.9,12C3.9,9.73 5.74,7.9 8,7.9H11V6H8A6,6 0 0,0 2,12A6,6 0 0,0 8,18H11V16.1H8C5.74,16.1 3.9,14.26 3.9,12M8,13H16V11H8V13Z"/>
                  </svg>
                </button>
                <button *ngIf="!search?.hasEmailAlert" type="button" class="btn btn-primary-white-bg alertBtn" triggers="hover" tooltip="{{'BUTTONS.SET_EMAIL_ALERT' | translate:lang}}" placement="bottom" (click)="setEmailAlert(search);"><span class="sr-only">Set Email Alert</span><i class="glyphicon glyphicon-bell" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-primary-white-bg rss" triggers="hover" tooltip="{{'BUTTONS.GET_RSS_FEED' | translate:lang}}" placement="bottom" container="body" (click)="generateRssFeed(search)"><span class="sr-only">Get RSS Feed</span><svg style="width:21px;height:21px" viewBox="0 0 24 24"><path fill="#008CD2" d="M5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3M7.5,15A1.5,1.5 0 0,0 6,16.5A1.5,1.5 0 0,0 7.5,18A1.5,1.5 0 0,0 9,16.5A1.5,1.5 0 0,0 7.5,15M6,10V12A6,6 0 0,1 12,18H14A8,8 0 0,0 6,10M6,6V8A10,10 0 0,1 16,18H18A12,12 0 0,0 6,6Z"></path></svg></button>
              </div>
              <div *ngIf="showPermalink[index]" class="row">
                <div *ngIf="search.permalinkLoading" class="text-center">
                  <loading-indicator loaderText="Loading"></loading-indicator>
                </div>
                <div class="col-xs-12 m-b-10 p-l-0" *ngIf="!search.permalinkLoading && search.permalink">
                  <permalink-input [permalink]="search.permalink"></permalink-input>
                </div>
              </div>

              <!--For Test only-->
              <span class="searchId" style="display:none">{{search.id}}</span>
              <!---->
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 recentSearchActionBar text-center">
              <span class="c-gray">
                  {{search.totalRecords}} {{'COMMON_LABEL.RESULT' | translate:lang}}<span *ngIf="search.totalRecords !== '1'" translate>COMMON_LABEL.RESULTS</span>
              </span>

              <div class="ctrl-btn-grp visible-xs btn-group btn-group-xs" role="group">
                <button type="button" class="btn btn-primary-white-bg" triggers="hover" tooltip="{{'BUTTONS.EDIT' | translate:lang}}" (click)="editRecentSearch(search)"><span class="sr-only">Edit</span><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></button>
                <button *ngIf="!search?.isSaved" type="button" class="btn btn-primary-white-bg" triggers="hover" tooltip="{{'BUTTONS.SAVE' | translate:lang}}" (click)="saveRecentSearch(search)" ><span class="sr-only">Save</span><svg  style="width:21px;height:21px" viewBox="0 0 24 24"><path fill="#008CD2" d="M15,9H5V5H15M12,19A3,3 0 0,1 9,16A3,3 0 0,1 12,13A3,3 0 0,1 15,16A3,3 0 0,1 12,19M17,3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V7L17,3Z"></path></svg></button>
                <button type="button" class="btn btn-primary-white-bg" triggers="hover" tooltip="{{'BUTTONS.DELETE' | translate:lang}}" (click)="deleteRecentSearch(search.id)"><span class="sr-only">Delete</span><i class="glyphicon glyphicon-remove" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-primary-white-bg" triggers="hover" tooltip="{{'BUTTONS.GET_PERMALINK' | translate:lang}}" (click)="togglePermalink(index)"><span class="sr-only">Get Permalink</span>
                  <svg style="width:21px;height:21px" viewBox="0 0 24 24">
                    <path d="M16,6H13V7.9H16C18.26,7.9 20.1,9.73 20.1,12A4.1,4.1 0 0,1 16,16.1H13V18H16A6,6 0 0,0 22,12C22,8.68 19.31,6 16,6M3.9,12C3.9,9.73 5.74,7.9 8,7.9H11V6H8A6,6 0 0,0 2,12A6,6 0 0,0 8,18H11V16.1H8C5.74,16.1 3.9,14.26 3.9,12M8,13H16V11H8V13Z"/>
                  </svg>
                </button>
                <button *ngIf="!search?.hasEmailAlert" type="button" class="btn btn-primary-white-bg" triggers="hover" tooltip="{{'BUTTONS.SET_EMAIL_ALERT' | translate:lang}}" (click)="setEmailAlert(search);"><span class="sr-only">Set Email Alert</span><i class="glyphicon glyphicon-bell" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-primary-white-bg waves-effect" triggers="hover" tooltip="{{'BUTTONS.GET_RSS_FEED' | translate:lang}}" container="body" (click)="generateRssFeed(search)" ><span class="sr-only">Get RSS Feed</span><svg style="width:24px;height:24px" viewBox="0 0 24 24"><path fill="#008CD2" d="M5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3M7.5,15A1.5,1.5 0 0,0 6,16.5A1.5,1.5 0 0,0 7.5,18A1.5,1.5 0 0,0 9,16.5A1.5,1.5 0 0,0 7.5,15M6,10V12A6,6 0 0,1 12,18H14A8,8 0 0,0 6,10M6,6V8A10,10 0 0,1 16,18H18A12,12 0 0,0 6,6Z"></path></svg></button>
              </div>
            </div>
         </div>
        </article>
      </div>
      <div class="searchBoxContainer col-sm-3 col-md-3 col-lg-3 visible-xs" *ngIf="recentSearches && recentSearches.length > 0">
        <combine-search-box [selectedSearches]="selectedSearchItems" (update)="updateSelectedRecords($event)" (runSearch)="performNewSearch($event)"></combine-search-box>
      </div>
    </div>
    <div class="searchBoxContainer col-sm-3 col-md-3 col-lg-3 hidden-xs" *ngIf="recentSearches && recentSearches.length > 0">
      <combine-search-box [selectedSearches]="selectedSearchItems" (update)="updateSelectedRecords($event)" (runSearch)="performNewSearch($event)"></combine-search-box>
    </div>
  </div>
</div>
<invalid-search-dialog #invalidSearchDialogChild ></invalid-search-dialog>
<save-search-modal #saveSearchDialog ></save-search-modal>
