@import '../../core/pn';

h1 {
  font-size: 1.44em;
  text-transform: capitalize;
  color: @dk-blue;
}

.container-fluid{
  padding: 0;
  @media(max-width: 768px){
    .searchBoxContainer{
      padding: 10px 0 0 0;
    }
  }
  .searchBoxContainer {
    padding-top: 52px;
  }
  .card {
    @media(max-width: 768px){
      padding: 15px;
    }
    display: flex;
    height: 49px;
    .facetBody;
  }
  .result-container{
   article {
     border-bottom: 1px solid #d0d0d0;
     padding: 10px;
     a {
       font-size: 1.34em;
       font-weight: 400;
       line-height: 1.24em;
       color: #0077bf;
     }
     .c-gray{
       color: #9e9e9e !important;
     }
     .search-result-desc{
       padding-bottom: 15px;
       .search-db-list{
         font-size: 13px;
       }
     }
     .recentSearchActionBar{
       .ctrl-btn-grp{
         @media(max-width: 768px){
           display : inline-block !important;
           .btn-primary-white-bg{
             height: 26px;
           }
         }
       }
     }
     .ctrl-btn-grp{
       border-radius: 3px;
       box-shadow: none;
       border: solid 1px #d0d0d0;
       .btn-primary-white-bg{
         background-color: #ffffff;
         border-right: 2px solid #d0d0d0;
         height: 36px;
         font-size: 1.15em;
       }
       .btn-primary-white-bg:last-child{
         border-right: none;
       }
     }
   }
  }

  .w-45 {
    width: 55px !important;
    margin-left: -10px;
  }
  .p-l-0 {
    padding-left: 0px !important;
  }
  .p-l-49 {
    padding-left: 13px !important;
  }
  .m-t-10 {
    margin-top: 10px !important;
  }
}

.m-b-10 {
  margin-bottom: 10px !important;
}
.m-b-20 {
  margin-bottom: 20px !important;
}
.emptyState {
  padding-top: 15px !important;
  .emptyStateStyle;
}
.pointer{
  cursor: pointer;
}

.full-length{
  width:200px;
}
.p-0 {
  padding: 0 !important;
}
.p-t-10 {
  padding-top: 10px !important;
}
.checkboxAlignRecent {
  padding-left: 55px;
}
button {
  svg {
    fill: @dk-blue;
  }
}
