<div *ngIf="record" class="row abstract">
  <div class="col-md-12 p-0">
    <div class="row">
      <div class="col-xs-6 col-sm-2 col-md-2 p-0">
        <h3 *ngIf="record.Abstract && !hideAbstractHeader && !isTestRecord" translate>{{ 'Abstract' | tr_alias:'COMMON_LABEL' }}</h3>
        <h3 *ngIf="record.Abstract && !hideAbstractHeader && isTestRecord" translate>{{ 'Summary' | tr_alias:'COMMON_LABEL' }}</h3>
      </div>
      <div *ngIf="extraLanguages && extraLanguages.length" class="col-xs-6 col-sm-3 col-md-3">
        <div class="dropDownStyles m-t-15">
           <span>
             <select [(ngModel)]="language" class="form-control" [ngModelOptions]="{standalone: true}">
               <option selected value="English">English</option>
               <option *ngFor="let language of extraLanguages" value="{{language}}">{{language}}</option>
             </select>
           </span>
        </div>
      </div>
    </div>
    <p *ngIf="englishAbstract.length && record.isPT" [innerHTML]="englishAbstract"></p>
    <p *ngIf="record.Abstract[language]" [innerHTML]="record?.Abstract[language]"></p>
  </div>
</div>
<hr/>
