@import '../../../core/pn';

.abstract {
  h3 {
    font-weight: 300;
    font-size: 1.44em;
    color: #5e5e5e;
  }
  cite {
    color: #5e5e5e;
  }

  .dropDownStyles {
    position: relative;
    &.small {
      @media screen {
        @media (max-width: 768px) {
          width: 55px !important;
        }
      }
      span {
        &:before {
          right: 10px;
        }
      }
      select {
        width: 55px !important;
      }
    }
    &.multipleSelect {
      span {
        &:before {
          display: none;
        }
      }
    }
    label {
      font-weight: 100;
      line-height: 2.33em;
      font-size: 0.89em;
      color: @dk-gray;
      margin-right: 1em;
    }
    span {
      &:before {
        position: absolute;
        content: "▾";
        color: @dk-gray;
        background: none;
        pointer-events: none;
        right: 10px;
        margin-top: 5px;
      }
      &:nth-child(2) {
        &:before {
          display: none;
        }
        padding-left: 1em;
      }
      select {
        &.multiselect {
          height: 144px;
        }
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: solid 1px @dk-gray;
        background-color: @lightest;
        border-radius: 0;
        height: 31px;
        padding: 5px;
        cursor: pointer;
      }
    }
    margin: 2px 8px 0 0;
  }

  .m-t-15 {
    margin-top: 15px;
  }
}

hr {
  border-width: 1px 0px 0px;
  border-style: dotted none none;
  border-color: #ececec -moz-use-text-color -moz-use-text-color;
  margin-top: 13px;
  margin-bottom: 13px;
}
