<div bsModal #downloadBlockMessage="bs-modal" class="modal face" tabindex="-1" role="dialog" aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">Important</div>
      </div>
      <div class="modal-body">
        <p>You have downloaded more than the maximum allowable number of APA full-text resources within the last hour, which is in violation of the legally binding terms and conditions of your institution's subscription to APA PsycNET. Institutional access to the APA PsycNET platform is being closely monitored and will be blocked if suspicious activity continues.</p>
        <p>If you are interested in data mining or wish to conduct a systematic review or meta-analysis, please contact PsycINFO services at <a href="mailto:data@apa.org">data@apa.org</a> for assistance. If you need other help accessing resources on APA PsycNET, please contact <a href="mailto:PsycINFO@apa.org">PsycINFO@apa.org</a></p>
      </div>
    </div>
  </div>
</div>
