<div>
  <label for="slct{{parentId}}" class="checkbox lbl" translate>COMMON_LABEL.ALL</label>
  <input id="slct{{parentId}}" type="checkbox" [checked]="isSelectAll" (change)="toggleSelectAll($event.target.checked)" [disabled]="disabledFormControls"/>
</div>
