@import '../../core/pn';

div {
  .lbl {
    font-weight: normal;
    margin-right: 25px;
  }
  input{
    margin: 13px 0 0 0;
  }
  display: flex;

  margin-left: 25px;
  margin-top: 5px;
}

@media (max-width: 991px) {
  div{
    margin-left: 0;
  }
}
