@import '../../../core/pn';

.main-card {
  margin: 20px 25px 0 20px;
  h1 {
    font-size: 20px;
    color: #008cd2;
    margin-bottom: 25px;
  }
  hr {
    border-width: 3px 0px 0px;
    border-style: solid none none;
    border-color: #ececec -moz-use-text-color -moz-use-text-color;
    margin-bottom: 13px;
  }
  form {
    padding-bottom: 50px;
    .card {
      margin: 5px 40px;
      .title {
        font-weight: bold;
        margin-bottom: 15px;
      }
      input {
        margin-right: 10px;
      }
      .form-group {
        padding-bottom: 30px;
        label {
          font-weight: normal !important;
        }
      }
      fieldset {
        legend {
          border-bottom: 0 none !important;
          font-size: 14px;
        }
      }
    }
    .email {
      input {
        width: 70%;
        margin-bottom:30px;
      }
    }
  }
  .captcha{
    margin-left:5%;
  }
 .form-group.required .control-label:after {
    content:"*";
    color:red;
    margin-left: 5px;
  }
}
