<div class="main-card">
  <h1 id="wevalueyourfeedback" translate>FEEDBACK.TITLE_TEXT</h1>
  <p translate>FEEDBACK.INTRODUCTION_MESSAGE</p>
  <hr/>

  <form #f="ngForm" novalidate="" autocomplete="off">

    <div class="row card">
      <div class="col-md-5">
        <fieldset>
          <legend  class="title" translate>FEEDBACK.COMMENT_CATEGORY</legend>
          <label class="sr-only" for="systemBugCheckbox" translate>FEEDBACK.SYSTEM_BUG</label><input type="checkbox" id="systemBugCheckbox" name="comment" [(ngModel)]="comments.systemBug.selected"><span translate>FEEDBACK.SYSTEM_BUG</span><br>
          <label class="sr-only" id="searchproblem" for="searchProblemCheckbox" translate>FEEDBACK.SEARCH_PROBLEM</label><input type="checkbox" id="searchProblemCheckbox" name="comment" [(ngModel)]="comments.searchProblem.selected"><span translate>FEEDBACK.SEARCH_PROBLEM</span><br>
          <label class="sr-only" for="limitingCheckbox" translate>FEEDBACK.LIMITING_SORTING</label><input type="checkbox" id="limitingCheckbox" name="comment" [(ngModel)]="comments.limiting.selected"><span translate>FEEDBACK.LIMITING_SORTING</span><br>
          <label class="sr-only" for="resultsCheckbox" translate>FEEDBACK.RESULTS</label><input type="checkbox" id="resultsCheckbox" name="comment" [(ngModel)]="comments.results.selected"><span translate>FEEDBACK.RESULTS</span><br>
          <label class="sr-only" for="saveCheckbox" translate>FEEDBACK.SAVE_PRINT_DISPLAY</label><input type="checkbox" id="saveCheckbox" name="comment" [(ngModel)]="comments.save.selected"><span translate>FEEDBACK.SAVE_PRINT_DISPLAY</span><br>
          <label class="sr-only" for="exportCheckbox" translate>FEEDBACK.EXPORT</label><input type="checkbox" id="exportCheckbox" name="comment" [(ngModel)]="comments.export.selected"><span translate>FEEDBACK.EXPORT</span><br>
          <label class="sr-only" for="recommendedCheckbox" translate>FEEDBACK.RECOMMENDED_ENHANCEMENT</label><input type="checkbox" id="recommendedCheckbox" name="comment" [(ngModel)]="comments.recommended.selected"><span translate>FEEDBACK.RECOMMENDED_ENHANCEMENT</span><br>
        </fieldset>
      </div>

      <div class="col-md-7">
        <div class="title" translate>FEEDBACK.TEXTBOX_MESSAGE</div>
        <label class="sr-only" for="detailsBox" translate>FEEDBACK.TEXTBOX_MESSAGE</label>
        <textarea rows="6" cols="50" id="detailsBox" name="details" [(ngModel)]="feedbackInfo.details"></textarea>
      </div>
    </div>

    <hr/>

    <div class="row card email">
      <div class="title" translate>FEEDBACK.INFORMATION_MESSAGE</div>
      <!-- From -->
      <div class="form-group required">
        <label class="col-xs-2 control-label" for="from" translate>FEEDBACK.EMAIL</label>
        <div class="col-xs-9">
          <input type="email" class="form-control" name="from" id="from" [(ngModel)]="feedbackInfo.emailInfo.from" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
        </div>
      </div>

      <!-- Name -->
      <div class="form-group required">
        <label class="col-xs-2 control-label" for="name" translate>FEEDBACK.NAME_FIRST_LAST</label>
        <div class="col-xs-9">
          <input type="text" class="form-control" name="name" id="name" [(ngModel)]="feedbackInfo.emailInfo.name" required>
        </div>
      </div>

      <!-- Title -->
      <div class="form-group">
        <label class="col-xs-2 control-label" for="title" translate>FEEDBACK.TITLE</label>
        <div class="col-xs-9">
          <input name="title" id="title" type="text" class="form-control" [(ngModel)]="feedbackInfo.emailInfo.title">
        </div>
      </div>

      <!-- Institution -->
      <div class="form-group">
        <label class="col-xs-2 control-label" id="institutionlabel" for="institution" translate>FEEDBACK.INSTITUTION</label>
        <div class="col-xs-9">
          <input name="institution" id="institution" type="text" class="form-control" [(ngModel)]="feedbackInfo.emailInfo.institution">
        </div>
      </div>

      <!-- Address -->
      <div class="form-group">
        <label class="col-xs-2 control-label" for="address" translate>FEEDBACK.ADDRESS</label>
        <div class="col-xs-9">
          <input name="address" id="address" type="text" class="form-control" [(ngModel)]="feedbackInfo.emailInfo.address">
        </div>
      </div>

      <!-- Full Address -->
      <div class="form-group">
        <label class="col-xs-2 control-label" for="fullAddress" translate>FEEDBACK.CITY_STATE_ZIP</label>
        <div class="col-xs-9">
          <input name="fullAddress" id="fullAddress" type="text" class="form-control" [(ngModel)]="feedbackInfo.emailInfo.fullAddress">
        </div>
      </div>

      <!-- Phone -->
      <div class="form-group">
        <label class="col-xs-2 control-label" for="phone" translate>FEEDBACK.PHONE</label>
        <div class="col-xs-9">
          <input name="phone" id="phone" type="text" class="form-control" [(ngModel)]="feedbackInfo.emailInfo.phone">
        </div>
      </div>
    </div>

    <div class="captcha">
      <re-captcha (captchaResponse)="handleCorrectCaptcha($event)" site_key="6LdGGiYUAAAAAEbGsNiYyxowEHXEipjZA3OCdICs"></re-captcha>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-10 col-sm-2">
        <button type="submit" class="btn btn-success" (click)="sendEmail()" [disabled]="!f.form.valid || !verified || submitted" translate>FEEDBACK.SUBMIT_COMMENTS</button>
      </div>
    </div>
  </form>
</div>

<div class="row" *ngIf="isCorrectForm && !isSending">
  <alert [type]="alertMessage.type" [dismissOnTimeout]="alertMessage.timeout"><span translate>FEEDBACK.RECEIVED_MESSAGE</span></alert>
</div>

<div *ngIf="isSending">
  <loading-indicator loaderText="Sending Email"></loading-indicator>
</div>

