<outage-notification></outage-notification>
<div id='SkipNavigation' class="sr-only"><a href='#MainContent' title='Skip Navigation' accesskey='N'>Skip Navigation</a></div>

<pnheader (comeSoon)="showComingSoonMessage($event)"></pnheader>
<main>
  <a name="MainContent" id="MainContent"></a>
  <router-outlet></router-outlet>
</main>

<pnfooter (comeSoon)="showComingSoonMessage($event)"></pnfooter>

<!-- Session Warning Modal -->
<session-warning #sessionWarningDialog (closeDialog)="checkWarningDialogStatus($event)" ></session-warning>
<!-- Session Expire Modal -->
<session-expired #sessionExpiredDialog></session-expired>
<!-- session time confirmation
<session-confirmation-modal #sessionConfirmationDialog></session-confirmation-modal>-->
<!-- session refresh -->
<session-refresh></session-refresh>
<ip-address-changed #ipAddressChangeDialog></ip-address-changed>
<download-block-message #downloadBlockMessage> </download-block-message>

<coming-soon-modal #comingSoonModal [title]='comingSoonSubject' [source]='comingSoonSource'></coming-soon-modal>
