@import '../../../../core/pn';

.buttons {
  button {
    svg {
      fill: @dk-blue;
    }
    &:active {
      box-shadow: none;
    }
    background-color: @lightest;
    padding: 0 8px;
    .delete-mylist{
        color: #0077BF !important;
        height: 27px !important;
        font-size: 18px !important;
    }
  }
  margin-top: 10px;
}

loading-indicator {
  background-color: @lightest;
  height: 27px !important;
  padding: 9px 3px 4px 3px;
  vertical-align: -4px;
  margin-left: -4px;
}

