<div class="buttons">
  <div class="btn-group btn-group-xs">
    <button type="button" class="export btn" *ngIf="showAllOptions" placement="bottom" triggers="hover" tooltip="{{'Export' | tr_alias:'SEARCH_RESULTS' | translate:lang}}" (click)="openExportRISRecordModal()">
      <span class="sr-only">Export</span>
      <svg style="width:22px;height:22px" viewBox="0 0 24 24">
        <path d="M19,3H5C3.89,3 3,3.89 3,5V9H5V5H19V19H5V15H3V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3M10.08,15.58L11.5,17L16.5,12L11.5,7L10.08,8.41L12.67,11H3V13H12.67L10.08,15.58Z"/>
      </svg>
    </button>
    <button type="button" class="email btn" placement="bottom" triggers="hover" tooltip="{{'Email' | tr_alias:'COMMON_LABEL' | translate:lang}}" (click)="openEmailRecordModal()">
      <span class="sr-only">Email</span>
      <svg style="width:22px;height:22px" viewBox="0 0 24 24">
        <path d="M20,8L12,13L4,8V6L12,11L20,6M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z"/>
      </svg>
    </button>
    <button type="button" class="print btn" placement="bottom" triggers="hover" tooltip="{{'Print' | tr_alias:'COMMON_LABEL' | translate:lang}}" (click)="openPrintRecordModal()">
      <span class="sr-only">Print</span>
      <svg style="width:22px;height:22px" viewBox="0 0 24 24">
        <path d="M18,3H6V7H18M19,12A1,1 0 0,1 18,11A1,1 0 0,1 19,10A1,1 0 0,1 20,11A1,1 0 0,1 19,12M16,19H8V14H16M19,8H5A3,3 0 0,0 2,11V17H6V21H18V17H22V11A3,3 0 0,0 19,8Z"/>
      </svg>
    </button>
    <button type="button" class="batch-add btn" *ngIf="showAllOptions && !showDeleteFromMylist && !isSaving" placement="bottom" data-container="body" triggers="hover" tooltip="{{'Add to My List' | tr_alias:'COMMON_LABEL' | translate:lang}}" (click)="addtoMylist()">
      <span class="sr-only">Add to My List</span>
      <svg style="width:22px;height:22px" viewBox="0 0 24 24">
        <path d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z"/>
      </svg>
    </button>
    <button type="button" class="batch-delete btn " *ngIf="showAllOptions && showDeleteFromMylist" placement="bottom" container="body" triggers="hover" tooltip="{{'Delete from My List' | tr_alias:'COMMON_LABEL' | translate:lang}}" [disabled]="allSelectedRecordUIDList && !allSelectedRecordUIDList.length" (click)="deletefromMylist()">
      <span class="sr-only">Delete from My List</span>
      <i class="glyphicon glyphicon-remove delete-mylist"></i>
    </button>
  </div>

  <loading-indicator *ngIf="isSaving" loaderText=""></loading-indicator>
</div>


<email-record-modal #emailRecordDialog [parentId]="parentId" [isMyList]="isMyList" [recordsPerPage]="allRecordsOnPageUIDList.length" [allRecordsOnPageUIDList]="allRecordsOnPageUIDList"></email-record-modal>
<export-ris-modal #exportRisDialog [parentId]="parentId" [isMyList]="isMyList" [recordsPerPage]="allRecordsOnPageUIDList.length" [allRecordsOnPageUIDList]="allRecordsOnPageUIDList"></export-ris-modal>
<print-record-modal #printRecordDialog [parentId]="parentId" [isMyList]="isMyList" [recordsPerPage]="allRecordsOnPageUIDList.length" [allRecordsOnPageUIDList]="allRecordsOnPageUIDList"></print-record-modal>

<delete-confirmation-modal #deleteConfirmationDialog [userMessage]="deleteMessage" [isMyList]="isMyList" (onModalHide)="processDeletefromMylist($event)"></delete-confirmation-modal>
<add-to-list-warning-modal #addToListWarningDialog [count]="totalAllowedMylistCount"></add-to-list-warning-modal>
<add-to-list-confirmation-modal #addToListConfirmationDialog [message]="confirmationMessage" [numberOfDisplayedModals]="numberOfDisplayedModals"></add-to-list-confirmation-modal>
