<span *ngIf="loadingEditor" class="text-center">
  <loading-indicator loaderText="Loading"></loading-indicator>
</span>

<div class="card pt-inner" *ngIf="showContainer && !loadingEditor">
  <div class="pti-body">
    <div class="ptib-item">
      <div class="list-group">
        <div class="list-group-item"><h3 class="m-b-0"><span [innerHTML]="record?.PublicationName"></span></h3></div>
        <div class="list-group-item" *ngIf="record?.PAJournalCode !== 'amp'">
          <strong *ngIf="journalEditors && journalEditors.indexOf(' and ') >= 0" translate>{{ 'Editors' | tr_alias:'RECORD_DISPLAY' }}</strong><strong *ngIf="journalEditors && journalEditors.indexOf(' and ') < 0" translate>{{ 'Editor' | tr_alias:'RECORD_DISPLAY' }}</strong> <span [innerHTML]="journalEditors"></span>
        </div>
        <div class="list-group-item" *ngIf="record?.PAJournalCode === 'amp'">
          <strong translate>{{ 'Editor-in-Chief' | tr_alias:'RECORD_DISPLAY' }}</strong> <span [innerHTML]="journalEditors"></span>
        </div>
        <div *ngIf="showJournalTOC" class="list-group-item">
          <a *ngIf="record.IsOFP && record.IsOFP==='true'" [routerLink]="['/PsycARTICLES/journal/', record.PAJournalCode, 'onlinefirst']"><span translate>{{ 'Journal TOC' | tr_alias:'RECORD_DISPLAY' }}</span></a>
          <a *ngIf="record.PAJournalCode && !record.IsOFP && record.IsOFP!=='true'" [routerLink]="['/PsycARTICLES/journal/', record.PAJournalCode, record.PAVolume, record.PAIssueCode]"><span translate>{{ 'Journal TOC' | tr_alias:'RECORD_DISPLAY' }}</span></a>
        </div>
      </div>
    </div>
  </div>
</div>
