@import '../../../core/pn';


h3 {
  font-weight: 300;
  font-size: 1.44em;
  color: #5e5e5e;
}

.card {
  box-shadow: none;
  position: relative;
  background: #fff;
  margin-top: 10px;
}

a {
  cursor: pointer;
}

.pt-inner .pti-body {
  padding: 0;
  background-color: #f7f7f7;
}

.pt-inner .pti-body .ptib-item {
  padding: 0;
}

.ptib-item .list-group-item {
  background: none;
  background-color: #f7f7f7;
  border: none;
  color: @dk-gray;
  font-weight: 100;
  text-align: left;
  padding: 5px 13px;
  font-size: 0.99em;
  line-height: 1.44em;
}

.ptib-item .list-group-item strong i {
  font-size: 1em;
}

.ptib-item .list-group-item i {
  font-size: 1.44em;
}

.m-b-0 {
  margin-bottom: 0;
}

