<div *ngIf="record && record.HasAccess" class="citedRefs accordionContainer">
  <div accordion-heading class="accordionHeading" (click)="toggleCitedRefs()">
    <h4 *ngIf="!hideCitedRefHeader">
      <a [ngClass]="{'opened': !record?.isCiteOpen, 'closed': record?.isCiteOpen}">
        <svg style="width:24px;height:24px" viewBox="0 0 24 24" class="plus">
          <path fill="#0077BF" d="M17,13H13V17H11V13H7V11H11V7H13V11H17M19,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3Z"/>
        </svg>
        <svg style="width:24px;height:24px" viewBox="0 0 24 24" class="minus">
          <path fill="#0077BF" d="M17,13H7V11H17M19,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3Z"/>
        </svg>
        <span translate>{{ 'References' | tr_alias:'RECORD_DISPLAY' }}</span>
      </a>
    </h4>
  </div>
  <div [hidden]="!record.isCiteOpen">
    <div *ngIf="record" accordion-content>
      <cited-references *ngIf="record.isCiteOpen" [forPrint]="forPrint" [(record)]="record" (intimateParent)="intimateParent()"></cited-references>
    </div>
  </div>
</div>
