@import '../../../core/pn';

.citedRefs {
  a {
    color: #2196f3;
    text-decoration: none;
  }
  h4 {
    cursor: pointer;
    color: #0077bf;
    font-size: 1.24em;
    word-break: normal;
  }
  .opened {
    .plus {
      display: block;
      margin-right: .15em;
    }
    .minus {
      display: none;
      margin-right: .15em;
    }
  }

  .closed {
    .plus {
      display: none;
      margin-right: .15em;
    }
    .minus {
      display: block;
      margin-right: .15em;
    }
  }

  .accordionHeading {
    .accordionHeadingStyle;
    margin-left: 0;
  }

  .accordionContainer {
    padding: 8px 0;
    border-bottom: dotted 1px @md-gray;
  }

  .emptyState {
    .emptyStateStyle;
  }

  a > span {
    margin-top: 2px;
  }
}
