<div class="card SearchBoxThesaurus">
  <div>
    <h3>{{'Selected ' + lookupOptions?.label | tr_alias:'THESAURUS' | translate:lang}}</h3>
    <p class="darkGray text-center">{{ 'COMMON_LABEL.YOU_HAVE' | translate:lang}} {{getSelectedTerms().length || 0}} {{ 'THESAURUS.SELECTED' | translate:lang}} <span class="smallcase">{{lookupOptions?.label | tr_alias:'THESAURUS' | translate:lang}}</span></p>
    <div class="selection" *ngIf="getSelectedTerms() && getSelectedTerms().length">
      <ul>
        <li *ngFor="let term of getSelectedTerms()">
          <p>
            <i class="redColor pointer" (click)="removeTerm(term)">&times;</i>
            <span> {{term | capitalizeWordHTMLContents}}</span>
          </p>
        </li>
      </ul>
    </div>
  </div>
  <hr class="dk">
  <div class="text-center">
    <span class="addtosearchusing label" translate>THESAURUS.ADD_TO_SEARCH_USING</span>
    <select [(ngModel)]="operator" [disabled]="!contentLoaded && getSelectedTerms().length<1" aria-label="operator">
      <option *ngFor="let i of lookupOptions.operators" [value]="i">{{i | tr_alias:"LIST" | translate:lang}}</option>
    </select>
  </div>

  <div class="text-center">
    <button class="btn btn-primary" (click)="addToSearchList()" [disabled]="!contentLoaded || getSelectedTerms().length<1">
      <span translate>BUTTONS.ADD_TO_SEARCH</span>
    </button>

    <a *ngIf="getSelectedTerms() && getSelectedTerms().length>0" (click)="clearAll()" style="text-align: center" class="greybg" translate>BUTTONS.CLEAR_ALL</a>
  </div>
  <br/>
</div>
