@import '../../../core/pn';

.card {
  margin: 20px 25px 0 20px;
  h1, h2 {
    color: @dk-blue;
    margin-bottom: 20px;
  }
  h1 {
    font-size: 1.44em;
  }
  h2 {
    font-size: 1.25em;
  }
  h3 {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .title {
    font-weight: bold;
  }
  .details {
    margin-top: 10px;
    li {
      padding-top: 10px;
    }
  }
  .footnote {
    margin-top: 20px;
    padding-top: 10px;
  }
}
