<article class="card">
  <h1>Privacy Policy and APA Website Security</h1>
  <div class="details">
    <p>The American Psychological Association (“APA”) is committed to maintaining your trust, values your privacy and recognizes the sensitivity of your personal information. We work toward protecting the privacy of users of our website. We have carefully crafted this Privacy Policy to address concerns you might have, and to assure you that if you give us personal information, we will treat it carefully and appropriately. This Privacy Policy applies to the website available at <a href="http://www.apa.org/">www.apa.org</a> and the mobile applications and websites where this Privacy Policy is posted (collectively, the “Sites”). This Privacy Policy does not pertain to information that is collected offline. BY USING THE SITES, YOU CONSENT TO THE TERMS AND CONDITIONS OF THIS PRIVACY POLICY AND TO OUR PROCESSING OF PERSONAL INFORMATION FOR THE PURPOSES STATED BELOW. IF YOU DO NOT AGREE TO THE TERMS AND CONDITIONS OF THIS PRIVACY POLICY, PLEASE DO NOT USE THE SITES.</p>
  </div>

  <h2>Basic Confidentiality Policy</h2>
  <div class="details">
    <p>Where personal information is required to use or interact with the Sites, it is our policy that this information – such as your name, postal or email address, or telephone number — is private and confidential. The personal information you provide to APA is stored in a secure location, accessible only by appropriate staff, and is used for the purposes set forth in this policy, such as to reply to a question or to send requested materials.</p>
  </div>

  <h2>Information Collected</h2>
  <div class="details">
    <p>We collect two types of information from visitors to the Sites: (1) Personal information; and (2) Non-Personal information, such as your IP address or cookies.</p>
  </div>

  <h3>1. Personal information</h3>
  <div class="details">
    <p>"Personal information" is information that identifies you personally, such as your name, postal address, telephone number, or email address. The APA collects and stores the personal information that you have provided to us. Here are some examples of manners in which we may collect your personal information on the Sites:</p>
    <ul>
      <li>We will collect your first and last name, email address, and postal address when you become a member and sign up to receive information from the APA;</li>
      <li>We may collect your email address if you contact us with a question;</li>
      <li>We may collect your first and last name, date of birth and email address if you choose to participate in a contest or sweepstakes;</li>
      <li>We may collect your first and last name, postal address and billing information if you make a purchase through our Sites; and</li>
      <li>We may collect your device ID number when you interact with the Sites using a mobile device.</li>
    </ul>

    <p>The above list provides an example of the personal information that may be collected from you on the Sites. If you do not want the APA to collect your personal information, please do not provide it to us.</p>
  </div>

  <h3>2. Non-Personal information</h3>
  <div class="details">
    <p>“Non-Personal information” can be technical information or it can be demographic information, such as your age, gender, ZIP code or other geolocation data, or interests. Non-personal information does NOT identify you personally. Here are some examples of the non-personal information that is collected via the Sites and a description of how this information is used:</p>
    <ul>
      <li><span class="title">Internet Protocol (IP) address</span> — Your IP address is a number that lets computers attached to the Internet know where to send you data — such as the webpages you view. We use this information to deliver our webpages to you upon request, to tailor our Sites to the interests of our users and to measure traffic within our Sites.</li>
      <li><span class="title">Cookies</span> — APA websites use "cookies" to improve functionality and usability. We use this information for planning, tracking and to improve the technical functions of our sites and products. By using our products and agreeing to this policy, you consent to our use of cookies in accordance with the terms of this policy.</li>
    </ul>
  </div>

  <h3>About Cookies</h3>
  <div class="details">
    <p>Cookies are text files sent by Web servers to Web browsers and are stored on the user’s computer or mobile device. If the browser is loading a page and the server requests the information stored in the cookie, the cookie is sent back to the server.</p>
    <p>Cookies contain data about the user’s activities on the website, and can be used by Web servers to identify and track users as they navigate different pages on a website, and to identify users returning to a website.</p>
    <p>Cookies may be either "persistent" or "session" cookies. A persistent cookie will remain valid until its set expiration date (unless deleted by the user). A session cookie will expire at the end of the user session, when the Web browser is closed.</p>
  </div>

  <h3>How APA uses cookies</h3>
  <div class="details">
    <p>Cookies do not contain any information that personally identifies the user, but information that we store about the user may be linked by us to the information stored in and obtained from cookies.</p>
    <p>APA websites use the information we obtain from people’s use of our website through cookies for the following purposes:</p>
    <ul>
      <li>To recognize the user’s computer when the user visits the website.</li>
      <li>To track some user actions during website navigation.</li>
      <li>To improve the website’s usability.</li>
      <li>To analyze the use of the website.</li>
      <li>To administer the website.</li>
      <li>To report click-through data to our advertisers.</li>
    </ul>
  </div>

  <h3>Third-party cookies</h3>
  <div class="details">
    <p>When users visit APA websites third-party cookies may be sent to their computers by APA’s advertisers or service providers.</p>
    <p>They may use the information obtained from these cookies:</p>
    <ul>
      <li>To track users browsing across multiple websites.</li>
      <li>To build profiles of users’ Web surfing.</li>
      <li>To target advertisements that may be of particular interest to users.</li>
    </ul>
  </div>

  <h3>Blocking cookies</h3>
  <div class="details">
    <p>Most browsers allow users to refuse to accept cookies.</p>
    <ul>
      <li>In Internet Explorer, you can refuse all cookies by clicking "Tools," "Internet Options," "Privacy," and selecting "Block all cookies" using the sliding selector.</li>
      <li>In Firefox, you can block all cookies by clicking "Tools," "Options," and un-checking "Accept cookies from sites" in the "Privacy" box.</li>
      <li>In Google Chrome, you can adjust your cookie permissions by clicking "Options," "Under the hood" and Content Settings in the "Privacy" section. Click on the Cookies tab in the Content Settings.</li>
      <li>In Safari, you can block cookies by clicking “Preferences,” selecting the “Privacy” tab and “Block cookies.”</li>
    </ul>
    <p>Blocking all cookies will, however, have a negative impact upon the usability of many websites. If you block cookies, you may not be able to log on, access content or use search functions, for example.</p>
  </div>

  <h3>Deleting cookies</h3>
  <div class="details">
    <p>Users can also delete cookies already stored on their computers:</p>
    <ul>
      <li>In Internet Explorer, you must manually delete cookie files.</li>
      <li>In Firefox, you can delete cookies by first ensuring that cookies are to be deleted when you "clear private data" (this setting can be changed by clicking "Tools," "Options" and "Settings" in the "Private Data" box) and then clicking "Clear private data" in the "Tools" menu.</li>
      <li>In Google Chrome, you can adjust your cookie permissions by clicking "Options," "Under the hood," and Content Settings in the "Privacy" section. Click on the Cookies tab in the Content Settings.</li>
      <li>In Safari, you can delete cookies by clicking “Preferences,” selecting the "Privacy" tab and selecting "Remove All Website Data."</li>
    </ul>
    <p>Doing this may have a negative impact on the usability of many websites.</p>
    <ul>
      <li><span class="title">Web Beacons</span> (also known as "clear gifs," "Web bugs" or "pixel tags") —"Web Beacons" are tiny graphics with a unique identifier, similar in function to cookies, and are used to allow us to count users who have visited certain pages of the Sites and to help determine the effectiveness of promotional or advertising campaigns. When used in HTML-formatted email messages, Web beacons can tell the sender whether and when the email has been opened. In contrast to cookies, which are stored on a user's computer hard drive, Web beacons are embedded invisibly on Web pages.</li>
      <li><span class="title">Demographic Information</span> — "Demographic Information" may be your gender, age, ZIP code or geolocation data, and/or interests, which you voluntarily provide to us on the Sites. We use this information to provide you with personalized services and to analyze trends to ensure the information provided by the Sites meets your needs.</li>
    </ul>
    <p>Please note that we also consider aggregated information, which is not personally identifiable, to be non-personal information. The above list provides an example of the non-personal information that is collected via the Sites.</p>
  </div>

  <h2>Use of Information Collected Via the Sites</h2>
  <h3>1. Personal information</h3>
  <div class="details">
    <p>We use your personal information that is collected on the Sites primarily for the following purposes:</p>
    <ul>
      <li>To deliver services, such as educational programs, information or newsletters you request or purchase;</li>
      <li>To alert you to special offers, updated information and other new services from APA or other third parties or to forward promotional materials;</li>
      <li>To process your order and, if necessary, to contact you regarding the status of your order;</li>
      <li>To fulfill the terms of a promotion;</li>
      <li>To ensure the Sites are relevant to your needs;</li>
      <li>To help us create and publish content most relevant to you;</li>
      <li>To contact you regarding additional services and features;</li>
      <li>To request your feedback about your experience with APA;</li>
      <li>To notify you about a material change to this Privacy Policy, if necessary; and</li>
      <li>To allow you access to limited-entry areas of the Sites.</li>
    </ul>
  </div>

  <h3>2. Non-Personal information</h3>
  <div class="details">
    <p>Non-personal information is used as described above and in other was as permitted by applicable laws, including combining non-personal information with personal information.</p>
  </div>

  <h2>Release of Information to Third Parties</h2>
  <div class="details">
    <p>The APA member and affiliate directories are available only to members and affiliates in a members-only section of the site. All members’ and affiliates’ names are listed in the directory, but members have the option to suppress other information. Personal information collected as a function of the APA Sites will not be released to third parties except to further the purpose for which you provided and in the following instances:</p>
    <ul>
      <li>To fulfill a service to you. For example, if you choose to download information through the Sites, we may share your personal information in order to provide the information to you. In addition, if you email us a question, we may use your email address to process your request and respond to your question. Also, if you are entering a sweepstakes or contest, we may use your personal information in order to fulfill the terms of that promotion. This means that we may share the information for prize fulfillment purposes or mail carriers. We also may share your information with the co-sponsor of that promotion.</li>
      <li>To affiliates, strategic partners, agents, third party marketers or other unaffiliated parties who are offering products or services that we believe may be of interest to you or who require your personal information for research, administrative and/or internal business purposes. These parties may use your personal information to contact you with an offer or advertisement related to a product or service, or they may use such information for their own research, administration or business purposes. If you do not want us to share your personal information in this manner, please do not provide us with this information.</li>
      <li>To unaffiliated third-party service providers, agents or independent contractors who help us maintain our Sites and provide other administrative services to us (including, but not limited to, order processing and fulfillment, providing customer service, maintaining and analyzing data, sending customer communications on APA's behalf, and entry collection, winner selection and prize fulfillment for contests, sweepstakes and other promotions). We seek to ensure that these unaffiliated third parties will not use the personal information for any other purpose than to provide the administrative services for which they are responsible. Because such unaffiliated third-party service providers that help us administer our Sites will have access to users' personal information, if you do not wish for our unaffiliated third-party service providers to have access to your information, please do not register or submit any personal information to us.</li>
      <li>To complete your purchase. If you choose to make a purchase on the Sites, we may collect from you your credit card number, billing address and other information related to such purchase, and we may use such collected information in order to fulfill your purchase. We may also provide such information, or other personal information provided by you, to unaffiliated third parties as necessary to complete your purchase (for example, to process your credit card).</li>
      <li>To comply with the law or in the good faith belief that such action is necessary in order to conform to the requirements of law or comply with legal process served on us, protect and defend our rights or property, including the rights and property of APA and its family of Sites or act in urgent circumstances to protect the personal safety of our end users.</li>
      <li>To third parties as part of any corporate reorganization process including, but not limited to, mergers, acquisitions, and sales of all or substantially all of our assets.</li>
      <li>To track and analyze non-identifying and aggregate usage and volume statistical information from our visitors and customers and provide such information to third parties.</li>
      <li>To protect against potential fraud, we may verify with third parties the information collected from these Sites. In the course of such verification, we may receive personal information about you from such services. In particular, if you use a credit card or debit card to purchase services with us, we may use card authorization and fraud screening services to verify that your card information and address matches the information that you supplied to us, and that the card has not been reported as lost or stolen.</li>
     </ul>

     <p>Except as described in this Privacy Policy or at the time we request the information, we do not otherwise use, share or otherwise disclose your personal information to any third parties.</p>
  </div>

  <h2>Children Under 13</h2>
  <div class="details">
    <p>The Sites do not knowingly target children under the age of 13 and we do not collect personal information from any child under the age of 13. In the event we learn that such information has been provided to the Sites, we will delete or destroy it.</p>
  </div>

  <h2>Third Party Websites and Advertisers</h2>
  <div class="details">
    <p>The APA Sites may provide you with links to other websites, although we do not necessarily advise that you are linking to another website. In the event that you choose to access such websites, APA is not responsible for any actions or policies of those sites. Further, please note that the third party's Privacy Policy and security practices may differ from APA standards. APA neither assumes responsibility for, nor does it control, endorse or guarantee any aspect of your use of the linked site. We recommend that you check the Privacy Policy of such a party before providing personal information to it.</p>
    <p>The APA may also permit advertisers, third party ad networks or other advertising companies to serve advertisements on the Sites. Please be advised that such advertising companies may gather information about your visit to the Sites or other sites (such as through cookies, Web beacons and other technologies) to enable such advertising companies to market products or services to you, to monitor which ads have been served to your browser and which Web pages you were viewing when such ads were delivered. If you would like more information about this practice and to know your choices please <a href="http://www.networkadvertising.org/managing/opt_out.asp" target="_blank">click here</a>. PLEASE NOTE THAT THIS POLICY DOES NOT COVER THE COLLECTION AND USE OF INFORMATION BY SUCH ADVERTISING COMPANIES.</p>
  </div>

  <h2>Forums, Chat Rooms and Other Public Posting Areas</h2>
  <div class="details">
    <p>Please note that any information you include in a message you post to any chat room, forum or other public posting area is available to anyone with Internet access. If you don't want people to know your e-mail address, for example, don't include it in any message you post publicly. PLEASE BE EXTREMELY CAREFUL WHEN DISCLOSING ANY INFORMATION IN CHAT ROOMS, FORUMS AND OTHER PUBLIC POSTING AREAS. WE ARE NOT RESPONSIBLE FOR THE USE BY OTHERS OF THE INFORMATION THAT YOU DISCLOSE IN CHAT ROOMS, FORUMS AND OTHER PUBLIC POSTING AREAS</p>
  </div>


  <h2>Opt-Out</h2>
  <div class="details">
    <p>We communicate with our members on a regular basis via email. For example, we may use your email address to confirm your request, to send you notice of payments, to send you information about changes to our products and services, and to send notices and other disclosures as required by law. Generally, members cannot opt-out of these communications, but they will be primarily informational in nature rather than promotional.</p>
    <p>However, we provide you the opportunity to exercise an opt-out choice if you do not want to receive other types of communications from us, such as messages or updates from us regarding new services and products offered on the Sites or if you do not want us to share your personal information with third parties. For emails, you may opt-out by clicking on the "unsubscribe" link within the text of an email. We will process your unsubscribe as soon as possible, but please be aware that in some circumstances you may receive a few more messages until the unsubscribe is processed. If you have elected to receive notices to your mobile device via text message, you may opt-out by replying “STOP” to such mobile message. You may receive a confirmatory text message in response to your “STOP” request and you hereby consent to receipt of such confirmation.</p>
  </div>

  <h2>Changes in Our Privacy Policy</h2>
  <div class="details">
    <p>APA reserves the right to make changes to our Privacy Policy at any time and for any reason without prior notice. Any changes to our Privacy Policy will be posted on this page so that you are always aware of our policies. We may also contact you by email with changes. Additionally, we will updated the “last updated” date below.</p>
  </div>

  <h2>Website Security</h2>
  <div class="details">
    <p>No data transmissions over the Internet can be guaranteed to be 100 percent secure. Consequently, we cannot ensure or warrant the security of any information you transmit to us and you understand that any information that you transfer to APA is done at your own risk. However, APA uses website security measures consistent with current best practices to protect its website, email and mailing lists. These measures include technical, procedural, monitoring and tracking steps intended to safeguard data from misuse, unauthorized access or disclosure, loss, alteration or destruction.</p>
    <p>Credit card information is transmitted using secure socket layer (SSL) encryption. Member and purchaser information is a high priority and we use our own protective measures, as well as the capabilities of our software and hardware vendors.</p>
    <p>We realize there can be incidents of misuse or unauthorized program incursions, as almost every website, service and user encounters. In those instances, our goals are to move quickly to isolate the problem, ensure or restore proper functionality and minimize any inconvenience to our users. As appropriate and necessary, APA will notify the relevant authorities of these incidents of misuse or unauthorized program incursions of the APA website.</p>
  </div>

  <h2>Assignment</h2>
  <div class="details">
    <p>In the event that all or part of our assets are sold or acquired by another party, or in the event of a merger, you grant us the right to assign the personal and non-personal information collected via the Sites.</p>
  </div>

  <h2>Contacting the APA</h2>
  <div class="details">
    <p>Please email any problems or questions to <a href="mailto:customerservice@apa.org">Customer Service</a>. While we may not be able to respond to every report, we take each report seriously and will investigate it thoroughly.</p>
  </div>

  <h2>Your California Privacy Rights</h2>
  <div class="details">
    <p>California Civil Code Section 1798.83 permits our visitors who are California residents to request certain information regarding the APA’s disclosure of personal information to third parties for their direct marketing purposes. To make such a request, please contact us at <a href="mailto:customerservice@apa.org">Customer Service</a>.</p>
  </div>

  <div class="footnote">
    <p>Effective Date: Aug. 26, 2013</p>
    <p>Last Updated: Aug. 26, 2013</p>
  </div>
</article>
