<div class="">
  <div class="searchCtrls">
    <div class="card-body card-padding">
      <div class="row">
        <div class="col-md-9 col-sm-9 p-0">
          <h1 class="searchHeading m-t-5" translate>THESAURUS.HEADING</h1>
          <div class="card pt-inner m-t-0 m-b-0">
            <div class="pti-body p-t-10 p-l-10 p-r-10 p-b-5">
              <div class="row ptib-item m-h-100 lookUp">
                <!--<div class="col-sm-3">
                  <h2 class="m-0 luterm h3"><em id="lookupterm" translate>COMMON_LABEL.LOOK_UP_TERM</em></h2>
                </div>-->
                <div class="col-sm-12" style="height:50px;">
                  <form (keydown)="keyDownFunction($event)">
                    <div class="form-group">
                      <input class="input-lg form-control fg-input" type="text" name="term" placeholder="{{'COMMON_LABEL.LOOK_UP_TERM'| translate:lang}}" [(ngModel)]="term" aria-label="term"/>
                      <button type="button" class="btn btn-primary btn-sm searchBtnEmb" (click)="executeSearch()">
                        <span class="sr-only">Search</span>
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                          <path d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z"/>
                        </svg>
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="resultContainer m-b-15">
            <div class="card">
              <select-all class="p-l-5" *ngIf="selectedLimit>1 && !loading" [parentId]="'thesaurus1'" [(isSelectAll)]="isSelectAll" [disabledFormControls]="disabledFormControls" (toggleAllSelection)="toggleAllSelection($event)"></select-all>
              <browseaz (changeValue)="getNewAlpha($event)" [selectAlpha]="selectAlpha"></browseaz>
            </div>
            <div *ngIf="loading" class="text-center">
              <br/>
              <loading-indicator loaderText="Loading"></loading-indicator>
              <br/>
              <br/>
            </div>


            <div class="thesaurus-result" *ngIf="thesaurusList && !loading">
              <div class="row pagination-mob-container visible-xs text-center">
                <br>
                <termBasedPagination (changePagination)="getNewPagination($event)" [totalItems]="totalItems" [selectedPage]="selectedPage" [selectedLimit]="selectedLimit" [prependText]="prependText" [appendText]="appendText"></termBasedPagination>
              </div>
              <div class="visible-sm visible-lg visible-md" style="max-height:50px;">
                <br>
                <termBasedPagination (changePagination)="getNewPagination($event)" [totalItems]="totalItems" [selectedPage]="selectedPage" [selectedLimit]="selectedLimit" [prependText]="prependText" [appendText]="appendText"></termBasedPagination>
              </div>
              <br *ngIf="thesaurusList.length < selectedLimit"/>
              <p *ngIf="thesaurusList.length < 1" class="emptyState">No terms found.</p>
              <div *ngFor="let thesaurus of thesaurusList" class="accordionContainer">
                <div accordion-heading class="accordionHeading">
                  <a [ngClass]="{'opened': !thesaurus?.isOpen, 'closed': thesaurus?.isOpen}">
                    <div (click)="toggleThesaurus(thesaurus)">
                      <svg style="width:24px;height:24px" viewBox="0 0 24 24" class="plus">
                        <path fill="#0077BF" d="M17,13H13V17H11V13H7V11H11V7H13V11H17M19,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3Z"/>
                      </svg>
                      <svg style="width:24px;height:24px" viewBox="0 0 24 24" class="minus">
                        <path fill="#0077BF" d="M17,13H7V11H17M19,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3Z"/>
                      </svg>
                    </div>

                    <span *ngIf="!thesaurus.Use && thesaurus.IndexTerm && thesaurus.IndexTerm.length">
                      <input type="checkbox" [(ngModel)]="thesaurus.isSelected" (ngModelChange)="selectTermForSearch($event, thesaurus.IndexTerm)" aria-label="Checkbox"/>
                    </span>

                    <span *ngIf="!thesaurus.MainTermCount && thesaurus.Use && thesaurus.Use.length">
                      <input type="checkbox" [(ngModel)]="thesaurus.isSelected" (ngModelChange)="selectTermForSearch($event, thesaurus.Use[0].Term)" aria-label="Checkbox"/>
                    </span>

                    <strong *ngIf="!thesaurus.Use && thesaurus.IndexTerm && thesaurus.IndexTerm.length" (click)="toggleThesaurus(thesaurus)">
                      &nbsp;<span class="font-bold m-l-10 term" [innerHTML]="thesaurus?.IndexTerm"></span><span *ngIf="thesaurus.MainTermCount && thesaurus.MainTermCount.length">&nbsp;({{thesaurus?.MainTermCount}})</span>
                    </strong>
                    <em class="fwn" *ngIf="!thesaurus.MainTermCount && thesaurus.Use && thesaurus.Use.length" (click)="toggleThesaurus(thesaurus)">
                      &nbsp;<span class="fs089 fcnormal m-l-10 term" [innerHTML]="thesaurus?.IndexTerm | capitalizeWordHTMLContents"></span><span class="pl10 no-italic fcnormal">&nbsp;{{'THESAURUS.USE' | translate:lang}} <a *ngFor="let use of thesaurus.Use" class="inlineAnchor fs089" (click)="selectTerm(use?.Code)">{{use?.Term}}</a></span>
                    </em>
                  </a>
                  <a *ngIf="thesaurus.IsNarrowerTermsPresent !='false'" class="rightAligned" (click)="toggleTermWithNarrowerSelection(thesaurus)" placement="bottom" container="body" triggers="hover" tooltip="{{'THESAURUS.NARROWER_TERM_SELECT' | translate:lang}}">
                    <svg style="width:18px;height:18px;" viewBox="0 0 24 24" class="red" *ngIf="thesaurus?.isNarrowerSelected">
                      <path d="M17,13H13V17H11V13H7V11H11V7H13V11H17M19,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3Z"/>
                    </svg>
                    <svg style="width:18px;height:18px;" viewBox="0 0 24 24" class="blue" *ngIf="!thesaurus?.isNarrowerSelected">
                      <path d="M17,13H13V17H11V13H7V11H11V7H13V11H17M19,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3Z"/>
                    </svg>
                  </a>
                </div>


                <div accordion-content [hidden]="!thesaurus.isOpen" class="innerLayout">
                  <div *ngIf="thesaurus.Introduced && thesaurus.Introduced.length" class="row">
                    <strong translate>THESAURUS.YEAR_INTRO</strong>
                    <p>{{thesaurus?.Introduced}}</p>
                  </div>

                  <div *ngIf="!thesaurus.MainTermCount && thesaurus.Use && thesaurus.Use.length" class="row">
                    <strong translate>THESAURUS.USE_CAPITAL</strong>
                    <ul>
                      <li class="noBorder" *ngFor="let use of thesaurus.Use">
                        <label *ngIf="use.Term && use.Term.length"><input type="checkbox" [(ngModel)]="use.isSelected" (ngModelChange)="selectTermForSearch($event, use.Term)"/>
                          <a class="inlineAnchor" (click)="selectTerm(use.Code)">&nbsp;{{use?.Term}}</a>
                        </label>
                      </li>
                    </ul>
                  </div>

                  <div *ngIf="!thesaurus.Use">
                    <div *ngIf="thesaurus.MainTermCount && thesaurus.MainTermCount.length" class="row">
                      <strong translate>THESAURUS.PSYC_INFO_POSTING_NOTES</strong>
                      <p>{{thesaurus?.MainTermCount}}</p>
                    </div>
                    <div *ngIf="thesaurus.NotationList && thesaurus.NotationList.length" class="row">
                      <strong translate>THESAURUS.SCOPE_NOTE</strong>
                      <p *ngFor="let notation of thesaurus.NotationList">{{notation?.ScopeNote}}</p>
                    </div>

                    <div *ngIf="thesaurus.UsedFor && thesaurus.UsedFor.length" class="row">
                      <strong translate>THESAURUS.USED_FOR</strong>
                      <ul>
                        <li class="noBorder" *ngFor="let usedFor of thesaurus.UsedFor">
                          <span *ngIf="usedFor.Term && usedFor.Term.length">
                            <a class="inlineAnchor" (click)="selectTerm(usedFor.Code)">&nbsp;{{usedFor?.Term}}</a>
                          </span>
                        </li>
                      </ul>
                    </div>

                    <div *ngIf="thesaurus.BroaderTermList && thesaurus.BroaderTermList.length" class="row">
                      <strong translate>THESAURUS.BROADER_TERM</strong>
                      <ul>
                        <li class="noBorder" *ngFor="let broaderTerm of thesaurus.BroaderTermList">
                          <label *ngIf="broaderTerm.Term && broaderTerm.Term.length"><input type="checkbox" [(ngModel)]="broaderTerm.isSelected" (ngModelChange)="selectTermForSearch($event, broaderTerm.Term)"/>
                            <a class="inlineAnchor" (click)="selectTerm(broaderTerm.Code)">&nbsp;{{broaderTerm?.Term}}</a>
                          </label>
                        </li>
                      </ul>
                    </div>

                    <div *ngIf="thesaurus.IsNarrowerTermsPresent !='false' && thesaurus.NarrowerTermList && thesaurus.NarrowerTermList.length" class="row">
                      <strong translate>THESAURUS.NARROWER_TERM</strong>
                      <ul>
                        <li class="noBorder narrowerTerm" *ngFor="let narrowerTerm of thesaurus.NarrowerTermList">
                          <label *ngIf="narrowerTerm.Term && narrowerTerm.Term.length"><input type="checkbox" [(ngModel)]="narrowerTerm.isSelected" (ngModelChange)="selectTermForSearch($event, narrowerTerm.Term)"/>
                            <a class="inlineAnchor" (click)="selectTerm(narrowerTerm.Code)">&nbsp;{{narrowerTerm?.Term}}</a>
                          </label>
                        </li>
                      </ul>
                    </div>

                    <div *ngIf="thesaurus.RelationList && thesaurus.RelationList.length" class="row">
                      <strong class="relatedterm" translate>THESAURUS.RELATED_TERM</strong>
                      <ul>
                        <li class="noBorder" *ngFor="let relatedTerm of thesaurus.RelationList">
                          <label *ngIf="relatedTerm.Term && relatedTerm.Term.length"><input type="checkbox" [(ngModel)]="relatedTerm.isSelected" (ngModelChange)="selectTermForSearch($event, relatedTerm.Term)"/>
                            <a class="inlineAnchor" (click)="selectTerm(relatedTerm.Code)">&nbsp;{{relatedTerm?.Term}}</a>
                          </label>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div [ngClass]="{'hidden': !isBottomPaginationBarVisible || loading}">
                <div class="visible-sm visible-lg visible-md">
                  <br>
                  <termBasedPagination (changePagination)="getNewPagination($event)" [totalItems]="totalItems" [selectedPage]="selectedPage" [selectedLimit]="selectedLimit" [prependText]="prependText" [appendText]="appendText"></termBasedPagination>
                </div>
                <div class="row pagination-mob-container visible-xs text-center">
                  <br>
                  <termBasedPagination (changePagination)="getNewPagination($event)" [totalItems]="totalItems" [selectedPage]="selectedPage" [selectedLimit]="selectedLimit" [prependText]="prependText" [appendText]="appendText"></termBasedPagination>
                </div>
              </div>
            </div>


            <div [ngClass]="{'hidden': !isBottomPaginationBarVisible || loading}">
              <div class="card">
                <select-all class="p-l-5" *ngIf="selectedLimit>1 && !loading" [parentId]="'thesaurus2'" [(isSelectAll)]="isSelectAll" [disabledFormControls]="disabledFormControls" (toggleAllSelection)="toggleAllSelection($event)"></select-all>
                <browseaz (changeValue)="getNewAlpha($event)" [selectAlpha]="selectAlpha"></browseaz>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 text-center show-for-mobile addToSearchMobile" [ngClass]="{'hidden': loading}">
              <search-box-thesaurus [lookupOptions]="searchBoxOptions" (addToSearch)="getAddToSearch($event)" (removeItems)="addRemoveItems($event, false)" [contentLoaded]="contentLoaded"></search-box-thesaurus>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 p-t-10 hide-for-mobile" style="padding-top: 35px !important;" [ngClass]="{'hidden': loading}">
          <search-box-thesaurus [lookupOptions]="searchBoxOptions" (addToSearch)="getAddToSearch($event)" (removeItems)="addRemoveItems($event, false)" [contentLoaded]="contentLoaded"></search-box-thesaurus>
        </div>
      </div>
    </div>
  </div>
</div>

