@import '../core/pn';

.card {
  box-shadow: none;
  position: relative;
  background: #fff;
  //margin-bottom: 30px;

  .card-body.card-padding {
    padding: 13px 0;
  }
  @media screen and (min-width: 768px) {
    .card-body.card-padding {
      padding: 23px 25px;
    }
  }
  .facetBody;
}

.searchCtrls {
  h1.searchHeading {
    font-size: 1.44em;
  }

  h1 {
    color: #008cd2;
  }

  .m-t-0 {
    margin-top: 0 !important;
  }

  .m-t-5 {
    margin-top: 5px !important;
  }

  .pt-inner {
    text-align: center;
  }

  .m-t-10 {
    margin-top: 10px !important;
  }
  .m-t-30 {
    margin-top: 30px !important;
  }
  .m-b-0 {
    margin-bottom: 0px !important;
  }
  .m-b-10 {
    margin-bottom: 10px !important;
  }
  .m-b-15 {
    margin-bottom: 15px !important;
  }

  .m-l-10 {
    margin-left: 10px !important;
  }

  .list-group {
    margin-bottom: 20px;
    padding-left: 0;
  }

  .pt-inner .pti-body {
    padding: 0 23px;
  }
  .p-r-10 {
    padding-right: 10px !important;
  }
  .p-l-10 {
    padding-left: 10px !important;
  }
  .p-t-10 {
    padding-top: 10px !important;
  }
  .p-b-5 {
    padding-bottom: 5px !important;
  }
  .ptib-item {
    padding: 0;
  }
  .p-l-20 {
    padding-left: 20px !important;
  }
  .p-r-0 {
    padding-right: 0px !important;
  }
  .radio-inline {
    line-height: 23px;
  }

  .checkbox-inline, .radio-inline {
    vertical-align: top;
    margin-top: 0;
    padding-left: 25px;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
  }

  .radio input {
    width: 15px;
    height: 15px;
  }

  .ptib-item .list-group-item {
    background: none;
    background-color: #f7f7f7;
    border: none;
    color: #0ba9dd;
    font-weight: 100;
    text-align: left;
    padding: 5px 13px;
    font-size: 0.99em;
    line-height: 1.44em;
  }

  h3 {
    font-weight: 300;
    font-size: 1.44em;
    color: #5e5e5e;
  }

  .h3 {
    font-weight: 300;
    font-size: 1.44em;
    color: #5e5e5e;
  }

  .m-0 {
    margin: 0px !important;
  }

  input.input-lg {
    font-size: 17px;
    line-height: 1.3333333;
    border-radius: 0px;
    height: 45px;
    font-weight: 100;
    border: solid 1px @dk-gray;
    padding: 0.21em;
    color: @dk-gray;
  }
  .searchBtnEmb {
    svg {
      path {
        fill: @lightest;
      }
    }
    margin-top: 10px;
    z-index: 2;
    float: right;
    top: -52px;
    right: 3px;
    cursor: pointer;
    border: 0px;
    position: relative;
    background-color: @lt-blue;
    height: 39px;
    width: 55px;
  }

  .resultContainer {
    float: left;
    width: 65%;

    termbasedpagination {
      position: relative;
      margin-top: 15px;
      right: -34px;
    }

    .card {
      strong {
        .subSection;
        @media (min-width: 991px) {
          margin-left: 0;
        }
        margin-left: 34px;
      }
      display: flex;
      height: 49px;
      .facetBody;
      .checkbox {
        margin-left: 0.1em;
      }
    }

    div.thesaurus-result{
      @media screen and (min-width: 992px){
        padding-left: 27px;
      }
    }

    div.resultList {
      .emptyState {
        .emptyStateStyle;
      }
      article {
        .resultData {
          .resultDataFormat;
          line-height: 1.44em;
        }
        span {
          .resultsWithImage;
          padding: 1em;
          flex-direction: row;
        }
        .resultsCard;
        a {
          line-height: 1.44em;
          cursor: pointer;
        }
        padding: 5px;
        .normalFontSize {
          font-size: 16px;
        }
      }
      width: 89%;
      display: flex;
      flex-direction: row;
      padding-top: 0;
    }

    .checkbox {
      font-weight: normal;
      color: @dk-gray;
      padding-left: 34px;
      cursor: pointer;
      input {
        z-index: 1;
        cursor: pointer;
        margin-top: 1px;
      }
    }
    width: 100%;
    margin-right: 1em;
  }

  browseaz {
    ul {
      display: flex;
    }
    width: 100% !important;
    margin-top: 11px;
    height: 31px;
  }
  @media screen and (min-width: 768px) {
    browseaz {
      width: 50%;
      margin-top: 0;
      height: auto;
    }
  }

  .emptyState {
    .emptyStateStyle;
  }

  .opened {
    .plus {
      display: block;
      margin-right: .15em;
    }
    .minus {
      display: none;
      margin-right: .15em;
    }
  }
  .closed {
    .plus {
      display: none;
      margin-right: .15em;
    }
    .minus {
      display: block;
      margin-right: .15em;
    }
  }

  .accordionHeading {
    .accordionHeadingStyle;
  }
  .accordionContainer {
    padding: 8px 0;
    border-bottom: dotted 1px @md-gray;
  }

  .resultData {
    .resultDataFormat;
    line-height: 1.44em;
  }

  ul {
    li {
      a {
        &:hover {
          color: @dk-blue;
          text-decoration: none;
          cursor: pointer;
        }
        font-size: 1em;
        color: @md-blue;
        font-weight: normal;
      }
      &:last-child {
        border-bottom: none;
      }
      margin: 0 0 0.34em 0.55em;
      border-bottom: dotted 1px @md-gray;
      list-style-type: none;
    }
    padding: 0 2em;
    padding-left: 0;
  }

  .emptyState {
    .emptyStateStyle;
  }

  termBasedPagination {
    right: 0 !important;
  }

  .text-right {
    text-align: right;
  }

  .inlineAnchor {
    display: inline-block !important;
    font-style: normal;
    font-weight: bold;
  }

  .fwn {
    font-weight: normal !important;
  }
  .pl10 {
    padding-left: 10px;
  }
  .rightAligned {
    position: absolute;
    right: 24px;
  }
  .nobold {
    font-weight: normal !important;
  }

  .innerLayout {
    @media screen and (max-width: 767px) {
      margin-left: 0;
    }
    padding: 5px 15px 5px 20px;
    margin-left: 63px;
    border: 1px solid @dk-gray;
    font-size: 0.89em !important;
  }
  .noBorder {
    border: none !important;
  }
}

.pagination-mob-container {
  margin-bottom: 10px !important;
}

termBasedPagination {
  position: relative;
  right: 0;
}

.font-bold {
  font-weight: bold !important;
  font-size: 0.89em !important;
}

.no-italic {
  font-style: normal !important;
}

.fs089 {
  font-size: 0.89em !important;
}

.fs099 {
  font-size: 0.99em !important;
}

.m-h-100 {
  max-height: 100px !important;
}

.luterm {
  text-align: left !important;
  line-height: 45px !important;
  font-size: 18px !important;
}

svg {
  &.red {
    path {
      fill: @warning;
    }
  }
  &.blue {
    path {
      fill: @lt-blue;
    }
  }
}

.fcnormal {
  color: @dk-gray;
}
.RwdToolBar {
  @media screen and (max-width: 767px) {
    height: 109px !important;
    padding-top: 5px !important;
    padding-left: 3px !important;
  }
}
