@import '../../../core/pn';

div {
  span {
    a {
      &:hover {
        text-decoration: none;
        cursor: pointer;
      }
      svg {
        path {
          fill:@lt-blue;
        }
      }
      .lightBlue {
        color: @lt-blue;
        font-size: inherit;
        line-height: 1.64em;
      }
      display: flex;
    }
  }
  display: flex;
}

.resultData {
  .resultDataFormat;
  padding-top: 1em;
}
