<div>
  <span class="resultData">
    <a (click)="toggleTOC()">
      <span *ngIf="!active">
      <svg style="width:18px;height:18px;" viewBox="0 0 24 24">
        <path d="M10,17L15,12L10,7V17Z"/>
      </svg>
        </span>
      <span *ngIf="active">
      <svg style="width:18px;height:18px;" viewBox="0 0 24 24">
        <path d="M7,10L12,15L17,10H7Z"></path>
      </svg>
        </span>
      <span class="lightBlue" translate>{{ 'Journal TOC' | tr_alias:'RECORD_DISPLAY' }}</span>
    </a>
  </span>
</div>

<div *ngIf="active">
  <div class="resultData" translate>{{ 'Journal TOC' | tr_alias:'RECORD_DISPLAY' }}</div>
</div>



