<div *ngIf="record" class="row impact">
  <div class="col-md-12 p-0">
    <h3 translate>{{ 'Impact Statement' | tr_alias:'COMMON_LABEL' }}</h3>
    <span>
      <span class="bold" *ngIf="heading" [innerHTML]="heading"></span>
      <span *ngIf="statement" [innerHTML]="statement"></span>
    </span>
  </div>
</div>
<hr/>
