@import '../../../core/pn';

.impact{
  h3 {
    font-weight: 300;
    font-size: 1.44em;
    color: #5e5e5e;
  }
  cite {
    color: #5e5e5e;
  }
}
hr {
  border-width: 1px 0px 0px;
  border-style: dotted none none;
  border-color: #ececec -moz-use-text-color -moz-use-text-color;
  margin-top: 13px;
  margin-bottom: 13px;
}

.bold {
  font-weight: bold;
}
