@import '../../../core/pn';

.fullRecordDisplayAccordion {
  a {
    color: #2196f3;
    text-decoration: none;
  }
  h4 {
    cursor: pointer;
    color: #0077bf;
    font-size: 1.24em;
    word-break: normal;
    maring:0;
    padding:0;
  }
  .opened {
    .plus {
      display: block;
      margin-right: .15em;
    }
    .minus {
      display: none;
      margin-right: .15em;
    }
  }

  .closed {
    .plus {
      display: none;
      margin-right: .15em;
    }
    .minus {
      display: block;
      margin-right: .15em;
    }
  }

  .accordionHeading {
    .accordionHeadingStyle;
    margin-left:0;
  }

  .accordionContainer {
    padding: 8px 0;
    border-bottom: dotted 1px @md-gray;
  }

  a > span {
    margin-top: 2px;
  }

  .emptyState {
    .emptyStateStyle;
  }
}
hr {
  border-width: 1px 0px 0px;
  border-style: dotted none none;
  border-color: #ececec -moz-use-text-color -moz-use-text-color;
  margin-top: 13px;
  margin-bottom: 13px;
}

