<div class="searchtabscontainer">
  <div class="row tabsParentContainer">
    <div class="tabsContainer col-md-12">
      <div class="tabsRow">
        <ul class="nav nav-tabs">
          <li *ngIf="isAllVisible" [ngClass]="{active: selectedTab=='all'}">
            <a *ngIf="tabNumbers['all']" (click)="selectTab('all')"><span translate>{{'All' | tr_alias:'SEARCH_RESULTS'}}</span> ({{tabNumbers?.all | string2NumberNotation}})</a>
            <a *ngIf="!tabNumbers['all']" class="no-result-link"><span translate>{{'All' | tr_alias:'SEARCH_RESULTS'}}</span> (0)</a>
          </li>

          <li *ngFor="let db of tabNumbers.selectedDatabases" [ngClass]="{active: selectedTab==db}">
            <a *ngIf="db == 'PH' && tabNumbers[db]" target="_blank" [routerLink]="['/search/phResults']" [queryParams]="{id: searchId}">{{getLabel(db)}} ({{tabNumbers[db] | string2NumberNotation}})</a>
            <a class="no-result-link" *ngIf="db == 'PH' && !tabNumbers[db]">{{getLabel(db)}} (0)</a>
            <a *ngIf="db !='PH' && tabNumbers[db]" (click)="selectTab(db)">{{getLabel(db)}} ({{tabNumbers[db] | string2NumberNotation}})</a>
            <a class="no-result-link" *ngIf="db !='PH' && !tabNumbers[db]">{{getLabel(db)}} (0)</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
