@import '../../../../core/pn';

.searchtabscontainer {
  @media (min-width: 768px) {
    margin-top: 13px;
  }
  .tabsParentContainer {
    padding: 0 !important;
    margin: 0 !important;
  }
  .tabsContainer {
    .tabsRow {
      margin: 0 0 0 -15px;
    }
    overflow-x: scroll;
    border-bottom: solid 5px #0077BF !important;
  }
  @media (min-width: 1200px) {
    .tabsContainer {
      overflow-x: hidden;
      overflow-y: hidden;
    }
  }
  .nav-tabs {
    display: flex;
    //border-bottom: solid 5px @dk-blue !important;
    li {
      a {
        cursor: pointer;
        text-decoration: none;
        color: @dk-blue;
        font-weight: 100;
        font-size: 0.89em;
        padding: 13px 8px;
        margin-right: 2px;
        line-height: 1.42857143;
        border: 1px solid transparent !important;
        border-radius: 2px 2px 0 0;

        &.no-result-link {
          cursor: default;
        }
      }
    }
    li:not(:first-child):after {
      position: absolute;
      content: "";
      width: 1px;
      height: 12px;
      background-color: #008cd2;
      color: #f7f7f7;
      left: -4px;
      top: 16px;
    }
  }
}
