@import '../../../../core/pn';

article {
  button {
    border: solid 1px @lt-gray;
    background-color: @lt-gray;
    color: @md-blue;
  }
}

article {
  padding: 15px !important;
  background-color: #fafafa;
}

article .articleLanding {
  border-top: dotted 2px #ececec;
}

article .articleLanding .col-md-3 {
  border-left: dotted 2px #ececec;
  border-bottom: dotted 2px #ececec;
  border-right: dotted 2px #ececec;
}

article:nth-child(odd) {
  background-color: #ffffff;
}

article .btn.btn-xs:not(.btn-link) {
  background-color: #f7f7f7;
  text-transform: capitalize;
}

article .btn.btn-xs:not(.btn-link).active {
  background-color: #ffffff;
  color: #0077bf;
}
.doiLink {
  word-break: break-all;
}

div span {
  @media (max-width: 768px) {
    word-break: break-all;
  }
}
