<div *ngIf="record" class="col-xs-12 p-0">
  <div *ngIf="loading" class="text-center">
    <loading-indicator loaderText="Loading"></loading-indicator>
  </div>
  <div *ngIf="!loading">
    <strong translate>{{'References' | tr_alias:'SEARCH_RESULTS'}}</strong>
  </div><br/>
  <div *ngIf="!loading && record.CitedReferences && record.CitedReferences.doc">
    <p *ngIf="record.CitedReferences.doc && record.CitedReferences.doc.length < 1" class="emptyState" translate>{{'No references are available for this document' | tr_alias:'SEARCH_RESULTS'}}</p>
    <p *ngIf="record.CitedReferences.doc && record.CitedReferences.doc.length > 0"><span translate>{{'Number of Citations' | tr_alias:'SEARCH_RESULTS'}}</span>: {{record?.CitedReferences?.numFound}}, <span translate>{{'Number of Citations Displayed' | tr_alias:'SEARCH_RESULTS'}}</span>: {{record?.CitedReferences?.numFound}}</p>
    <article *ngFor="let ref of record?.CitedReferences?.doc; let refIndex=index" class="ref-item row">
      <div class="col-xs-1 hide-for-mobile">
        <span>{{ refIndex + 1 }}. </span>
      </div>
      <div class="col-xs-11 p-0">
        <span *ngIf="ref.TextRef && ref.TextRef.length>0">{{ref?.TextRef}}</span>
        <span *ngIf="ref.DOI && ref.DOI.length>0" class="doiLink"><a href="{{ref?.DOI | removeHTMLTag | linkDOIInternal}}" target="_blank">{{ref?.DOI | linkDOI}}</a></span>
        <br><br>
        <div>
          <a *ngIf="ref?.RecordPILink?.length >0" [routerLink]="['/record/', ref?.RecordPILink]" class="m-5M">
          <button >
            PsycINFO
          </button>
          </a>
          <br class="show-for-mobile"><br class="show-for-mobile">
          <a [routerLink]="['/search/citedBy/', ref.RecordPILink]" *ngIf="ref.CitedByCount && ref?.RecordPILink?.length >0" class="m-5M">
            <button>
            <span translate>{{'Cited By' | tr_alias:'SEARCH_RESULTS'}}</span> ({{ref?.CitedByCount}})
            </button>
          </a>
        </div>
      </div>
    </article>
  </div>
  <div *ngIf="!loading && (!record.CitedReferences || !record.CitedReferences.doc)">
    <div class="text-center" translate>{{'No Records Found' | tr_alias:'SEARCH_RESULTS'}}</div>
  </div>
</div>
