<div bsModal #deleteConfirmationModal="bs-modal" class="modal face" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title" translate>{{'Confirm Deletion' | tr_alias:'COMMON_LABEL'}}</h2>
      </div>
      <div class="modal-body">
        <p class="text-center">
          <span [innerHTML]="userMessage"></span><span *ngIf="!isMyList">?</span>
        </p>
      </div>
      <div class="modal-footer">
        <div class="form-group">
          <div class="col-sm-offset-8 col-sm-4">
            <button type="button" class="btn btn-success" (click)="confirmDelete()" translate>{{'Yes' | tr_alias:'BUTTONS'}}</button>
            <button type="button" class="btn btn-danger" (click)="closeModal()" translate>{{'No' | tr_alias:'BUTTONS'}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
