@import '../../../../core/pn';

div {
  article {
    .resultData {
      .resultDataFormat;
    }
    .srch-result-card {
      .srch-count-label-card {
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
        vertical-align: middle;
        //font-size: 1.24em;
        font-size: 100%;
      }
      .srch-text-card {
        .srhcTitle {
          .cited-ref-text;
        }
        flex: 1 1 auto;
        width: 95%;
      }
      display: flex;
    }
    .cited-count{
      padding-left: 0;
      padding-top: 5px;
      a {
        &:hover {
          text-decoration: none;
        }
        height: auto;
        font-size: inherit;
        background-color: inherit;
        //border: solid 1px @lt-gray;
        //color: @md-blue;
        background-color: @lt-gray;
        color: @md-blue;
        padding: 3px 5px;
      }
    }
    display: flex;
    border-bottom: dotted 1px @md-gray;
    padding: 1em 0 1em 1em;
  }
}

.cited-ref-text{
  font-weight: 400;
  font-size: 1.44em;
  line-height: 1.44em;
  color: @dk-gray;
}

.text-center {
  margin-top:20px;
}

