<div *ngIf="articleList">
  <search-results-pagination class="row" [totalItems]="articleList?.numFound" [selectedLimit]="selectedLimit" [selectedPage]="selectedPage" (changePagination)="getNewPagination($event)"></search-results-pagination>
  <div class="row">
    <article *ngFor="let item of articleList?.doc; let index=index">
      <div class="srch-result-card col-xs-9 col-md-10">
        <div class="srch-count-label-card hide-for-mobile">{{(index+1)+articleList?.rows*(selectedPage-1)}}.</div>
        <div class="srch-text-card col-xs-11">
          <div class="srhcTitle" *ngIf="item?.DocumentTitle" [innerHTML]="item?.DocumentTitle"></div>
          <div class="srhcTitle" *ngIf="!item?.DocumentTitle && item?.SourceTitle" [innerHTML]="item?.SourceTitle"></div>
          <div class="srhcAuthors" *ngIf="item?.Author" [innerHTML]="item?.Author"></div>
          <div class="srhcAuthors" *ngIf="!item?.Author" translate>{{'No authors listed' | tr_alias:'SEARCH_RESULTS'}}</div>
          <div class="srhcSource" *ngIf="item?.SourceTitle && item?.DocumentTitle">
            <span *ngIf="item?.SourceTitle" [innerHTML]="item?.SourceTitle"></span><span *ngIf="item?.SourceTitle && item?.PubYear">, </span><span *ngIf="item?.PubYear" [innerHTML]="item?.PubYear"></span>
          </div>
        </div>
      </div>
      <div class="col-xs-3 col-md-2 cited-count">
        <a routerLinkActive="active" [routerLink]="['/search/citedBy/'+item?.UID]" [queryParams]="{sr:1}" (click)="logCitedByAction(item?.UID)"><span translate>{{'CITED BY' | tr_alias:'SEARCH_RESULTS'}}</span> <span class="citedby-count">{{item.CitedByCount}}</span></a>
      </div>
    </article>
  </div>
  <search-results-pagination class="row" [totalItems]="articleList?.numFound" [selectedLimit]="selectedLimit" [selectedPage]="selectedPage" (changePagination)="getNewPagination($event)"></search-results-pagination>
</div>
