@import '../../../../core/pn';

h1 {
  .searchWithinJournalHeader;
}

.card {
  margin-bottom: 15px;
  display: block;
  .innercontent{
   padding: 10px;
  }
  a {
    &:hover {
      text-decoration: none;
    }
    &.active {
      svg {
        display: block;
        float: right;
        margin-top: -3px;
        margin-right: -13px;
      }
      .facetLeftActive;
    }
    .facetLeft;
  }
  .facetBody;

  input.input-sm {
    font-size: 12px;
    line-height: 1.5;
    border-radius: 2px;
    font-weight: 100;
    border: solid 1px @dk-gray;
    padding: 0.21em;
    color: @dk-gray;
  }

  .searchBtnEmb {
    svg {
      path {
        fill: @lt-blue;
      }
    }
    z-index: 2;
    float: right;
    top: -32px;
    cursor: pointer;
    border: 0px;
    position: relative;
    background-color: transparent;
  }

  .disabled.searchBtnEmb {
    cursor: default;
    svg {
      path {
        fill: @dk-gray;
      }
    }
  }
}
