<div class="card">
  <h1 id="searchwithin" translate>{{'Search Within Results' | tr_alias:'SEARCH_RESULTS'}}</h1>
  <div class="innercontent">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="searchText" class="sr-only">Search</label>
        <input class="input-sm form-control fg-input" [(ngModel)]="model.q" type="text" id="searchText" name="searchWithin"/>
        <button type="submit" [disabled]="!model.q.length" [ngClass]="{disabled: !model.q.length}" class="btn btn-primary btn-sm searchBtnEmb">
          <span class="sr-only">Search</span>
          <svg style="width:24px;height:24px" viewBox="0 0 24 24">
            <path d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z"/>
          </svg>
        </button>
      </div>
    </form>
    <ul class="list-unstyled">
      <li *ngFor="let term of searchwithinSearchQueries">
        <a (click)="removeCriteria(term)">
          <i class="redColor pointer glyphicon glyphicon-remove"></i>
          <span >{{term | truncate:after:20 }}</span>
        </a>
      </li>
    </ul>
  </div>
</div>
