<div class="card pt-inner action primary m-t-5 m-b-0" *ngIf="toShow('pdf')">
  <div class="pti-body p-t-5">
    <div class="ptib-item">
      <div class="list-group m-b-5">
        <a class="list-group-item m-b-0 pdf" *ngIf="record?.HasAccess && PDFAvailable()" href="/fulltext/{{record?.UIDNoHighlight}}.pdf" target="_blank">PDF</a>
        <a class="list-group-item m-b-0 purchase" *ngIf="shouldPurchase() && !isInCart() && PDFAvailable()" [routerLink]="['/buy/', record.UIDNoHighlight]" translate>{{ 'Purchase PDF' | tr_alias:'RECORD_DISPLAY' }}</a>
      </div>
      <div *ngIf="shouldPurchase() && isInCart() && PDFAvailable()" class="list-group m-b-5 in-cart">
        <a class="list-group-item m-b-0"  translate>{{ 'In Your Cart' | tr_alias:'OPTIONS_TO_BUY' }}</a>
      </div>
    </div>
  </div>
</div>

<div class="card pt-inner action primary m-t-5 m-b-0" *ngIf="toShow('media')">
  <div class="pti-body p-t-5">
    <div class="ptib-item">
      <div class="list-group m-b-5">
        <a class="list-group-item m-b-0 media" *ngIf="record?.isPT && MediaAvailable()" href="/fulltext/{{record?.UIDNoHighlight}}.media" target="_blank"><span translate>{{'Test Media' | tr_alias : 'BROWSE_PT'}}</span></a>
      </div>
    </div>
  </div>
</div>

<div class="card m-t-20 m-b-0 alignCenter" *ngIf="toShow('support-doc')">
  <a class="m-b-0 support-doc" *ngIf="record.HasAccess && SupportDocAvailable()" href="{{record.SupportingDocumentationLink}}" target="_blank" (click)="logSupportingDoc()"><span translate>{{ 'Supporting Documentation' | tr_alias:'RECORD_DISPLAY' }}</span></a>
</div>

<div class="card pt-inner action m-t-5 m-b-0" *ngIf="toShow('full text') && HTMLAvailable() && record.HasAccess==true">
  <div class="pti-body p-t-5">
    <div class="ptib-item">
      <div class="list-group m-b-5">
        <a class="list-group-item m-b-0 ft-html" [routerLink]="['/fulltext/'+record?.UIDNoHighlight+'.html']"><i class="pull-left"></i><span translate>{{ 'Full Text HTML' | tr_alias:'RECORD_DISPLAY' }}</span></a>
      </div>
    </div>
  </div>
</div>

<div class="card pt-inner action m-t-5 m-b-0" *ngIf="toShow('cited by') && hasCitedByCount()">
  <div class="pti-body p-t-5">
    <div class="ptib-item">
      <div class="list-group m-b-5">
        <a class="list-group-item m-b-0 cited-by" [routerLink]="['/search/citedBy/', record.UIDNoHighlight]"><span translate>{{ 'Cited by' | tr_alias:'RECORD_DISPLAY' }}</span> {{record.CitedByCount}}</a>
      </div>
    </div>
  </div>
</div>
