@import '../../../core/pn';

.m-t-5 {
  margin-top: 5px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-b-5 {
  margin-bottom: 5px;
}

.m-b-0 {
  margin-bottom: 0px;
}

.p-t-5 {
  padding-top: 5px;
}

.alignCenter {
    text-align:center;
}

.in-cart {
  cursor: default;
  background-color: @dk-green;
  border-radius: 8px;
}

.card {
  box-shadow: none;
  position: relative;
  background: #fff;
}

a {
  cursor: pointer;
}

.pt-inner.action.primary .pti-body {
  background-color: @dk-blue;
}

.pt-inner.action.primary .pti-body .list-group-item {
  color: #ffffff;
  background: none;
  font-size: 1.44em;
  display: block;
  width: 100%;
  height: 100%;
}

.pt-inner.action a {
  text-align: center;
  display: inline-block;
}

.pt-inner.action .pti-body {
  border-radius: 8px;
}

.pt-inner.action .ptib-item {
  text-align: center;
}


.pt-inner .pti-body {
  padding: 0;
  background-color: #f7f7f7;
}



.pt-inner .pti-body .ptib-item {
  padding: 0;
}
.ptib-item .list-group-item {
  background: none;
  background-color: #f7f7f7;
  border: none;
  color: @lt-blue;
  font-weight: 100;
  text-align: left;
  padding: 5px 13px;
  font-size: 0.99em;
  line-height: 1.44em;
}
