<p *ngIf="record">
  <strong *ngIf="record.AuthorsList && record.AuthorsList.length"><span translate>{{ 'Authors' | tr_alias:'RECORD_DISPLAY' }}</span>:</strong> <span class="authors" [innerHTML]="record?.AuthorsList"></span><br>
  <strong *ngIf="record.DOI && record.DOI.length"><span translate>{{ 'doi' | tr_alias:'RECORD_DISPLAY' }}</span>:</strong> <a target="_blank" href="{{record?.DOI | removeHTMLTag | linkDOIInternal}}" [innerHTML]="record?.DOI | linkDOI"></a><br>
  <strong *ngIf="record.OtherVersions && record.OtherVersions.length"><span translate>{{ 'Other Versions' | tr_alias:'RECORD_DISPLAY' }}</span>: <br></strong>
    <span class="versions" *ngFor="let version of otherVersionsArray">
      <span *ngIf="record?.HasAccess"><a [routerLink]="['/record/', version.UID]"><span [innerHTML]="version.UID"></span></a>,</span><span [innerHTML]="version.Title"></span>,<span [innerHTML]="version.Type"></span><br>
    </span>
  <strong *ngIf="record.Construct && record.Construct.length"><span translate>{{ 'Construct' | tr_alias:'RECORD_DISPLAY' }}</span>:</strong> <span class="construct" *ngFor="let construct of record.Construct; let isLast=last"><span [innerHTML]="construct"></span><span *ngIf="!isLast">; </span></span><br>
  <strong *ngIf="record.InstrumentType && record.InstrumentType.length"><span translate>{{ 'Instrument Type' | tr_alias:'RECORD_DISPLAY' }}</span>:</strong> <span class="instrument" [innerHTML]="record?.InstrumentType"></span><br>
  <strong *ngIf="record.Purpose && record.Purpose.length"><span translate>{{ 'Purpose' | tr_alias:'RECORD_DISPLAY' }}</span>:</strong> <span class="purpose" [innerHTML]="record?.Purpose"></span><br>
  <strong *ngIf="record.AdministrationMethods && record.AdministrationMethods.length"><span translate>{{ 'Administration Method' | tr_alias:'RECORD_DISPLAY' }}</span>:</strong> <span class="admin-method" [innerHTML]="record?.AdministrationMethods"></span><br><br>
  <strong *ngIf="record.Abstract.English && record.Abstract.English.length"><span class="summary-title" translate>{{ 'Summary' | tr_alias:'COMMON_LABEL' }}</span>:</strong> <span class="summary-content" [innerHTML]="record?.Abstract.English"></span>
</p>
<div class="test-primary-data" *ngIf="testPrimaryData && testPrimaryData.UID && testPrimaryData.UID!=''">
   <div class="accordionHeading">
    <h4 (click)="toggleFullRecord()">
      <a [ngClass]="{'opened': !showDetails, 'closed': showDetails}">
        <svg style="width:24px;height:24px" viewBox="0 0 24 24" class="plus">
          <path fill="#0077BF" d="M17,13H13V17H11V13H7V11H11V7H13V11H17M19,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3Z"/>
        </svg>
        <svg style="width:24px;height:24px" viewBox="0 0 24 24" class="minus">
          <path fill="#0077BF" d="M17,13H7V11H17M19,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3Z"/>
        </svg>
        <span translate>{{ 'Test Primary Data' | tr_alias:'RECORD_DISPLAY' }}</span>
      </a>
    </h4>
  </div>
  <div *ngIf="loading" class="text-center">
    <loading-indicator loaderText="Loading"></loading-indicator>
  </div>
  <div [collapse]="!showDetails" *ngIf="!loading && newRecord">
    <full-record-display [record]="newRecord" [suppressedFields]="suppressedFields"></full-record-display>
  </div>
</div>
<hr/>
