@import '../../../core/pn';

.test-primary-data {
  .accordionHeading {
    .accordionHeadingStyle;
    margin-left:0;
  }
  padding-top: 10px;
  a {
    color: #2196f3;
    text-decoration: none;
  }
  h4 {
    cursor: pointer;
    color: #0077bf;
    font-size: 1.24em;
    word-break: normal;
    margin:0;
    padding:0;
  }
  .opened {
    .plus {
      margin-right: .15em;
    }
    .minus {
      display: none;
      margin-right: .15em;
    }
  }
  .closed {
    .plus {
      display: none;
      margin-right: .15em;
    }
    .minus {
      margin-right: .15em;
    }
  }
}

.versions {
  margin-left:20px;
}
