
<li id="browseMenu" class="main-nav-options dropdown" *ngIf="browseList && browseList.length" [class.open]="browseToggle">
  <a>
    <span id="browseString" translate>{{'Browse' | tr_alias:'HEADER'}}</span>
    <svg viewBox="0 0 24 24" width="24" height="24" *ngIf="browseToggle">
      <path d="M7,10L12,15L17,10H7Z" fill="#fff" />
    </svg>
    <svg viewBox="0 0 24 24" width="24" height="24" *ngIf="!browseToggle">
      <path d="M10,17L15,12L10,7V17Z" fill="#fff"/>
    </svg>
  </a>
  <div class="dropdown-menu" >
    <ul class="list-view">
      <li *ngFor="let browseDB of browseList">
        <a [routerLink]="[browseDB.route]" class="db-name">{{browseDB.name | tr_alias:'HEADER' | translate:lang}} <span>{{browseDB.desc}}</span></a>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
</li>
