@import '../pn';
#browseMenu {
  &.open {
    .dropdown-menu {
      width: 385px;

      ul.list-view li > a span {
        font-weight:100;
        font-size: 0.8em;
        font-style: italic;
        padding-left:10px;

      }
    }
  }
}
