@import '../pn';
.main-nav-options {
  .dropdown-menu {
    display: none;
  }
  &.open {
    .dropdown-menu {

      ul.list-view{
        margin:0;
        padding:0;
        list-style:none;
      }
      ul.list-view li {
        margin:0;
        padding:0;
        border-bottom: 1px dotted @md-blue;
        &:hover {
          //background:@md-blue;
          text-decoration: underline;
        }
      }
      ul.list-view li:last-child {
        border:none;
      }

      ul.list-view li > a {
        &:hover {
          text-decoration: underline;
        }
        cursor: pointer;
        color: white;
        text-align: left;
        display: inline-block;
        text-decoration: none;
        font-weight: 600;
        font-size: 1em;
        padding:15px;

      }
      display: block;
      padding: 0;
      background-color: @md-blue;
      z-index: 9;
      border-radius: 4px;
      background-clip: padding-box;
      border: 1px solid transparent;

      box-shadow: 0 2px 10px @lt-gray;
      -webkit-transition: all;
      -o-transition: all;
      transition: all;
      -webkit-transition-duration: 250ms;
      transition-duration: 250ms;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      backface-visibility: hidden;

      -webkit-transform-origin: top left;
      -moz-transform-origin: top left;
      -ms-transform-origin: top left;
      transform-origin: top left;


    }
    background-color: @md-blue;
  }
  > a {
    svg {
      margin-top: -5px;
    }
    .navlinkLg;
  }
  .navlinkContainer;
}
