@import '../pn';
.top-menu {
  > li {
    &:last-child {
      border-right: none;
    }
    //border-right: solid 1px @lt-blue;
    display: inline-block;
    height: auto;
    background: none;
  }
  a {
     .navlinkSm;
  }
  height: 25px;
  padding-top: 5px;
  padding-left: 0;

  .badge {
    background-color: #fff;
    color: #008cd2;
    margin-top:-15px;
    padding: 3px;
  }
}
