<ul class="top-menu">
  <li>
    <a routerLink="/search/recent" translate>{{'Recent Searches' | tr_alias:'HEADER'}}</a>
  </li>
  <li>
    <a routerLink="/search/mylist" (click)="resetMyList();"><span translate>{{'My List' | tr_alias:'HEADER'}}</span> <span *ngIf="mylistCount > 0" class="badge">{{mylistCount}}</span></a>
  </li>
  <li>
    <a routerLink="/MyPsycNET" translate>{{'My PsycNET' | tr_alias:'HEADER'}}</a>
  </li>
</ul>
