
<li id="dbsMenu" class="main-nav-options dropdown" [class.open]="searchToggle" >
  <a>
    <span id="searchString" translate>{{'Search' | tr_alias:'HEADER'}}</span>
    <svg viewBox="0 0 24 24" width="24" height="24" *ngIf="searchToggle">
      <path d="M7,10L12,15L17,10H7Z" fill="#fff" />
    </svg>
    <svg viewBox="0 0 24 24" width="24" height="24" *ngIf="!searchToggle">
      <path d="M10,17L15,12L10,7V17Z" fill="#fff"/>
    </svg>
  </a>
  <div class="dropdown-menu" >
    <ul class="list-view">
      <li><a [routerLink]="['/search/basic']" translate>{{'Basic Search' | tr_alias:'HEADER'}}</a></li>
      <li><a [routerLink]="['/search/advanced']" translate>{{'Advanced Search' | tr_alias:'HEADER'}}</a></li>
      <li *ngIf="showCitedRefsItem()"><a [routerLink]="['/search/citedRefs']" translate>{{'Cited References' | tr_alias:'HEADER'}}</a></li>
    </ul>
    <div class="clearfix"></div>
  </div>
</li>
