<li *ngIf= "isAllowed" id="thesaurusMenu" placement="bottom" triggers="hover" tooltip="{{ 'THESAURUS_INFO' | tr_alias:'THESAURUS' | translate:lang }}">
  <a [routerLink]="['/thesaurus']" translate>{{'APA_THESAURUS' | tr_alias:'HEADER'}}</a>
</li>
