<div bsModal #sessionExpireModal="bs-modal" class="modal face" tabindex="-1" role="dialog" aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="sessionExpireModal modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" translate>SESSION_DIALOGS.TIMED_OUT_MSG</div>
      </div>
      <div class="modal-body">
        <p><b translate>SESSION_DIALOGS.IDLE_MSG</b></p>
          <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1 m-r-60 pull-right">
              <button type="button" class="btn btn-success" (click)="closeModal()">Restart</button>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
