@import '../../../../core/pn';

h3 {
  .facetHeading;
  padding-left: 35px;
}

.card {
  a {
    &:hover {
      text-decoration: none;
    }
    &.active {
      svg {
        display: block;
        float: right;
        margin-top: -3px;
        margin-right: -13px;
      }
      .facetLeftActive;
    }
    svg {
      display: none;
    }
    .facetLeft;
  }
  .facetBody;
  hr.dk {
    border-color: @dk-gray;
    width: 89%;
    margin-top: 13px;
    padding-bottom: 13px;
    border-width: 1px 0px 0px;
  }
}
.redColor{
  color: red;
}
