<div class="card" >
  <h3 translate>{{boxTitle | tr_alias:'MY_LIST'}}</h3>
  <div *ngIf="!Tags || !Tags.length"><span translate>{{'No Tags' | tr_alias:'MY_LIST'}}</span>!</div>
  <div *ngFor="let Tag of Tags">
    <a *ngIf="tagFilter === Tag?.TAG_ID" (click)="filterbyTag(0)">
      <i class="redColor pointer glyphicon glyphicon-remove"></i>
      {{Tag?.TAGNAME}} <span *ngIf="Tag.tagsCount">({{Tag?.tagsCount}})</span>
    </a>
    <a *ngIf="tagFilter !== Tag?.TAG_ID" (click)="filterbyTag(Tag?.TAG_ID)">
      {{Tag?.TAGNAME}} <span *ngIf="Tag.tagsCount">({{Tag?.tagsCount}})</span>
    </a>
  </div>
</div>
