<div (keydown.enter)="$event.preventDefault();" bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" (onHidden)="destroyModal()">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" *ngIf="modalActivated && options">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <div *ngIf="options.title" class="modal-title" translate>{{options?.title | tr_alias:'ADVANCED'}}</div>
      </div>
      <div class="modal-body">
        <lookup *ngIf="options.options" [productCodes]="productCodes" [lookupFor]="lookupType" [lookupOptions]="options?.options" (selectItems)="setSelection($event)"></lookup>
      </div>
    </div>
  </div>
</div>
