@import '../../core/pn';


@media screen and (min-width: 1200px) {
  .container {
    width: auto;
    max-width: 1800px;
  }
}

h1 {
  font-size: 1.5em;
}

.paginationBackLink {
  vertical-align: top;
  padding-right: 8px;
}

.pointer {
  cursor: pointer !important;
}

.backLabel {
    vertical-align: 7px
  }
.print-result-container{
  background-color: #F8F8F8;
  line-height: 1.75em;
  border: 1px solid #B8CECB;
  margin-top: 10px;
  margin-bottom: 10px;
}

