<div class="container">
  <div class="hidden-print">
    <div class="row">
      <span class="pull-left">
        <a class="paginationBackLink pointer"  (click)="navigatePreviousState()">
          <svg style="width:24px;height:24px" viewBox="0 0 24 24">
            <path d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z"/>
          </svg>
          <span class="backLabel" translate>{{ 'Back to Results' | tr_alias:'RECORD_DISPLAY' }}</span>
        </a>
      </span>
    </div>
    <hr/>
  </div>
  <div class="card">
    <div *ngIf="loading" class="text-center">
      <loading-indicator loaderText="Loading"></loading-indicator>
    </div>
    <div *ngIf="!loading" class="">
      <div class="row">
        <div class="col-md-9 print-result-container" *ngIf="includeSearch && activeSearch?.numFound">
          <search-history [searchQuery]="activeSearch"></search-history>
        </div>
      </div>

      <div *ngIf="allRecords.length" class="row">
        <h1 *ngIf="(printDisplay === 'Citation' || printDisplay === 'CitationAndAbstract') && allRecords.length > 1" class="needs-localized">APA PsycNET Citations</h1>
        <h1 *ngIf="printDisplay === 'Details'" class="needs-localized">APA PsycNET Records</h1>
        <h1 *ngIf="printDisplay === 'DetailsWithRefs'" class="needs-localized">APA PsycNET Records with References</h1>
        <div *ngFor="let record of allRecords; let index=index;">

          <div class="col-md-9 print-result-container">
            <p class="text-grey">
              <b *ngIf="allRecords.length > 1">{{index + 1}}.</b>
              <span *ngIf="record.ProductLabel" class="record-label"><span translate>{{ 'Database' | tr_alias:'COMMON_LABEL' }}</span>: {{record?.ProductLabel}}<br/></span>
              <span *ngIf="record.DocumentType || record.DocumentTypeLabel" class="record-label"><span translate>{{ 'Document Type' | tr_alias:'ADVANCED' }}</span>: <span *ngIf="record?.DocumentType">{{record?.DocumentType}}</span><span *ngIf="!record?.DocumentType && record?.DocumentTypeLabel">{{record?.DocumentTypeLabel}}</span></span>
              <span *ngIf="isPTChild && record.isPT && record.TestRecordType"><span translate>{{'Test Record Type' | tr_alias:'ADVANCED'}}</span>: <span translate>{{record.TestRecordType | tr_alias:'ADVANCED'}}</span></span>
            </p>
            <citation *ngIf="includeCitation" [displayTitle]="true" [record]="record" forPrint="true" [hideCitationHeader]="hideCitationHeader || allRecords.length > 1"></citation>
            <abstract *ngIf="includeAbstract && record.HasAbstract=='true' && record.Abstract" [record]="record" [hideAbstractHeader]="hideAbstractHeader" [isTestRecord]="record.isPT"></abstract>
            <full-record-display-accordion *ngIf="includeFullRecordDisplay && record.MayAccessRecordDetails" [record]="record" forPrint="true" [hideFullRecordHeader]="hideFullRecordHeader"></full-record-display-accordion>
            <cited-references-accordion *ngIf="!record.isPT && includeCitedRefs && record.HasAccess" [record]="record" forPrint="true" [hideCitedRefHeader]="hideCitedRefHeader" (intimateComponentInitialized)="showPrintPreview()"></cited-references-accordion>
            <apa-citation *ngIf="includeAPACitation" [record]="record" [hideCitationHeader]="hideCitationHeader"></apa-citation>

          </div>

        </div>

      </div>

      <div *ngIf="includeFullTextHTML" [innerHTML]="fulltext"></div>
    </div>
  </div>
</div>
