<div class="row jumpto" >
  <input (keydown.enter)="getNewAlpha(value);$event.preventDefault();" type="text" placeholder="{{'Jump to' | tr_alias:'COMMON_LABEL' | translate:lang }}..." [(ngModel)]="value" name="jumpTo" id="jumpTo" aria-labelledby="jumpToForm name">
    <div class="sr-only" id="name">Jump to</div>
    <a (click)="getNewAlpha(value)">
      <span class="sr-only">Jump to</span>
      <svg style="width:21px;height:21px" viewBox="0 0 24 24">
        <path fill="#0077BF" d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z" />
      </svg>
    </a>
</div>


<div class="modalLeftRightLayout">

  <div class="searchBoxContainer show-for-mobile m-b-10">
    <search-box [lookupOptions]="lookupOptions" (addToSearch)="addToSearch()" [contentLoaded]="!loading"></search-box>
  </div>
  <div class="resultContainer">
    <div class="card p-l-5 mobileHeightLookup">
      <select-all [isSelectAll]="isSelectAll" [disabledFormControls]="disabledFormControls" (toggleAllSelection)="toggleAllSelection($event)"></select-all>
      <browseaz (changeValue)="getNewAlpha($event)" [selectAlpha]="selectAlpha"></browseaz>
    </div>

    <div *ngIf="itemList && !loading" style="flex-direction: column;" class="resultList">
      <br class="show-for-mobile">
      <div class="pagination-div col-xs-12 col-md-4">
        <termBasedPagination (changePagination)="getNewPagination($event)" [totalItems]="totalItems" [selectedPage]="selectedPage" [selectedLimit]="selectedLimit" [prependText]="prependText" [appendText]="appendText"></termBasedPagination>
      </div>
      <br class="show-for-mobile" *ngIf="selectedPage > 1">
      <p *ngIf="itemList.length < 1" class="emptyState" translate>{{'No Records found' | tr_alias:'ADVANCED'}}</p>

      <article *ngFor="let item of itemList; let index=index;">
        <div class="lstContainer" *ngIf="item && item.name">
          <span class="chkBox">
            <label for="chk_{{index+1}}" class="sr-only">Item {{index + 1}}</label>
            <input id="chk_{{index+1}}" type="checkbox" [(ngModel)]="item.isSelected" (ngModelChange)="toggleSelection(item)"/>
          </span>
          <span>
            <a (click)="executeImmediately(item)" class="normalFontSize">{{item?.name}} <span *ngIf="lookupOptions.showCount === true && item?.value > 0">({{item?.value}})</span></a>
          </span>
        </div>
      </article>

    </div>
    <div *ngIf="loading" class="text-center">
      <loading-indicator loaderText="Loading"></loading-indicator>
    </div>
  </div>

  <div class="searchBoxContainer hide-for-mobile">
    <search-box [lookupOptions]="lookupOptions" (addToSearch)="addToSearch()" [contentLoaded]="!loading"></search-box>
  </div>
</div>
<br style="clear: both"/>


