@import '../../../../../core/pn';

.jumpto {
  input[type="text"] {
    @media (min-width: 768px) {
      margin: 0;
    }
    @media (max-width: 767px) {
      width: 97% !important;
    }
    .smallInput;
    flex: 1 1 auto;
    margin: 8px 0 0 0;
    padding-right: 2.33em;
    width: 233px;
    height: 31px;
  }
  a {
    @media (min-width: 768px) {
      margin-top: 5px;
    }
    position: absolute;
    margin-left: -34px;
    margin-top: 13px;
    .cleanedUp;
  }
    margin-left: 10px !important;
    padding-right: 2.33em;
    height: 30px;
}

.modalLeftRightLayout {
  .resultContainer {
    float: left;
    width: 65%;

    .card {
      strong {
        .subSection;
        @media (min-width: 991px) {
          margin-left: 0;
        }
        margin-left: 34px;
      }
      display: flex;
      height: 49px;
      .facetBody;
      .checkbox{
        margin-left: 0.1em;
      }
    }

    div.resultList {
      .pagination-div {
        padding-bottom: 35px;
      }

      .emptyState {
        .emptyStateStyle;
      }
      article {
        .resultData {
          .resultDataFormat;
          line-height: 1.44em;
        }
        span {
          .resultsWithImage;
          width: 7%;
          padding: 10px;
          flex-direction: row;
        }
        .resultsCard;
        a {
          line-height: 1.44em;
          cursor: pointer;
        }
        padding: 5px;
        .normalFontSize {
          font-size: 16px;
          span{
            padding: 0px;
          }
        }
        .lstContainer {
          padding-left: 15px;
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          width: 100%;
          .chkBox{
            width: 5% !important;
          }
          span {
            &:nth-child(2) {
              width: 100%;
            }
            padding: 0 !important;
          }
        }
      }
      width: 100%;
      display: flex;
      flex-direction: row;
      padding-top: 0;
      padding-left: 25px;
    }

    .checkbox {
      font-weight: normal;
      color: @dk-gray;
      padding-left: 34px;
      cursor: pointer;
      input {
        z-index: 1;
        cursor: pointer;
        margin-top: 1px;
      }
    }
    @media (min-width: 991px) {
      width: 70%;
    }
    width: 100%;
    margin-right: 1em;
  }

  .searchBoxContainer {
    @media (min-width: 991px) {
      width: 30%;
    }
    width: 100%;
  }
  @media (min-width: 991px) {
    flex-direction: row;
  }
  flex-direction: column;
  margin-top: 15px;
  display: flex;
}
