@import '../../core/pn';
.breadcrumb {
  > li {
    &:last-child a {
      &:hover {
        cursor: default;
      }
      color: @dk-gray;
      font-size: 13px;
    }
    + li {
      &:before {
        content: "» ";
        padding: 0 5px;
        color: @dk-blue;
      }
    }
    a {
      &:hover {
        text-decoration: none;
        cursor: pointer;
      }
      color: @dk-blue;
      font-size: 13px;
    }
    display: inline-block;
  }
  padding-bottom: 10px;
  margin: 0;
  border: none;
  border-radius: 0;
  list-style: none;
  border-bottom: 1px solid @lt-gray;
  background: none;
}
