<div *ngIf="breadcrumblist">
  <ol class="breadcrumb p-l-0">
    <li *ngFor="let breadcrumb of breadcrumblist">
      <a [routerLink]="breadcrumb.route" *ngIf="breadcrumb.translated && breadcrumb.translated == true">{{breadcrumb.name | tr_alias:'BROWSE_BY_LABELS' | translate:lang}}</a>
      <a [routerLink]="breadcrumb.route" *ngIf="!breadcrumb.translated">{{breadcrumb.name}}</a>
    </li>
    <li>
      <a  *ngIf="page.translated && page.translated == true">{{page.name | tr_alias:'BROWSE_BY_LABELS' | translate:lang | truncate}}</a>
      <a  *ngIf="!page.translated">{{page.name | truncate}}</a>
    </li>
  </ol>
</div>

