<div class="row">
    <div class="col-md-offset-1 col-sm-offset-1 col-md-3 col-sm-3 col-xs-12 p-l-4em">
        <a *ngIf="displayShowAllAbsBtn" class="showall" (click)="toggleAllAbstracts()">
            <span>
                <span *ngIf="!isAllAbsOpen">
                    <svg style="width:18px;height:18px;" viewBox="0 0 24 24">
                        <path d="M10,17L15,12L10,7V17Z"/>
                    </svg>
                    <span *ngIf="activeTab != 'PT'" id="showallabstracts" translate>{{'Show All Abstracts' | tr_alias:'SEARCH_RESULTS'}}</span>
                    <span *ngIf="activeTab == 'PT'" translate>{{'Show All Summaries' | tr_alias:'SEARCH_RESULTS'}}</span>
                </span>
                <span *ngIf="isAllAbsOpen">
                    <svg style="width:18px;height:18px;" viewBox="0 0 24 24">
                        <path d="M7,10L12,15L17,10H7Z"></path>
                    </svg>
                  <span *ngIf="activeTab != 'PT'" translate>{{'Hide All Abstracts' | tr_alias:'SEARCH_RESULTS'}}</span>
                  <span *ngIf="activeTab == 'PT'" translate>{{'Hide All Summaries' | tr_alias:'SEARCH_RESULTS'}}</span>
                </span>
            </span>
        </a>
    </div>
    <div class="col-xs-12 visible-xs text-center" *ngIf="!isRecommendedSearch">
        <numberedPagination (changePagination)="getNewPagination($event)" [totalItems]="totalItems" [selectedPage]="selectedPage" [selectedLimit]="selectedLimit"></numberedPagination>
        <br>
    </div>
    <div class="col-md-8 col-sm-5 hidden-xs p-t-1em">
        <numberedPagination *ngIf="!isRecommendedSearch" (changePagination)="getNewPagination($event)" [totalItems]="totalItems" [selectedPage]="selectedPage" [selectedLimit]="selectedLimit"></numberedPagination>
        <br>
    </div>
  <br/>
  <br/>
</div>
