<div bsModal #saveSearchModal="bs-modal" class="modal face" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"(click)="closeModal()">
          <span >&times;</span>
        </button>
        <h4 class="modal-title" translate>{{'Save Search' | tr_alias:'SEARCH_RESULTS'}}</h4>
      </div>
      <div class="modal-body">
        <div>
          <form #search="ngForm" class="form-horizontal" novalidate="" autocomplete="off">
            <p><span translate>{{'Please enter a name for your search' | tr_alias:'SEARCH_RESULTS'}}</span>.</p>
            <div class="row">
              <div class="searchBox col-xs-11 col-sm-11 col-md-11 form-group">
                <label class="col-xs-2 control-label" for="searchName" translate>{{'Name' | tr_alias:'SEARCH_RESULTS'}}</label>
                <div class="col-xs-9">
                  <input type="text" class="form-control" name="searchName" id="searchName" [(ngModel)]="searchName" required="true" placeholder="">
                </div>
              </div>
              <div class="col-xs-1 col-sm-1 col-md-1 form-group">
                <button type="submit" *ngIf='!submitted' class="btn btn-success" (click)="saveSearch()" [disabled]="!search.form.valid || submitted" translate>{{'Save' | tr_alias:'SEARCH_RESULTS'}}</button>
                <div *ngIf="submitted" class="text-center">
                  <loading-indicator loaderText=""></loading-indicator>
                </div>
              </div>
            </div>
            <div *ngIf="nameExistError" class="col-xs-offset-2 error-msg"><b [innerHTML]="oldSearchName"> </b> <span translate>{{'already exists in your saved searches; change your search name and try again' | tr_alias:'SEARCH_RESULTS'}}</span>.</div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
