<loading-indicator *ngIf="isSaving" loaderText="Saving"></loading-indicator>
<button (click)="applyChange()" *ngIf="!isSaving" class="{{theme}}"  >
  <a *ngIf="!isAdded" class="add" triggers="hover" data-container="body" tooltip="Add" placement="top">
    <span *ngIf="!isAdded"  >
        <svg style="width:18px;height:18px;" viewBox="0 0 24 24">
            <path *ngIf="theme === 'gray'" d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" />
            <path *ngIf="theme === 'white'" d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" />
            <path *ngIf="theme === 'fulltext'" d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" />

        </svg>
        <span class="caption" translate>{{ 'Add To My List' | tr_alias:'COMMON_LABEL' }}</span>
    </span>
  </a>
  <a  *ngIf="isAdded" class="add" triggers="hover" data-container="body" tooltip="Delete" placement="top">
    <span *ngIf="isAdded" >
        <svg style="width:18px;height:18px;" viewBox="0 0 24 24">
            <path d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" transform="rotate(45 12,12)" />
        </svg>
        <span class="caption" translate>{{ 'Delete From My List' | tr_alias:'COMMON_LABEL' }}</span>
    </span>
  </a>
</button>
<add-to-list-warning-modal #addToListWarningDialog [count]="totalAllowedMylistCount"></add-to-list-warning-modal>
