@import '../../core/pn';

button.gray {
    span {
        svg {
            path {
                fill: @dk-blue;
            }
        }
        display: flex;
    }
    .cleanedUp;
    background-color: @lt-gray;
    color: @dk-blue;
    min-height: 27px;
    &.primary {
        background-color: @dk-blue;
        color: @lightest
    }
}

button.white {
    span {
        svg {
            fill: @dk-blue;
            vertical-align: -2.5px;
        }
        .caption {
            //text-transform: uppercase;

        }

      color: @dk-blue;
    }
    &:active {
      box-shadow: none;
    }
    .cleanedUp;
    background-color: @lightest;
}



@media(max-width: 991px) {
  button.fulltext {
    span {
      svg {
        fill: @dk-blue;
        vertical-align: -2.5px;
      }
       .caption {
      //text-transform: uppercase;
         display:none;
       }

      color: @dk-blue;
    }
    &:active {
      box-shadow: none;
    }
    .cleanedUp;
    background-color: @lightest;
  }

  }

@media(min-width:990px) {
  button.fulltext {
    span {
      svg {
        fill: @dk-blue;
        vertical-align: -2.5px;
      }
       .caption {
      //text-transform: uppercase;
       }

      color: @dk-blue;
    }
    &:active {
      box-shadow: none;
    }
    .cleanedUp;
    background-color: @lightest;
  }
}
