<div *ngIf="loading" class="text-center">
  <loading-indicator loaderText="Searching"></loading-indicator>
</div>
<div *ngIf ="!loading" class="cited-by-container">
  <!--<search-debug [(searchResults)]="results" [(searchFacets)]="facets"></search-debug>-->
  <div class="result-summary">
    <p *ngIf="results?.results?.result?.numFound"><span translate>{{'This document is cited' | tr_alias:'SEARCH_RESULTS'}}</span> <strong><span class="results-count">{{results?.results?.result?.numFound}}</span> <span *ngIf="results?.results?.result?.numFound === 1" translate>{{'time' | tr_alias:'SEARCH_RESULTS'}}</span><span *ngIf="results?.results?.result?.numFound !== 1" translate>{{'times' | tr_alias:'SEARCH_RESULTS'}}</span></strong> <span translate>{{'in' | tr_alias:'SEARCH_RESULTS'}}</span> <strong><span translate>{{'APA PsycNET' | tr_alias:'SEARCH_RESULTS'}}</span>:</strong></p>
    <div *ngIf="currentCitedRecord && currentCitedRecord?.SourceAPA" [innerHTML]="currentCitedRecord?.SourceAPA | linkify"></div>
    <div *ngIf="currentCitedRecord && !currentCitedRecord?.SourceAPA" [innerHTML]="currentCitedRecord?.TextRef"></div>
  </div>
  <div class="results" *ngIf="totalResults > 0">
    <div class="list">
      <!-- Component is binded like mylist page, so mylist is true here-->
      <search-results-nav id="TopNav" class="citedByTopNav" [isMyList]="true" [isCitedRef]="true" [hideSortByOption]="true" [showAllToolBarOptions]="true" [isSelectAll]="isSelectAll" (onChangeSelectAllEvent)="setSelectAll($event)" [currentSortBy]="results?.search?.query?.displayOptions?.sort" [allRecordsOnPageUIDList]="allRecordsOnPageUIDList" [allSelectedRecordUIDList]="allSelectedRecordUIDList" (changeRecordsPerPage)="changeRecordsPerPage($event)" [selectedLimit]="selectedLimit"></search-results-nav>
      <toggle-all-abstract [isAllAbsOpen]="isAllAbsOpen" (displayAbstractsChanged)="setAbstractDisplayStatus($event)"></toggle-all-abstract>
      <search-results-list [isCitedBy]="true" [hideNotes]="true" [redirectRecordDisplay]="true" [articleList]="results?.results?.result" [selectedPage]="currentPage" [selectedLimit]="selectedLimit" (onChangeResultSelectEvent)="identifySelectAll($event)" (changePagination)="getNewPagination($event)" (citedByItemChange)="displayCitedByItem($event)"></search-results-list>
      <search-results-nav *ngIf ="results?.results?.result?.doc.length > 10" id="BottomNav" [isMyList]="true" [isCitedRef]="true" [hideSortByOption]="true" [showAllToolBarOptions]="true" [isSelectAll]="isSelectAll" (onChangeSelectAllEvent)="setSelectAll($event)" [currentSortBy]="results?.search?.query?.displayOptions?.sort" [allRecordsOnPageUIDList]="allRecordsOnPageUIDList" [allSelectedRecordUIDList]="allSelectedRecordUIDList" (changeRecordsPerPage)="changeRecordsPerPage($event)" [selectedLimit]="selectedLimit"></search-results-nav>
    </div>
  </div>
  <div *ngIf="!totalResults" class="not-found row">
    <h1 translate>RECORD_DISPLAY.RECORD_NOT_FOUND_TITLE</h1>
    <p translate>RECORD_DISPLAY.RECORD_NOT_FOUND_MESSAGE</p>

    <b translate>{{'Search' | tr_alias : 'HEADER'}}</b>
    <ul>
      <li><a [routerLink]="['/search', 'basic']" translate>{{'Basic Search' | tr_alias:'HEADER'}}</a></li>
      <li><a [routerLink]="['/search', 'advanced']" translate>{{'Advanced search' | tr_alias : 'HEADER'}}</a></li>
      <li><a [routerLink]="['/search', 'citedRefs']" translate>{{'Cited references' | tr_alias: 'HEADER'}}</a></li>
      <li><a [routerLink]="['/search', 'recent']" translate>{{'Recent searches' | tr_alias: 'HEADER'}}</a></li>
    </ul>

    <b translate>{{'Browse' | tr_alias : 'HEADER'}}</b>
    <ul>
      <li><a [routerLink]="['/PsycARTICLES']">PsycARTICLES</a></li>
      <li><a [routerLink]="['/PsycBOOKS']">PsycBOOKS</a></li>
      <li><a [routerLink]="['/PsycCRITIQUES']">PsycCRITIQUES</a></li>
      <li><a [routerLink]="['/PsycEXTRA']">PsycEXTRA</a></li>
    </ul>
  </div>
</div>
