@import '../../core/pn';

.cited-by-container {
  position: relative;
  width: 95%;
  margin: 0 auto;

  .cite-ref-heading{
    padding-top: 10px;
    h1{
      font-size: 1.44em;
      color: @dk-blue;
      margin: 0px !important;
    }
  }

  .result-summary{
    padding: 10px 0 10px 0;
    .author-list{
      color : @md-blue;
    }
    a {
      word-break: break-all;
    }
  }

  .results {
    .list {
      flex: 1 1 auto;
      width:100%;
    }
    display: flex;
  }
  .not-found h1 {
    font-size: 1.5em;
    color: @md-blue;
  }
}

