@import '../pn';
.header-inner {
  padding: 0;
  margin: 0;
  list-style: none;
  > li {
    @media(max-width: 991px) {
      &.navigation-menu {
        font-size: 13px;
      }
    }
    &:first-child {
      display: block;
      float: none;
      background: @lightest;
      background: -moz-linear-gradient(top, #ffffff 0%, #fbfbfb 50%, #f7f7f7 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(50%, #fbfbfb), color-stop(100%, #f7f7f7));
      background: -webkit-linear-gradient(top, #ffffff 0%, #fbfbfb 50%, #f7f7f7 100%);
      background: -o-linear-gradient(top, #ffffff 0%, #fbfbfb 50%, #f7f7f7 100%);
      background: -ms-linear-gradient(top, #ffffff 0%, #fbfbfb 50%, #f7f7f7 100%);
      background: linear-gradient(to bottom, #ffffff 0%, #fbfbfb 50%, #f7f7f7 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@lightest', endColorstr='@lt-gray', GradientType=0);
      height: 55px;
      margin-right: 0;
    }
    &:nth-child(2) {
      .pull-left {
        .top-menu {
          list-style: none;
          padding: 0;
          margin-left: 13px;
          display: flex;
          li {
            a {
              color: @lightest;
              font-weight: 400;
              text-align: center;
              text-transform: uppercase;
              height: 35px;
              min-width: 50px;
              display: inline-block;
              background-position: center;
              background-repeat: no-repeat;
              position: relative;
              z-index: 1;
              float: left;
              display: flex;
              align-items: center;
              justify-content: center;
              padding-top: 10px;
              font-size: 0.89em;
              svg {
                width: 24px;
                height: 24px;
                margin: 0;
              }
            }
          }
        }
      }
    }
    &:nth-child(3).pull-right {
      padding-right: 0;
      padding-top: 13px;
      .top-menu {
        height: 25px;
        a {
          .navlinkSm;
        }
      }
    }
  }
  .pull-left {
    .top-menu {
      >li {
        &:not(#toggle-width) {
          &::before {
            display: none;
          }
        }
      }
    }
  }
  button {
    margin: 13px 21px;
    .cleanedUp;
  }
  aside {
    &.toggled {
      @media screen {
        @media (min-width: 768px) {
          display: none;
        }
      }
      > a {
        &:last-child {
          margin-bottom: 89px;
        }
        &:first-child {
          border-top: none;
        }
        &:hover {
          background-color: @lt-gray;
        }
        cursor: pointer;
      }
      > a, > span {
        position: relative;
        display: block;
        padding: 10px 15px;
        margin-bottom: -1px;
        color:  @dk-gray;
        font-size: 0.89em;
        font-weight: 100;
        background-color: @lightest;
        border: 1px solid @md-gray;
      }
      position: fixed;
      display: block;
      right: 0px;
      opacity: 1;
      left: 0;
      z-index: 999;
      top: 60px;
      bottom: 0;
      padding: 0 0 21px 0;
      height: 100%;
      width: 100%;
      overflow-y: scroll;
      background: @lightest;

      .categoryHeading {
        text-indent: 15px;
      }
    }
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .header-inner {
    li {
      &:first-child {
        .pull-left {
          &:after {
            content: "";
            display: inline-block;
            margin-left: 26px;
            height: 34px;
            width: 1px;
            background: @md-gray;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .header-inner {
    li {
      &:first-child {
        height: 96px;
      }
      &:nth-child(2) {
        display: inline-block;
        float: left;
        .pull-left {
          .top-menu {
            li {
              a {
                svg {
                  display: block;
                }
              }
            }
          }
        }
      }
    }
  }
  .top-menu {
    list-style: none;
    padding: 0;
    margin-left: 13px;
    display: flex;
    li {
      padding: 15px 8px 1px 8px;
      border-right: solid 1px @lt-blue;
    }
    #dbsMenu {
      height: auto;
      background: none;
      padding-top: 0px;
      height: 52px;
      background: none;
      padding: 0 13px;
    }
  }
  button {
    display: none;
  }
  aside {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .header-inner {
    li {
      &:nth-child(2) {
        display: none;
      }
      &:nth-child(3).pull-right {
        display: none;
      }
    }
  }
}
@media screen and (min-width: 991px) {
  .header-inner {
    li {
      &:nth-child(3).pull-right {
        padding-right: 28px;
        padding-top: 13px;
      }
    }
  }
}


