<ul class="header-inner">

   <li>
    <div class="pull-left">
      <a href="/" title="{{'APA PsycNET' | tr_alias:'HEADER' | translate:lang}}">
        <span class="sr-only">APA PsycNET</span>
        <pnLogo></pnLogo>
      </a>
    </div>



    <apaLogo></apaLogo>

    <div class="pull-right hidden-print">

      <button (click)="toggleMobileMenu(true)">
        <span class="sr-only">Mobile menu</span>
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
          <path fill="#008cd2" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z"/>
        </svg>
      </button>
      <aside [class.toggled]="mainNav">
        <div class="categoryHeading" translate>HEADER.SEARCH</div>
        <a (click)="toggleMobileMenu()" class="p-l-30" *ngIf="isViewable" [routerLink]="['/search/basic']" routerLinkActive="active" translate>{{'Basic Search' | tr_alias:'HEADER' }}</a>
        <a (click)="toggleMobileMenu()" class="p-l-30" *ngIf="isViewable" [routerLink]="['/search/advanced']" routerLinkActive="active" translate>{{'Advanced Search' | tr_alias:'HEADER' }}</a>
        <a (click)="toggleMobileMenu()" class="p-l-30" *ngIf="isViewable" [routerLink]="['/search/citedRefs']" routerLinkActive="active" translate>{{'Cited References' | tr_alias:'HEADER' }}</a>
        <div class="categoryHeading" translate>HEADER.BROWSE</div>
        <a (click)="toggleMobileMenu()" class="p-l-30" *ngIf="isViewable && isAllowedToDisplay('PA')" [routerLink]="['/PsycARTICLES']" routerLinkActive="active" translate>{{'Journal Articles' | tr_alias:'HEADER' }}</a>
        <a (click)="toggleMobileMenu()" class="p-l-30" *ngIf="isViewable && isAllowedToDisplay('PB')" [routerLink]="['/PsycBOOKS']" routerLinkActive="active" translate>{{'Books & Encyclopedia Entries' | tr_alias:'HEADER'}}</a>
        <a (click)="toggleMobileMenu()" class="p-l-30" *ngIf="isViewable && isAllowedToDisplay('PC')" [routerLink]="['/PsycCRITIQUES']" routerLinkActive="active" translate>{{'Books & Film Reviews' | tr_alias:'HEADER'}}</a>
        <a (click)="toggleMobileMenu()" class="p-l-30" *ngIf="isViewable && isAllowedToDisplay('PT')" [routerLink]="['/PsycTESTS']" routerLinkActive="active" translate>{{'Tests & Measures' | tr_alias:'HEADER' }}</a>
        <a (click)="toggleMobileMenu()" class="p-l-30" *ngIf="isViewable && isAllowedToDisplay('PH')" [routerLink]="['/PsycTHERAPY']" routerLinkActive="active" translate>{{'Psychotherapy Demonstration Videos' | tr_alias:'HEADER'}}</a>
        <a (click)="toggleMobileMenu()" class="p-l-30" *ngIf="isViewable && isAllowedToDisplay('PE')" [routerLink]="['/PsycEXTRA']" routerLinkActive="active" translate>{{'Gray Literature' | tr_alias:'HEADER'}}</a>
        <a (click)="toggleMobileMenu()" *ngIf="isViewable && isAllowedToDisplayThesaurus()" [routerLink]="['/thesaurus']" routerLinkActive="active" translate>THESAURUS.HEADING</a>

        <span *ngIf="_identity?.isIndividual && !_identity?.athens && isViewable">
          {{_identity?.name}} (<a href="/user/logout">{{ 'LINK.LOGOUT' | translate:lang }}</a>)
        </span>

        <span *ngIf="_identity?.athens && isViewable">
          Athens (<a href="/user/logout">{{ 'LINK.LOGOUT' | translate:lang }}</a>)
        </span>

        <a href="/user/login?returnUrl={{returnUrl}}" *ngIf="!_identity?.isIndividual && !_identity?.athens" translate>{{'Login' | tr_alias:'LINK'}}</a>
        <a (click)="toggleMobileMenu()" class="p-l-30" *ngIf="isViewable" [routerLink]="['/search/mylist']" routerLinkActive="active" translate>{{'My List' | tr_alias:'HEADER'}}</a>
        <a (click)="toggleMobileMenu()" class="p-l-30" *ngIf="isViewable" [routerLink]="['/MyPsycNET']" routerLinkActive="active" translate>{{'My PsycNET' | tr_alias:'HEADER'}}</a>
        <a (click)="toggleMobileMenu()"class="p-l-30" *ngIf="!isOrganization && isViewable" href="/user/cart" target="_blank"><span class="badge">{{cartCount}}</span> <span translate>{{'Cart' | tr_alias:'LINK' }}</span></a>

        <a (click)="toggleMobileMenu()" *ngIf="isViewable" [routerLink]="['/search/recent']" routerLinkActive="active" translate>{{'Recent Searches' | tr_alias:'HEADER' }}</a>

        <a (click)="toggleMobileMenu()" *ngIf="_identity?.isIndividual && isViewable" href="{{getMyAPALink()}}" target="_blank">{{ 'LINK.MYAPA' | translate:lang }}</a>

        <div class="categoryHeading" *ngIf="isViewable" title="Language"><span translate>COMMON_LABEL.LANGUAGE</span> (<span translate>LANGUAGE</span>)</div>
        <a class="p-l-30" *ngIf="isViewable" (click)="setLocaleAndToggleMobileMenu('de', 'DE', 'USD')">Deutsch</a>
        <a class="p-l-30" *ngIf="isViewable" (click)="setLocaleAndToggleMobileMenu('en', 'US', 'USD')">English</a>
        <a class="p-l-30" *ngIf="isViewable" (click)="setLocaleAndToggleMobileMenu('es', 'ES', 'USD')">Español</a>
        <a class="p-l-30" *ngIf="isViewable" (click)="setLocaleAndToggleMobileMenu('fr', 'FR', 'USD')">Français</a>
        <a class="p-l-30" *ngIf="isViewable" (click)="setLocaleAndToggleMobileMenu('pt', 'PT', 'USD')">Português</a>

        <a (click)="toggleMobileMenu()" *ngIf="isViewable && isOrganization" href="http://admincenter.apa.org" target="_blank" translate>LINK.ADMINCENTER</a>
        <a *ngIf="isViewable" href="http://help.psycnet.org" target="_blank" translate (click)="logPageViewAndToggleMobileMenu('Help_PN'); triggerComingSoon()">{{'Help' | tr_alias:'LINK' }}</a>
      </aside>
      <identitybar [showLoginOnly]="!isViewable" (comeSoon)="triggerComingSoon()"></identitybar>

    </div>

  </li>
  <li *ngIf="isViewable" class="hidden-print navigation-menu">
    <div class="pull-left">
      <ul class="top-menu">
        <searchmenu></searchmenu>
        <browsemenu></browsemenu>
        <thesaurusmenu></thesaurusmenu>
      </ul>
    </div>
  </li>

  <li *ngIf="isViewable" class="pull-right hidden-print navigation-menu">
    <personalization></personalization>
  </li>
</ul>

