<svg
       xmlns:dc="http://purl.org/dc/elements/1.1/"
       xmlns:cc="http://creativecommons.org/ns#"
       xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
       xmlns:svg="http://www.w3.org/2000/svg"
       xmlns="http://www.w3.org/2000/svg"
       viewBox="0 0 575.22668 73.226669"
       xml:space="preserve"
       id="svg1"
       version="1.1"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://purl.org/dc/elements/1.1/"
       xsi:schemaLocation="http://purl.org/dc/elements/1.1/"
       xsi:schemaLocation="http://creativecommons.org/ns#"
       xsi:schemaLocation="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
  <!--<metadata id="metadata8">
    <rdf:RDF>
      <cc:Work rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
      </cc:Work>
    </rdf:RDF>
  </metadata>-->
  <defs id="defs1" />
  <g transform="matrix(1.3333333,0,0,-1.3333333,0,73.226667)" id="g10a">
    <g transform="scale(0.1)" id="g12">
      <path
             id="path14"
             style="fill:none;stroke:#100f0d;stroke-width:10;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
             d="m 4309.16,493.617 c 0,-27.937 -22.65,-50.586 -50.59,-50.586 -27.94,0 -50.59,22.649 -50.59,50.586 0,27.942 22.65,50.586 50.59,50.586 27.94,0 50.59,-22.644 50.59,-50.586 z" />
      <path
             id="path16"
             style="fill:#100f0d;fill-opacity:1;fill-rule:nonzero;stroke:none"
             d="m 4250.5,497.645 h 7.43 c 4.82,0 7.83,0.203 9.03,0.613 1.2,0.402 2.14,1.105 2.81,2.101 0.68,0.993 1.03,2.239 1.03,3.731 0,1.676 -0.45,3.023 -1.35,4.055 -0.89,1.031 -2.15,1.679 -3.78,1.953 -0.81,0.113 -3.25,0.164 -7.33,0.164 h -7.84 z m -10.04,-28.7 v 49.731 h 21.14 c 5.31,0 9.18,-0.446 11.59,-1.336 2.4,-0.895 4.33,-2.481 5.78,-4.766 1.45,-2.285 2.17,-4.898 2.17,-7.84 0,-3.73 -1.1,-6.816 -3.29,-9.242 -2.19,-2.43 -5.47,-3.965 -9.84,-4.597 2.17,-1.266 3.97,-2.657 5.37,-4.172 1.42,-1.52 3.32,-4.207 5.73,-8.075 l 6.07,-9.703 h -12.01 l -7.27,10.821 c -2.57,3.867 -4.33,6.304 -5.28,7.312 -0.96,1.008 -1.96,1.695 -3.03,2.067 -1.06,0.375 -2.74,0.562 -5.05,0.562 h -2.04 v -20.762 h -10.04" />
      <path
             id="path18"
             style="fill:#5fccf5;fill-opacity:1;fill-rule:nonzero;stroke:none"
             d="m 263.363,75.2812 h 2698.87 V 94.4531 H 263.363 Z" />
      <path
             id="path20"
             style="fill:#100f0d;fill-opacity:1;fill-rule:nonzero;stroke:none"
             d="M 635.297,233.641 H 769.555 L 705.664,376.172 Z M 485.863,90.9766 658.699,435.945 h 94.953 L 921.816,90.9766 H 834.395 L 795.723,175.645 H 607.473 L 568.18,90.9766 h -82.317" />
      <path
             id="path22"
             style="fill:#100f0d;fill-opacity:1;fill-rule:nonzero;stroke:none"
             d="m 1014.33,288.367 h 70.4 c 28.53,0 47.24,1.555 56.13,4.68 17.78,6.086 26.66,20.117 26.66,42.098 0,21.984 -8.97,36.093 -26.89,42.335 -9.05,3.118 -27.68,4.676 -55.9,4.676 h -70.4 z M 937.621,90.9766 V 435.945 H 1100.4 c 49.27,0 83.41,-5.613 102.44,-16.84 27.91,-16.527 41.86,-44.664 41.86,-84.425 0,-36.328 -12,-62.832 -36.01,-79.524 -19.34,-13.41 -54.81,-20.105 -106.42,-20.105 h -87.94 V 90.9766 h -76.709" />
      <path
             id="path24"
             style="fill:#100f0d;fill-opacity:1;fill-rule:nonzero;stroke:none"
             d="m 1348.67,233.641 h 134.26 l -63.89,142.531 z M 1199.24,90.9766 1372.08,435.945 h 94.95 L 1635.19,90.9766 h -87.42 l -38.67,84.6684 h -188.26 l -39.29,-84.6684 h -82.31" />
      <path
             id="path26"
             style="fill:#100f0d;fill-opacity:1;fill-rule:nonzero;stroke:none"
             d="m 1881.04,288.367 h 70.4 c 28.54,0 47.25,1.555 56.13,4.68 17.78,6.086 26.66,20.117 26.66,42.098 0,21.984 -8.96,36.093 -26.89,42.335 -9.04,3.118 -27.68,4.676 -55.9,4.676 h -70.4 z M 1804.33,90.9766 V 435.945 h 162.78 c 49.27,0 83.41,-5.613 102.44,-16.84 27.91,-16.527 41.86,-44.664 41.86,-84.425 0,-36.328 -12,-62.832 -36.01,-79.524 -19.34,-13.41 -54.82,-20.105 -106.42,-20.105 h -87.94 V 90.9766 h -76.71" />
      <path
             id="path28"
             style="fill:#100f0d;fill-opacity:1;fill-rule:nonzero;stroke:none"
             d="m 2187.09,166.289 v -2.109 c 0,-15.899 7.25,-26.66 21.75,-32.278 9.05,-3.582 23.16,-5.379 42.34,-5.379 39.6,0 59.4,9.903 59.4,29.707 0,11.536 -18.71,20.11 -56.13,25.723 l -18.95,2.813 c -71.87,11.687 -107.81,37.57 -107.81,77.644 0,49.895 41.87,74.836 125.59,74.836 30.88,0 56.21,-4.133 76.01,-12.394 27.76,-11.688 41.63,-30.868 41.63,-57.528 v -3.972 l -64.55,0.222 c -1.25,22.461 -19.49,33.684 -54.72,33.684 -37.58,0 -56.37,-9.133 -56.37,-27.395 0,-10.144 16.6,-18.105 49.81,-23.879 1.57,-0.32 7.95,-1.492 19.18,-3.511 38.51,-7.035 63.93,-13.508 76.24,-19.438 26.05,-12.488 39.07,-32.547 39.07,-60.176 0,-52.437 -43.9,-78.6715 -131.68,-78.6715 -85.29,0 -127.92,25.4215 -127.92,76.2505 v 5.851 h 67.11" />
      <path
             id="path30"
             style="fill:#100f0d;fill-opacity:1;fill-rule:nonzero;stroke:none"
             d="m 2434.21,0 63.15,111.562 -122.08,219.844 h 80.25 l 79.4,-149.25 80.36,149.25 h 75.02 L 2510.69,0 h -76.48" />
      <path
             id="path32"
             style="fill:#100f0d;fill-opacity:1;fill-rule:nonzero;stroke:none"
             d="m 2891.59,176.34 h 72.26 c -1.87,-32.278 -17.54,-56.36 -47.01,-72.27 -23.54,-12.6247 -53.01,-18.9411 -88.41,-18.9411 -43.18,0 -77.64,9.5899 -103.37,28.7661 -28.84,21.671 -43.27,53.324 -43.27,94.953 0,43.816 14.5,76.718 43.51,98.703 26.03,19.793 61.66,29.695 106.88,29.695 31.96,0 59.25,-5.84 81.86,-17.539 28.38,-14.504 43.57,-36.172 45.6,-65.019 h -68.52 c -7.49,24.328 -27.91,36.484 -61.28,36.484 -48.5,0 -72.74,-26.817 -72.74,-80.449 0,-52.707 24.87,-79.051 74.61,-79.051 37.43,0 57.38,14.89 59.88,44.668" />
      <path
             id="path34"
             style="fill:#100f0d;fill-opacity:1;fill-rule:nonzero;stroke:none"
             d="M 3039.65,90.9766 V 435.945 h 107.28 l 167.53,-265.242 v 265.242 h 72.97 V 90.9766 H 3276.8 L 3111.92,352.461 V 90.9766 h -72.27" />
      <path
             id="path36"
             style="fill:#100f0d;fill-opacity:1;fill-rule:nonzero;stroke:none"
             d="M 3484.02,90.9766 V 435.945 h 274.81 V 383.562 H 3559.57 V 298.43 h 183.12 v -52.629 h -183.12 v -101.27 h 206.04 V 90.9766 h -281.59" />
      <path
             id="path38"
             style="fill:#100f0d;fill-opacity:1;fill-rule:nonzero;stroke:none"
             d="M 4004.4,378.418 V 90.9766 h -77.65 V 378.418 H 3791.8 v 57.527 h 348.24 V 378.418 H 4004.4" />
      <path
             id="path40"
             style="fill:#5fccf5;fill-opacity:1;fill-rule:nonzero;stroke:none"
             d="m 389.145,459.766 c 0,0 -345.813,-7.989 -389.145,-384.6605 l 303.125,-0.1563 c 0,0 -277.5469,277.0428 86.02,384.8168" />
    </g>
  </g>
</svg>
