@import '../pn';
svg {
  @media screen {
    @media (min-width: 768px) {
      position: relative;
      left: 0;
      width: 236px;
      height: 37px;
      margin: 32px 0 0 43px;
    }
    @media (min-width: 1200px) {
      height: 37px;
      width: 265px;
    }
  }
  width: 218px;
  height: 55px;
  margin: 0px auto 0px -118px;
  left: 50%;
  position: absolute;
}
