<div class="card pt-inner">
  <div class="pti-item">
    <div class="list-group-item"><h3><span translate>{{ 'Index Terms' | tr_alias:'RECORD_DISPLAY' }}</span></h3></div>
    <ul>
      <li [ngClass]="{major: formattedIndexTerm.isMajor}" *ngFor="let formattedIndexTerm of record.FormattedIndexTerms">
        <a [routerLink]="['/search/results']" [queryParams]="{term:stripTags(formattedIndexTerm.term), latSearchType: 'i'}" [innerHTML]="formattedIndexTerm?.term"></a>
      </li>
    </ul>
  </div>
</div>
