@import '../../../core/pn';

h3 {
  font-weight: 300;
  font-size: 1.44em;
  color: #5e5e5e;
}

.card {
  box-shadow: none;
  position: relative;
  background: #fff;
  margin-top: 10px;
}

a {
  cursor: pointer;
  color: @lt-blue;
  text-decoration: none;
}

.pt-inner .pti-item {
  padding: 0;
}

.pti-item .list-group-item {
  background: none;
  background-color: #f7f7f7;
  border: none;
  color: @lt-blue;
  font-weight: 100;
  text-align: left;
  padding: 5px 13px;
  font-size: 0.99em;
  line-height: 1.44em;
}

ul {
  background-color: #f7f7f7;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li {
  padding-bottom: 5px;
  padding-left: 1.5em;
  text-indent: -1em;
}

li:not(.major):before {
  content: "";
  padding-right: 10px;
}

li.major:before {
  content: "\002A";
  color: #f44336;
  padding-left: 5px;
}
