<div *ngIf=" outageData &&  outageData.msg &&  outageData.msg.length && !isHidden" class="container">
    <alert type="warning" dismissible="true" (onClose)="hideFutureNotification($event)">
      <div><h4><i class ="glyphicon glyphicon-warning-sign"></i> Maintenance Notification</h4></div>
      {{this.outageData.msg}}</alert>
</div>
