<div *ngIf="record && record.HasAccess" class="testRecords accordionContainer p-l-5">
  <div accordion-heading class="accordionHeading" (click)="toggleFullRecord()">
    <h4>
      <a [ngClass]="{'opened': !record?.isFullRecordOpen, 'closed': record?.isFullRecordOpen}">
        <svg style="width:24px;height:24px" viewBox="0 0 24 24" class="plus">
          <path fill="#0077BF" d="M17,13H13V17H11V13H7V11H11V7H13V11H17M19,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3Z"/>
        </svg>
        <svg style="width:24px;height:24px" viewBox="0 0 24 24" class="minus">
          <path fill="#0077BF" d="M17,13H7V11H17M19,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3Z"/>
        </svg>
        <span translate>{{ record.TestRecordType | tr_alias:'RECORD_DISPLAY' }}</span>
      </a>
    </h4>
  </div>
  <div class="p-l-15">
    <div class="row">
      <div class="col-lg-12 p-0 clearfix">
        <strong class="pull-left" *ngIf="record.TestRecordType && record.TestRecordType.length"><span translate>{{ 'Reported in' | tr_alias:'RECORD_DISPLAY' }}</span>:&nbsp;</strong><span class="reported-source" [innerHTML]="record?.SourceAPA | linkify:'ptDisplay'"></span>
      </div>
    </div>
  </div>
  <div *ngIf="loading" class="text-center">
    <loading-indicator loaderText="Loading"></loading-indicator>
  </div>
  <div *ngIf="!loading && newRecord && record.HasAccess && record.isFullRecordOpen">
    <full-record-display class="ptfullrecord" [record]="newRecord" [suppressedFields]="suppressedFields"></full-record-display>
    <cited-references-accordion *ngIf="record.WorkUID && record.WorkUID.trim() !== ''" [record]="newRecordRef"></cited-references-accordion>
    <hr>
  </div>
  <!-- <div *ngIf="!loading && !newRecord">
     <p class="emptyState">No Records found.</p>
   </div>-->
</div>
