@import '../../../core/pn';

.testRecords {
  a {
    color: #2196f3;
    text-decoration: none;
    span {
      margin-top: 5px;
    }
  }
  h4 {
    cursor: pointer;
    color: #0077bf;
    font-size: 1.24em;
    word-break: normal;
  }

  hr {
    border-width: 2px 0px 0px;
    border-style: solid none none;
    border-color: #008CD2;
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .opened {
    .plus {
      display: block;
      margin-right: .15em;
    }
    .minus {
      display: none;
      margin-right: .15em;
    }
  }

  .closed {
    .plus {
      display: none;
      margin-right: .15em;
    }
    .minus {
      display: block;
      margin-right: .15em;
    }
  }

  .accordionHeading {
    .accordionHeadingStyle;
  }

  .accordionContainer {
    padding: 8px 0;
    border-bottom: dotted 1px @md-gray;
  }

  .emptyState {
    .emptyStateStyle;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
    li {
      display: block;
    }
  }

  .reported-in{
    @media (min-width: 570px ){
      width: 26%;
    }
    @media (min-width: 640px ){
      width: 21%;
    }
    @media (min-width: 768px  ){
      width: 18%;
    }
    @media (min-width: 1200px ){
      width: 15%;
    }
    float: left;
  }

  .p-l-25 {
    padding-left: 25px;
  }
  .m-0 {
    margin: 0;
  }
  .m-t-0 {
    margin-top: 0;
  }
  .m-l-5 {
    margin-left: 5px;
  }
  .m-b-15 {
    margin-bottom: 15px;
  }
  .m-l-15 {
    margin-left: 15px;
  }
  .m-l-30 {
    margin-left: 30px;
  }
  .pl22 {
    padding-left: 22px;
  }
}
.reported-source {
  a {
    word-break: break-all;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
