@import '../../core/pn';
form {
  input[type="text"] {
    @media (min-width: 768px) {
      margin: 0;
    }
    @media (max-width: 767px) {
      width: 183px;
    }
    .smallInput;
    flex: 1 1 auto;
    margin: 8px 0 0 0;
    padding-right: 2.33em;
    width: 233px;
    height: 31px;
  }
  button {
    @media (min-width: 768px) {
      margin-top: 5px;
    }
    margin-left: -34px;
    margin-top: 13px;
    .cleanedUp;
  }
  display: flex;
}

