@import '../../../core/pn';

.actionsToolBarArticle {
  margin-left: -5px;
  padding-top: 13px;
  .btn-group {
    margin-top: -2px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    box-shadow: none;
    border: solid 1px #f7f7f7;
  }
  .first.btn {
    padding-top: 2px;
  }
  .btn-group .btn:not(.btn-link) {
    background-color: #ffffff;
    border-right: 1px solid #f7f7f7;
    height: 26px;
  }
  button {
    span {
      color: @dk-blue;
    }
    svg {
      fill: @dk-blue;
      vertical-align: -2.5px;
    }
    &:active {
      box-shadow: none;
    }
    background-color: @lightest;
  }
  svg {
    fill: @dk-blue;
  }
  a {
    color: @lt-blue;;
    text-decoration: none;
  }
  a:hover {
    color: @lt-blue;;
    text-decoration: none;
  }
  .text-grey{
    color: @dk-gray;
  }
  .dropdown-menu{
    left: -50px !important;
  }
  #social-dropdown {
    padding-top: 2px;
    padding-left: 5px;
  }
}

.show-for-mobile {
  @media screen {
    @media (min-width: 768px) {
      display: none;
    }
  }
  display: block;
}


.alertMsg {
  width: 41%;
  margin-left: 250px;
  margin-top: 10px;
}
@media(max-width: 767px) {
  .pull-right {
    float: none !important;
  }
}
