<div class="row">
  <div class="options col-md-9 p-0">
    <div class="actionsToolBarArticle btn-group btn-group-xs">
      <button *ngIf="toShow('export')" type="button" class="first btn" id="exportBtn" (click)="openExportRISModalPopup()">
        <span class="sr-only">Export</span>
        <span>
          <svg style="width:18px;height:18px" viewBox="0 0 24 24">
            <path d="M23,12L19,8V11H10V13H19V16M1,18V6C1,4.89 1.9,4 3,4H15A2,2 0 0,1 17,6V9H15V6H3V18H15V15H17V18A2,2 0 0,1 15,20H3A2,2 0 0,1 1,18Z"/>
          </svg>
        </span>
      <span translate>{{ 'EXPORT' | tr_alias:'COMMON_LABEL' }}</span>
    </button>
    <add-to-my-list *ngIf="toShow('marked list')" class="btn" theme="white" [UID]="record.UID"></add-to-my-list>
    <button *ngIf="toShow('mail')" type="button" class="btn" id="emailBtn" (click)="openEmailRecordModal()" triggers="hover" tooltip="{{'Email' | tr_alias:'COMMON_LABEL' | translate:lang }}">
      <span class="sr-only">Email</span>
      <span>
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
          <path d="M20,8L12,13L4,8V6L12,11L20,6M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z"/>
        </svg>
      </span>
    </button>
    <button *ngIf="toShow('print')" type="button" class="btn" id="printBtn" (click)="openPrintModalPopup()" triggers="hover" tooltip="{{'Print' | tr_alias:'COMMON_LABEL' | translate:lang }}">
      <span class="sr-only">Print</span>
      <span>
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
          <path d="M18,3H6V7H18M19,12A1,1 0 0,1 18,11A1,1 0 0,1 19,10A1,1 0 0,1 20,11A1,1 0 0,1 19,12M16,19H8V14H16M19,8H5A3,3 0 0,0 2,11V17H6V21H18V17H22V11A3,3 0 0,0 19,8Z"/>
        </svg>
      </span>
      </button>

      <span dropdown *ngIf="toShow('share')">
        <button type="button" class="btn" id="social-dropdown" dropdownToggle triggers="hover" tooltip="{{'Share' | tr_alias:'COMMON_LABEL' | translate:lang }}">
          <span class="sr-only">Share</span>
          <span>
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
              <path d="M18,16.08C17.24,16.08 16.56,16.38 16.04,16.85L8.91,12.7C8.96,12.47 9,12.24 9,12C9,11.76 8.96,11.53 8.91,11.3L15.96,7.19C16.5,7.69 17.21,8 18,8A3,3 0 0,0 21,5A3,3 0 0,0 18,2A3,3 0 0,0 15,5C15,5.24 15.04,5.47 15.09,5.7L8.04,9.81C7.5,9.31 6.79,9 6,9A3,3 0 0,0 3,12A3,3 0 0,0 6,15C6.79,15 7.5,14.69 8.04,14.19L15.16,18.34C15.11,18.55 15.08,18.77 15.08,19C15.08,20.61 16.39,21.91 18,21.91C19.61,21.91 20.92,20.61 20.92,19A2.92,2.92 0 0,0 18,16.08Z"/>
            </svg>
          </span>
        </button>
        <ul class="dropdown-menu" dropdownMenu aria-labelledby="social-dropdown">
            <social [urlInfo]= "urlInfo" [title]="record.GivenDocumentTitle"></social>
        </ul>
      </span>
    </div>

    <button-box *ngIf="record" class="show-for-mobile"  [record]="record" [showComponents]="getButtonBoxComponentsRAB()"></button-box>
    <div class="pull-right" *ngIf="toShow('labels')">
      <br>
      <p class="text-grey">
        <span *ngIf="record.DocumentType" class="record-label pull-right p-l-30">{{record?.DocumentType}}</span>
        <span *ngIf="record.ProductLabel" class="record-label pull-right p-l-30"><span id="database" translate>{{ 'Database' | tr_alias:'COMMON_LABEL' }}</span>: {{record?.ProductLabel}}<br/></span>
      </p>
    </div>
  </div>
</div>

<div class="row alertMsg" *ngIf="showAlert">
  <alert [type]="alertMessage.type" [dismissOnTimeout]="alertMessage.timeout"><span translate>RECORD_DISPLAY.ALERT_MSG</span></alert>
</div>

<export-ris-modal #exportRISDialog></export-ris-modal>
<email-record-modal #emailRecordDialog [record]="record" [recordList]="recordList"></email-record-modal>
<print-record-modal #printRecordDialog [record]="record"  [recordList]="recordList"></print-record-modal>
