<div bsModal #addToListConfirmationModal="bs-modal" class="modal face" [style.margin-top]="numberOfDisplayedModals==='two' ? '70px': '0'" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="addToListConfirmationModal modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="closeModal()">
          <span >&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><b class="needs-localized">{{message}}</b></p>
          <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1 m-r-25 pull-right">
              <button type="button" class="btn btn-success" (click)="closeModal()">OK</button>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
