@import '../../../../core/pn';

h1 {
  .facetHeading;
}

.card {
  .recommendedSearch {
    padding-left: 34px !important;
  }
  strong {
    font-size: 0.89em;
    padding: 1em;
    margin: 5px;
    color: @dk-gray;
  }
  a {
    &:hover {
      text-decoration: none;
    }
    .facetLeftActive;
    .facetLeft;
  }
  label {
    font-weight: normal;
    color: @dk-gray;
    padding-left: 21px;
  }
  .accordionContainer {
    .accordionHeading {
      span {
        a {
          font-size: 13px;
          //font-style: italic;
          i {
            display: block;
            float: right !important;
            color: @dk-gray;
            font-size: 9px;
          }
          margin-bottom: 2px;
          background-color: @lt-gray;
          color: @dk-gray;
        }
      }
    }
    ul {
      padding: 0px;
      list-style-type: none;
      margin-bottom: 0;
      li {
        .facet-name-label {
          &.active{
            color : #333333;
          }
          color : #0ba9dd;
          font-size: 13px;
          .selected {
            color: @dk-gray;
            font-size: larger;
          }
        }
        small {
          color : #0ba9dd;
          font-weight: 600;
          i{
            font-weight: 100 !important;
          }
        }
      }
    }

    border-bottom: solid 1px @lt-gray;
  }
  .facetBody;
}
