<div class="card">
  <h1 [class.recommendedSearch]="isRecommendSearch" translate style="text-transform: none">{{'Filter Results' | tr_alias:'SEARCH_RESULTS'}}</h1>
  <div *ngIf="filters">
    <div class="filter-display" *ngFor="let filter of facetDisplay; let y = index">
      <div class="accordionContainer">
        <div accordion-heading class="accordionHeading" (click)="onToggleFacetFilter(filter, y)">
          <span>
            <a>
              <i *ngIf="filter.isOpen" class="glyphicon glyphicon-triangle-bottom"></i>
              <i *ngIf="!filter.isOpen" class="glyphicon glyphicon-triangle-right"></i>
              <span translate>{{labelMapping[filter?.name] | tr_alias:'RECORD_DISPLAY'}}</span>
            </a>
          </span>
        </div>
        <ul *ngIf="filter.values" accordion-content [hidden]="!filter.isOpen">
          <div *ngIf="filter.values.length == 0 && filter.loading" class="text-center">
            <loading-indicator loaderText="Loading"></loading-indicator>
          </div>
          <p *ngIf="filter.values.length < 1 && !filter.loading" class="emptyState" translate>{{'No Records found' | tr_alias:'SEARCH_RESULTS'}}</p>
          <li *ngFor="let term of filter.values; let i = index">
            <a *ngIf="i<10" class="facet-name-label" [ngClass]="{'active':term.selected}" (click)="selectTerm(term, filter.name)">
              <i class="selected glyphicon glyphicon-remove"  *ngIf="term.selected"></i>
              {{term?.name | capitalize}} <span class="filter-count" *ngIf="term.value">({{term?.value | string2NumberNotation}})</span>
            </a>
          </li>
        </ul>
        <div *ngIf="!filter.values && filter.isOpen"><loading-indicator loaderText="Loading"></loading-indicator></div>
      </div>
    </div>
    <div *ngIf="!facetDisplay" class="text-center">
      <loading-indicator loaderText="Loading"></loading-indicator>
    </div>
    <div *ngIf="!facetDisplay.length" class="accordionContainer emptyState" translate>{{'No Records found' | tr_alias:'SEARCH_RESULTS'}}</div>
  </div>
</div>
