<div class="card" *ngIf="trendingList">
  <h3 translate>SEARCHCOMMON.TRENDING</h3>
  <div class="trending-item" *ngFor="let item of trendingList">
    <a [routerLink]="['/search/advanced']" [queryParams]="{term: item}" (click)="setSelectedDBs();">{{item}}</a>
  </div>
</div>
