@import '../../core/pn';

.resultscontainer {
  position: relative;
  width: 95%;
  margin: 0 auto;

  button {
    @media (min-width: 991px) {
      margin-left: 0;
      margin-top: 1px !important;
    }
    @media (min-width: 768px) {
      margin-top: 18px;
    }
    margin-top: 5px;
    margin-left: 5px;
    .optionsToggleSearch;
  }

  .results {
    .facets {
      button {
        @media (min-width: 991px) {
          display: none;
        }
        background-color: @lightest;
        position: relative;
        margin: 0.55em;
        width: 100%;
        font-size: 0.89em;
        color: @md-blue;
        border: solid 1px @md-gray;
        border-radius: 2px;
        left: 0;
      }
      @media (min-width: 991px) {
        display: block;
      }
      &.toggled {
        @media (min-width: 991px) {
          display: none;
        }
        transform: translate3d(0px, 58px, 0px);
        -webkit-transform: translate3d(0px, 58px, 0px);
        opacity: 1;
        background-color: #ffffff;
        z-index: 999;
        overflow-y: scroll;
        overflow-x: hidden;
        position: fixed;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        height: 100%;
        margin-top: -58px;
        width: 100%;
        display: flex;
        flex-direction: column;
      }
      @media (max-width: 991px) {
        height: calc(42%);
        transform: translate3d(-767px, 58px, 0px);
        -webkit-transform: translate3d(-767px, 58px, 0px);
        opacity: 0;
        z-index: 1;
        position: absolute;
        display: none;
      }
      display: none;
      width: 18.66666667%;
      padding-right: 15px;
      padding-left: 0;
      .card{
        margin-left: 0!important;
      }

    }
    .list {
      flex: 1 1 auto;
      width: 81.33333333%;
    }
    @media (min-width: 768px) {
      margin-top: 13px;
    }
    display: flex;
  }
}

.no-results{
  display: flex;
  justify-content: center;
  margin-top:2em;
  p {
    margin-bottom: 2em;
  }
  .fq-field{
    font-weight:bold;
  }

  .fq-op {
    font-style:italic;
  }
}
.p-0 {
  padding: 0 !important;
}
