<div *ngIf="loading" class="text-center">
  <loading-indicator loaderText="Searching"></loading-indicator>
</div>

<div class="resultscontainer" *ngIf="!loading && !isMissing && results?.results?.result?.doc.length > 0" xmlns="http://www.w3.org/1999/html">
  <search-action-bar *ngIf="results?.results?.result?.numFound" [searchId]="searchId" [citedRef]="true" [showAllOptions]="false" [totalRecordsFound]="results?.results?.result?.numFound" [friendlyQuery]="results?.search?.friendlyQuery"></search-action-bar>

  <button *ngIf="totalResults" (click)="toggleFacetsView()" [class.toggled]="noshow">
    <span class="sr-only">Hide/Show Side Bar</span>
    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="#ffffff" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z"/>
    </svg>
  </button>

  <div class="results">
    <div class="facets" *ngIf="!loading" [class.toggled]="noshow">
      <button (click)="toggleFacetsView()">
        Done
      </button>

      <search-within-results-box (searchWithinSearchevent)="searchWithinSearch($event)" [searchwithinSearchQueries]="searchwithinSearchQueries"></search-within-results-box>
      <search-filter-box  [searchId]="searchId" [filters]="results?.results?.facets" (updateSearchTerm)="updateSearch($event)"></search-filter-box>
    </div>

    <div class="list">
      <div class="topNav">
        <search-results-nav *ngIf="!loading" id="TopNav" [isCitedRef]="true" [showAllToolBarOptions]="false" (applySortBy)="applyNewSortByOption($event)" [currentSortBy]="results?.search?.query?.displayOptions?.sort" (changeRecordsPerPage)="changeRecordsPerPage($event)" [selectedLimit]="selectedLimit"></search-results-nav>
      </div>
      <br class="show-for-mobile">
      <citedrefs-results-list [articleList]="results?.results?.result" [loading]="loading" [selectedLimit]="selectedLimit" [totalItems]="results?.results?.result?.numFound" [selectedPage]="currentPage" (changePagination)="getNewPagination($event)"></citedrefs-results-list>
      <br class="show-for-mobile">
      <search-results-nav *ngIf ="!loading" id="BottomNav" [isCitedRef]="true" [showAllToolBarOptions]="false" (applySortBy)="applyNewSortByOption($event)" [currentSortBy]="results?.search?.query?.displayOptions?.sort" (changeRecordsPerPage)="changeRecordsPerPage($event)" [selectedLimit]="selectedLimit"></search-results-nav>
    </div>
  </div>
</div>

<div *ngIf="!loading && !isMissing && results?.results?.result?.doc.length == 0" class="no-results center">
  <div class="">

    <p><span translate>{{'Your search' | tr_alias:'SEARCH_RESULTS'}}</span> - <friendly-query [text]="results?.search?.friendlyQuery"></friendly-query> - <span translate>{{'did not match any documents' | tr_alias:'SEARCH_RESULTS'}}</span></p>

    <b translate>{{'Suggestions' | tr_alias:'SEARCH_RESULTS'}}</b>:
    <ul>
      <li translate>{{'Check the spelling of your search words' | tr_alias:'SEARCH_RESULTS'}}</li>
      <li translate>{{'Try different keywords' | tr_alias:'SEARCH_RESULTS'}}</li>
      <li translate>{{'Try more general keywords' | tr_alias:'SEARCH_RESULTS'}}</li>
    </ul>

    <a [routerLink]="['/search/citedRefs']" [queryParams]="{id: searchId}" translate>{{'Edit your search' | tr_alias:'SEARCH_RESULTS'}}</a>
  </div>
</div>

<missing-search *ngIf="isMissing && !loading"></missing-search>
