<div class="resultscontainer">

  <div *ngIf="loading || isRequestCompleted" class="text-center">
    <loading-indicator loaderText="Searching"></loading-indicator>
  </div>

  <div *ngIf="!loading && !isRequestCompleted && !isMissing">
    <search-action-bar [searchId]="searchId" [isPHSelectedAlone]="isPHSelectedAlone" *ngIf="!isRecommendedSearch" [totalRecordsFound]="results?.search?.totalRecords" [showAllOptions]="true" [friendlyQuery]="results?.search?.friendlyQuery"></search-action-bar>
    <search-tabs *ngIf="!isRecommendedSearch" [searchId]="searchId" [defaultTab]='resultsSearch?.query?.tab' [tabNumbers]="tabNumbers" (searchTabText)="triggerSearchTab($event)"></search-tabs>

    <button *ngIf="totalResults > 1" [class.recommendedfacets]="isRecommendedSearch" (click)="toggleFacetsView()" [class.toggled]="noshow">
      <span class="sr-only">Hide/Show Side Bar</span>
      <svg style="width:24px;height:24px" viewBox="0 0 24 24">
        <path fill="#ffffff" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z"/>
      </svg>
    </button>

    <div *ngIf="totalResults > 0" class="results">
      <div *ngIf="totalResults > 1" class="facets" [class.toggled]="noshow">
        <button (click)="toggleFacetsView()">
          <span translate>{{'Done' | tr_alias:'SEARCH_RESULTS'}}</span>
        </button>
        <search-within-results-box *ngIf="!isRecommendedSearch" [searchwithinSearchQueries]="searchwithinSearchQueries" (searchWithinSearchevent)="searchWithinSearch($event)"></search-within-results-box>
        <!--<div class="label label-success">{{timers.facets}} ms</div>-->
        <search-filter-box class="journalFiltersToggled" [searchId]="searchId" [filters]="facets" (updateSearchTerm)="updateSearch($event)" [isRecommendSearch]="isRecommendedSearch"></search-filter-box>
      </div>
      <div class="list">
        <div class="topNav">
          <search-results-nav id="TopNav" [showAllToolBarOptions]="true" [recommendedSearch]="isRecommendedSearch" [isSelectAll]="isSelectAll" (onChangeSelectAllEvent)="setSelectAll($event)" (applySortBy)="applyNewSortByOption($event)" [currentSortBy]="results?.search?.query?.displayOptions?.sort" (changeRecordsPerPage)="changeRecordsPerPage($event)" [selectedLimit]="selectedLimit" [allRecordsOnPageUIDList]="allRecordsOnPageUIDList" [allSelectedRecordUIDList]="allSelectedRecordUIDList"></search-results-nav>
        </div>
        <!--<br><div class="label label-success">{{timers.results}} ms</div>-->
        <search-results-list [displayShowAllAbsBtn]="true" [searchId]="searchId" [recommendedSearch]="isRecommendedSearch" [articleList]="results?.results?.result" [selectedPage]="currentPage" [selectedLimit]="selectedLimit" [buttonBarComponents]="buttonBarComponents" (onChangeResultSelectEvent)="identifySelectAll($event)" (changePagination)="getNewPagination($event)" [activeTab] = "resultsSearch?.query?.tab" ></search-results-list>
        <search-results-nav id="BottomNav" *ngIf="results?.results?.result?.doc" [ngClass]="{hidden: !isBottomBarVisible}" [recommendedSearch]="isRecommendedSearch" [showAllToolBarOptions]="true" [isSelectAll]="isSelectAll" (onChangeSelectAllEvent)="setSelectAll($event)" (applySortBy)="applyNewSortByOption($event)" [currentSortBy]="results?.search?.query?.displayOptions?.sort" (changeRecordsPerPage)="changeRecordsPerPage($event)" [selectedLimit]="selectedLimit" [allRecordsOnPageUIDList]="allRecordsOnPageUIDList" [allSelectedRecordUIDList]="allSelectedRecordUIDList"></search-results-nav>
      </div>
    </div>
    <div *ngIf="!showError && !totalResults && !isPHSelectedAlone" class="row center">
      <h5 class="bold"><span translate>{{'Suggestions' | tr_alias:'SEARCH_RESULTS'}}</span>:</h5>
      <ul>
        <li translate>{{'Check the spelling of your search words' | tr_alias:'SEARCH_RESULTS'}}</li>
        <li translate>{{'Try different keywords' | tr_alias:'SEARCH_RESULTS'}}</li>
        <li translate>{{'Try more general keywords' | tr_alias:'SEARCH_RESULTS'}}</li>
      </ul>
    </div>
    <div *ngIf="!showError && !totalResults && isPHSelectedAlone" class="row center">
      <h5 class="bold"><span translate>{{'Selected database' | tr_alias:'SEARCH_RESULTS'}}</span>: PsycTHERAPY</h5>
      <ul>
        <li *ngIf="PHCount > 0">
          <a target="_blank" [routerLink]="['/search/phResults']" [queryParams]="{id: searchId}">{{PHCount}} <span *ngIf="PHCount !== 1" translate>{{'video results found' | tr_alias:'SEARCH_RESULTS'}}</span><span *ngIf="PHCount === 1" translate>{{'video result found' | tr_alias:'SEARCH_RESULTS'}}</span></a><span *ngIf="resultsSearch?.friendlyQuery && resultsSearch?.friendlyQuery.length"> for <em class="bold"><friendly-query [text]="resultsSearch?.friendlyQuery"></friendly-query></em></span>.
        </li>
        <li *ngIf="PHCount === 0">
          <span translate>{{'No video results found' | tr_alias:'SEARCH_RESULTS'}}</span><span *ngIf="resultsSearch?.friendlyQuery && resultsSearch?.friendlyQuery.length"> for <em class="bold"><friendly-query [text]="resultsSearch?.friendlyQuery"></friendly-query></em></span>.
        </li>
        <li><a (click)="editRecentSearch()" translate>{{'Select more databases' | tr_alias:'SEARCH_RESULTS'}}</a> <span translate>{{'to view additional results' | tr_alias:'SEARCH_RESULTS'}}</span></li>
      </ul>
    </div>
    <div *ngIf="showError" class="search-error">
      <span translate>{{'An error occurred with your search' | tr_alias:'SEARCH_RESULTS'}}</span>. <a (click)="editRecentSearch()" translate>{{'Try again' | tr_alias:'SEARCH_RESULTS'}}</a>
    </div>
  </div>

  <missing-search *ngIf="!(loading || isRequestCompleted) && isMissing"></missing-search>
</div>
