@import '../../core/pn';

a {
  text-decoration: none;
}

.resultscontainer {
  position: relative;
  width: auto;
  margin: 0 auto;

  .search-error{
    text-align: center;
    margin-top:3em;
  }

  button {
    .optionsToggleSearch;
    @media (max-width: 991px) {
       margin-top: 13px !important;
       margin-left: 10px;
     }
  }
  button.toggled {
    margin-top: 15px;
    margin-left: 10px;
  }

  .results {
    .facets {
      button {
        @media (min-width: 991px) {
          display: none;
        }
        background-color: @lightest;
        position: relative;
        margin: 0.55em;
        width: 100%;
        font-size: 0.89em;
        color: @md-blue;
        border: solid 1px @md-gray;
        border-radius: 2px;
        left: 0;
      }
      @media (min-width: 991px) {
        display: block;
      }
      &.toggled {
        @media (min-width: 991px) {
          display: none;
        }
        transform: translate3d(0px, 58px, 0px);
        -webkit-transform: translate3d(0px, 58px, 0px);
        opacity: 1;
        background-color: #ffffff;
        z-index: 999;
        overflow-y: scroll;
        overflow-x: hidden;
        position: fixed;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        height: 100%;
        margin-top: -58px;
        width: 100%;
        display: flex;
        flex-direction: column;
      }
      @media (max-width: 991px) {
        height: calc(42%);
        transform: translate3d(-767px, 58px, 0px);
        -webkit-transform: translate3d(-767px, 58px, 0px);
        opacity: 0;
        z-index: 1;
        position: absolute;
        display: none;
      }
      display: none;
      width: 18.66666667%;
      padding-right: 15px;
    }
    .list {
      flex: 1 1 auto;
      width: 81.33333333%;
      .containerStyle;
    }
    .label {
      font-size: 100%;
      font-weight: normal;
      margin: 0 0.55em 0.89em 0.55em;
    }
    display: flex;
    padding-top: 5px;
  }

  .recommendedfacets {
    @media (min-width: 991px) {
      margin-top: 5px !important;
    }
    &.toggled {
      margin-top: 13px !important;
    }
  }

 .center {
    margin-left:20px;
    margin-top:20px;
  }
  .bold {
    font-weight: bold;
  }
  a {
    cursor: pointer;
  }
}
