@import '../../../core/pn';

h3 {
  font-weight: 300;
  font-size: 1.44em;
  color: #5e5e5e;
}

.card {
  box-shadow: none;
  position: relative;
  background: #fff;
  margin-top: 10px;
}

a {
  cursor: pointer;
}

.pt-inner .pti-body .ptib-item {
  padding: 0;
}


.ptib-item {
  .list-group {
    margin-bottom: 13px !important;
  }
  .list-group-item {
    background: none;
    background-color: #f7f7f7;
    border: none;
    color: @lt-blue;
    font-weight: 100;
    text-align: center;
    @media(max-width: 991px) {
      text-align: left;
    }
    padding: 5px 13px;
    font-size: 0.99em;
    line-height: 1.44em;
    }
  }

