<div class="card pt-inner">
  <div class="pti-body">
    <div class="ptib-item">
      <div *ngIf="shdDisplayFullText() || shdDisplayBookToc() || shdDisplayBookTocChapterPDF()" class="list-group">
        <a *ngIf="shdDisplayFullText()" class="list-group-item flexButton" href="{{record?.DOI | removeHTMLTag | linkDOI}}" target="_blank" (click)="logAction()"><span translate>{{ 'Full text from publisher' | tr_alias:'RECORD_DISPLAY' }}</span></a>
        <a *ngIf="shdDisplayBookToc()" class="list-group-item" (click)="gotoHashtag('toc')"><span translate>{{ 'Book TOC' | tr_alias:'RECORD_DISPLAY' }}</span></a>
        <a *ngIf="shdDisplayBookTocChapterPDF()" id="bookchapterstoc" class="list-group-item" [routerLink]="['/PsycBOOKS/toc', record?.PBID]" target="_blank"><span translate>{{ 'Book TOC Chapter PDFs' | tr_alias:'RECORD_DISPLAY' }}</span></a>
      </div>
    </div>
  </div>
</div>
