.card {
  margin: 20px 25px 0 20px;
  h1{
    color: #008cd2;
    margin-bottom: 25px;
    font-size: 20px
  }
  .link {
    cursor:pointer;
    color:#337ab7;
    &:hover {
      text-decoration:underline;
    }
  }
  .title {
    font-weight: bold;
  }
  .outerList {
    .main {
      margin-bottom: 40px;
    }
  }
  .innerList {
    li {
      margin-left: -20px;
      margin-top: 10px;
      list-style: none;
    }
  }
  .contactBox {
    border: 2px solid #C1C1C1;
    padding: 10px;
    border-radius: 8px;
    margin-right: 50px;
    margin-top: 15px;
    .title {
      color: #008cd2;
    }
  }
}
