<div class="card">
  <h1 translate>CONTACTUS.TITLE_TEXT</h1>
  <ul class="outerList pull-left">
    <li class="main"><span id="customerservice" class="title" translate>CONTACTUS.CUSTOMER_SERVICE</span>
      <ul class="innerList">
        <li><span class="title" translate>CONTACTUS.BUSINESS_HOURS</span>
          <div>
            <span translate>CONTACTUS.BUSINESS_HOURS_TIME</span> <br>
            <span translate>CONTACTUS.BUSINESS_HOURS_PHONE</span> <br>
            <span>{{'CONTACTUS.EMAIL' | translate:lang}}: <span class="link" role="link" (click)="onClick()">psycinfo@apa.org</span></span> <br>
          </div>
        </li>
        <li><span class="title" translate>CONTACTUS.AFTER_HOURS</span>
          <div>
            <span translate>CONTACTUS.AFTER_HOURS_TIME</span><br>
            <span translate>CONTACTUS.AFTER_HOURS_HOLIDAYS</span><br>
            <span translate>CONTACTUS.AFTER_HOURS_PHONE</span><br>
            <span>{{'CONTACTUS.EMAIL' | translate:lang}}: <span class="link" role="link" (click)="onClick()">psycinfo@apa.org</span></span><br>
          </div>
        </li>
      </ul>
    </li>
    <li class="main"><span class="title" translate>CONTACTUS.LICENSING_SALES</span>
      <div>
        <span translate>CONTACTUS.LICENSING_SALES_HOURS</span><br>
        <span translate>CONTACTUS.LICENSING_SALES_PHONE</span><br>
      </div>
      <ul class="innerList">
        <li><span class="title" translate>CONTACTUS.SINGLE_SITE_LICENSES</span>
          <div>
            <span>{{'CONTACTUS.EMAIL' | translate:lang}}: <a href="mailto:quotes@apa.org">quotes@apa.org</a></span><br>
          </div>
        </li>
        <li><span class="title" translate>CONTACTUS.CONSORTIA_SALES</span>
          <div>
            <span>{{'CONTACTUS.EMAIL' | translate:lang}}: Neil Lader <a href="mailto:nlader@apa.org">nlader@apa.org</a></span><br>
          </div>
        </li>
      </ul>
    </li>
    <li class="main"><span class="title" translate>CONTACTUS.MEMBERS</span>
      <div>
        <span translate>CONTACTUS.MEMBERS_TIME</span><br>
        <span translate>CONTACTUS.MEMBERS_PHONE</span><br><br>
        <span id="orderpacks" translate>CONTACTUS.TO_ORDER_PACKAGES</span><br>
        <span>{{'CONTACTUS.EMAIL' | translate:lang}}: <a href="mailto:subscriptions@apa.org">subscriptions@apa.org</a></span><br>
      </div>
    </li>
  </ul>
  <div class="contactBox pull-right">
    <span class="title" translate>COMMON_LABEL.AMERICAN_PSYCHOLOGICAL_ASSOCIATION</span><br>
    <span translate>CONTACTUS.ADDRESS_STREET</span><br>
    <span translate>CONTACTUS.ADDRESS_COUNTRY</span><br>
  </div>
</div>

