<div bsModal #addToListWarningModal="bs-modal" class="modal face" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="addToListWarningModal modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-body">
        <p><b translate>MY_LIST.MAX_RECORDS_MSG</b><b> {{count}} </b><b translate>MY_LIST.ITEMS</b></p>
      </div>
    </div>
  </div>
</div>
