@import '../../core/pn';
div {
  @media screen {
    @media (min-width: 768px) {
      display: block;
      //margin-left: 55px;
      width: auto;
      width: 33.33333333%;
    }
    @media (min-width: 991px) {
      margin: 0;
      width: 33.33333333%;
    }
  }
  /*display: none;
  width: 33.33333333%;*/
  /* TODO: add scrollbars for mobile and tablet views
  overflow-x: hidden;
  margin: 0 0 0 55px;
  overflow-y: hidden; */
}
ul {
  @media screen {
    @media (min-width: 768px) {
      width: 490px;
    }
    @media (min-width: 991px) {
      width: 610px;
    }
    @media (max-width :  767px) {
      width: 100%;
      padding: 0 5px;
      display: flex;
    }
  }
  li {
    @media (min-width: 768px) {
      padding: 0 2px;
    }
    @media (max-width :  767px) {
      padding: 2px 5px;
    }
    @media (min-width: 991px) {
      padding: 0 3px;
    }
    &.active {
      a {
        color: @lightest;
        background-color: @lt-blue;
      }
    }
    a {
      &:hover {
        text-decoration: none;
      }
      width: 16px;
      padding: 2px;
      color: @md-blue;
      background: none;
      margin: 0;
      height: auto;
      line-height: 0;
      border-radius: 0;
      //font-size: 0.89em;
      cursor: pointer;
    }
    padding: 0 5px;
    margin: 0;
    display: inline-block;
    vertical-align: top;
  }
  display: inline-block;
  padding: 15px;
  border-radius: 0;
  margin: 0;
}
