<div class="action row">
  <div  class="col-md-6 col-lg-7 p-0">
    <div class="navbar" *ngIf="totalRecordsFound && !isPHSelectedAlone">
      <!--<strong>{{totalRecordsFound | string2NumberNotation}}</strong> <span *ngIf="isCitedRef">Reference</span><span *ngIf="!isCitedRef">Result</span><span *ngIf="totalRecordsFound != 1" >s</span> <span *ngIf="friendlyQuery!=''"> for </span><friendly-query [text]="friendlyQuery"></friendly-query>-->
      <strong class="total-records">{{totalRecordsFound | string2NumberNotation}}</strong>
      <span *ngIf="isCitedRef && totalRecordsFound === 1" translate>{{'Reference' | tr_alias:'SEARCH_RESULTS'}}</span>
      <span *ngIf="isCitedRef && totalRecordsFound !== 1" translate>{{'References' | tr_alias:'SEARCH_RESULTS'}}</span>
      <span *ngIf="!isCitedRef && totalRecordsFound === 1" translate>{{'Result' | tr_alias:'SEARCH_RESULTS'}}</span>
      <span *ngIf="!isCitedRef && totalRecordsFound !== 1" translate>{{'Results' | tr_alias:'SEARCH_RESULTS'}}</span>
      <span *ngIf="friendlyQuery!=''" translate>{{'for' | tr_alias:'SEARCH_RESULTS'}}</span> <friendly-query [text]="friendlyQuery"></friendly-query>
    </div>
  </div>

  <div class="searchoptions" class="col-md-6 col-lg-5 firstLine" style="height: 40px;">
  <span class="searchoptions" *ngIf="totalRecordsFound">
    <button type="button" class="edit btn" (click)="editSearch()">
      <span>
        <span class="sr-only">Edit Search</span>
        <span>
          <svg style="width:24px;height:24px" viewBox="0 0 24 24">
            <path d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z"/>
          </svg>
        </span>
        <span id="editBtn" translate>{{'EDIT SEARCH' | tr_alias:'SEARCH_RESULTS'}}</span>
      </span>
    </button>
    <button type="button" class="new btn" (click)="newSearch()">
      <span>
        <span class="sr-only">New Search</span>
        <span>
          <svg style="width:24px;height:24px" viewBox="0 0 24 24">
            <path d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z"/>
          </svg>
        </span>
        <span translate>{{'NEW SEARCH' | tr_alias:'SEARCH_RESULTS'}}</span>
      </span>
    </button>
	</span>


    <div class="btn-group btn-group-xs buttonsbar" *ngIf="totalRecordsFound">
      <button type="button" class="save btn" placement="bottom" triggers="hover" tooltip="{{'Save Search' | tr_alias:'SEARCH_RESULTS' | translate:lang}}" (click)="openSaveSearch()">
        <span class="sr-only">Save Search</span>
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
          <path d="M15,9H5V5H15M12,19A3,3 0 0,1 9,16A3,3 0 0,1 12,13A3,3 0 0,1 15,16A3,3 0 0,1 12,19M17,3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V7L17,3Z"/>
        </svg>
      </button>
      <button type="button" class="btn"  *ngIf="showAllOptions" placement="bottom" triggers="hover" tooltip="{{'Get Permalink' | tr_alias:'BUTTONS' | translate:lang}}" (click)="togglePermalink()">
        <span class="sr-only">PermaLink</span>
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
          <path d="M16,6H13V7.9H16C18.26,7.9 20.1,9.73 20.1,12A4.1,4.1 0 0,1 16,16.1H13V18H16A6,6 0 0,0 22,12C22,8.68 19.31,6 16,6M3.9,12C3.9,9.73 5.74,7.9 8,7.9H11V6H8A6,6 0 0,0 2,12A6,6 0 0,0 8,18H11V16.1H8C5.74,16.1 3.9,14.26 3.9,12M8,13H16V11H8V13Z"/>
        </svg>
      </button>
      <button type="button" class="btn"  *ngIf="showAllOptions" placement="bottom" triggers="hover" tooltip="{{'Set Email Alert' | tr_alias:'BUTTONS' | translate:lang}}" (click)="setEmailAlert()">
        <span class="sr-only">Email Alert</span>
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
          <path d="M14,20A2,2 0 0,1 12,22A2,2 0 0,1 10,20H14M12,2A1,1 0 0,1 13,3V4.08C15.84,4.56 18,7.03 18,10V16L21,19H3L6,16V10C6,7.03 8.16,4.56 11,4.08V3A1,1 0 0,1 12,2Z"/>
        </svg>
      </button>
      <button type="button" class="btn"  *ngIf="showAllOptions" placement="bottom" container="body" triggers="hover" tooltip="{{'Get RSS Feed' | tr_alias:'BUTTONS' | translate:lang}}" (click)="getRSSFeed()">
        <span class="sr-only">RSS Feed</span>
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
          <path d="M5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3M7.5,15A1.5,1.5 0 0,0 6,16.5A1.5,1.5 0 0,0 7.5,18A1.5,1.5 0 0,0 9,16.5A1.5,1.5 0 0,0 7.5,15M6,10V12A6,6 0 0,1 12,18H14A8,8 0 0,0 6,10M6,6V8A10,10 0 0,1 16,18H18A12,12 0 0,0 6,6Z"/>
        </svg>
      </button>
    </div>
    <div *ngIf="showPermalink" class="row">
      <div *ngIf="loading" class="text-center">
        <loading-indicator loaderText="Please wait"></loading-indicator>
      </div>
      <div class="col-xs-12 m-b-20 permalink-box" *ngIf="!loading && permalink">
        <permalink-input [permalink]="permalink" ></permalink-input>
      </div>
    </div>
  </div>
</div>

<save-search-modal #saveSearchDialog [searchId]="searchId"></save-search-modal>
