@import '../../../../core/pn';

@media(min-width: 992px) {
  .action.row {
    margin-bottom: 30px !important;
  }
  .permalink-box {
    padding-left: 0;
  }
}

button {
  svg {
    fill: @dk-blue;
  }
  &:active {
    box-shadow: none;
  }
  span {
    span {
      &:nth-child(2) {
        margin-top: 5px;
      }
    }
    display: flex;
    align-items: center;
    color: @md-blue;
  }
  margin-top: 0;
  height: 34px;
  padding: 0 0.55em;
  background-color: @lightest;
  border: solid 1px @md-gray;
}

.searchBtnEmb {
  svg {
    path {
      fill: @lightest;
    }
  }
  margin-top: 10px;
  z-index: 2;
  float: right;
  top: -52px;
  right: 3px;
  cursor: pointer;
  border: 0px;
  position: relative;
  background-color: @lt-blue;
  height: 39px;
  width: 55px;
}

.searchoptions {
  svg {
    fill: @dk-blue;
  }
  a {
    color: @lt-blue;;
    text-decoration: none;
  }
  a:hover {
    color: @lt-blue;;
    text-decoration: none;
  }
}

input.input-lg {
  font-size: 17px;
  line-height: 1.3333333;
  border-radius: 0px;
  height: 45px;
  font-weight: 100;
  border: solid 1px @dk-gray;
  padding: 0.21em;
  color: @dk-gray;
}

.fq-field{
  font-weight:bold;
}

.fq-op {
  font-style:italic;
}

.navbar{
  word-wrap: break-word;
  margin-top:12px;
  margin-left: 20px;
  margin-right: 10px;
  min-height: 0;
  margin-bottom: 0;

  @media screen and (max-width: 767px) {
    overflow-y: scroll;
    height: 45px;
  }

}

@media screen and (max-width: 767px) {
  .navbar {
    span {
      margin: 0 0 0 3px;
    }
  }
}


.buttonsbar {
  margin-top: 0;
}

 .row{
   margin-bottom: 30px;
   margin-top: 10px;
 }


  @media screen and (max-width: 460px) {
    .row{
      height: 13rem;
    }
  }


.m-b-20 {
  margin-bottom: 20px !important;
}

.p-0 {
  padding: 0 !important;
}
.firstLine {
  @media screen and (min-width: 768px) {
    padding-top: 8px;
  }
}
