@import '../../core/pn';


:host /deep/ .fq-field{
  font-weight:bold;

  @media screen and (max-width: 767px) {
    white-space: pre;
  }

}

:host /deep/ .fq-op {
  font-style:italic;
}

:host /deep/ .fq-value {
}
