@import '../../../../core/pn';

.search-history {
  font-size: 13px;
  /*background-color: #F8F8F8;
  line-height: 1.75em;
  border: 1px solid #B8CECB;*/

  dl {
    width: 100%;
    overflow: hidden;
    padding: 1em;
    margin: 0;
  }
  dt {
    word-break: inherit;
  }
  dd {
    text-indent: 50px;
    word-break: inherit;
  }
  @media screen and (max-width: 767px) {
    dt {
      height: auto;
    }
    dd {
      text-indent: 5px;
      height: auto;
    }
  }
  @media screen and (min-width: 768px) {
    dt {
      min-height: 30px;
    }

    dd {
      min-height: 30px;
    }
  }
}
