<div class="search-history">
  <dl class="fullrecord">
    <dt><span translate>{{ 'Search For' | tr_alias:'RECORD_DISPLAY' }}</span>:</dt>
    <dd><friendly-query [text]="searchQuery?.friendlyQuery"></friendly-query></dd>

    <dt><span translate>{{ 'Result(s)' | tr_alias:'RECORD_DISPLAY' }}</span>:</dt>
    <dd> {{searchQuery?.numFound}}</dd>

    <dt><span translate>{{ 'Database(s)' | tr_alias:'RECORD_DISPLAY' }}</span>:</dt>
    <dd *ngIf="searchQuery && searchQuery.databases && searchQuery.databases.length > 0"><span>{{searchQuery?.databases | convertDBCode2Name:true }}</span></dd>
  </dl>
</div>
