@import '../../core/pn';

.row {
  margin-right: -10px;
}

.item {
  margin: 2px;
  padding: 5px;
  width: 100%;

  &.btn {
    text-transform: uppercase;
    white-space: normal;
    &.btn-info {
      background-color: @dk-green;
    }
  }
  &.doiItem {
    text-transform: none;
  }
  &.price {
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;
  }
}
