<div class="row">
  <div class="col-sm-12">
    <button *ngIf="isIdle() && !isAdded && !doiLandingPage" [disabled]="identity.isOrganization" class="btn btn-primary item" (click)="addToCart()"><span translate>{{'Add to Cart' | tr_alias:'OPTIONS_TO_BUY'}}</span></button>
    <button *ngIf="isIdle() && !isAdded && doiLandingPage" [disabled]="identity.isOrganization" class="btn btn-primary item doiItem" (click)="addToCart()"><span translate>{{'Purchase PDF' | tr_alias:'OPTIONS_TO_BUY'}}</span></button>
    <button *ngIf="isFinished() && isAdded" disabled class="btn btn-danger item"><span translate>{{'Added to Cart' | tr_alias:'OPTIONS_TO_BUY'}}</span></button>
    <button *ngIf="isIdle() && isAdded" disabled class="btn btn-info item"><span translate>{{'In Your Cart' | tr_alias:'OPTIONS_TO_BUY'}}</span></button>
    <button *ngIf="isWorking()" disabled class="btn text-center item">
      <loading-indicator loaderText="Adding to Cart"></loading-indicator>
    </button>
  </div>
  <div class="col-sm-12">
    <p class="price item">{{price | currency:'USD':true:'1.2-2'}}</p>
  </div>
</div>
