<div>
  <label class="sr-only" for="display{{parentId}}">Display</label>
  <span class="dropdown">
    <select id="display{{parentId}}" class="form-control" [ngModel]="selectedLimit" (change)="onLimitChange($event.target.value)">
      <option *ngFor="let i of limitOptions" [value]="i">{{i}}</option>
    </select>
  </span>
</div>
