<div *ngIf="articleList?.doc">
  <br class="show-for-mobile" *ngIf="isCitedBy">
  <search-results-pagination [displayShowAllAbsBtn]="displayShowAllAbsBtn" [isAllAbsOpen]="isAllAbsOpen" (displayAbstractsChanged)="setAbstractDisplayStatus($event)" [totalItems]="articleList.numFound" [selectedLimit]="selectedLimit" [selectedPage]="selectedPage" [recommendedSearch]="isRecommendedSearch" (changePagination)="getNewPagination($event)" [activeTab]="activeTab"></search-results-pagination>

  <div class="row">
    <article class="result-item" *ngFor="let item of articleList?.doc; let index=index">
      <div class="numbering col-md-1 hide-for-mobile">
        <span class="resultNo">{{(index+1)+articleList?.rows*(selectedPage-1)}}.</span>
      </div>
      <div class="col-md-1">

      <div>
        <label class="sr-only" for="{{index}}">Select</label>
        <input type="checkbox" [(ngModel)]="item.isSelected" (ngModelChange)="onSearchResultSelect(item)" id="{{index}}"/><br/>
        <small *ngFor="let documentType of item?.documentTypesList; let isLast=last">{{documentType}}<br *ngIf="!isLast"></small>
      </div>

      </div>
      <div class="col-md-10">
        <a class="article-title" *ngIf="!redirectRecordDisplay" [routerLink]="getLink(item)" [queryParams]="getRDPQueryParams(index)">
          <span [innerHTML]="getFormattedTitle(item)"></span>
          <span *ngIf="item?.TransDocumentTitle && item?.isTransTitle"> / <span [innerHTML]="item?.TransDocumentTitle"></span></span>
        </a>
        <a class="article-title" *ngIf="redirectRecordDisplay" routerLink="/record/{{item.UID}}">
          <span [innerHTML]="getFormattedTitle(item)"></span>
          <span *ngIf="item?.TransDocumentTitle && item?.isTransTitle"> / <span [innerHTML]="item?.TransDocumentTitle"></span></span>
        </a>
        <div class="resultData" *ngIf="item.ProductCode && item.ProductCode!='PT'">
          <div *ngIf="item?.authors  && item.ProductCode!='PE'" class="author-name-list"><span [innerHTML]="item?.authors"></span></div>
          <div *ngIf="item.ProductCode && item.ProductCode === 'PE'">
            <citation-pe [record]="item"></citation-pe>
          </div>
          <div *ngIf="item.ProductCode && item.ProductCode !== 'PE'" [innerHTML]="item?.SourcePI"></div>
          <div *ngIf="item.ProductCode && item.ProductCode !== 'PE'">
            <span *ngIf="item?.DOI"><a style="font-size: 16px; word-break: break-all;" href="{{item?.DOI | removeHTMLTag | linkDOIInternal}}" target="_blank" [innerHTML]="item?.DOI | linkDOI"></a></span>
          </div>
          <div *ngIf="item.TagNote && item.TagNote.length">
            <span class="result-item-tag" *ngFor="let tag of item.TagNote[0].tags">
              <a style="text-decoration: underline; cursor: pointer" (click)="filterbyTag(tag?.tagId)">{{tag.tagName}}</a>
            </span>
          </div>
          <div class="note" *ngIf="item.Note && item.Note.length">
            <div class="note-icon" (click)="toggleNotes(item)" > <img src="/assets/img/notes.png" /></div>
            <div class="caption" *ngIf="item.isNotesOpen" >{{item.Note}}</div>
          </div>

          <searchresults-buttonbar [isCitedBy]="isCitedBy" [parentId]="index" [searchId]="searchId" [item]="item" [showButtonBarComponents]="showButtonBarComponents" (citedByItemChange)="displayCitedByItem($event)" (refreshResults)="reloadResults()"></searchresults-buttonbar>
        </div>
        <div class="resultData" *ngIf="item.ProductCode && item.ProductCode=='PT'">
          <div><span [innerHTML]="item?.AuthorOrig"></span> (<span [innerHTML]="item?.PublicationYear"></span>).</div>
          <div *ngIf="item?.DOI"><a style="font-size: 16px;" href="{{item?.DOI | removeHTMLTag | linkDOIInternal}}" target="_blank" [innerHTML]="item?.DOI | linkDOI"></a></div>
          <div><span translate>{{'Construct' | tr_alias:'SEARCH_RESULTS'}}</span>: <span [innerHTML]="item?.Construct"></span></div>
          <searchresults-buttonbar [isCitedBy]="isCitedBy" [parentId]="index" [searchId]="searchId" [item]="item" [showButtonBarComponents]="showPTButtonBarComponents" (citedByItemChange)="displayCitedByItem($event)" (refreshResults)="reloadResults()"></searchresults-buttonbar>
        </div>
      </div>
    </article>
  </div>
  <br>
  <search-results-pagination class="row" [totalItems]="articleList.numFound" [selectedLimit]="selectedLimit" [selectedPage]="selectedPage" [recommendedSearch]="isRecommendedSearch" (changePagination)="getNewPagination($event)"></search-results-pagination>
</div>
