@import '../../../../core/pn';

div.results-loader{
  text-align: center;
  margin-top: 3em;
}
div {
  article {
    .resultNo {
      //.resultLinkNo;
      font-weight: 400;
      line-height: 1.44em;
      color: @dk-gray;
      font-size: 100%;
    }
    .resultData {
      .resultDataFormat;
    }
    .col-md-1 {
      text-align:center;
      vertical-align:middle;
      padding: 0;
      width: 8.33%;
    }
    .col-md-10 {
      width: 83.3%;
      padding-left: 21px;
    }
    .numbering{
      width:auto;
      margin-left:10px;
      margin-right: 10px;
    }
    .resultsCard;
    padding: 1em 0 1em 1em;
  }
}
.note-icon{
  width: 32px;
  height: 32px;
  display: inline-block;
  cursor: pointer;
}
