<div class="citedRefsSearch">
  <form (ngSubmit)="search()">
    <div>
      <div class="row">
        <div class="col-md-12">
          <h1 class="searchHeading" translate>CITED_REFERENCES.CITED_REFERENCES</h1>
        </div>
      </div>
      <br/>
      <div class="row">

        <div class="col-md-9 col-sm-12 col-xs-12" ngControlGroup="author">
          <div class="row">
            <div class="col-md-2 col-sm-12 col-xs-12 p-t-5 p-0">
              <label for="lastName" translate>CITED_REFERENCES.AUTHOR_NAME</label>
            </div>
            <div class="col-md-6 col-sm-8 col-xs-9 p-0">
              <div class="form-group">
                <div class="fg-line fg-toggled">
                  <input [(ngModel)]="formData.lastName" class="input-sm form-control fg-input" name="lastName" id="lastName" type="text" placeholder="{{'CITED_REFERENCES.LAST_NAME' | translate:lang}}">
                </div>
              </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-3 p-0 p-l-5 p-l-5m">
              <div class="form-group">
                <label class="sr-only" for="firstName" translate>CITED_REFERENCES.FIRST_NAME</label>
                <div class="fg-line fg-toggled">
                  <input [(ngModel)]="formData.firstName" class="input-sm form-control fg-input" type="text" name="firstName" id="firstName"  placeholder="{{'CITED_REFERENCES.FIRST_NAME'| translate:lang}}">
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <hr class="hide-for-mobile">

      <div class="row">
        <div class="col-md-9 col-sm-9 col-xs-12">
          <div class="row">
            <div class="col-md-2 col-sm-12 col-xs-12 p-t-5 p-0">
              <label for="title" translate>CITED_REFERENCES.TITLE</label>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-12 p-0">
              <div class="form-group fg-float">
                <div class="fg-line fg-toggled">
                  <input [(ngModel)]="formData.title"  class="input-sm form-control fg-input" name="title" id="title" type="text">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr class="hide-for-mobile">

      <div class="row">
        <div class="col-md-9 col-sm-9 col-xs-12">
          <div class="row">
            <div class="col-md-2 col-sm-12 col-xs-12 p-t-5 p-0">
              <label for="source" id="sourcelabel" translate>CITED_REFERENCES.SOURCE</label>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-12 p-0">
              <div class="form-group fg-float">
                <div class="fg-line fg-toggled">
                  <input [(ngModel)]="formData.source"  class="input-sm form-control fg-input" name="source" id="source" type="text">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr class="hide-for-mobile">

      <div class="row">
        <div class="col-md-9 col-sm-9 col-xs-12">
          <div class="row">
            <div class="col-md-2 col-sm-12 col-xs-12 p-t-5 p-0">
              <label  for="year" translate>CITED_REFERENCES.YEAR</label>
            </div>
            <div class="col-md-3 col-sm-8 col-xs-12 p-0">
              <div class="form-group fg-float">
                <div class="fg-line fg-toggled">
                  <input [(ngModel)]="formData.year"  class="input-sm form-control fg-input" name="year" id="year" type="text">
                </div>
              </div>
            </div>
            <div class="col-md-1 col-sm-1 hide-for-mobile p-t-5 p-0">
              &nbsp;
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12 p-r-0">
              <button type="submit" class="btn btn-primary btn-sm pull-left responsiveButton flexButton">
                <svg style="width:24px;height:24px; float:left;" viewBox="0 0 24 24">
                  <path d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z" />
                </svg>
                <span style="flex: auto;">{{'BUTTONS.SEARCH' | translate:lang}}</span>
              </button>
              <button type="button" class="btn btn-link clear-form hide-for-mobile-inline" (click)="clear()" translate>LINKS.CLEAR_FORM</button>
              <button type="button" class="btn btn-link clear-form show-for-mobile pull-right" (click)="clear()" translate>LINKS.CLEAR_FORM</button>
            </div>

          </div>
        </div>


      </div>
<!--
      <hr class="hide-for-mobile">

      <div class="row">
      </div>-->

    </div>

  </form>
</div>
