@import '../../../core/pn';
.citedRefsSearch {

  padding-right: 15px;
  padding-left: 15px;

  label {
    font-weight: 100;
    font-size: 1em;
  }
  input.input-sm {
    font-size: 12px;
    //line-height: 0.5;
    border-radius: 0px;
    font-weight: 100;
    border: solid 1px @dk-gray;
    padding: 0.21em;
    color: @dk-gray;
  }
  hr {
    border-width: 1px 0px 0px;
    border-color: @md-gray;
    margin: 0 0 1.44em 0;
  }
  button {
    &:hover {
      text-decoration: none;
    }
  }

  ul.top-menu {
    li {
      &:last-child {
        border-right: none;
      }
      a {
        &:hover {
          text-decoration: none;
        }
        color: @md-blue;
        font-weight: 100;
        font-size: 1em;
        line-height: 13px;
        text-align: center;
        padding: 8px;
      }
      border-right: solid 1px #f7f7f7;
      height: 26px;
      display: inline;
    }
  }
  h1.searchHeading {
    font-size: 1.44em;
    color: @dk-blue;
    margin: 0px !important;
  }
  h3 {
    font-weight: 300;
    font-size: 1.44em;
    color: @dk-gray;
    font-style: italic;
  }
  .select {
    @media screen  {
      @media (min-width: 768px) {
        display: flex;
      }
    }
    label {
      font-weight: 100;
      line-height: 2.33em;
      font-size: 0.89em;
      color: @dk-gray;
      margin-right: 1em;
    }
    span {
      &:after {
        position: absolute;
        content: "▾";
        color: @dk-gray;
        background: none;
        pointer-events: none;
        margin-left: -13px;
        margin-top: 5px;
      }
      select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: solid 1px @dk-gray;
        background-color: @lightest;
        border-radius: 0;
        height: 31px;
        width: auto;
        padding: 5px 13px 5px 0;
        cursor: pointer;
      }
    }
    margin: 8px 8px 0 0;
  }
}
.top-menu {
  margin-bottom: 0;
}
.btn-primary {
  svg {
    path {
      fill: @lightest;
    }
  }
  box-shadow: none;
  background-color: @lt-blue;
  font-size: 1.34em;
  height: 39px;
  text-transform: uppercase;
  border: none;
}
.checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}
.form-group {
  &.checkboxes {
    @media (min-width: 786px) {
      flex-direction: row;
    }
    label {
      line-height: 24px;
      font-size: 1.14em;
      color: @dk-gray;
      font-weight: 100;
    }
    display: flex;
    flex-direction: column;
  }
}
.card {
  h3 {
    .facetHeading;
  }
  a {
    &:hover {
      text-decoration: none;
    }
    &.active {
      svg {
        display: block;
        float: right;
        margin-top: -3px;
        margin-right: -13px;
      }
      .facetLeftActive;
    }
    svg {
      display: none;
    }
    .facetLeft;
  }
  .facetBody;
}
.responsiveButton {
  @media screen  {
    @media (max-width: 767px) {
      width: 100%;
    }
  }

  span {
    font-weight: 100;
    font-size: 1em;
    line-height: 25px;
  }

  min-width:120px;
}
.p-0 {
  @media screen  {
    @media (max-width: 767px) {
      padding: 0 !important;
    }
  }
}
.p-l-5m {
  @media screen  {
    @media (max-width: 767px) {
      padding-left: 5px !important;
    }
  }
}
