<div class="card">
  <div>
    <h3>Selected {{lookupOptions?.label}}</h3>
    <p class="darkGray text-center"><span translate>{{'You have' | tr_alias:'ADVANCED'}}</span> {{items?.terms.length}} <span translate class="smallcase">{{ 'selected ' + lookupOptions?.label | tr_alias:'ADVANCED'}}</span></p>
    <div class="selection" *ngIf="items && items?.terms && items?.terms.length">
      <ul>
        <li *ngFor="let item of items?.terms">
          <p>
            <i class="redColor pointer" (click)="removeItem(item)">&times;</i>
            <span> {{item}}</span>
          </p>
        </li>
      </ul>
    </div>
  </div>
  <hr class="dk">
  <div class="text-center">
    <label for="operator" translate>{{'Add to search using' | tr_alias:'ADVANCED'}}</label>
    <select id="operator" [(ngModel)]="operator" [disabled]="!contentLoaded && items?.terms.length<1" (change)="changeOperator($event.target.value)">
      <option *ngFor="let i of lookupOptions.operators" [value]="i" translate>{{i | tr_alias:'ADVANCED'}}</option>
    </select>
  </div>

  <div class="text-center">
    <button type="button" class="btn btn-primary" (click)="addToSearchList()" [disabled]="items && items.terms && !items.terms.length">
      <span translate>{{'ADD TO SEARCH' | tr_alias:'ADVANCED'}}</span>
    </button>
  </div>
  <div *ngIf="items && items.terms && items.terms.length>0">
    <a class="greybg" (click)="clearAll()" style="text-align: center" translate>{{'Clear All' | tr_alias:'ADVANCED'}}</a>
  </div>
  <br/>
</div>
