<div class="row footerParent">
  <div class="col-md-4 col-sm-12 col-xs-12">
    <p class="text-left">
      &copy; {{ currentYear }} <span translate>COMMON_LABEL.AMERICAN_PSYCHOLOGICAL_ASSOCIATION</span>.<br>
      <span translate>FOOTER.ADDRESS</span><br>
      <span translate>FOOTER.TELEPHONE</span><br>
      <span translate>{{'TDD/TTY' | tr_alias:'FOOTER' }}</span>: 202-336-6123
    </p>
    <ul class="f-menu pull-left hidden-print">
      <li><a [routerLink]="['/general/contactUs']" translate>{{'Contact APA' | tr_alias:'FOOTER' }}</a></li>
      <li><a [routerLink]="['/general/feedback']" translate>{{'Give Feedback' | tr_alias:'FOOTER' }}</a></li>
      <li><a id="help" href="http://help.psycnet.org" target="_blank" translate (click)="logPageView('Help_PN'); triggerComingSoon();">LINK.HELP</a></li>
    </ul>
  </div>
  <div class="col-md-5 col-sm-12 col-xs-12 footer-privacy hidden-print">
    <a [routerLink]="['/general/privacy']" translate>{{'Privacy Statement' | tr_alias:'FOOTER' }}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a [routerLink]="['/general/tos']" translate>{{'Terms of Service' | tr_alias:'FOOTER' }}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a id="disclaimer" [routerLink]="['/general/disclaimer']" translate>LINK.DISCLAIMER</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a *ngIf="isOrganization" href="http://admincenter.apa.org" target="_blank" translate>LINK.ADMINCENTER</a>

    <div class="pdf-dependency"><span translate id="pdfrequire">FOOTER.PDF_DOCUMENTS_REQUIRE</span> <a href="http://get.adobe.com/reader/" target="_blank" translate>FOOTER.ADOBE_ACROBAT_READER</a></div>
  </div>
  <div class="col-md-3 col-sm-12 col-xs-12 social hidden-print">
    <ul class="f-menu pull-right">
      <li class="social-apastyle"><a href="http://www.apastyle.org" class="text-hide" title="{{'APA Style Website' | tr_alias:'FOOTER' | translate:lang}}" target="_blank">APA Style</a></li>
      <li class="social-facebook"><a href="http://www.facebook.com/APAStyle" class="text-hide" title="{{'APA Style Facebook page' | tr_alias:'FOOTER' | translate:lang}}" target="_blank">Facebook</a></li>
      <li class="social-twitter"><a href="http://twitter.com/APA_Style" class="text-hide" title="{{'APA Style Twitter page' | tr_alias:'FOOTER' | translate:lang}}" target="_blank">Twitter</a></li>
      <li class="social-googleplus"><a href="http://google.com/+APAStyle" class="text-hide" title="{{'APA Style Google page' | tr_alias:'FOOTER' | translate:lang}}" target="_blank">Google+</a></li>
    </ul>
  </div>
</div>
