@import '../pn';
.footerParent {
  margin: 0 !important;
}
.f-menu {
  &.pull-left {
    clear: both;
    margin: 0 0 0 -34px;
  }
  &.pull-right {
    > li {
      > a {
        color: @dk-blue;
        font-weight: 100;
        font-size: 2.33em;
        text-align: center;
        padding-top: 8px;
      }
      border-right: none;
    }
    padding-right: 28px;
  }
  > li {
    > a {
      color: @dk-blue;
      font-weight: 100;
      text-align: center;
      padding-top: 8px;
      font-size: 1.14em;
      cursor: pointer;
    }
    &:last-child {
      border-right-style: none;
    }
    border-right: solid 1px @dk-gray;
    list-style: none;
    float: left;
    padding: 0 0.34em;
    font-size: 0.89em;
  }
  width: auto;
}

p {
  color: #666;
  padding-left: 10px;
}

.footer-privacy {
  @media screen {
    @media (min-width: 1140px) {
      padding: 0;
      margin: 0;
      width: 517px;
    }
  }
  padding: 1em 0;
  margin: 1em 0;
  border-top: 10px solid #C1C1C1 !important;
  color: @dk-blue !important;
}

.social-apastyle {
  background:transparent url("http://static.apa.org/pn/assets/img/social/apastyle.png") center center no-repeat;
}
.social-apastyleblog {
  background:transparent url("http://static.apa.org/pn/assets/img/social/apastyleblog.png") center center no-repeat;
}
.social-facebook {
  background:transparent url("http://static.apa.org/pn/assets/img/social/facebook.png") center center no-repeat;
}
.social-twitter {
  background:transparent url("http://static.apa.org/pn/assets/img/social/twitter.png") center center no-repeat;
}
.social-googleplus {
  background:transparent url("http://static.apa.org/pn/assets/img/social/gplus.png") center center no-repeat;
}
.social-apastyle a,.social-apastyleblog a,.social-facebook a,.social-twitter a,.social-googleplus a {
  display:block;
  width:34px;
  height:35px;
  cursor: pointer;
}
.text-hide {
  font: 0/0 a;
  color: transparent !important;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.pdf-dependency {
  margin-top:60px;
  color: #666;
}

.social {
  width: 238px;
  padding-left: 0;
  padding-right: 0;
}

.info {
  width: 31%;
}
