<span dropdown>
  <a href id="trending" dropdownToggle translate>SEARCHCOMMON.TRENDING</a>
  <ul class="trending-dropdown-menu dropdown-menu" dropdownMenu aria-labelledby="trending">
    <li class="close-action">
      <span class="glyphicon glyphicon-remove"></span>
    </li>
    <li><hr></li>
    <li class="dropdown-line" *ngFor="let trendingItem of trendingList">
      <a class="dropdown-item" (click)="setSearchText(trendingItem)">{{trendingItem}}</a>
    </li>
  </ul>
</span>
