@import '../../../../../core/pn';
.close-action {
    text-align: right;
    span {
        margin: 1px 3px 0 0;
        color: #008CD2;
        cursor: pointer;
    }
}

hr {
    margin: 0;
    border-top-color: #008CD2;
}

.dropdown-item {
    &:hover{
        background: #008CD2;
        color: #fff;
    }
    cursor: pointer;
}
span {
  a {
    color: @md-blue;
  }
}
