.card {
  margin: 20px 25px 0 20px;
  h1 {
    color: #008cd2;
    margin-bottom: 25px;
     font-size: 20px;
  }
  .title {
    font-weight: bold;
  }
  .contents {
    list-style: none;
    .section {
      margin-bottom: 30px;
    }
  }
  .details {
    margin-top: 10px;
  }
  .underLine {
    //text-decoration: underline;
    border-bottom: thin solid black;
  }
}
