<div class="card">
  <h1 translate>TERMSANDCONDITIONS.TITLE_TEXT</h1>
  <ul class="contents pull-left">

    <li class="section"><span class="title" id="serviceshutdown" translate>TERMSANDCONDITIONS.AUTOMATIC_SERVICE_SHUTDOWN</span>
      <ul class="details">
        <li><span class="underLine" translate>TERMSANDCONDITIONS.SYSTEMATIC_DOWNLOADING</span> <span translate>TERMSANDCONDITIONS.MANUAL_OR_TECHNICAL</span></li>
        <ul>
          <li translate>TERMSANDCONDITIONS.DISABLING_DOWNLOAD_FUNCTIONS</li>
          <li><span translate>TERMSANDCONDITIONS.EMAIL_TO_SERVICE_SHUTDOWN</span>: <a href="mailto:psycinfo@apa.org">psycinfo@apa.org</a></li>
        </ul>
      </ul>
    </li>

    <li class="section"><span class="title" translate>TERMSANDCONDITIONS.OTHER_USES_DISALLOWED</span>
      <ul class="details">
        <li translate>TERMSANDCONDITIONS.NOT_PLACE_ANY_PUBLICATION</li>
        <li translate>TERMSANDCONDITIONS.NOT_DISTRIBUTE_ANY_PART</li>
        <li translate>TERMSANDCONDITIONS.NOT_SYST_MAKE_PRINT</li>
        <li translate>TERMSANDCONDITIONS.NOT_TEXT_OR_DATAMINE</li>
        <li translate>TERMSANDCONDITIONS.NOT_INCORPORATE_CONTENTS</li>
        <li translate>TERMSANDCONDITIONS.NOT_MODIFY_CONTENT</li>
        <li translate>TERMSANDCONDITIONS.NOT_REMOVE_COPYRIGHT</li>
      </ul>
    </li>

    <li class="section"><span class="title" translate>TERMSANDCONDITIONS.WHO_CAN_USE_APADB</span>
      <ul class="details">
        <li translate>TERMSANDCONDITIONS.FACULTY_STUDENTS_EMP</li>
        <li translate>TERMSANDCONDITIONS.WALK_INS</li>
        <li id="subscribers" translate>TERMSANDCONDITIONS.SUBSCRIBE_APA_PACKAGES</li>
      </ul>
    </li>

    <li class="section"><span class="title" translate>TERMSANDCONDITIONS.AUTHORISED_USE</span>
      <ul class="details">
        <li translate>TERMSANDCONDITIONS.SAVE_ELECTRONICALLY</li>
        <li translate>TERMSANDCONDITIONS.PRINT_PUBLICATIONS</li>
        <li translate>TERMSANDCONDITIONS.INCORPORATE_PARTS</li>
        <li translate>TERMSANDCONDITIONS.USE_REASONABLE_INFO</li>
        <li translate>TERMSANDCONDITIONS.USING_PROCEDURES</li>
      </ul>
    </li>

  </ul>
</div>

