<div bsModal #printRecordModal="bs-modal" class="modal face" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="closeModal()">
          <span>&times;</span>
        </button>
        <h2 class="modal-title" translate>{{ 'Print' | tr_alias:'COMMON_LABEL' }}</h2>
      </div>
      <div class="modal-body">
        <div>
          <form #printForm="ngForm" class="form-horizontal" novalidate="" autocomplete="off" (submit)="printDocument()" >
            <!-- Display -->
            <div class="form-group">
              <label class="col-xs-2 control-label" for="print-display{{parentId}}" translate>{{ 'Display' | tr_alias:'RECORD_DISPLAY' }}</label>
              <p class="multiSelect col-xs-10">
                <select class="form-control" id="print-display{{parentId}}" [(ngModel)]="print.display" name="display" required>
                  <option *ngFor="let display of displayList" [value]="display.value" translate>{{ display.name | tr_alias:'RECORD_DISPLAY' }}</option>
                </select>
              </p>
            </div>
            <fieldset>
              <legend class="sr-only"></legend>

              <!-- Include Search History -->
              <div class="form-group" *ngIf="!isMyList">
                <div class="col-xs-offset-2 col-xs-5">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="searchHistory" [(ngModel)]="print.includeSearch"> <span translate>{{ 'Include Search History' | tr_alias:'RECORD_DISPLAY' }}</span>
                    </label>
                  </div>
                </div>
              </div>


              <!-- selected Type -->
              <div class="form-group">
                <div class="col-xs-offset-2 col-xs-10">
                  <label class="radio radio-inline" *ngIf="recordsPerPage">
                    <input type="radio" value="Selected Records - All Pages" name="selectedType" [(ngModel)]="print.selectedType" (ngModelChange)="onSelectionTypeChanges($event)"/> <span translate>{{ 'Selected Records All Pages' | tr_alias:'RECORD_DISPLAY' }}</span> ({{selectedRecordUIDList.length}})
                  </label>

                  <label class="radio radio-inline">
                    <input type="radio" value="Selected Records" name="selectedType" [(ngModel)]="print.selectedType" (ngModelChange)="onSelectionTypeChanges($event)"/> <span translate>{{ 'Selected Records on Page' | tr_alias:'RECORD_DISPLAY' }}</span> (<span class="selected-records-count">{{currentPageSelectedRecordUIDList.length}}</span>)
                  </label>

                  <label class="radio radio-inline" *ngIf="recordsPerPage">
                    <input type="radio" value="All Records on Page" name="selectedType" [(ngModel)]="print.selectedType" (ngModelChange)="onSelectionTypeChanges($event)"/> <span translate>{{ 'All Records on Page' | tr_alias:'RECORD_DISPLAY' }}</span> ({{recordsPerPage}})
                  </label>
                </div>
              </div>

            </fieldset>

            <div class="form-group">
              <p class="col-xs-offset-1"><span translate>{{ 'Note' | tr_alias:'RECORD_DISPLAY' }}</span>:</p>
              <p class="col-xs-offset-2" translate>RECORD_DISPLAY.APA_STYLE_MESSAGE</p>
            </div>

            <div class="form-group" *ngIf="isFormInValid">
              <p class="col-xs-offset-2 error-msg" *ngIf="_getUIDList().length === 0"><span translate>{{ 'No Records Selected.' | tr_alias:'COMMON_LABEL' }}</span></p>
              <p class="col-xs-offset-2 error-msg" *ngIf="_getUIDList().length > 250"><span translate>{{ 'You can print a maximum of 250 records at a time. Please select 250 records or fewer.' | tr_alias:'COMMON_LABEL' }}</span></p>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-10 col-sm-2">
                <button type="submit" class="btn btn-success" [disabled]="!printForm.form.valid || submitted"><span translate>{{ 'Go' | tr_alias:'RECORD_DISPLAY' }}</span></button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
