@import '../../../../core/pn';

fieldset {
  border: 0;
}

.error-msg{
  color: @warning;
}

.multiSelect {
  &:after {
    position: absolute;
    content: "▾";
    color: @dk-gray;
    font-size: 150%;
    background: none;
    pointer-events: none;
    right: 8%;
    top: 0px;
    float: right;
    }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}
.radio-inline+.radio-inline {
  padding-left: 11px !important;
}
