@import '../../../core/pn';

.citation {
  a {
    color: #2196f3;
    text-decoration: none;
    font-size: 16px;
    word-break: break-all;
  }
  h3 {
    font-weight: 300;
    font-size: 1.44em;
    color: #5e5e5e;
  }
  .citation-text {
    color: #5e5e5e;
    word-break: break-all;
  }
}

