<div *ngIf="record" class="citation">
    <h3 *ngIf="showHeading" translate>{{ 'Citation' | tr_alias:'RECORD_DISPLAY' }}</h3>
    <div class="citation-text">
        <span *ngIf="record?.AuthorName && record?.AuthorName.length">
            <span *ngFor="let author of record?.AuthorName; let isLast=last"><span [innerHTML]="author"></span><span *ngIf="!isLast || (isLast && record?.InstitutionalAuthor)">; </span></span>
        </span>
        <span *ngIf="record?.InstitutionalAuthor" [innerHTML]="record?.InstitutionalAuthor"></span>
        <span *ngIf="record?.PublicationDate">(<span [innerHTML]="record.PublicationDate"></span>).</span>
        <span *ngIf="pePages !== ''">{{pePages}}.</span>
        <span *ngIf="record?.ContentOwner && record?.ContentOwner.length"><span [innerHTML]="record?.ContentOwner[0] | contentOwner"></span>.</span>
        <span *ngIf="record?.DOI" class="doi"><a href="{{record?.DOI | removeHTMLTag | linkDOIInternal}}" target="_blank" [innerHTML]="record?.DOI | linkDOI"></a></span>
    </div>
</div>
