
<ul class="top-menu">
  <li *ngIf="!showLoginOnly">
      <span dropdown>
        <a href id="localization-dropdown" title="Language" dropdownToggle >
          {{ 'LANGUAGE' | translate:lang }}
          <svg viewBox="0 0 21 21" width="21" height="21">
              <path d="M7,10L12,15L17,10H7Z" fill="#0077bf" />
          </svg>
        </a>
        <ul class="dropdown-menu" dropdownMenu>
          <li>
            <a id="de" class="dropdown-item" (click)="selectLocale('de', 'DE', 'USD')">Deutsch</a>
          </li>
          <li>
            <a id="en" class="dropdown-item" (click)="selectLocale('en', 'US', 'USD')">English</a>
          </li>
          <li>
            <a id="es" class="dropdown-item" (click)="selectLocale('es', 'ES', 'USD')">Español</a>
          </li>
          <li>
            <a id="fr" class="dropdown-item" (click)="selectLocale('fr', 'FR', 'USD')">Français</a>
          </li>
          <li>
            <a id="pt" class="dropdown-item" (click)="selectLocale('pt', 'PT', 'USD')">Português</a>
          </li>
        </ul>
      </span>
  </li>
  <li>
    <a href="/user/login?returnUrl={{returnUrl}}" *ngIf="(!identity?.isIndividual && !identity?.athens) || showLoginOnly">
      {{ 'LINK.LOGIN' | translate:lang }}
    </a>

    <a href="/user/logout" *ngIf="identity?.athens && !showLoginOnly">Athens {{ 'LINK.LOGOUT' | translate:lang }}</a>

    <span dropdown *ngIf="identity?.isIndividual && !identity?.athens && !showLoginOnly">
      <a href id="simple-dropdown" dropdownToggle>
        {{identity?.name}}
        <svg viewBox="0 0 21 21" width="21" height="21">
            <path d="M7,10L12,15L17,10H7Z" fill="#0077bf" />
        </svg>
      </a>
      <ul class="dropdown-menu" dropdownMenu>
        <li>
          <a class="dropdown-item" href="{{getMyAPALink()}}" target="_blank">{{ 'LINK.MYAPA' | translate:lang }}</a>
        </li>
        <li>
          <a class="dropdown-item" href="/user/logout">{{ 'LINK.LOGOUT' | translate:lang }}</a>
        </li>
      </ul>
    </span>
  </li>
  <li *ngIf="!isOrganization && !showLoginOnly">
    <a href="/user/cart" target="_blank">{{ 'LINK.CART' | translate:lang }} (<span class="cart-count">{{cartCount}}</span>)</a>
  </li>
  <li *ngIf="!showLoginOnly">
    <a href="http://help.psycnet.org" target="_blank" (click)="logPageView('Help_PN'); triggerComingSoon();">{{ 'LINK.HELP' | translate:lang }}</a>
  </li>
  <li *ngIf="!showLoginOnly">
    <a *ngIf="isOrganization" id="admincenter" href="http://admincenter.apa.org" target="_blank">{{ 'LINK.ADMINCENTER' | translate:lang }}</a>
  </li>
  <li *ngIf="!showLoginOnly">
    <a *ngIf="!adminLinkURL && !adminLinkMailTo" id="contact" [routerLink]="['/general/contactUs']">{{ 'LINK.CONTACTUS' | translate:lang }}</a>
    <a *ngIf="adminLinkURL && !adminLinkMailTo" id="contact2" href="{{adminLinkURL}}" target="_blank">{{ adminLinkText }}</a>
    <a *ngIf="adminLinkMailTo && !adminLinkURL" id="contact3" href="mailto:{{adminLinkMailTo}}">{{ adminLinkText }}</a>
  </li>
</ul>
