@import '../pn';
.top-menu {
  @media screen {
    @media (min-width: 768px) {
      height: 34px;
      list-style: none;
      padding: 0 13px 0 0;
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: center;
    }
    @media (min-width: 991px) {
      padding: 0 41px 0 0;
    }
  }
  a {
    svg {
      margin-top: -5px;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    color: @dk-blue;
    font-weight: 100;
    font-size: 0.74em;
    text-align: center;
    padding: 8px 7px 8px 7px;
  }
  > li {
     &:last-child {
       border-right: none;
     }
     &:not(#toggle-width)::before {
       display: none;
     }
     .dropdown-menu-lg .lv-body {
       min-height: 0;
     }
     border-right: solid 1px @lt-gray;
     display: inline-block;
     height: auto;
     background: none;
   }
  .dropdown{
    ul {
      a:hover {
        background-color: @md-blue;
        cursor: pointer;
        color:white;
      }
    }

    a {
      text-align: left;
    }
  }
  display: none;
}
