@import '../../../../../core/pn';

.card {
  background-color: white !important;
   .recentItem:not(:last-child){
    padding-bottom: 15px;
  }

  h3 {
    .facetHeading;
  }
  .noresults{
    padding: 5px 13px;
  }
  a {
    &:hover {
      text-decoration: none;
    }
    .facetLeft;
  }

  :host /deep/ .fq-op {
    font-style:italic;
  }

  .facetBody;
}
