<div class="card" *ngIf="recentList">

  <h3 translate>{{'Recent Searches' | tr_alias:'ADVANCED'}}</h3>
  <div *ngIf="!recentList.length" class="noresults" translate>{{'No recent searches' | tr_alias:'ADVANCED'}}</div>
  <div class="recentItem" *ngFor="let item of recentList">
    <a *ngIf="item?.type === 'citedRefs'"  [routerLink]="['/search/citedRefsResults']" [queryParams]="{id: item?.id}"><friendly-query [text]="item?.friendlyQuery"></friendly-query></a>
    <a *ngIf="item?.type === 'search'" [routerLink]="['/search/results']" [queryParams]="{id: item?.id}"><friendly-query [text]="item?.friendlyQuery"></friendly-query> </a>
  </div>
</div>
