<div class="advSearch container p-l-30 p-r-30 m-t-10">
  <form (ngSubmit)="executeSearch()" #advSearchForm="ngForm">
    <div class="card searchCtrls advancedSearch">
      <div class="col-md-9 col-sm-12 col-xs-12 p-0">
        <div class="card searchCtrls dbOptionsSearch m-b-0">
          <div class="card-body card-padding p-0">
            <div class="row">
              <div class="col-md-12 p-t-30 p-l-0">
                <database-selector [defaultSelectedDatabases]="productCodes" (selectedDatabase)="newSelectedDatabases($event);"></database-selector>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body card-padding p-t-10">
          <!--<a class="searchTipsLink hidden-md hidden-lg" translate>{{'Search Tips' | tr_alias:'ADVANCED'}}</a>-->
          <h1 class="searchHeading m-t-5 p-l-15" translate>{{'Advanced Search' | tr_alias:'ADVANCED'}}</h1>
          <div class="row hide-for-desktop p-l-15">
            <div class="col-md-12 p-0">
              <a (click)="openlookupDialog('authors')" id="authorLookup" class="p-l-5" translate>{{'Author Lookup' | tr_alias:'ADVANCED'}}</a>
              <a (click)="openlookupDialog('journals')" *ngIf="productCodes.indexOf('PA') > -1 || productCodes.indexOf('PI') > -1" id="journalLookup" class="p-l-5" translate>{{'Journal Lookup' | tr_alias:'ADVANCED'}}</a>
              <a (click)="openlookupDialog('tests')" *ngIf="productCodes.indexOf('PT') > -1" id="testLookup" class="p-l-5" translate>{{'Test Lookup' | tr_alias:'ADVANCED'}}</a>
            </div>
          </div>
          <div class="row show-for-mobile" style="height: 8px;">
            <div class="col-md-12">
              &nbsp;
            </div>
          </div>
          <div class="row">

            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="form-group fg-float">
                <div class="fg-line">
                  <label class="sr-only" for="searchField">Search Terms</label>
                  <input [(ngModel)]="formData.text"
                         [typeahead]="typeaheadSuggestions"
                         [typeaheadOptionsLimit]="10"
                         [typeaheadMinLength]="4"
                         [typeaheadWaitMs]="300"
                         name="searchField" id="searchField" class="input-sm form-control fg-input" type="text" placeholder="{{'Enter Search Terms' | tr_alias:'ADVANCED' | translate:lang}}" autocomplete="off"/>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 p-r-8dk">
              <div class="row">
                <div class="col-md-1 col-sm-2 col-xs-2 t-i-10">
                  <span class="responsiveLabel" translate>{{'in' | tr_alias:'ADVANCED'}}</span>
                </div>
                <div class="col-md-7 col-sm-10 col-xs-10 p-r-0">
                      <div *ngIf="FormFields" class="dropDownStyles m-r-0">
                        <span>
                          <label for="fields" class="sr-only">Fields</label>
                          <select id="fields" [(ngModel)]="formData.field" class="form-control" [ngModelOptions]="{standalone: true}">
                            <option selected id="AnyField" value="AnyField" translate>{{'Any Field' | tr_alias:'ADVANCED'}}</option>
                            <option id="{{entry.name}}" *ngFor="let entry of FormFields" value="{{entry.name}}" translate>{{entry.desc | tr_alias:'ADVANCED'}}</option>
                          </select>
                        </span>
                      </div>
                </div>
                <div class="col-md-4 hidden-sm hidden-xs">
                </div>
              </div>
            </div>
          </div>


          <div class="row p-t-5m" *ngFor="let formLine of formData.criteria; let index=index;">

            <div class="col-md-2 col-sm-4 col-xs-4">
                  <div class="dropDownStyles m-r-0">
                    <span>
                      <label for="operator_{{index}}" class="sr-only">Operator {{index + 1}}</label>
                      <select id="operator_{{index}}" [(ngModel)]="formLine.operator" class="form-control" [ngModelOptions]="{standalone: true}">
                        <option value="AND" selected translate>{{'AND' | tr_alias:'ADVANCED'}}</option>
                        <option value="OR" translate>{{'OR' | tr_alias:'ADVANCED'}}</option>
                        <option value="NOT" translate>{{'NOT' | tr_alias:'ADVANCED'}}</option>
                      </select>
                    </span>
                  </div>
            </div>

            <div class="col-md-4 col-sm-8 col-xs-8">
              <div class="form-group fg-float">
                <div class="fg-line ">
                  <label for="searchTerm_{{index}}" class="sr-only">Search Terms {{index + 1}}</label>
                  <input id="searchTerm_{{index}}" [(ngModel)]="formLine.value" class="input-sm form-control fg-input" type="text" value="" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12 p-l-31">
              <div class="row">
                <div class="col-md-1 p-0 t-i-10" [ngClass]="{'col-sm-2 col-xs-2': index==0, 'col-sm-1 col-xs-1': index>0}">
                  <span class="responsiveLabel" translate>{{'in' | tr_alias:'ADVANCED'}}</span>
                </div>
                <div [ngClass]="{'col-sm-10 col-xs-10': index==0, 'col-sm-9 col-xs-9': index>0}" class="col-md-7 p-l-0 p-r-0">
                      <div *ngIf="FormFields" class="dropDownStyles m-r-0">
                        <span>
                          <label for="fields_{{index}}" class="sr-only">Fields {{index + 1}}</label>
                          <select id="fields_{{index}}" [(ngModel)]="formLine.field" class="form-control" [ngModelOptions]="{standalone: true}">
                            <option selected value="AnyField" translate>{{'Any Field' | tr_alias:'ADVANCED'}}</option>
                            <option *ngFor="let entry of FormFields" value="{{entry.name}}" translate>{{entry.desc | tr_alias:'ADVANCED'}}</option>
                          </select>
                        </span>
                      </div>
                </div>
                <div [ngClass]="{'hidden-sm hidden-xs': index==0, 'col-sm-1 col-xs-1': index>0}" class="col-md-4 p-0">
                  <div class="row">
                    <div class="col-xs-1 col-sm-1 col-md-12">
                      <a class="hidden-sm hidden-xs l-h-34 prevent no-wrap" *ngIf="index==0" (click)="addSearchRow()">+ <span translate>{{'add row' | tr_alias:'ADVANCED'}}</span></a>
                      <div *ngIf="index > 0" (click)="removeSearchRow(index)">
                        <a style="line-height: 37px;"><span class="glyphicon glyphicon-remove"></span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>


          <div>
            <div class="row visible-sm visible-xs p-0">
              <a (click)="addSearchRow()" class="m-t-10 p-l-15 no-wrap">+ <span translate>{{'add row' | tr_alias:'ADVANCED'}}</span></a>
            </div>
            <div class="row p-t-10">
              <div class="col-md-7 p-0">
                <div class="row p-l-15">
                  <div class="col-md-12 col-sm-12 col-xs-12 p-l-5">
                    <div class="form-group fg-float flex">
                      <div *ngIf="limitDisplay.book">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                          <div><strong translate>{{'Type' | tr_alias:'ADVANCED'}}</strong></div>
                          <div>
                            <label class="checkbox search-type responsiveLabel">
                              <input [(ngModel)]="formData.nativeOptions.pb.type.classicBook" value="true" type="checkbox" [ngModelOptions]="{standalone: true}">

                              <span translate>{{'Classic Book' | tr_alias:'ADVANCED'}}</span>
                            </label>
                          </div>
                          <div>
                            <label class="checkbox search-type responsiveLabel">
                              <input [(ngModel)]="formData.nativeOptions.pb.type.conferenceProceedings" value="true" type="checkbox" [ngModelOptions]="{standalone: true}">

                              <span translate>{{'Conference Proceedings' | tr_alias:'ADVANCED'}}</span>
                            </label>
                          </div>
                          <div>
                            <label class="checkbox search-type responsiveLabel">
                              <input [(ngModel)]="formData.nativeOptions.pb.type.handbookManual" value="true" type="checkbox" [ngModelOptions]="{standalone: true}">

                              <span translate>{{'Handbook/Manual' | tr_alias:'ADVANCED'}}</span>
                            </label>
                          </div>
                          <div>
                            <label class="checkbox search-type responsiveLabel">
                              <input [(ngModel)]="formData.nativeOptions.pb.type.referenceBook" value="true" type="checkbox" [ngModelOptions]="{standalone: true}">

                              <span translate>{{'Reference Book' | tr_alias:'ADVANCED'}}</span>
                            </label>
                          </div>
                          <div>
                            <label class="checkbox search-type responsiveLabel">
                              <input [(ngModel)]="formData.nativeOptions.pb.type.textbookStudyGuide" value="true" type="checkbox" [ngModelOptions]="{standalone: true}">

                              <span translate>{{'Textbook/Study Guide' | tr_alias:'ADVANCED'}}</span>
                            </label>
                          </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                          <div><strong translate>{{'Authorship' | tr_alias:'ADVANCED'}}</strong></div>
                          <div>
                            <label class="checkbox search-type responsiveLabel">
                              <input [(ngModel)]="formData.nativeOptions.pb.publicationType.authored" value="true" type="checkbox" [ngModelOptions]="{standalone: true}">

                              <span translate>{{'Authored' | tr_alias:'ADVANCED'}}</span>
                            </label>
                          </div>
                          <div>
                            <label class="checkbox search-type responsiveLabel">
                              <input [(ngModel)]="formData.nativeOptions.pb.publicationType.edited" value="true" type="checkbox" [ngModelOptions]="{standalone: true}">

                              <span translate>{{'Edited' | tr_alias:'ADVANCED'}}</span>
                            </label>
                          </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                          <div><strong translate>{{'Audience' | tr_alias:'ADVANCED'}}</strong></div>
                          <div>
                            <label class="checkbox search-type responsiveLabel">
                              <input [(ngModel)]="formData.nativeOptions.pb.audience.generalPublic" value="true" type="checkbox" [ngModelOptions]="{standalone: true}">

                              <span translate>{{'General Public' | tr_alias:'ADVANCED'}}</span>
                            </label>
                          </div>
                          <div>
                            <label class="checkbox search-type responsiveLabel">
                              <input [(ngModel)]="formData.nativeOptions.pb.audience.professional" value="true" type="checkbox" [ngModelOptions]="{standalone: true}">

                              <span translate>{{'Professional & Research' | tr_alias:'ADVANCED'}}</span>
                            </label>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" *ngIf="limitDisplay.ftOnly">
                        <div>
                          <label class="checkbox search-type responsiveLabel">
                            <input [(ngModel)]="formData.filter.ftOnly" value="true" type="checkbox" [ngModelOptions]="{standalone: true}">

                            <span translate>{{'APA Full Text' | tr_alias:'ADVANCED'}}</span>
                          </label>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" *ngIf="limitDisplay.peerReviewed">
                        <div>
                          <label class="checkbox search-type responsiveLabel">
                            <input [(ngModel)]="formData.filter.peerReviewed" value="true" type="checkbox" [ngModelOptions]="{standalone: true}">

                            <span translate>{{'Peer-Reviewed' | tr_alias:'ADVANCED'}}</span>
                          </label>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" *ngIf="limitDisplay.impactStatement">
                        <div>
                          <label class="checkbox search-type responsiveLabel">
                            <input [(ngModel)]="formData.filter.impactStatement" value="true" type="checkbox" [ngModelOptions]="{standalone: true}">

                            <span id="impact" translate>{{'Impact Statement' | tr_alias:'ADVANCED'}}</span>
                          </label>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" *ngIf="limitDisplay.openAccess">
                        <div>
                          <label class="checkbox search-type responsiveLabel">
                            <input [(ngModel)]="formData.filter.openAccess" value="true" type="checkbox" [ngModelOptions]="{standalone: true}">

                            <span id="openaccess" translate>{{'Open Access' | tr_alias:'ADVANCED'}}</span>
                          </label>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" *ngIf="limitDisplay.testAvailable">
                        <div>
                          <label class="checkbox search-type responsiveLabel">
                            <input [(ngModel)]="formData.filter.testAvailable" value="true" type="checkbox" [ngModelOptions]="{standalone: true}">

                            <span translate>{{'Test Available' | tr_alias:'ADVANCED'}}</span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="row">
                  <div class="searchButtonTop">
                    <button type="submit" class="btn btn-primary btn-sm flexButton" [disabled]="!advSearchForm.form.valid" id="searchForBtn">

                      <svg style="width:24px;height:24px;float:left;" viewBox="0 0 24 24">
                        <path d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z"/>
                      </svg>
                      <span style="flex: auto;" translate>{{'Search' | tr_alias:'ADVANCED'}}</span>

                    </button>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="row">
                  <div>
                    <a (click)="clearForm()" class="clear-form m-t-10 l-h-40 no-wrap" translate>{{'clear form' | tr_alias:'ADVANCED'}}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>

          <h1 class="searchHeading m-t-5 p-l-15" id="date" translate>{{'Date' | tr_alias:'ADVANCED'}}</h1>

          <div class="row p-b-5 p-l-15">
            <form action="">
              <div class="row">
                <div class="col-md-5 col-sm-10 col-xs-12 p-0">
                  <div class="row">
                    <div class="col-md-1 col-sm-1 col-xs-1 p-l-0">
                      <div class="radio radio-inline">
                        <label for="years_selection" class="sr-only">Recent Years Options</label>
                        <input id="years_selection" type="radio" value=1 [checked]="formData.dateselect == 1" (click)="formData.dateselect = 1" checked>
                      </div>
                    </div>
                    <div class="col-md-11 col-sm-10 col-xs-10 p-b-5 p-r-0 p-l-10">
                      <div class="dropDownStyles fitwidth" style="margin-top: -3px;">
                    <span>
                      <label for="years_range_select" class="sr-only">Recent Years</label>
                      <select id="years_range_select" (click)="formData.dateselect = 1" class="form-control" [(ngModel)]="formData.dateRange.yearRange" [ngModelOptions]="{standalone: true}">
                        <option value="All years" selected translate>{{'All years' | tr_alias:'ADVANCED'}}</option>
                        <option value="1 year ago" translate>{{'1 year ago' | tr_alias:'ADVANCED'}}</option>
                        <option value="3 years ago" translate>{{'3 years ago' | tr_alias:'ADVANCED'}}</option>
                        <option value="5 years ago" translate>{{'5 years ago' | tr_alias:'ADVANCED'}}</option>
                      </select>
                    </span>
                      </div>
                      <span class="pull-left" id="present" translate>{{'to present' | tr_alias:'ADVANCED'}}</span>
                    </div>
                  </div>
                </div>

                <div class="col-md-7 col-sm-10 col-xs-12 p-0">
                  <div class="row p-b-5">
                    <div class="col-md-1 col-sm-1 col-xs-1 p-l-0">
                      <div class="radio radio-inline">
                        <input id="recently_added" type="radio" value="3" [checked]="formData.dateselect == 3" (click)="formData.dateselect = 3"/>
                        <label for="recently_added" class="sr-only">Added to APA PsycNET</label>
                      </div>
                    </div>
                    <div class="pull-left p-0-res no-wrap m-r-10px">
                      <span translate>{{'Added to APA PsycNET' | tr_alias:'ADVANCED'}}</span>
                    </div>
                    <div class="pull-left p-0-res">
                      <div class="dropDownStyles" style="margin-top: -3px;">
                        <span>
                          <label for="recent_add_select" class="sr-only">Recent Days</label>
                          <select id="recent_add_select" (click)="formData.dateselect = 3" class="form-control p-r-20" [(ngModel)]="formData.dateRange.publishedIn" [ngModelOptions]="{standalone: true}">
                            <option *ngIf="limitDisplay.latestUpdate" value="the latest update" translate>{{'in the latest update' | tr_alias:'ADVANCED'}}</option>
                            <option value="in the last 7 days" translate>{{'in the last 7 days' | tr_alias:'ADVANCED'}}</option>
                            <option value="in the last 14 days" translate>{{'in the last 14 days' | tr_alias:'ADVANCED'}}</option>
                            <option value="in the last 30 days" translate>{{'in the last 30 days' | tr_alias:'ADVANCED'}}</option>
                          </select>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row p-t-5m">
                <div class="col-md-4 col-sm-10 col-xs-12 p-0">
                  <div class="col-md-1 col-xs-1 p-0">
                    <div class="radio radio-inline">
                      <label for="years_range" class="sr-only">Years Range Option</label>
                      <input id="years_range" type="radio" value="2" [checked]="formData.dateselect == 2" (click)="formData.dateselect = 2"/>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-5 col-xs-5">
                    <label for="range_start" class="sr-only">Starting Year</label>
                    <input id="range_start" class="input-sm form-control fg-input" [(ngModel)]="formData.dateRange.begin" type="text" placeholder="yyyy" [ngModelOptions]="{standalone: true}" (click)="formData.dateselect = 2"/>
                  </div>
                  <div class="pull-left text-center">
                    <span translate>{{'to' | tr_alias:'ADVANCED'}}</span>
                  </div>
                  <div class="col-md-4 col-sm-5 col-xs-5">
                    <label for="range_end" class="sr-only">Ending Year</label>
                    <input id="range_end" class="input-sm form-control fg-input" [(ngModel)]="formData.dateRange.end" type="text" placeholder="yyyy" [ngModelOptions]="{standalone: true}" (click)="formData.dateselect = 2"/>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 p-0">
              <hr>
              <h1 class="searchHeading m-t-5 p-l-15" translate>{{'Filters' | tr_alias:'ADVANCED'}}</h1>
            </div>
          </div>

          <div class="row p-l-15">
            <div class="col-md-12 col-sm-12 col-xs-12 p-0">
              <div class="row" *ngFor="let limitLine of formData.limits; let index=index">
                <div class="col-md-4 col-sm-9 col-xs-9 p-0">
                    <div *ngIf="FormFilters" class="dropDownStyles">
                      <span>
                        <label for="deep_filters_{{index + 1}}" class="sr-only">Filter {{index + 1}}</label>
                        <select id="deep_filters_{{index + 1}}" class="form-control" [(ngModel)]="limitLine.field" #item (ngModelChange)="getFilterValues(item.value)" [ngModelOptions]="{standalone: true}">
                          <option value="" translate>{{'Select Filter' | tr_alias:'ADVANCED'}}</option>
                          <option *ngFor="let entry of FormFilters" value="{{entry.name}}" translate>{{entry.desc | tr_alias:'ADVANCED'}}</option>
                        </select>
                      </span>
                    </div>
                </div>
                <div class="col-md-1 col-sm-3 col-xs-12 p-0 p-0-res p-b-5">
                  <div class="dropDownStyles small" *ngIf="limitLine.field != ''">
                      <span>
                        <label for="deep_filters_state_{{index + 1}}" class="sr-only">Filter {{index + 1}} State</label>
                        <select id="deep_filters_state_{{index + 1}}" class="form-control" [(ngModel)]="limitLine.operator" [ngModelOptions]="{standalone: true}">
                          <option value="is" selected translate>{{'is' | tr_alias:'ADVANCED'}}</option>
                          <option value="is not" translate>{{'is not' | tr_alias:'ADVANCED'}}</option>
                        </select>
                      </span>
                  </div>
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12 inputTop p-0" style="margin-left: -15px">
                  <div class="row">
                    <div [ngClass]="{'col-sm-11 col-xs-11': index==0, 'col-sm-9 col-xs-9': index>0}" class="col-md-9 col-xs-12">
                      <div class="dropDownStyles multipleSelect">
                        <span>
                          <label *ngIf="limitLine.field != ''" for="filter_entries_{{index + 1}}" class="sr-only">Filter {{index + 1}} Entries</label>
                          <select id="filter_entries_{{index + 1}}" [style.height.px]="FilterOptionsCount*20" *ngIf="limitLine.field != ''" class="multiselect f-s-089" multiple size="6" [(ngModel)]="limitLine.values" [ngModelOptions]="{standalone: true}">
                            <option *ngFor="let myentry of limitLookup[limitLine.field]?.options" value="{{myentry.value}}"><span class="leadingSpace" *ngIf="myentry.indented">&nbsp;&nbsp;&nbsp;&nbsp;</span>{{myentry.name | tr_alias:'ADVANCED' | translate:lang}}</option>
                          </select>
                        </span>
                      </div>
                    </div>
                    <div *ngIf="limitLine.field != ''" [ngClass]="{'hidden-sm hidden-xs': index==0, 'col-sm-1 col-xs-1': index>0}" class="col-md-3 filter-add-row hide-for-mobile" style="padding-left:25px;">
                      <a id="add_filter_row" class="hidden-sm hidden-xs l-h-34 prevent no-wrap" *ngIf="index==0" (click)="addLimitRow()">+ <span translate>{{'add filter' | tr_alias:'ADVANCED'}}</span></a>
                      <!--<div *ngIf="index > 0" (click)="removeLimitRow(index)">
                        <a style="line-height: 37px;"><span class="glyphicon glyphicon-remove"></span></a>
                      </div>-->
                    </div>
                    <div *ngIf="index > 0" class="col-md-3 col-sm-1 col-xs-1">
                      <div (click)="removeLimitRow(index)">
                        <a style="line-height: 37px;"><span class="glyphicon glyphicon-remove"></span></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="index==0 && limitLine.field != ''" class="row visible-sm visible-xs">
                  <div class="col-md-12 col-sm-12 col-xs-12 p-t-5 no-wrap">
                    <a (click)="addLimitRow()">+ <span translate>{{'add filter' | tr_alias:'ADVANCED'}}</span></a>
                    <br class="show-for-mobile">
                    <a (click)="clearFilters()" *ngIf="filtersAreChanged()" translate>{{'Clear filters' | tr_alias:'ADVANCED'}}</a>
                  </div>
                </div>
              </div>

              <div class="row">
                <a id="clear_filters" (click)="clearFilters()" *ngIf="filtersAreChanged()" class="col-md-offset-10 l-h-40 hidden-xs hidden-sm" style="padding-left: 15px;" translate>{{'Clear filters' | tr_alias:'ADVANCED'}}</a>
              </div>

              <div class="col-md-3 show-for-mobile">
                <div class="row">

                  <hr>
                  <div class="searchButtonTop">
                    <button type="submit" class="btn btn-primary btn-sm flexButton" [disabled]="!advSearchForm.form.valid" id="searchForBtn">
                      <svg style="width:24px;height:24px;" viewBox="0 0 24 24">
                        <path d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z"/>
                      </svg>
                      <span style="flex: auto;" translate>{{'Search' | tr_alias:'ADVANCED'}}</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1 hidden-sm hidden-xs p-0"></div>
      <div class="col-md-2 col-sm-12 col-xs-12 searchTipsContent p-0 hidden-xs">
        <!--TBD  Separate Search Tools Component-->
        <div class="card hidden-sm hidden-xs">
          <h3 translate style="text-transform: none;">{{'Search Tools' | tr_alias:'ADVANCED'}}</h3>
          <a (click)="openlookupDialog('authors')" id="authorLookup" translate>{{'Author Lookup' | tr_alias:'ADVANCED'}}</a>
          <a (click)="openlookupDialog('journals')" *ngIf="productCodes.indexOf('PA') > -1 || productCodes.indexOf('PI') > -1" id="journalLookup" translate>{{'Journal Lookup' | tr_alias:'ADVANCED'}}</a>
          <a (click)="openlookupDialog('tests')" *ngIf="productCodes.indexOf('PT') > -1" id="testLookup" translate>{{'Test Lookup' | tr_alias:'ADVANCED'}}</a>
        </div>
        <br>
        <!--TBD Recent Searched Component-->
        <adv-recent></adv-recent>
        <br>
        <!--TBD  Trending Component -->
        <advanced-trending [productCodes]="productCodes"></advanced-trending>
      </div>
      <lookup-modal #lookupDialog [productCodes]="productCodes" (close)="onDialogClose($event)"></lookup-modal>


    </div>
  </form>
</div>
