@import '../../../core/pn';

.container {
  margin-right: auto;
  margin-left: auto;
}
.mobileInputContainerParent {
  padding-right: 7px;
}
.mobileInputContainer {
  padding-right: 0
}
@media screen and (min-width: 768px) {
  .container {
    width: auto;
    max-width: 1800px !important;
  }
  .mobileInputContainer, .mobileInputContainerParent {
     padding-right: 15px;
  }
  .p-l-10 {
    padding-left: 10px !important;
  }

  .p-r-0 {
    padding-right: 0 !important;
  }

  .m-l--10 {
    margin-left: -10px !important;
  }

  .m-r-10px {
    margin-right: 10px !important;
  }
}

.advSearch {
  select.multiselect,
  select.multiselect + div.btn-group,
  select.multiselect + div.btn-group button.multiselect,
  select.multiselect + div.btn-group.open .multiselect-container {
    width: 99% !important;
  }
  html:not(.ie9) .select {
    position: relative;
  }

  html:not(.ie9) .select:before {
    position: absolute;
    top: -1px;
    content: "";
    height: calc(100% - 1px);
    width: 30px;
    background-color: @lightest;
    background-position: right calc(100% - 7px);
    background-repeat: no-repeat;
    pointer-events: none;
    z-index: 5;
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    html:not(.ie9) .select:before {
      background-size: 12px 12px;
    }
  }

  html:not(.ie9) .select:not(.fg-line):before {
    right: 0;
  }

  html:not(.ie9) .select.fg-line:before {
    right: 10px;
  }

  .radio-inline {
    line-height: 23px;
    vertical-align: top;
    margin-top: 0;
    padding-left: 25px;
  }
  .searchCtrls {
    .col-md-2 .input-sm {
      border: 1px solid @dk-gray;
      padding: 0.21em;
      color: @dk-gray;
    }
    .fg-line .fg-input {
      border: solid 1px @dk-gray;
      padding: 0.21em;
      color: @dk-gray;
      border-radius: 0;
    }
    .fg-line .fg-input.input-lg {
      height: 45px;
      font-weight: 100;
    }
    .fg-line .fg-input.input-sm {
      height: 31px;
      top: -2px;
      border-radius: 0;
    }
    .fg-line .select select.form-control {
      padding-right: 1em;
      padding-left: 0.34em !important;
      font-size: 0.89em;
      font-weight: 200;
      color: @dk-gray;
      cursor: pointer;
      border: solid 1px @dk-gray;
      padding: 0;
      height: 31px;
    }
    .fg-line .select:before {
      content: " ";
      width: 21px;
      height: 21px;
      top: 5px;
      font-size: 2em;
      text-align: center;
      line-height: 0.89em;
      color: @dk-gray;
      background: none;
    }
    h3 {
      font-weight: 300;
      font-size: 1.44em;
      color: @dk-gray;
    }
    .checkbox-inline {
      vertical-align: top;
      margin-top: 0;
      padding-left: 25px;
    }
    @media screen and (max-width: 767px) {
      .responsiveLabel {
        margin: 0;
      }
    }
    @media screen and (max-width: 767px) {
      .searchButtonTop {
        padding-top: 1em;
        margin: 0 !important;
        width: 100% !important;
        button {
          width: 100%;
        }
      }
    }
    .searchButtonTop {
      float: right;
      margin-right: 13px;
      width: auto;
    }
    span {
      font-weight: 100;
      font-size: 1em;
      line-height: 25px;
    }
    .btn {

      border: 0;
      text-transform: uppercase;
      svg {
        path {
          fill: @lightest;
        }
      }
    }
    .btn:not(.btn-link) {
      box-shadow: none;
      background-color: @lt-blue;
      font-size: 1.24em;
      height: 39px;
      min-width: 120px;
    }
    .btn:not(.btn-link) i {
      font-size: 1.44em;
    }
    .btn:not(.btn-link).mainAction {
      background-color: @dk-blue !important;
      color: @lightest !important;
    }
    @media screen and (max-width: 767px) {
      .btn:not(.btn-link).mainAction {
        width: 100% !important;
      }
    }
    .btn:not(.btn-link).mainActionAlt {
      display: block;
      margin: 0px auto;
      background-color: #ff8000 !important;
      color: @lightest !important;
    }
  }

  .p-0 {
    padding: 0px !important;
  }
  .p-l-0 {
    padding-left: 0px !important;
  }
  //.p-l-15 {
  //  padding: 15px !important;
  //}
  .p-0-res {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  @media screen and (max-width: 990px) {
    .p-0-res {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
  }
  .p-t-0 {
    padding-top: 0px !important;
  }
  .p-b-5 {
    padding-bottom: 5px !important;
  }
  .p-t-5 {
    padding-top: 5px !important;
  }
  .p-10 {
    padding: 10px !important;
  }
  .p-t-10 {
    padding-top: 10px !important;
  }
  .p-t-15 {
    padding-top: 15px !important;
  }
  .p-r-30 {
    padding-right: 30px !important;
  }
  .p-l-30 {
    padding-left: 30px !important;
  }

  .m-b-0 {
    margin-bottom: 0px !important;
  }
  .m-l-0 {
    margin-left: 0px !important;
  }
  .m-t-5 {
    margin-top: 5px !important;
  }
  .m-t-10 {
    margin-top: 10px !important;
  }
  .m-r-10 {
    margin-right: 10px !important;
  }

  @media screen and (max-width: 767px) {
    .inputTop {
      padding-top: 1em;
    }
  }

  .card-body.card-padding {
    padding: 13px 0;
  }

  .card-body:nth-child(2) {
    width: 99%;
  }

  @media screen and (min-width: 991px) {
    .card-body.card-padding {
      padding: 23px 25px;
    }

    .advancedSearch {
      padding-top: 20px;
      //padding-left: 106px;
      //padding-right: 106px;
    }

    .dbOptionsSearch {
      //padding-left: 106px;
      //padding-right: 106px;
    }
  }

  .searchTipsLink {
    float: right !important;
  }

  @media screen and (max-width: 767px) {
    .searchHeading {
      float: none !important;
    }
  }

  .card {
    box-shadow: none;
    position: relative;
    background: @lightest;
  }

  .card-body.card-padding {
    padding: 13px 0;
  }

  h1.searchHeading {
    font-size: 1.44em;
    //text-transform: capitalize;
  }
  h1 {
    color: @dk-blue;
  }
  h2 {
    font-size: 18px;

  }

  .form-group {
    margin-bottom: 5px;
  }

  .fg-float {
    margin-top: 2px;
    position: relative;
  }

  .fg-line {
    position: relative;
    vertical-align: top;
  }

  .fg-line:not(.form-group) {
    display: inline-block;
    width: 100%;
  }

  .fg-line .form-control {
    resize: none;
  }

  .fg-line .form-control:not(:disabled) {
    color: @darkest;
  }

  .fg-line .form-control:disabled {
    color: #9d9d9d;
    background: transparent;
  }

  .fg-line:not(.disabled):after,
  .fg-line:not(.readonly):after {
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    content: "";
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
  }

  .fg-line:not([class*=has-]):after {
    background: @lt-blue;
  }

  .fg-line.input-toggled:after {
    width: 100%;
  }

  .fg-line.readonly .form-control {
    color: #9d9d9d;
    background: transparent;
  }

  .fg-line.fg-toggled:after {
    width: 100%;
  }

  .fg-line.has-success:after {
    background: #4caf50;
  }

  .fg-line.has-warning:after {
    background: #ffc107;
  }

  .fg-line.has-error:after {
    background: #f44336;
  }

  .fg-input {
    border: solid 1px @dk-gray;
    padding: 0.21em;
    color: @dk-gray;
    border-radius: 0;
  }

  .select {
    position: relative;
  }

  a {
    color: @lt-blue;
    text-decoration: none;
    cursor: pointer;
  }

  .searchTipsContent {
    max-width: 292px;
  }

  .searchTipsContent {
    .card {
      h3 {
        .facetHeading;
      }
      a {
        &:hover {
          text-decoration: none;
        }
        &.active {
          svg {
            display: block;
            float: right;
            margin-top: -3px;
            margin-right: -13px;
          }
          .facetLeftActive;
        }
        svg {
          display: none;
        }
        .facetLeft;
      }
      //.facetBody;
    }
  }

  .m-w-150 {
    min-width: 150px
  }

  .l-h-40 {
    line-height: 40px !important;
  }

  .l-h-34 {
    line-height: 34px !important;
  }

  .blue {
    color: @lt-blue;
  }

  .prevent {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
}

.dropDownStyles {
  position: relative;
  &.small {
    @media screen  {
      @media (max-width: 768px) {
        width:55px !important;
      }
    }
    span {
      &:before {
        right: 10px;
      }
    }
    select {
      width: 55px !important;
    }
  }
  &.multipleSelect {
    span {
      &:before {
        display: none;
      }
    }
  }
  label {
    font-weight: 100;
    line-height: 2.33em;
    font-size: 0.89em;
    color: @dk-gray;
    margin-right: 1em;
  }
  span {
    &:before {
      position: absolute;
      content: "▾";
      color: @dk-gray;
      background: none;
      pointer-events: none;
      right: 10px;
      margin-top: 5px;
    }
    &:nth-child(2) {
      &:before {
        display: none;
      }
      padding-left: 1em;
    }
    select {
      &.multiselect {
        max-height: 144px;
      }
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: solid 1px @dk-gray;
      background-color: @lightest;
      border-radius: 0;
      height: 31px;
      padding: 5px;
      cursor: pointer;
    }
  }
  margin: 2px 8px 0 0;
}
.responsiveLabel {
  @media screen and (max-width: 992px) {
    margin-left: 40%;
  }
}
.responsiveRow {
  @media screen and (max-width: 992px) {
    margin-bottom: 8px !important;
  }
}

.fitwidth {
  width: 52%;
  float: left;
}

.f-s-089 {
  font-size: 0.89em !important;
}

.leadingSpace {
  line-height: 5px !important;
}

.filter-add-row {
  padding-right: 0;
  padding-left: 0;
  margin-left: -15px;
}
.responsiveRow {
  @media screen and (max-width: 767px) {
    height: 59px;
  }
}

.dk-blue {
  color: @dk-blue;
}

.no-wrap {
  white-space: nowrap;
}

.t-i-10 {
  text-indent: -10px;
}

.p-r-20{
  padding-right: 20px !important;
}

.flex{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
