<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="searchTips" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-title">Search Tips</div>
      </div>
      <div class="modal-body">
        <div>
          <h1>Coming Soon!</h1><br/><br/><br/>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default " (click)="closeModal()">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
